@model SpectorMaxDAL.Checklist

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.PreClosingID)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.PreClosingID)
    @Html.ValidationMessageFor(model => model.PreClosingID)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.IsSelected)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.IsSelected)
    @Html.ValidationMessageFor(model => model.IsSelected)
</div>

<div class="editor-label">
    InspectionOrder
</div>
<div class="editor-field">
    @Html.DropDownListFor(model => model.InspectionOrderId, ((IEnumerable<SpectorMaxDAL.InspectionOrder>)ViewBag.PossibleInspectionOrders).Select(option => new SelectListItem {
        Text = Html.DisplayTextFor(_ => option).ToString(), 
        Value = option.InspectionOrderID.ToString(),
        Selected = (Model != null) && (option.InspectionOrderID == Model.InspectionOrderId)
    }), "Choose...")
    @Html.ValidationMessageFor(model => model.InspectionOrderId)
</div>
