@model SpectorMaxDAL.Checklist

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Checklist</legend>

    <div class="display-label">PreClosingID</div>
    <div class="display-field">@Model.PreClosingID</div>

    <div class="display-label">IsSelected</div>
    <div class="display-field">@Model.IsSelected</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


