@model SpectorMaxDAL.Checklist

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Checklist</legend>

    <div class="display-label">PreClosingID</div>
    <div class="display-field">@Model.PreClosingID</div>

    <div class="display-label">IsSelected</div>
    <div class="display-field">@Model.IsSelected</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.CheckListID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


