﻿@model List<SpectorMax.Entities.Classes.UserNotificationModel>
<script src="@Url.Content("~/Scripts/Paging/Paging.js")"></script>
<link href="@Url.Content("~/Content/TablesCss/demo_page.css")" rel="stylesheet">
<link href="@Url.Content("~/Content/TablesCss/header.ccss.css")" rel="stylesheet">
<link href="@Url.Content("~/Content/TablesCss/demo_table.css")" rel="stylesheet">
<script src="@Url.Content("~/Scripts/jquery.dataTables.js")" type="text/javascript"></script>

<table class="table table-striped table-bordered table-hover" style="border: 2px solid #B8B8B8;">
    <thead>
        <tr>
            <th><a href="#" class="smred-btn" id="btnDelete">Delete</a></th>
            <th width="20%">From</th>
            <th width="35%">Subject</th>
            <th width="20%">Date</th>
            <th width="20%">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count>0)
        {
            foreach (var item in Model)
            {
            <tr>
                <td style="text-align: center;">
                    <input type="checkbox" value="@(item.ID.ToString()+','+item.IsRead.ToString())"/>
                </td>
                <td>@item.FirstName @item.LastName @item.ZipCode.ToString()</td>
                <td>@item.Subject </td>
                <td>@item.CreatedDate</td>
               @* <td><a href="#" class="smblue-btn" onclick="ViewNotificationMessage('@item.IsRead.ToString()','@item.ID','@item.FirstName @item.LastName @item.ZipCode.ToString()','@item.Subject','@item.Message')">View Message</a></td>*@
                <td><a href="@Url.Action("ViewMessage", new { item.ParentID})" class="smblue-btn" >View Message</a></td>
            </tr>
            }
        }else
        {
            <tr>
                <td colspan="5" style="text-align:center;">
                    No record found !
                </td>
            </tr>
        }
        
    </tbody>
</table>
