﻿@model List<SpectorMax.Entities.Classes.UserNotificationModel>

@{
    ViewBag.Title = "ViewMessage";
    Layout = "~/Views/Shared/_NLayout.cshtml";
}
<script src="~/Scripts/NNotificaton.js"></script>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p class="welcome">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="inspection" style="padding:7px;">
                <div class="row">

                    <div class="col-md-12 space">

                        <div class="col-md-6">
                            <h2>Message</h2>
                        </div>
                        <div class="col-md-6">
                            @if (ViewBag.IsReplyButtonShow==true)
                            {
                            <button id="btnReply" class="green-btn pull-right" data-To=@ViewBag.ToUserId>Reply</button>
                            }
                        </div>
                    </div>
                </div>
                @foreach(var item in Model)
                {
                <div class="row">
                    <div class="col-md-12">
                        <div class="whwbr" style="min-height:0px;">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-12 col-sm-12">
                                        <div>
                                            <div class="form-group">
                                                <div class="col-sm-6">
                                                    <p><b>From:</b> @item.MessageForm</p>
                                                </div>
                                                <div class="col-sm-6">
                                                    <p class="pull-right"><b>On</b> : @item.CreatedDate</p>
                                                </div>
                                            </div>
                                            <div style="clear: both;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                              <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-12 col-sm-12">
                                        <div>
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <p><b>Subject</b>: @item.Subject</p>
                                                </div>
                                                
                                            </div>
                                            <div style="clear: both;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-12 col-sm-12">
                                        <div>
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <p><b>Message:</b> @item.Message</p>    
                                                </div>
                                            </div>
                                            <div style="clear: both;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>
<!--Compose Message-->
<div class="modal fade" id="ReplyMessage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close custmclose" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title text-center" id="myModalLabel">Reply Message</h4>
            </div>
            <div class="modal-body">
                <div class="bs-example" style="display: none">
                    <div class="alert alert-danger alert-error">

                        <strong>Error!</strong>
                        <label id="lblError"></label>
                    </div>
                </div>
                <input type="hidden" id="hdfToUserId" />
                <div class="alert alert-success" id="Sucess" style="display: none; margin-top: 22px;">
                    <strong>Message send successfully ! </strong>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                       @* <div class="form-group">
                            <div class="col-sm-2">
                                <p>Subject : </p>
                            </div>
                              <div class="input-group col-sm-10">
                                  <input type="text" placeholder="Subject" id="txtSubject" class="form-control">
                            </div>
                           
                        </div>*@
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group">
                            <textarea cols="50" rows="5" placeholder="Message" id="txtMessageReply" class="form-control"></textarea>
                            <input type="hidden" value="@ViewBag.MessageId" id="hdnMessageId"/>
                            <input type="hidden" value="@ViewBag.Subject" id="hdnSubject" />
                        </div>
                    </div>
                </div>
                <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </p>
                <button type="button" id="btnSendReply" class="smblue-btn pull-right has-spinner">
                    <span class="spinner"><i class="icon-spin icon-spinner icon-large"></i></span>
                    Send Message
                </button>


                <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </p>

            </div>

        </div>
    </div>
</div>
<!--End compose Message-->