﻿@model List<SpectorMax.Entities.Classes.PropertyAddress>
<section id="container">
    <section class="payment">
        <h2 style="width: 300px;">Maintenance Details</h2>
        <section class="tbl_content">
            <table style="width: 100%; float: right" cellpadding="0" cellspacing="0" border="0" class="table" id="tblMaintenancedetails">
                <thead>
                    <tr>
                        <th width="30%" class="tbl_head bod_rgt">Section Name</th>
                        <th width="30%" class="tbl_head bod_rgt">Inspector Comment</th>
                        <th width="40%" class="tbl_head bod_rgt">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="bod_rgt">@item.SectionName</td>
                            <td class="red bod_rgt" id="Comments" data-comments="@item.Comment"><a href="javascript://void(0);" id="anchorMaintenanceReq1">View Detail</a></td>
                            <td class="bod_rgt"><a href="javascript://void(0);" id="anchorSubsection" data-sectionid="@item.SectionID" data-subsectionid="@item.SubSectionID" data-tablename="@item.TableName" data-subsectionname="@item.SubSectionName">Update @item.SubSectionName</a></td>
                            @*data-orderid="@item.OrderID"*@
                        </tr>   
                    }
                </tbody>
            </table>
        </section>
        <section class="clr"></section>
    </section>
    <section class="clr"></section>
</section>
@*<div id="PopupDivEnterComment" style="margin: -30% 0 0 -49%; height: 70%; width: 70%;" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Add new Emergency Contact"
    aria-hidden="true" title="Payment">
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
</div>*@

<div aria-hidden="true"  style="margin: -27% 0 0 -51%; width: 81%;" aria-labelledby="windowTitleLabel" data-backdrop="static" data-keyboard="false" role="dialog" tabindex="-1" class="modal hide fade in" id="PopupDivEnterComment"> @*margin: -27% 0 0 -40%;*@
    @* <div id="PopupDiv" style="margin: -27% 0 0 -41%;" data-backdrop="static" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Add new Emergency Contact" aria-hidden="true" title="Payment For Additional Testing">*@
    <div class="modal-header" style="padding: 22px 15px;">
        <a data-dismiss="modal" class="close" href="#">×</a>
        <h3></h3>
    </div>
    <div class="modal-body">
        <div class="divDialogElements">
            <p></p>
        </div>
    </div>

</div>

<div aria-hidden="true" aria-labelledby="windowTitleLabel" role="dialog" tabindex="-1" class="modal hide fade in" id="PopupDiv">
    <div class="modal-header">
        <a data-dismiss="modal" class="close" href="#">×</a>
        <h3>Inspector Comment</h3>
    </div>
    <div class="modal-body">
        <div class="divDialogElements">
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
        </div>
    </div>
  
</div>
<script type="text/javascript">

    $(document).ready(function () {
        $('#tblMaintenancedetails').dataTable();

        $(".red").click(function () {
            $("#PopupDiv").width(500);
            $("#PopupDiv").html($(this).attr('dataset.Comment'));
            $("#PopupDiv").modal("show");
            return false;
        });

        $("#tblMaintenancedetails tr").click(function () {
            $.ajax({
                url: $URL._PartialUpdateSubSectionInfor,
                type: "POST",
                data: { orderId: "@ViewBag.OrderID", sectionId: this.cells[2].children.anchorSubsection.dataset.sectionid, subsectionId: this.cells[2].children.anchorSubsection.dataset.subsectionid, tableName: this.cells[2].children.anchorSubsection.dataset.tablename, subSectionName: this.cells[2].children.anchorSubsection.dataset.subsectionname },
                success: function (result) {
                    $("#PopupDivEnterComment .divDialogElements p").html(result);
                    //$("#PopupDivEnterComment").modal().width(800);
                    $("#PopupDivEnterComment").modal({ backdrop: 'static', keyboard: true });
                    $("#PopupDivEnterComment").modal("show");
                }
            });

            //important code
            // $(location).attr("href", $URL._UpdateSubSectionInfo + "?orderId=@ViewBag.OrderID&sectionId=" + this.cells[2].children.anchorSubsection.dataset.sectionid + "&subsectionId=" + this.cells[2].children.anchorSubsection.dataset.subsectionid + "&tableName=" + this.cells[2].children.anchorSubsection.dataset.tablename + "&subSectionName=" + this.cells[2].children.anchorSubsection.dataset.subsectionname);
        });

    });
</script>
