﻿@model List<SpectorMax.Entities.Classes.PropertyAddress>

<section id="container">
    <section class="payment">
        <h2 style="width:260px;">Maintenance Required</h2>
        <section class="tbl_content">
            <table style="width:100%; float:right"  cellpadding="0" cellspacing="0" border="0" class="table" id="tblMaintenanceReq">
                <thead>
                <tr>
                    <th width="70%" class="tbl_head bod_rgt">Property Address</th>
                    <th width="30%" class="tbl_head bod_rgt">Action</th>
                </tr>
                    </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="bod_rgt">@item.OwnerFirstName @item.OwnerLastName, @item.StreetAddress,@item.City,@item.State,@item.Zip </td>
                        <td class="bod_rgt"><a href="javascript://void(0);" data-orderid="@item.OrderID" id="anchorMaintenanceReq1">View Detail</a></td>
                    </tr>
                }
                    </tbody>
            </table>
        </section>
        <section class="clr"></section>
    </section>
    <section class="clr"></section>
</section>
<script type="text/javascript">
   
</script>
