﻿@model List<SpectorMax.Entities.Classes.PropertyAddress>

@using SpectorMax.Entities.Classes
<script src="@Url.Content("~/Scripts/FineUploader.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/FineUpload.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/jquery.blockUI.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#tblUpdateNotifications").dataTable();
    });
</script>

     
        <section class="tbl_content">
 <table style="width: 100%; float: right" cellpadding="0" cellspacing="0" border="0" class="table" id="tblUpdateNotifications">
                        <thead>
                            <tr>
                                <th width="70%" class="tbl_head bod_rgt">Property Address</th>
                                <th width="30%" class="tbl_head bod_rgt">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="bod_rgt">@item.OwnerFirstName @item.OwnerLastName, @item.StreetAddress,@item.City,@item.State,@item.Zip </td>
                                    <td class="bod_rgt"><a href="@Url.Action("MaintananceDetails", "Notification", new { OrderID=@item.OrderID})" data-orderid="@item.OrderID" id="anchorMaintenanceReq1">View Detail</a></td>
                                </tr>
                            }
                        </tbody>
  </table>
             </section>
        <section class="clr"></section>
    