﻿    @model List<SpectorMax.Entities.Classes.PropertyAddress>
@{
    ViewBag.Title = "MaintenanceRequired";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using SpectorMax.Entities.Classes
<script src="@Url.Content("~/Scripts/jquery.blockUI.js")"></script>
<link href="@Url.Content("~/Content/TablesCss/demo_page.css")" rel="stylesheet">
<link href="@Url.Content("~/Content/TablesCss/header.ccss.css")" rel="stylesheet">
<link href="@Url.Content("~/Content/TablesCss/demo_table.css")" rel="stylesheet">
<link href="@Url.Content("~/Content/jcrop_demos.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/jquery.dataTables.js")" type="text/javascript"></script>

<section id="container">
    <section class="payment">
        @if(Model!=null && Model.Count>0)
        {
          <h2 style="width: 404px">@Model.FirstOrDefault().StreetAddress,@Model.FirstOrDefault().City,@Model.FirstOrDefault().State,@Model.FirstOrDefault().Zip</h2>
        }
        <div id="P2">
            <table style="width: 100%; float: right" cellpadding="0" cellspacing="0" border="0" class="table" id="tblMaintenancedetails">
                <thead>
                    <tr>
                        <th width="30%" class="tbl_head bod_rgt">Section Name</th>
                        <th width="30%" class="tbl_head bod_rgt">Inspector Comment</th>
                        <th width="40%" class="tbl_head bod_rgt">Action</th>
                        <th style="display:none" class="tbl_head bod_rgt"></th>
                    </tr>
                </thead>
                <tbody>
                    @if(Model!=null)
                    {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td class="bod_rgt">@item.SectionName
                                

                            </td>
                            <td class="red1 bod_rgt" id="Comments" data-comments="@item.Comment"><a href="javascript://void(0);" id="anchorMaintenanceReq1">View Detail</a></td>
                            @if (item.AcceptReject == true)
                            {
                                <td class="bod_rgt">@item.SubSectionName Accepted</td>
                            }
                            else if (item.CanUpdate==true)
                            {
                                <td class="bod_rgt"><a aria-disabled="true" href="javascript://void(0);" id="anchorSubsection" data-itemid="@item.SubSectionStatusID" data-sectionid="@item.SectionID" data-subsectionid="@item.SubSectionID" data-tablename="@item.TableName" data-subsectionname="@item.SubSectionName">Update @item.SubSectionName</a></td>
                            }
                            else
                            {
                                <td class="bod_rgt">Inspector review pending</td>
                            }
                            <td style="display:none;" class="bod_rgt">
                              @*  <div style="overflow-y:scroll;overflow-x:hidden; width:100%">*@
                                @if(item.UserComments!=null)
                                {

                                    foreach (var item1 in item.UserComments)
                                    {<br />
                                        <label style="font-weight:bold;color:#0088CC"> @item1.UserName </label>
                                        <label> :     </label> @item1.Role
                                        <br />
                                        @item1.Comment
                                        <br />
                                    }
                               }
                                else
                                {
                                    <label>No Records</label>
                                }
                                  @*  </div>*@
                            </td>
                        </tr>   
                    }
                    }
                </tbody>
            </table>
        </div>

    </section>
</section>
<div aria-hidden="true" style="top:59%; margin: -27% 0 0 -51%; width: 70%;left:65%";aria-labelledby="windowTitleLabel" data-backdrop="static" data-keyboard="false" role="dialog" tabindex="-1" class="modal hide fade in" id="PopupDivEnterComment">
    @*margin: -27% 0 0 -40%;*@
    @* <div id="PopupDiv" style="margin: -27% 0 0 -41%;" data-backdrop="static" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Add new Emergency Contact" aria-hidden="true" title="Payment For Additional Testing">*@
    <div class="modal-header" style="padding: 22px 15px;">
        <a data-dismiss="modal" class="close" href="#">×</a>
        <h3></h3>
    </div>
    <div class="modal-body" style="min-height:527px">
        <div class="divDialogElements">
            <p></p>
        </div>
    </div>
    
</div>

<div aria-hidden="true" aria-labelledby="windowTitleLabel" role="dialog" tabindex="-1" class="modal hide fade in" id="PopupDiv">
    <div class="modal-header">
        <a data-dismiss="modal" class="close" href="#">×</a>
        <h3>Inspector Comment</h3>
    </div>
    <div class="modal-body">
        <div class="divDialogElements">
            <p id="comment">
            </p>
        </div>
    </div>
   
</div>
<script type="text/javascript">
    var element;
    $(document).ready(function () {
        //$('#tblMaintenancedetails').dataTable();
        CreateSubTable();
        $(".red1").live('click', function () {
            var comment = $(this).attr('data-comments')
            if (comment == "")
            {
                comment = "No Comments Available";
            }
            $("#PopupDiv").width(500);
            $("#PopupDiv .divDialogElements p").html(comment);
            $("#PopupDiv").modal("show");
            return false;
        });

        $("#tblMaintenancedetails tr #anchorSubsection").live('click', function () {
            element = $(this).parents('tr:first');
            $.ajax({
                url: $URL._PartialUpdateSubSectionInfor,
                type: "POST",
                data: { orderId: "@ViewBag.OrderID", sectionId: this.dataset.sectionid, subsectionId: this.dataset.subsectionid, tableName: this.dataset.tablename, subSectionName: this.dataset.subsectionname, SubSectionStatusID: this.dataset.itemid },
                success: function (result) {
                    $("#PopupDivEnterComment .divDialogElements p").html("");
                    $("#PopupDivEnterComment .divDialogElements p").html(result);
                    //$("#PopupDivEnterComment").modal().width(800);
                    $("#PopupDivEnterComment").modal({ backdrop: 'static', keyboard: true });
                    $("#PopupDivEnterComment").modal("show");
                }
            });

            //important code
            // $(location).attr("href", $URL._UpdateSubSectionInfo + "?orderId=@ViewBag.OrderID&sectionId=" + this.cells[2].children.anchorSubsection.dataset.sectionid + "&subsectionId=" + this.cells[2].children.anchorSubsection.dataset.subsectionid + "&tableName=" + this.cells[2].children.anchorSubsection.dataset.tablename + "&subSectionName=" + this.cells[2].children.anchorSubsection.dataset.subsectionname);
        });

    });
</script>

<script type="text/javascript">
    function CreateSubTable() {
        /* Insert a 'details' column to the table*/

        var nCloneTh = document.createElement('th');
        var nCloneTd = document.createElement('td');
        nCloneTd.innerHTML = '<img src="../Content/images/details_open.png">';
        nCloneTd.className = "center";

        $('#tblMaintenancedetails thead tr').each(function () {
            this.insertBefore(nCloneTh, this.childNodes[0]);
        });

        $('#tblMaintenancedetails tbody tr').each(function () {
            this.insertBefore(nCloneTd.cloneNode(true), this.childNodes[0]);
        });

        /*
         * Initialse DataTables, with no sorting on the 'details' column
         */
        var oTable = $('#tblMaintenancedetails').dataTable({
            "aoColumnDefs": [
                { "bSortable": false, "aTargets": [0] }
            ],
            "aaSorting": [[1, 'asc']]
        });

        /* Add event listener for opening and closing details
         * Note that the indicator for showing which row is open is not controlled by DataTables,
         * rather it is done here
         */
        $('#tblMaintenancedetails tbody td img').live('click', function () {
            var nTr = $(this).parents('tr')[0];
            if (oTable.fnIsOpen(nTr)) {
                /* This row is already open - close it */
                this.src = "../Content/images/details_open.png";
                oTable.fnClose(nTr);
            }
            else {
                /* Open this row */
                this.src = "../Content/images/details_close.png";
                oTable.fnOpen(nTr, fnFormatDetails(oTable, nTr), 'details');
            }
        });

        $(".sorting_disabled").addClass('tbl_head bod_rgt');
        $(".sorting_disabled").width("20px");
    }

    /* Formating function for row details */
    function fnFormatDetails(oTable, nTr) {
        var aData = oTable.fnGetData(nTr);
        var sOut = '<table cellpadding="5" cellspacing="0" border="0"  style="padding-left:50px;width:100%">';
        sOut += '<tr><td></td></tr><tr><td>' + aData[4] + '</td></tr>';
        //sOut += '<tr><td>Viewed By Buyer on below dates :</td></tr><tr><td>' + 'data2' + '</td></tr>';
        sOut += '</table>';
        return sOut;
    }
</script>
