﻿@model List<SpectorMax.Entities.Classes.PropertyAddress>
@{
    ViewBag.Title = "NewNotification";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="@Url.Content("~/Scripts/jquery.blockUI.js")"></script>
<link href="@Url.Content("~/Content/TablesCss/demo_page.css")" rel="stylesheet">
<link href="@Url.Content("~/Content/TablesCss/header.ccss.css")" rel="stylesheet">
<link href="@Url.Content("~/Content/TablesCss/demo_table.css")" rel="stylesheet">

<script src="@Url.Content("~/Scripts/jquery.dataTables.js")" type="text/javascript"></script>
<script>
    $(function () {
        $("#tabs").tabs();
        $(document).ready(function () {
        if (document.URL.indexOf("UpdateStatus") > 0) {
          
            $("#SecondTab").addClass('ui-state-default ui-corner-top .ui-state-active, .ui-widget-content .ui-widget-header .ui-state-active ui-tabs-active ui-state-active');
            $("#FirstTab").removeClass('ui-state-default ui-corner-top .ui-state-active, .ui-widget-content .ui-widget-header .ui-state-active ui-tabs-active ui-state-active');
            $("#FirstTab").addClass('ui-state-default ui-corner-top');
            $("[href$='False']").each(function () {
                var href = $(this).attr("href");
                var res = href.replace(/False/g, "True");
                $(this).attr("href", res);
            });
        }
    });
    });
    function onClickNewOrders() {
        $(location).attr("href", $URL._NotificationDashboard);
    }
    $(document).ready(function () {
        $("#RejectOrders").click(function () {
            var url = $URL._GetRejectedOrders + "/" + 1;
            var targetDiv = "#tabs-" + 2;
            var type = "UpdateOrders"
            showLoader();
            $.get(url, null, function (result) {
                $(targetDiv).html(result);
                hideLoader();
            });
        });
    });
</script>
<section id="container">
    <section class="payment">
        <section>
            <div id="tabs" style="min-height: 600px;">
                <ul>
                    <li id="FirstTab"><a id="NewOrders" onclick="onClickNewOrders();" href="#tabs-1">New Inspection Orders(@ViewBag.NewNotification)</a></li>
                    <li id="SecondTab"><a href="#tabs-2" id="RejectOrders">Updated Inspection Orders(@ViewBag.UpdatedNotification)</a></li>
                </ul>
                <div id="tabs-1" style="margin-top: 35px">
                    <table style="width: 100%; float: right" cellpadding="0" cellspacing="0" border="0" class="table" id="tblMaintenanceReq">
                        <thead>
                            <tr>
                                <th width="70%" class="tbl_head bod_rgt">Property Address</th>
                                <th width="30%" class="tbl_head bod_rgt">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                if (item.IsInspectorComment)
                                {   
                                <tr bgcolor="#C6DEFF">
                                    <td class="bod_rgt">@item.OwnerFirstName @item.OwnerLastName, @item.StreetAddress,@item.City,@item.State,@item.Zip </td>
                                    <td class="bod_rgt"><a href="@Url.Action("MaintananceDetails", "Notification", new { OrderID = @item.OrderID, IsUpdated = false })" data-orderid="@item.OrderID" id="anchorMaintenanceReq1">View Detail</a></td>
                                </tr>
                                }
                                else
                                {
                                <tr>
                                    <td class="bod_rgt">@item.OwnerFirstName @item.OwnerLastName, @item.StreetAddress,@item.City,@item.State,@item.Zip </td>
                                    <td class="bod_rgt"><a href="@Url.Action("MaintananceDetails", "Notification", new { OrderID = @item.OrderID, IsUpdated = false })" data-orderid="@item.OrderID" id="anchorMaintenanceReq1">View Detail</a></td>
                                </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div style="margin-top: 35px" id="tabs-2">
                </div>
                <div style="margin-top: 35px" id="tabs-3">
                </div>
            </div>
        </section>
    </section>
    <section class="clr"></section>
</section>
<!-- Loader-->
<div id="loadingModel" class="displayNone overlayPage">
    <div class=" loaderPage">
        <div>
            <img src='@Url.Content("~/Content/Images/loading_big.gif")' />
        </div>
        <div>
            Loading..
        </div>
    </div>
</div>
<!-- /Loader -->
<script type="text/javascript">
    $("#tblMaintenanceReq").dataTable();

    $(document).ready(function () {

        //$("#tblMaintenanceReq tr").click(function () {
        //    /*initializing Progress Bar*/
        //    $.blockUI({
        //        css: {
        //            border: 'none',
        //            padding: '15px',
        //            backgroundColor: '#000',
        //            '-webkit-border-radius': '10px',
        //            '-moz-border-radius': '10px',
        //            opacity: .5,
        //            color: '#fff'
        //        }
        //    });
        //    $("#P1").hide();
        //    $("#P3").hide();
        //    $("#P2").show();
        //    $.ajax({
        //        type: "POST",
        //        url: $URL._GetNotificationDetails,
        //        dataType: "Json",
        //        data: { orderId: this.cells[1].children.anchorMaintenanceReq1.dataset.orderid },
        //        success: function (result) {
        //            $("#P2").html("");
        //            setTimeout($.unblockUI, 1000);
        //            $("#P2").html(result);
        //        },
        //    });
        //});

    });
    function showLoader() {
        $("#loadingModel").show();
    }
    function hideLoader() {
        $("#loadingModel").hide();
    }

</script>


