﻿@{
    ViewBag.Title = "UpdateSubSectionInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <section id="container">
        <section class="payment">
            <section class="registration">

                @Html.Partial("_PartialUpdateSubSectionInfor")

            </section>
        </section>
        <section class="clr"></section>
    </section>
    <section class="clr"></section>
</section>
