﻿@model SpectorMax.Entities.Classes.UserNotificationsEntity

@{
    ViewBag.Title = "MaintenanceRequired";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="tbl_content">
    <table width="60%" style="margin: 10px" cellspacing="0">
        <tr>
            <td>
                @Html.TextBoxFor(model => model.firstname, new { @id = "txtfirstname", @class = "simple_input" })
            </td>
            <td>
                @Html.TextBoxFor(model => model.lastname, new { @id = "txtlastname", @class = "simple_input" })
            </td>
            <td>
                @Html.TextBoxFor(model => model.zipcode, new { @id = "txtzipcode", @class = "simple_input" })
            </td>
            <td>
                <input type="button" class="btn" id="btnSearchReport" value="Search" />
            </td>
           
        </tr>
    </table>
    <table width="40%" style="margin: 10px; display: block" id="inspectorDetails" cellspacing="0">
        <tr>
            <td>
                <label>To</label></td>
            <td>
                @Html.TextBoxFor(model => model.firstname, new { @id = "txtToFirstName", @class = "simple_input" })
            </td>
            <td>
                @Html.TextBoxFor(model => model.firstname, new { @id = "txtTolastName", @class = "simple_input" })
            </td>
            <td>
                <input type="button" class="btn" id="btncmpmsg" value="Compose Message" />
            </td>
            <td></td>
        </tr>
    </table>
    <table width="40%" style="margin: 10px; display: none" id="tblmsgcompose" cellspacing="0">
        <tr>
            <td>
                <label>To</label></td>
            <td>
                @Html.TextBoxFor(model => model.firstname, new { @id = "txtToFirstName", @class = "simple_input" })
            </td>
            <td>
                @Html.TextAreaFor(model => model.Message, new { @id = "txtmsg", @class = "simple_input" })
            </td>
            <td>
                <input type="button" class="btn" id="btnsendmsg" value="Search" />
            </td>
            <td></td>
        </tr>
    </table>
    @if (Model.msg_lst != null)
    {
    <table style="width: 100%; float: left" cellpadding="0" cellspacing="0" border="0" class="table" id="tblnotifications">
                <thead>
                    <tr>
                        <th width="1%" class="tbl_head bod_rgt"><input type="checkbox" /></th>
                        <th width="20%" class="tbl_head bod_rgt">From</th>
                        <th width="10%" class="tbl_head bod_rgt">Subject</th>
                        <th width="15%" class="tbl_head bod_rgt">Date</th>
                        <th width="20%" class="tbl_head bod_rgt"></th>
                    </tr>
                </thead>
                <tbody>
                        @foreach (var item in Model.msg_lst)
                        {
                        <tr>
                            <td class="bod_rgt">@item.From"</td>
                            <td class="bod_rgt">@item.Subject"</td> 
                            <td class="bod_rgt">@item.CreatedDate"</td> 
                            <td class="bod_rgt"><a id="Detail" class="redd" data-msgid="@item.msd_id">View Message</a></td> 
                        </tr>
                        }
                <tbody>
    </table>
    }
    <section class="clr"></section>
</section>
<script type="text/javascript">

    $("#btnSearchReport").click(function () {
        $.ajax({
            url: $URL._GetInspector_Notifications,
            type: "POST",
            data: { firstname: $("#txtfirstname").val(), lastname: $("#txtfirstname").val(), zipcode: $("#txtzipcode").val() },
                success: function (result) {
                    $("#txtToFirstName").val(result.FirstName);
                    $("#txtTolastName").val(result.LastName);
                }
            });
    });

    $("#btncmpmsg").click(function () {
        $("#tblmsgcompose").show();
    });;

</script>
