﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_NLayout.cshtml";
}

<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<link href="~/Calendar/fullcalendar.css" rel="stylesheet" />
<script src="@Url.Content("~/Calendar/fullcalendar.js")"></script>
<script src="@Url.Content("~/Calendar/fullcalendar.min.js")"></script>
<link href="@Url.Content("~/Calendar/fullcalendar.print.css")" rel="stylesheet" />
<script src="@Url.Content("~/Calendar/gcal.js")"></script>
<script src="@Url.Content("~/Scripts/Schedular.js")"></script>
<script type="text/javascript">
   
</script>

<div class="container">
    <div class="row">
        <div class="col-md-12 space">
            <label></label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 space">
            <div id="calendar"></div>

        </div>
    </div>
</div>

<!--Add Schedular Modal -->
<div class="modal fade" id="divAddSchedular" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close custmclose" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title text-center" id="myModalLabel">Add Appointment Details</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-6">
                                <b>Owner Name:</b>
                            </div>
                            <div class="col-md-6">
                                <label id="lblOwnerName"></label>
                                <input type="hidden" id="hdnOrderDetailId" />
                                <label id="lblOwnerNameOnEdit"></label>
                                <input type="hidden" id="hdnOrderDetailIdOnEdit" />
                                <input type="hidden" id="hdnSchedulerId" />
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-6">
                                <b>Schedule Date:</b>
                            </div>
                            <div class="col-md-6">
                                <input type="text" id="txtScheduleDate" class="form-control datepicker" />
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-6">
                                <b>Start Time:</b>
                            </div>
                            <div class="col-md-6">
                                <input type="text" value="01:30 PM" id="txtStartTime" class="form-control hasTimepicker">
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-6">
                                <b>End Time:</b>
                            </div>
                            <div class="col-md-6">
                                <input type="text" value="02:30 PM" id="txtEndTime" class="form-control hasTimepicker">
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-6">
                                <b>Notes:</b>
                            </div>
                            <div class="col-md-6">
                                <textarea id="txtAppointmentNotes" class="form-control" cols="10" rows="3" placeholder="Enter Notes here"></textarea>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-7">
                                <b></b>
                            </div>
                            <div class="col-md-5" id="btnAppointment">
                                <input type="button" class="blu-btn" value="Save" id="btnSaveAppointment" onclick="InsertOrUpdateAppointment();" />
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<!-- Add Schedular -->


<!--Previous Day Warning Modal  -->
<div class="modal fade" id="divPreviousDay" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close custmclose" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title text-center" id="myModalLabel">Appointment</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-2"></div>
                        <div class="col-md-10" style="color: red;">
                            Appointments can not be created for previous dates!
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<!--Previous Day Warning Modal  -->


<!--Block Time Modal -->
<div class="modal fade" id="divBlockTime" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close custmclose" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title text-center" id="myModalLabel">Block Time</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-6">
                                <b>Block Date:</b>
                            </div>
                            <div class="col-md-6">
                                <input type="text" id="txtBlockDate" class="form-control datepicker" />
                                <input type="hidden" id="hdnBlockId" />
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-6">
                                <b>Notes:</b>
                            </div>
                            <div class="col-md-6">
                                <textarea id="txtBlockNotes" class="form-control" cols="10" rows="3" placeholder="Enter Notes here"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-7">
                                <b></b>
                            </div>
                            <div class="col-md-5" id="btnBlock">
                                <input type="button" class="blu-btn" value="Save" id="btnSaveBlockTime" onclick="InsertOrUpdateBlockTime()" />
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>
</div>
<!--End Block Time Warning Modal  -->


<!--Block Time Appointment Message Modal  -->
<div class="modal fade" id="divBlockTimeMsg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close custmclose" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title text-center" id="myModalLabel">Appointment</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-2"></div>
                        <div class="col-md-10" style="color: red;">
                            Appointments can not be created in Block Date!
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<!--End Block Time Appointment Message Modal  -->
