﻿@model SpectorMax.Entities.Classes.InspectorReport
<script type="text/javascript">
    $(document).ready(function () {
        $("#anchorLogoImage").attr("href", $URL._InspectorDashBoard);
        $("#tblinspectionDetail1").dataTable();

        $("#btnSearch").click(function () {

            var isfocus = "";
            var FromDate = $('#txtFromDate');
            var ToDate = $('#txtTodate');
            if (FromDate.val() == "") {
                $(FromDate).addClass("input-validation-error");
                isfocus = FromDate;
            }
            if (ToDate.val() == "") {
                $(ToDate).addClass("input-validation-error");
                if (isfocus == "") {
                    isfocus = ToDate;
                }
            }
            if (isfocus != "") {
                isfocus.focus();
            }
            else {
                if ($("#txtFromDate").val() != "" && $("#txtTodate").val() != "") {
                    var fromdate = $("#txtFromDate").val().replace(/\-/g, '');
                    var todate = $("#txtTodate").val().replace(/\-/g, '');
                    if (todate < fromdate) {
                        ShowAlertMessage("title", "ToDate must be greater than or equal to FromDate");
                        return false;
                    }
                }
                showLoader()
                $.ajax({
                    type: "Post",
                    url: $URL._FilterInsReportData,
                    data: {
                        ReportType: "PaymentReports",
                        startDate: $("#txtFromDate").val(),
                        endDate: $("#txtTodate").val()
                    },
                    dataType: "Json",
                    success: function (result) {
                        $("#container").html(result.Result);
                        //                    
                        $("#anchorLogoImage").attr("href", $URL._InspectorDashBoard);
                        $('.datepicker').datepicker({
                            format: 'yyyy-mm-dd'
                        });
                        //
                        hideLoader();
                    },
                    error: function () { hideLoader(); },
                });
            }
        });
    });

    function showLoader() {
        $("#loadingModel").show();
    }
    function hideLoader() {
        $("#loadingModel").hide();
    }

</script>

<div class="container">
    <div class="row">
        <div class="col-md-12 defineStep">
            <h3>Finance Details</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <label></label>
        </div>
    </div>

 

    <div class="row">
        <div class="col-md-12">
            <label></label>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="report">
                <div class="row">
                    <div class="col-md-12 space">
                        @* <h2>Your Report (s)</h2>*@
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive" id="renderRecentViewedReport">
                            <table class="table table-striped table-bordered table-hover" id="tblinspectionDetail1">
                                <thead>
                                    <tr>
                                        <th width="25%">Property Address</th>
                                        <th width="20%">Inspection Date</th>
                                       
                                        <th width="20%">Name</th>
                                        <th width="20%">Amount Received</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ReportData)
                                    {
                                        <tr>
                                            <td>@item.StreetAddress   @item.City   @item.State   @item.Zip  </td>
                                            <td>@item.InspectionDate.Value.ToShortDateString()</td>
                                            
                                            <td>@item.OwnerFirstName @item.OwnerLastName</td>
                                            <td data-orderId="@item.OrderID">
                                                @if (item.PaymentPlan == "PaymentPlan")
                                                {
                                                    <span>Payment Made Under Plan </span>
                                                }
                                                else
                                                {
                                                   <span>$ @item.AmountReceived</span>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Loader-->
<div id="loadingModel" class="displayNone overlayPage">
    <div class=" loaderPage">
        <div>
            <img src='@Url.Content("~/Content/Images/loading_big.gif")' />
        </div>
        <div>
            Loading..
        </div>
    </div>
</div>
<!-- /Loader -->
