﻿@model SpectorMax.Entities.Classes.InspectorReport

<script type="text/javascript">
    $(document).ready(function () {
        $("#anchorLogoImage").attr("href", $URL._InspectorDashBoard);
        $("#tblinspectionDetail").dataTable();
       
        //$(".red").live('click', function () {

        //    var hdnrole = $(this).find(":hidden")
        //    $(location).attr('href', $URL._InsectionOrderDetailsCreate + "?inspectionOrderId=" + $(this).attr('data-orderid') + "&ReportType=InspectionRequest&role=" + hdnrole.val());

        //});



        $("#btnSearch").click(function () {
            if ($("#txtFromDate").val() != "" && $("#txtTodate").val() != "") {
                var fromdate = $("#txtFromDate").val().replace(/\-/g, '');
                var todate = $("#txtTodate").val().replace(/\-/g, '');
                if (todate < fromdate) {
                    ShowAlertMessage("title", "ToDate must be greater than or equal to FromDate");
                    return false;
                }
            }
            showLoader();
            $.ajax({
                type: "Post",
                url: $URL._FilterInsReportData,
                data: {
                    ReportType: "InspectionRequest",
                    startDate: $("#txtFromDate").val(),
                    endDate: $("#txtTodate").val()
                },
                dataType: "Json",
                success: function (result) {
                    $("#container").html(result.Result);
                    //                    
                    $("#anchorLogoImage").attr("href", $URL._InspectorDashBoard);
                    $('.datepicker').datepicker({
                        format: 'yyyy-mm-dd'
                    });
                    //
                    hideLoader();
                },
                error: function () { hideLoader(); },
            });
        });

        $("#btnQRCode").click(function () {
            var oTable = $('#tblinspectionDetail').dataTable();
            var data = oTable.fnGetData();
            var count = 0;
            var Createdhtml = "<table>";
            var marked = "";
            var n = $('input:checked').length
            $('input:checked').each(function () {
                var value = $(this).attr('value')
                marked += value + ","
            });
            var reportID = marked.split(',');


            if (reportID.length == 1) {
                for (var i = 0; i < data.length; i++) {
                    if (data[i] != undefined) {
                        if (count == 0 || count == 3) {
                            Createdhtml = Createdhtml + "<tr>";
                        }
                        // var ImageString = 'http://chart.apis.google.com/chart?cht=qr&chs=100x100&chl=http://50.23.221.50/spectromax/Report/FreeBasicReport?UniqueId=' + data[i][1];
                        var ImageString = 'http://chart.apis.google.com/chart?cht=qr&chs=100x100&chl=http://spectormax.com/Report/FreeBasicReport?UniqueId=' + data[i][2];
                        Createdhtml = Createdhtml + "<td>" + "<label><img src='" + ImageString + "' /><label>" + "</td>";
                        Createdhtml = Createdhtml + "<td>" + "<label>Report ID :" + data[i][2] + "</label>" + "</td>";
                        count++;
                        if (count == 3) {
                            Createdhtml = Createdhtml + "</tr>";
                            count = 0;
                        }
                    }
                }
            }
            else {

                for (var i = 0; i < reportID.length - 1; i++) {
                    if (reportID[i] != undefined) {
                        if (count == 0 || count == 3) {
                            Createdhtml = Createdhtml + "<tr>";
                        }
                        // var ImageString = 'http://chart.apis.google.com/chart?cht=qr&chs=100x100&chl=http://50.23.221.50/spectromax/Report/FreeBasicReport?UniqueId=' + data[i][1];
                        var ImageString = 'http://chart.apis.google.com/chart?cht=qr&chs=100x100&chl=http://spectormax.com/Report/FreeBasicReport?UniqueId=' + reportID[i];
                        Createdhtml = Createdhtml + "<td>" + "<label><img src='" + ImageString + "' /><label>" + "</td>";
                        Createdhtml = Createdhtml + "<td>" + "<label>Report ID :" + reportID[i] + "</label>" + "</td>";
                        count++;
                        if (count == 3) {
                            Createdhtml = Createdhtml + "</tr>";
                            count = 0;
                        }
                    }
                }

            }

            Createdhtml = Createdhtml + "</table>";

            $("#QRCode .divDialogElements").html("");
            $("#QRCode .divDialogElements").html(Createdhtml);
            $("#QRCode").modal().width(800);
            $('#QRCode').modal({ backdrop: 'static', keyboard: true })
            $("#QRCode").modal("show");
        });

        $("#btnprint").click(function () {
            $('#QRCode .divDialogElements').printElement();
        });

    });
</script>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Inspection Request</h2>
        </div>
    </div>

    <div class="row" style="display: none;">
        <div class="col-md-12">
            <form id="InspectionList">
                <div class="col-md-1 col-sm-1">
                    From :
                </div>
                <div class="col-md-3 col-sm-3">
                   @Html.TextBoxFor(model => model.fromandtodate.fromdate, new { @id = "txtFromDate", @class = "form-control datepicker", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.fromandtodate.fromdate)
                </div>
                <div class="col-md-1 col-sm-1">
                    To :
                </div>
                <div class="col-md-3 col-sm-3">
                    @*<input type="text" id="txtAddress1" class="form-control" placeholder="Enter Address">*@
                    @Html.TextBoxFor(model => model.fromandtodate.todate, new { @id = "txtTodate", @class = "form-control datepicker", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.fromandtodate.todate)
                </div>
                <div class="col-md-1 col-sm-1">
                    <button type="button" id="btnSearch" class="blu-btn">Search</button>
                </div>
                <div class="col-md-2 col-sm-2">
                    <button type="button" id="btnQRCode" class="blu-btn">Generate QR Code</button>

                </div>

            </form>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="report">
                <div class="row">

                    <div class="col-md-12 space">

                        <h2>Inspection Request</h2>

                    </div>
                </div>

                <div class="row">

                    <div class="col-md-12">

                        <div class="">

                            <div class="col-md-12">

                                <div class="table-responsive" id="renderRecentViewedReport">

                                    <table class="table table-striped table-bordered table-hover" id="tblinspectionDetail">
                                        <thead>
                                            <tr>
                                                <th width="18%">Address</th>
                                                <th width="18%">Owner Name</th>
                                                <th width="12%">City</th>
                                                <th width="12%">State</th>
                                                <th width="10%">Zip</th>
                                                <th>Requested Date</th>
                                                <th width="14%">&nbsp;</th>
                                                <th width="14%">&nbsp;</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.ReportData)
                                            {
                                                <tr>

                                                    <td>
                                                @item.StreetAddress   @item.City   @item.State   @item.Zip  
                                                    </td>
                                                    <td>@item.OwnerFirstName @item.OwnerLastName</td>
                                                    <td>@item.City</td>
                                                    <td>@item.State</td>
                                                    <td>@item.Zip</td>
                                                    <td>@item.InspectionDate.Value.ToShortDateString()</td>
                                                    <td>
                                                        @if (item.IsRejectedByInspector == true)
                                                        {
                                                            <label>Request Rejected</label>
                                                            @*<button type="button" id="btnTakeAction" class="blu-btn">Request Rejected</button>*@
                                                        }
                                                        else if(  item.IsAcceptedOrRejected == true)
                                                        {
                                                        @*<button type="button" id="btnTakeAction"  class="blu-btn">Request Accepted</button>*@
                                                            <label>Request Accepted</label>
                                                        }
                                                        else
                                                        {
                                                        <button type="button" id="btnTakeAction" onclick="TakeActionModelPopup(this,'@item.OrderID','@item.OwnerFirstName @item.OwnerLastName');" class="blu-btn">Take Action</button>
                                                        }
                                                    </td>


                                                    <td>
                                                        <a data-orderid="@item.OrderID" id="btnViewDetails" class="green-btn" role="button" href="@Url.Action("CreateNewInspection", "Inspector", new { @item.OrderID })">View Request</a></td>
                                                    @*  <td data-orderid="@item.OrderID" class="red bod_rgt">
                                                        <input type="hidden" id="hdnRole" value="@item.roleName" />

                                                        <a id="Detail" href="javascript://void(0);">View Request</a></td>*@

                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>


<!-- Modal Take Action -->
<div class="modal fade" id="divTakeAction" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <input type="hidden" id="hdfInspectorOrderDetailsId" />
    <input type="hidden" id="hdfOwnerName" />
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close custmclose" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title text-center" id="myModalLabel">Take Action</h4>
            </div>

            <div class="modal-body">
                 <div class="alert alert-success" id="Sucess" style="display: none; margin-top: 22px;">

                    <strong>Success!</strong> Request is declined. 

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-3"></div>
                        <div class="col-md-3">
                            <button type="button" id="btnAccept" onclick="AcceptReport();" class="green-btn">Accept</button>
                        </div>
                        <div class="col-md-3">
                            
                            <button type="button" id="btnDecline" onclick="DeclineReport(this)" class="smblue-btn pull-right has-spinner">
                    <span class="spinner"><i class="icon-spin icon-spinner icon-large"></i></span>
                   Decline
                </button>

                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- End Modal Take Action -->


<script type="text/javascript">
    var takeActionbutton;
    var tdElement;
    function TakeActionModelPopup(element,OrderID,InspectorName)
    {
        $("#btnAccept").show();
        
        
        
        $("#btnDecline").show();
        $("#Sucess").css("display", "none");
        takeActionbutton = element;
        tdElement = $(element).parent('td');
        $('#hdfInspectorOrderDetailsId').val(OrderID);
        $('#hdfOwnerName').val(InspectorName);
        $('#divTakeAction').modal({ backdrop: 'static', keyboard: true })
        $("#divTakeAction").modal("show");
    }

    function AcceptReport()
    {
        var OrderId= $('#hdfInspectorOrderDetailsId').val();
        var OwnerName = $('#hdfOwnerName').val();
        javascript: window.location.href = '../Scheduler/Index?Id='+OrderId+'&on='+OwnerName+'';
    }
    function DeclineReport(element)
    {
        $("#btnDecline").addClass('active');
        var Acceptbutton = $(element).parent('div').prev('div').find("#btnAccept")
        var OrderId = $('#hdfInspectorOrderDetailsId').val();
        $.ajax({
            type: "POST",
            async: "false",
            url: $URL._DeclineRequest,
            dataType: "json",
            async: false,
            data: { OrderId: OrderId },
            success: function (result) {
                if (result == "Success")
                {
                    $(takeActionbutton).hide();
                    $(tdElement).html("<label>Request Rejected</label>")
                    $(element).hide();
                    $(Acceptbutton).hide();
                    $("#btnDecline").removeClass('active');
                    $("#Sucess").css("display", "block");
                }
            },
            error: function (e) {
            },
        });
    }
</script>

<!-- Loader-->
<div id="loadingModel" class="displayNone overlayPage">
    <div class=" loaderPage">
        <div>
            <img src='@Url.Content("~/Content/Images/loading_big.gif")' />
        </div>
        <div>
            Loading..
        </div>
    </div>
</div>
<!-- /Loader -->
