﻿@model SpectorMax.Entities.Classes.InspectorReport 
<script type="text/javascript">
    $(document).ready(function () {
        $("#anchorLogoImage").attr("href", $URL._InspectorDashBoard);
        $("#tblinspectionDetail1").dataTable();

        $("#btnSearch").click(function () {
            if ($("#txtFromDate").val() != "" && $("#txtTodate").val() != "") {
                var fromdate = $("#txtFromDate").val().replace(/\-/g, '');
                var todate = $("#txtTodate").val().replace(/\-/g, '');
                if (todate < fromdate) {
                    ShowAlertMessage("title", "ToDate must be greater than or equal to FromDate");
                    return false;
                }
            }
            showLoader()
            $.ajax({
                type: "Post",
                url: $URL._FilterInsReportData,
                data: {
                    ReportType: "PaymentReports",
                    startDate: $("#txtFromDate").val(),
                    endDate: $("#txtTodate").val()
                },
                dataType: "Json",
                success: function (result) {
                    $("#container").html(result.Result);
                    //                    
                    $("#anchorLogoImage").attr("href", $URL._InspectorDashBoard);
                    $('.datepicker').datepicker({
                        format: 'yyyy-mm-dd'
                    });
                    //
                    hideLoader();
                },
                error: function () { hideLoader(); },
            });
        });
    });
</script>
<section class="payment">
        <h2>Payment Report</h2>
        <section class="tbl_content">
            <form id="InspectionList">
                <table width="60%" style="margin-bottom:10px" cellspacing="0">
                    <tr>
                        <td>
                            <label>From:</label></td>
                        <td>
                            @Html.TextBoxFor(model => model.fromandtodate.fromdate, new { @id = "txtFromDate", @class = "datepicker", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.fromandtodate.fromdate)
                        </td>
                        <td></td>
                        <td>
                            <label>To:</label></td>
                        <td>
                        @Html.TextBoxFor(model => model.fromandtodate.todate, new { @id = "txtTodate", @class = "datepicker", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.fromandtodate.todate)
                        <td>
                            <input type="button" class="btn" id="btnSearch" value="Search" /></td>
                    </tr>
                </table>
            </form>

            <table style="width: 100%; float: left" cellpadding="0" cellspacing="0" border="0" class="table" id="tblinspectionDetail1">
                
                <thead>
                    <tr>
                        <th width="25%" class="tbl_head bod_rgt">Property Address</th>
                        <th width="20%" class="tbl_head bod_rgt">Inspection Date</th>
                        <th width="20%" class="tbl_head bod_rgt">Role</th>
                        <th width="20%" class="tbl_head bod_rgt">Name</th>
                        <th width="20%" class="tbl_head bod_rgt">Amount Received</th>
                    </tr>
                </thead>
                <tbody>
                 
                    @foreach (var item in Model.ReportData)
                    {
                        <tr>
                            <td class="bod_rgt">@item.StreetAddress   @item.City   @item.State   @item.Zip  </td>
                            <td class="bod_rgt">@item.InspectionDate.Value.ToShortDateString()</td>
                            <td class="bod_rgt">@item.roleName</td>
                            <td class="bod_rgt">@item.OwnerFirstName @item.OwnerLastName</td>
                            <td data-orderId="@item.OrderID" class="bod_rgt">
                                @if (item.PaymentPlan == "PaymentPlan")
                                   {
                                        <a id="Detail" style="cursor:text" href="javascript://void(0);" title="Plan Amount : $@item.AmountReceived">Payment Made Under Plan</a>   
                                   }
                                   else
                                   {
                                        <a id="Detail" style="cursor:text" href="javascript://void(0);">$@item.AmountReceived</a>
                                   }  
                                </td>
                        </tr>
                    }
                <tbody>
            </table>
        </section>
        <section class="clr"></section>
    </section>

<!-- Loader-->
<div id="loadingModel" class="displayNone overlayPage">
    <div class=" loaderPage">
        <div>
            <img src='@Url.Content("~/Content/Images/loading_big.gif")' />
        </div>
        <div>
            Loading..
        </div>
    </div>
</div>
<!-- /Loader -->