﻿@model List<SpectorMax.Entities.Classes.PropertyAddress>

<section id="container">
    <section class="payment">
        <h2 style="width: 338px;">Update Maintenance Required</h2>
        <section class="tbl_content">
            <table style="width: 100%; float: right" cellpadding="0" cellspacing="0" border="0" class="table" id="tblUpdateMaintenanceReq">
                <thead>
                    <tr>
                        <th width="30%" class="tbl_head bod_rgt">Property Address</th>
                        <th width="20%" class="tbl_head bod_rgt">Inspection Date</th>
                        <th width="20%" class="tbl_head bod_rgt">Property Owner Name</th>
                        <th width="20%" class="tbl_head bod_rgt">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="bod_rgt">@item.OwnerFirstName @item.OwnerLastName, @item.StreetAddress,@item.City,@item.State,@item.Zip </td>
                            <td class="bod_rgt">@item.InspectionDate.Value.ToShortDateString() </td>
                            <td class="bod_rgt">@item.OwnerFirstName @item.OwnerLastName </td>
                            <td class="bod_rgt"><a class="redd" href="javascript://void(0);" data-orderid="@item.OrderID" id="anchorMaintenanceReq1">View Detail</a></td>
                        </tr>
                    }
                </tbody>
            </table>
            <div aria-hidden="true" aria-labelledby="windowTitleLabel" role="dialog" tabindex="-1" class="modal hide fade in" id="PopupDiv">
                <div class="modal-header">
                    <a data-dismiss="modal" class="close" href="#">×</a>
                    <h3>Inspector Comment</h3>
                </div>
                <div class="modal-body">
                    <div class="divDialogElements">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                    </div>
                </div>
              
            </div>
        </section>
        <section class="clr"></section>
    </section>
    <section class="clr"></section>
</section>
<script type="text/javascript">

    $(document).ready(function () {
        $('#tblUpdateMaintenanceReq').dataTable();
        $(".redd").live('click', function () {
            var orderid = $(this).attr('data-orderid');
            $(location).attr("href", $URL._ViewAllComments + "?inspectionOrderid=" + orderid);
        });
       
        //$(".red").click(function () {
        //    debugger;
        //    var orderid = $(this).attr('data-orderid');
        //    $.ajax({
        //        url: $URL._ViewAllComments,
        //        type: "POST",
        //        data: { inspectionOrderid: orderid },
        //        success: function (result) {
        //            $("#PopupDiv .divDialogElements p").html(result);
        //            //$("#PopupDivEnterComment").modal().width(800);
        //            $("#PopupDiv").modal({ backdrop: 'static', keyboard: true });
        //            $("#PopupDiv").modal("show");
        //        }
        //    });
        //});

    });
</script>
