﻿@model SpectorMax.Entities.Classes.InspectorReport

@{
    ViewBag.Title = "InspectionSchedule";
    Layout = "~/Views/Shared/_NLayout.cshtml";
}
<script>
    $(document).ready(function () {
        $("#tblinspectionDetail").dataTable();
    })

</script>
<div class="container">
    <div class="row">
        <div class="col-md-12">
           <p>&nbsp; &nbsp;</p>
        </div>
    </div>

  

    <div class="row">
        <div class="col-md-12">
            <div class="report">
                <div class="row">

                    <div class="col-md-12 space">

                        <h2>Inspection Scheduled</h2>

                    </div>
                </div>

                <div class="row">

                    <div class="col-md-12">

                        <div class="">

                            <div class="col-md-12">

                                <div class="table-responsive" id="renderRecentViewedReport">

                                    <table class="table table-striped table-bordered table-hover" id="tblinspectionDetail">
                                        <thead>
                                            <tr>
                                                <th width="18%">Address</th>
                                                <th width="18%">Owner Name</th>
                                                <th width="12%">City</th>
                                                <th width="12%">State</th>
                                                <th width="10%">Zip</th>
                                                <th>Requested Date</th>
                                                <th width="14%">Scheduled Date</th>
                                                <th width="14%">&nbsp;</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.ReportData)
                                            {
                                                <tr>

                                                    <td>
                                                @item.StreetAddress   @item.City   @item.State   @item.Zip  
                                                    </td>
                                                    <td>@item.OwnerFirstName @item.OwnerLastName</td>
                                                    <td>@item.City</td>
                                                    <td>@item.State</td>
                                                    <td>@item.Zip</td>
                                                    <td>@item.InspectionDate.Value.ToShortDateString()</td>
                                                    <td>
                                                      @item.ScheduledDate.Value.ToShortDateString()
                                                    </td>
                                                        <td>
                                                        <a data-orderid="@item.OrderID" id="btnViewDetails" class="green-btn" role="button" href="@Url.Action("CreateNewInspection", "Inspector", new { @item.OrderID })">View Request</a></td>
                                                    

                                                   
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
