﻿@model SpectorMax.Entities.Classes.InspectorDetails
@{
    ViewBag.Title = "ManageProfile";
    Layout = "~/Views/Shared/_NLayout.cshtml";
}
@{
    var PreImageUrls = "../Images/ProfileImgAndCertiticate/";
}
<link type="text/css" rel="stylesheet" href="~/Content/UploadFiles/Custom.css" />
<link type="text/css" rel="stylesheet" href="~/Content/UploadFiles/FineUpload.css" />
<script type="text/javascript" src="~/Scripts/FineUploader.js"></script>
<script>
    
</script>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Manage Profile</h2>
        </div>
    </div>
    @if (ViewData["MessageType"] == "success")
    {
           
        <div class="alert alert-success" id="SucessExp" style="margin-top: 22px;">



            <strong>Success!</strong> Inspector details updated successfully. 

        </div>
    }
    else if (ViewData["MessageType"] == "error")
    {
        <div class="bs-exampleExp">
            <div class="alert alert-danger alert-error">

                <strong>Error!</strong>
                <label id="lblErrorExp">There might be some problem. Please try after some time.</label>
            </div>
        </div>
    }
    @using (Html.BeginForm("ManageProfile", "Inspector", FormMethod.Post, new { id = "ManageProfile" }))
    {
        if (Model != null)
        {
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-3">
                        <label class="control-label">First Name:</label>
                    </div>
                    <div class="col-md-3">
                        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.FirstName)
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Last Name:</label>
                    </div>
                    <div class="col-md-3">
                        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.LastName)
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-3" style="margin-top: 50px;">
                        <label class="control-label">Your Photo:</label>
                    </div>
                    <div class="col-md-3" style="margin-top: 50px;">
                        <input id="files" type="file" />
                    </div>
                    <div class="col-md-4">
                        @if (Model.PhotoURL != "")
                        {
                            <img id="ImgPhotoURL" class="image Photo" height="100" width="100" src="@Url.Content(@PreImageUrls + @Model.PhotoURL)" />
                        }
                        else
                        {
                            <img id="ImgPhotoURL" height="100" class="Photo" width="100" src="@Url.Content(@PreImageUrls + "nophoto.jpg")" />
                        }
                        @Html.HiddenFor(model => model.PhotoURL, new { id = "srcPhotoURL" })
                        <div class="col-md-0">
                            <a href="#" id="aphotu">View Photo</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-3">
                        <label class="control-label">Address:</label>
                    </div>
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Address)
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-3">
                        <label class="control-label">Street Address:</label>
                    </div>
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.StreetAddress, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.StreetAddress)
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-3">
                        <label class="control-label">Address Line 2:</label>
                    </div>
                    <div class="col-md-3">
                        @Html.TextBoxFor(model => model.Address2, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Address2)
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">State:</label>
                    </div>
                    <div class="col-md-3">

                        @Html.DropDownListFor(model => model.StateId, (IEnumerable<SelectListItem>)Model.StatesList, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.StateId)
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-3">
                        <label class="control-label">City:</label>
                    </div>
                    <div class="col-md-3">

                        @Html.DropDownListFor(model => model.CityId, (IEnumerable<SelectListItem>)Model.CityList, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CityId)
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Country:</label>
                    </div>
                    <div class="col-md-3">
                        @Html.TextBoxFor(model => model.Country, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Country)
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-3">
                        <label class="control-label">Phone No:</label>
                    </div>
                    <div class="col-md-3">
                        @Html.TextBoxFor(model => model.PhoneNo, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PhoneNo)
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Date Of Birth:</label>
                    </div>
                    <div class="col-md-3">
                        @Html.TextBoxFor(model => model.DOB, new { @class = "form-control datepicker", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.DOB)
                    </div>
                </div>
            </div>
        </div>
        
        
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-3">
                        <label class="control-label">Email Address:</label>
                    </div>
                    <div class="col-md-3">
                        @Html.TextBoxFor(model => model.EmailAddress, new { @class = "form-control", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.EmailAddress)
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Password:</label>
                    </div>
                    <div class="col-md-3">
                        @Html.TextBoxFor(model => model.Password, new { @class = "form-control ", @type = "Password" })
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-3">
                        <label class="control-label">Confirm Password:</label>
                    </div>
                    <div class="col-md-3">
                        @Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "form-control", @type = "Password" })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword)
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-3">
                        <label class="control-label">Area where you perform inspections:</label>
                    </div>
                    <div class="col-md-8">
                        @Html.TextAreaFor(model => model.ExperienceTraining1, new { @class = " form-control", style = "width:72%" })
                        @Html.ValidationMessageFor(model => model.ExperienceTraining1)
                    </div>
                </div>
            </div>
        </div>
        
        
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-3">
                        <label class="control-label">Experience:</label>
                    </div>
                    <div class="col-md-8">
                        @Html.TextAreaFor(model => model.ExperienceTraining2, new { @class = " form-control", style = "width:72%" })
                        @Html.ValidationMessageFor(model => model.ExperienceTraining2)
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-3">
                        <label class="control-label">Education:</label>
                    </div>
                    <div class="col-md-8">
                        @Html.TextAreaFor(model => model.ExperienceTraining3, new { @class = " form-control", style = "width:72%" })
                        @Html.ValidationMessageFor(model => model.ExperienceTraining3)
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-3">
                        <label class="control-label">Certificates:</label>
                    </div>
                    <div class="col-md-4">
                        <input id="files1" type="file" multiple />
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-9">
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="control-label"></label>
                    </div>
                    <div class="col-md-1">
                        @if (!string.IsNullOrEmpty(Model.Certification1))
                        {
                            <img  id="ImgCertificate1" class="image crtimg certificate" height="100" width="100" src="@Url.Content(@PreImageUrls + @Model.Certification1)" />

                        }
                        else
                        {
                            <img id="ImgCertificate1" class="crtimg" height="100" width="100" src="@Url.Content(@PreImageUrls + "nophoto.jpg")" />
                        }
                    </div>
                    <div class="col-md-2">
                        @if (!string.IsNullOrEmpty(Model.Certification2))
                        {
                            <img style="margin-left:50px" id="ImgCertificate2" class="image crtimg certificate" height="100" width="100" src="@Url.Content(@PreImageUrls + @Model.Certification2)" />@*
                                    <input type="button" value="Delete" class="Delete" id="ImgCertificate2Delete" />*@
                        }
                        else
                        {
                            <img style="margin-left:50px" id="ImgCertificate2"  class="crtimg"  height="100" width="100" src="@Url.Content(@PreImageUrls + "nophoto.jpg")" />
                        }
                    </div>
                    <div class="col-md-1">
                        @if (!string.IsNullOrEmpty(Model.Certification3))
                        {
                            <img style="margin-left:50px" id="ImgCertificate3" class="image crtimg certificate" height="100" width="100" src="@Url.Content(@PreImageUrls + @Model.Certification3)" />

                        }
                        else
                        {
                            <img style="margin-left:50px" id="ImgCertificate3" class="crtimg"  height="100" width="100" src="@Url.Content(@PreImageUrls + "nophoto.jpg")" />
                        }
                        @Html.HiddenFor(model => model.Certification1)
                        @Html.HiddenFor(model => model.Certification2)
                        @Html.HiddenFor(model => model.Certification3)
                        <input type="hidden" id="ImgCertificateValue" value="1" />
                        <input type="hidden" id="ImgCertificateValueDeleted" value="" />
                    </div>
                </div>
            </div>
        </div>
        <div style="clear: both;"></div>
        <div class="row">
            <div class="col-md-12">
                <label class="control-label"></label>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-12" style="text-align: right;">
                        <input type="submit" id="create" class="blu-btn" value="Submit">
                    </div>
                </div>
            </div>
        </div>
        }
    }
</div>

<div class="modal fade" id="DivUploadImage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog model-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close custmclose" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title text-center" id="myModalLabel1">View Image</h4>
            </div>
            <div class="modal-body">
                <div style="margin-left: 137px;">
                    <img id="imgProfile" height="250px" width="250px" />
                </div>
            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="PopupDiv1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog model-sm">
        <div class="modal-content">
            <div class="modal-header">
                <a data-dismiss="modal" class="close" href="#">×</a>
                <h3>Error !</h3>
            </div>
            <div class="modal-body">
                Please upload only png,jpg,jpeg format files.
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $("#aphotu").click(function () {
            $('#DivUploadImage').modal({ backdrop: 'static', keyboard: true })
            $("#DivUploadImage").modal("show");
            $("#imgProfile").attr('src', $("#ImgPhotoURL").attr('src'));
        })

        $(".crtimg").click(function () {
            $('#DivUploadImage').modal({ backdrop: 'static', keyboard: true })
            $("#DivUploadImage").modal("show");
            $("#imgProfile").attr('src', this.src);
        });


        FillRequesterCity();
        $("#StateId").change(function () {
            $("#imgCity").show();
            $.ajax({
                type: "POST",
                url: $URL._NGetCity,
                dataType: "json",
                data: { state: $('#StateId :selected').val() },
                success: function (result) {
                    $('#CityId').empty();
                    //    $('#City').append($('<option></option>').val("--Select--").html("--Select--"));
                    $(result).each(function (index, item) {
                        $('#CityId').append($('<option></option>').val(this.Value).html(this.Text));
                    });

                },
                error: function (e) {
                    ;
                },
            });
        });
        $('.datepicker').datepicker({
            format: "mm-yyyy",
            viewMode: "months",
            minViewMode: "months"
        });
        $("#PhoneNo").mask('(999) 999-9999');
        $('#DashBoardLink').removeAttr('class')
        $('#ManageProfile').attr('class', 'active')

        //Check File API support
        /*Show Preview of image without loading on server*/
        var imgsrc;
        if (window.File && window.FileList && window.FileReader) {
            var filesInput = document.getElementById("files");
            filesInput.addEventListener("change", function (event) {
                var files = event.target.files; //FileList object
                var output = document.getElementById("result");
                for (var i = 0; i < files.length; i++) {
                    var file = files[i];
                    //Only pics
                    //if (!file.type.match('image'))
                    //    continue;
                    if (!file.type.match('image')) {
                        //$("#PopupDiv1").width(200);
                        $('#PopupDiv1').modal({ backdrop: 'static', keyboard: true })
                        $("#PopupDiv1").modal("show");
                        return false;
                    }
                    var picReader = new FileReader();
                    picReader.addEventListener("load", function (event) {
                        var picFile = event.target;
                        var div = document.createElement("div");
                        $("#ImgPhotoURL").prop('src', '');
                        $("#ImgPhotoURL").prop('src', picFile.result);
                        imgsrc = picFile.result
                        $("#srcPhotoURL").val(picFile.result);

                    });

                    //Read the image
                    picReader.readAsDataURL(file);

                    $("#ImgPhotoURL").each(function (i, obj) {
                        $(obj).unbind("click");

                    }); // end each
                }
            });

            var filesInput = document.getElementById("files1");
            filesInput.addEventListener("change", function (event) {
                var files = event.target.files; //FileList object
                if (files.length >= 0 && files.length <= 3) {
                    var output = document.getElementById("result1");
                    var div = document.createElement("div");
                    div.setAttribute("style", "margin-left:100%;width:600px");
                    var count = 0;
                    //   if ($("#ImgCertificateValueDeleted").val() == "") {
                    /*for loop start*/
                    for (var i = 0; i < files.length; i++) {
                        var file = files[i];
                        //Only pics
                        //if (!file.type.match('image'))
                        //    continue;
                        if (!file.type.match('image')) {
                            //$("#PopupDiv1").width(200);
                            $('#PopupDiv1').modal({ backdrop: 'static', keyboard: true })
                            $("#PopupDiv1").modal("show");
                            return false;
                        }

                        var picReader = new FileReader();

                        if (files.length != 3) {
                            if ($("#ImgCertificateValue").val() == 4) {
                                var x = "1";
                            }
                            else {
                                var x = $("#ImgCertificateValue").val()
                            }

                        }
                        else {
                            var x = 1;
                        }
                        picReader.addEventListener("load", function (event) {
                            if (x >= 4) {
                                x = 1;
                            }
                            var picFile = event.target;
                            $("#ImgCertificate" + x).prop("src", picFile.result);
                            $("#Certification" + x).val(picFile.result);
                            x++;
                            $("#ImgCertificateValue").val(x)
                        });
                        //Read the image

                        picReader.readAsDataURL(file);
                        $(".certificate").each(function (i, obj) {
                            $(obj).unbind("click");

                        });
                    }
                    

                }

                else {
                    //alert("Only 3 certificate can be uploaded.");
                    $("#PopupDiv").width(200);
                    $('#PopupDiv').modal({ backdrop: 'static', keyboard: true })
                    $("#PopupDiv").modal("show");
                }
            });
        }
        else {
            console.log("Your browser does not support File API");
        }

        /*Assign Dashboard Link*/
        $("#anchorLogoImage").attr("href", $URL._InspectorDashBoard);



        $(".Delete").click(function () {
            var PreImageUrls = "../Images/ProfileImgAndCertiticate/";
            var imgid = $(this).prevAll('img:first');
            $(imgid).attr('src', PreImageUrls + "/nophoto.jpg");
            var ids = "3,2";
            $("#ImgCertificateValueDeleted").val(ids);

        });

        /*Get Model Validation Message*/
        $("#create").click(function () {
            var IsFormValid = $("#Registration").valid()
            if (!IsFormValid) {
                DisplayErroMessage();
            }
        });
    });

    function checkfiletype() {
        if ($('#photo').val() != '') {
            $.each($('#photo').prop("files"), function (k, v) {
                var filename = v['name'];
                var ext = filename.split('.').pop().toLowerCase();
                if ($.inArray(ext, ['gif', 'png', 'jpg', 'jpeg']) == -1) {
                    alert('Please upload only png,jpg,jpeg format files.');
                    return false;
                }
            });
        }
    }

    $('.datepicker').datepicker({
        format: "mm-yyyy",
        viewMode: "months",
        minViewMode: "months"
    });
    /*Validation*/
    $("#create").mouseout(function () { DisplayErroMessage(); });
    function DisplayErroMessage() {
        $(".field-validation-error").closest("td").each(function () {
            $(this).find(".simple_input").live("mouseover", function () { $(this).parent().find(".field-validation-error .input-validation-error").attr("style", "display:block !important"); });
            $(this).find(".simple_input").live("mouseout", function () { $(this).parent().find(".field-validation-error .input-validation-error").attr("style", "display:none !important"); });
        });
    }

    /*Zoom Image on mouse over, Used to enlarge certificate images*/
    $(".image").each(function (i, obj) {

        var clone;
        var position;
        clone = $(obj).clone();
        $(clone).addClass("clonedItem");
        position = $(obj).position();

        $(obj).bind("click", function (e) {
            $(".image").css("z-index", 1);
            $(clone).css("top", position.top - 100).css("left", position.left).css("z-index", 1000);

            $(clone).appendTo("#result1").css("position", "absolute").animate({
                height: "400px",
                width: "400px"
            }, 50, function () {

                $(clone).bind("click", function (e) {
                    $(clone).animate({
                        height: "30px",
                        width: "30px"
                    }, 200, function () { $(clone).remove(); });

                }); // end mouseout

            }); // end animate callback

        }); // end mouseover

    }); // end each


    function FillRequesterCity() {
        $.ajax({
            type: "POST",
            url: $URL._NGetCity,
            dataType: "json",
            async: false,
            data: { state: "@Model.StateId" },
            success: function (result) {
                $('#CityId').empty();
                $('#CityId').empty();
                //      $('#RequestedByCity').append($('<option></option>').val("--Select--").html("--Select--"));
                $(result).each(function (index, item) {
                    $('#CityId').append($('<option></option>').val(this.Value).html(this.Text));
                });
                $('#CityId').val("@Model.CityId");
                },
            error: function (e) {

            },
        });
        }
</script>
