﻿@model SpectorMax.Entities.Classes.DetailsReportCommonPoco

@{
    ViewBag.Title = "ViewAllComments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <section id="container">
        <section class="payment">
            <section class="registration">
                <h2 style="width: 50%;">Maintainenance Required</h2>
                <div id="divViewDetail">
                    @if (Model != null)
                    {
                        @Html.Partial("_PartialViewAllComments", Model)
                    }
                    else
                    {
                        <center><h3 style="color: red">All requests accepted for this Report Id #.</h3></center>
                    }
                </div>

                <center><div style="width:80%; color:red; margin-top:53%; display:none" id="messages" ></div></center>

                <div id='loading' class='test' style='width: 100%; display: none;'>
                    <p>loading.........</p>
                </div>

            </section>
        </section>
        <section class="clr"></section>
    </section>
    <section class="clr"></section>
</section>
