﻿.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}

    .well blockquote {
        border-color: #ddd;
        border-color: rgba(0,0,0,0.15);
    }

.well-large {
    padding: 24px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.well-small {
    padding: 9px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.nav-list {
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 0;
}

    .nav-list > li > a, .nav-list .nav-header {
        margin-right: -15px;
        margin-left: -15px;
        text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    }

    .nav-list > li > a {
        padding: 3px 15px;
    }

    .nav-list > .active > a, .nav-list > .active > a:hover, .nav-list > .active > a:focus {
        color: #fff;
        text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
        background-color: #08c;
    }
    .nav {
    margin-bottom: 20px;
    margin-left: 0;
    list-style: none;
}
.nav-header {
    display: block;
    padding: 3px 15px;
    font-size: 11px;
    font-weight: bold;
    line-height: 20px;
    color: #999;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    text-transform: uppercase;
}

.nav-list .divider {
    background-color: #E5E5E5;
    border-bottom: 1px solid #FFFFFF;
    height: 1px;
    margin: 9px 1px;
    overflow: hidden;
}