﻿
div#menu
{
    height: 41px;
    background: url('Images/images/main-bg.png') repeat-x;
}

    div#menu ul
    {
        margin: 0;
        padding: 0;
        list-style: none;
        float: left;
    }

        div#menu ul.menu
        {
             
        }

    div#menu li
    {
        position: relative;
        z-index: 9;
        margin: 0;
        padding: 0 5px 0 0;
        display: block;
        float: left;
    }

        div#menu li:hover > ul
        {
            left: -2px;
        }

    div#menu a
    {
        position: relative;
        z-index: 10;
        height: 41px;
        display: block;
        float: left;
        line-height: 41px;
        text-decoration: none;
        font: normal 12px Trebuchet MS;
    }

        div#menu a:hover, div#menu a:hover span
        {
            color: #fff;
        }

    div#menu li.current a
    {
    }

    div#menu span
    {
        display: block;
        cursor: pointer;
        background-repeat: no-repeat;
        background-position: 95% 0;
        text-transform: uppercase;
    }

    div#menu a
    {
        padding: 0 10px 0 10px;
        line-height: 30px;
        color: #e5e5e5;
    }

    div#menu span
    {
        margin-top: 5px;
    }

    div#menu li
{
    background: url('Images/images/main-delimiter.png ') no-repeat 98% 4px;
}

        div#menu li.last
        {
            background: none;
        }

    div#menu ul ul li
    {
        background: none;
    }

    div#menu ul ul
    {
        position: absolute;
        top: 38px;
        left: -999em;
        width: 163px;
        padding: 5px 0 0 0;
        background: rgb(45,45,45);
        margin-top: 1px;
    }

        div#menu ul ul a
        {
            padding: 0 0 0 15px;
            height: auto;
            float: none;
            display: block;
            line-height: 24px;
            color: rgb(169,169,169);
        }

        div#menu ul ul span
        {
            margin-top: 0;
            padding-right: 15px;
            _padding-right: 20px;
            color: rgb(169,169,169);
        }

        div#menu ul ul a:hover span
        {
            color: #fff;
        }

        div#menu ul ul li.last
        {
            background: none;
        }

        div#menu ul ul li
        {
            width: 100%;
        }

        div#menu ul ul ul
        {
            padding: 0;
            margin: -38px 0 0 163px !important;
            margin-left: 172px;
        }

        div#menu ul ul ul
        {
            background: rgb(41,41,41);
        }

            div#menu ul ul ul ul
            {
                background: rgb(38,38,38);
            }

            div#menu ul ul ul ul
            {
                background: rgb(35,35,35);
            }

#menu-box
{
    margin: 10px 0 10px 0;
    float: right;
}

    #menu-box #menu
    {
        margin: 10px 0 0 0;
    }
         #display-error
{
   width: 400px;
   border: 1px solid #D8D8D8;
   padding: 5px;
   border-radius: 5px;
   font-family: Arial;
   font-size: 11px;
   text-transform: uppercase;
   background-color: rgb(255, 249, 242);
   color: rgb(211, 0, 0);
   text-align: center;
}
 
img
{
   float: left;
}
 
#display-success
{
   width: 747px;
   border: 1px solid #D8D8D8;
   padding: 10px;
   border-radius: 5px;
   font-family: Arial;
   font-size: 13px;
   text-transform: uppercase;
   background-color: rgb(236, 255, 216);
   color: green;
   text-align: center;
  margin-left:96px;
}
 
#display-success img
{
   position: relative;
   bottom: 5px;
}
.loader {    text-align: center;    position: absolute;    top: 42%;    left: 54%;}
.displayNone{display:none}
.overlay {display: none;position: fixed;_position: absolute;background: rgba(0,0,0,.08);top: 0;left:0;width:100%;height:100%;z-index: 99999;border: 5px solid ;padding: 15px;font-size: 15px;-moz-box-shadow: 0 0 5px #cfe5ae;-webkit-box-shadow: 0 0 5px #cfe5ae;box-shadow: 0 0 5px #cfe5ae; border-radius:15px; }

.loaderPage {    text-align: center;    position: absolute;    top: 70%;    left: 50%;}
.overlayPage {display: none;position: fixed;_position: absolute;background: rgba(0,0,0,.66);top: 0;left:0;width:100%;height:100%;z-index: 1000;border: 5px solid ;padding: 15px;font-size: 15px;-moz-box-shadow: 0 0 5px #cfe5ae;-webkit-box-shadow: 0 0 5px #cfe5ae;box-shadow: 0 0 5px #cfe5ae; border-radius:15px; }
.mb10
{
    margin-bottom:10px;
}