@model SpectorMaxDAL.AgentLibrary

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>AgentLibrary</legend>

    <div class="display-label">AgentType</div>
    <div class="display-field">@Model.AgentType</div>

    <div class="display-label">AgentFirstName</div>
    <div class="display-field">@Model.AgentFirstName</div>

    <div class="display-label">AgentLastName</div>
    <div class="display-field">@Model.AgentLastName</div>

    <div class="display-label">AgentOffice</div>
    <div class="display-field">@Model.AgentOffice</div>

    <div class="display-label">AgentStreetAddress</div>
    <div class="display-field">@Model.AgentStreetAddress</div>

    <div class="display-label">AgentCity</div>
    <div class="display-field">@Model.AgentCity</div>

    <div class="display-label">AgentState</div>
    <div class="display-field">@Model.AgentState</div>

    <div class="display-label">AgentZip</div>
    <div class="display-field">@Model.AgentZip</div>

    <div class="display-label">AgentEmailAddress</div>
    <div class="display-field">@Model.AgentEmailAddress</div>

    <div class="display-label">AgentPhoneDay</div>
    <div class="display-field">@Model.AgentPhoneDay</div>

    <div class="display-label">AgentPhoneEve</div>
    <div class="display-field">@Model.AgentPhoneEve</div>

    <div class="display-label">AgentPhoneOther</div>
    <div class="display-field">@Model.AgentPhoneOther</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


