@model IEnumerable<SpectorMaxDAL.AgentLibrary>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            AgentType
        </th>
        <th>
            AgentFirstName
        </th>
        <th>
            AgentLastName
        </th>
        <th>
            AgentOffice
        </th>
        <th>
            AgentStreetAddress
        </th>
        <th>
            AgentCity
        </th>
        <th>
            AgentState
        </th>
        <th>
            AgentZip
        </th>
        <th>
            AgentEmailAddress
        </th>
        <th>
            AgentPhoneDay
        </th>
        <th>
            AgentPhoneEve
        </th>
        <th>
            AgentPhoneOther
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AgentID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AgentID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AgentID })
        </td>
        <td>
			@item.AgentType
        </td>
        <td>
			@item.AgentFirstName
        </td>
        <td>
			@item.AgentLastName
        </td>
        <td>
			@item.AgentOffice
        </td>
        <td>
			@item.AgentStreetAddress
        </td>
        <td>
			@item.AgentCity
        </td>
        <td>
			@item.AgentState
        </td>
        <td>
			@item.AgentZip
        </td>
        <td>
			@item.AgentEmailAddress
        </td>
        <td>
			@item.AgentPhoneDay
        </td>
        <td>
			@item.AgentPhoneEve
        </td>
        <td>
			@item.AgentPhoneOther
        </td>
    </tr>
}

</table>


