@model SpectorMaxDAL.Payment

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.ReportID)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.ReportID)
    @Html.ValidationMessageFor(model => model.ReportID)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.UserID)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.UserID)
    @Html.ValidationMessageFor(model => model.UserID)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.PaymentStatus)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.PaymentStatus)
    @Html.ValidationMessageFor(model => model.PaymentStatus)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.PaymentDate)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.PaymentDate)
    @Html.ValidationMessageFor(model => model.PaymentDate)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.PaymentAmount)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.PaymentAmount)
    @Html.ValidationMessageFor(model => model.PaymentAmount)
</div>

<div class="editor-label">
    Role
</div>
<div class="editor-field">
    @Html.DropDownListFor(model => model.RoleID, ((IEnumerable<SpectorMaxDAL.Role>)ViewBag.PossibleRoles).Select(option => new SelectListItem {
        Text = Html.DisplayTextFor(_ => option).ToString(), 
        Value = option.RoleID.ToString(),
        Selected = (Model != null) && (option.RoleID == Model.RoleID)
    }), "Choose...")
    @Html.ValidationMessageFor(model => model.RoleID)
</div>
