﻿@model SpectorMax.Entities.Classes.PaymentPoco

@using SpectorMax.Entities.Classes

<link href="@Url.Content("~/Content/ValidationCss/datepicker.css")" rel="stylesheet">
<link href= "@Url.Content("~/content/css/style.css")" type="text/css" rel="stylesheet" />
<link href= "@Url.Content("~/Content/ValidationCss/bootstrap-combined.min.css")" rel="stylesheet" />
<link href= "@Url.Content("~/Content/ValidationCss/style.css")" rel="stylesheet" />
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.1.0.js"></script>
<script src= "@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src= "@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
<script src="@Url.Content("~/Scripts/Common.js")"></script>
<script src= "@Url.Content("~/Scripts/bootstrap-datepicker.js")"></script>
<script src="http://static.scripting.com/github/bootstrap2/js/bootstrap-transition.js"></script>
@*  <script src="http://static.scripting.com/github/bootstrap2/js/bootstrap-modal.js"></script>*@
<script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.blockUI.js")"></script>
<link href="@Url.Content("~/Content/TablesCss/demo_page.css")" rel="stylesheet">
<link href="@Url.Content("~/Content/TablesCss/header.ccss.css")" rel="stylesheet">
<link href="@Url.Content("~/Content/TablesCss/demo_table.css")" rel="stylesheet">
<script src="@Url.Content("~/Scripts/jquery.dataTables.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/PrintingJs/jquery.printElement.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {       
        var sessionData =  @Html.Raw(Json.Encode(Sessions.LoggedInUser));

        if(sessionData != null)
        { 
            if(sessionData.RoleName == "Home Buyer")
            {
                $("#anchorLogoImage").attr("href", $URL._BuyerDashBoard);
            }
        }

        $('#tblInvoiceDetail').dataTable();

        $(".zebra").live('click', function () {
            var paymentid = $(this).attr('data-pid');
            var modelData = @Html.Raw(Json.Encode(Model.objPayment));
           
           
            $.each(modelData, function(i, v) {
               
                if(v.PaymentID != 'undefined')
                {
                   
                    if (v.PaymentID == paymentid) {  
                        var d = new Date(parseInt(v.PaymentDate.slice(6, -2)));
                        /*Replacing data*/
                      
                        var a = $("#hdn").val();
                        if("@Sessions.LoggedInUser.FirstName"!=null)
                        {

                            a = a.toString().replace('John Smith',"@Sessions.LoggedInUser.FirstName @Sessions.LoggedInUser.LastName");
                        }
                        a = a.toString().replace('$100.00','$'+v.PaymentAmount);
                        a = a.toString().replace('21/10/2013',d.getDate() + "/"+  parseInt(d.getMonth()+1) + "/" +d.getFullYear());
                        a = a.toString().replace('1000 Coney Island Ave.Brooklyn NY 11230',$("#hdnAdress").val());
                        // $("#hdn").val(a);

                        /*Replacing data end here*/
                        $("#divprviousPaymentInvoice .divDialogElements p").html(a );
                        $("#divprviousPaymentInvoice").modal().width(900);   
                        $('#divprviousPaymentInvoice').modal({ backdrop: 'static', keyboard: true })
                        $("#divprviousPaymentInvoice").modal("show");
                    }
                }
                 
            }); 

            $("#Print").click(function(){
                $('#invoice-page').printElement();
            });

        });
    });
</script>
<script type="text/javascript">
    function loadPartialView1(PageNumber, PerPageRecord, islast) {
        $.ajax({
            type: "Post",
            url: "PreviousInvoiceDetials",
            data: {
                PageNumber: PageNumber,
                PerPageRecord: PerPageRecord,
                islast: islast
            },
            dataType: "Json",
            success: function (result) {
                $("#container").html(result.Result);
            }
        });
    }
</script>

@if (Model != null)
{
    <section id="container">
        <section class="payment">
            <h2 style="width: 300px">Previous Invoices</h2>
            <section class="tbl_content">
                <table style="width: 100%; float: left" cellpadding="0" cellspacing="0" border="0" class="table" id="tblInvoiceDetail">
                    @*width="100%" cellspacing="0"*@
                    <thead>
                        <tr>
                            <th width="33%" class="tbl_head bod_rgt">Date</th>
                            <th width="32%" class="tbl_head bod_rgt">Amount</th>
                            <th width="35%" class="tbl_head">View Invoice</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var items in Model.objPayment)
                        {
                            <tr class="content">
                                <td class="bod_rgt">@items.PaymentDate.Value.ToShortDateString()</td>
                                <td class="bod_rgt">@items.PaymentAmount
                                </td>
                                <td class="bod_rgt"><a class="zebra" role="button" data-toggle="modal" id="anchorprviousPaymentInvoice" data-pid="@items.PaymentID" href="#">Click Here</a></td>
                            </tr>
                        }

                    </tbody>
                </table>
                @if (Model.objPayment.Count > 0)
                {
                    <input type="hidden" value="@Model.objPayment.ElementAt(0).PaymentInvoice " id="hdn" />
                    <input type="hidden" value="@Model.objPayment.ElementAt(0).CustomerAddress " id="hdnAdress" />
                }
            </section>
            <section class="overview_info">
            </section>
            <section class="clr"></section>
        </section>
        <section class="clr"></section>
        <input type="hidden" id="userPaymentId" />
        <div aria-hidden="true" aria-labelledby="windowTitleLabel" data-backdrop="static" data-keyboard="false" role="dialog" tabindex="-1" style="top: 50%; left: 40%" class="modal hide fade in" id="divprviousPaymentInvoice">
            <div class="modal-header">
                <a data-dismiss="modal" class="close" href="#">×</a>
                <h3>Previous Invoice Details</h3>
            </div>
            <div class="modal-body">
                <div class="divDialogElements">
                    <div>
                        <ul style="width: 100%">
                            <li style="width: 20%;">
                                <!--margin-right: -40px; line-height: 20px"-->
                                <img id="img1" src="@Url.Content("~/Images/noImage.png")" style="width: 180px; height: 150px; border: solid 2px;">
                                <input type="button" id="btnEditImage1" onclick="EditImage(this)" class="simple_input" value="Edit Image" />
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </section>
}
