﻿@model SpectorMax.Entities.Classes.BuyReports

@{
    ViewBag.Title = "BuyComprehensive";
    Layout = "~/Views/Shared/_NLayout.cshtml";
}
<script src="~/Scripts/BuyComprenhensiveReport.js"></script>
<script>

    function CheckMaxLength() {
        var paymentType = $("input:radio[name='PaymentType']:checked").val();
        var cvvMaxlength = $("#txtCVV")
        if (paymentType == "American Express") {
            cvvMaxlength.attr('maxlength', '4');
        }
        else {
            cvvMaxlength.attr('maxlength', '3');
        }
    }

</script>

@if (Model != null)
{
    if (ViewBag.IsPaid == null)
    {
    <div class="container">
         <div class="row">
        <div class="col-md-12">
            <p class="welcome">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
               </p>
        </div>
    </div>
            <div class="bs-exampleExp" style="display: none">
                <div class="alert alert-danger alert-error">

                <strong>Error!</strong>
                <label id="lblErrorExp">There might be some problem. Please try after some time.</label>
            </div>
        </div>
           
        <div class="alert alert-success" id="SucessExp" style="display: none; margin-top: 22px;">



            <strong>Success!</strong>
            <label id="lblSuccess"></label>

        </div>

        <div class="col-md-6">
            <div class="form-group">
                <div class="col-sm-8 text-left">
                    <h2>Your Order Summary</h2>
                </div>
                <div class="col-sm-8">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-8 text-left">
                    <h2>Description</h2>
                </div>
                <div class="col-sm-8">
                    @Html.Raw(Model.Description)
                </div>
            </div>
            @if (ViewBag.ReportId == "PaymentPlan")
            {
                <div class="form-group">
                    <div class="col-sm-8 text-left">
                        <h2>Previous purchases to be credited toward your 2-Month Plan</h2>
                    </div>
                    <div class="col-sm-8">
                        @if (ViewBag.PaidAmount != null)
                        {
                            <label>$ @ViewBag.PaidAmount.ToString("#.##")</label>
                        }
                        else
                        {
                            <label>$ 0.00</label>
                        }
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-8 text-left">
                        <h2>Balance Due</h2>
                    </div>
                    <div class="col-sm-8">
                        $ @Model.Amount
                        <input type="hidden" id="hdnAmount" value="@Model.Amount" />
                        <input type="hidden" id="hdnReportId" value="@ViewBag.ReportId" />
                    </div>
                </div>
            }
            else
            {
                <div class="form-group">
                    <div class="col-sm-8 text-left">
                        <h2>Amount</h2>
                    </div>
                    <div class="col-sm-8">
                        $ @Model.Amount
                        <input type="hidden" id="hdnAmount" value="@Model.Amount" />
                        <input type="hidden" id="hdnReportId" value="@ViewBag.ReportId" />
                    </div>
                </div>
            }
            @* <section class="payemt_left">
                <h3></h3>
                <section class="payment_description">
                    <h3></h3>
                    <p>

                    </p>
                </section>
                <section class="payment_amount">
                    <h3></h3>
                    <p></p>
                </section>
            </section>*@
        </div>

        <div class="col-md-6">
            <form class="form-horizontal" role="form">
                <h3>Pay with Debit or Credit Card</h3>
                <div class="form-group">
                    <div class="col-sm-4 text-left">
                        <label>Country</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" id="txtCountry" class="form-control" onfocus="if (this.value==this.defaultValue) this.value = ''"
                            onblur="if (this.value=='') this.value = this.defaultValue">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 text-left">
                        <label>Card Number</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" id="txtCardNumber" class="form-control" maxlength="16">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 text-left">
                        <label>Name on Card</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" id="txtNameOnCard" class="form-control" onfocus="if (this.value==this.defaultValue) this.value = ''"
                            onblur="if (this.value=='') this.value = this.defaultValue">
                    </div>
                </div>
                @* <div class="form-group">
                <div class="col-sm-4 text-left">
                    <label>Payment Types</label>
                </div>
                <div class="col-sm-8">
                    <input type="radio" name="PaymentType" onchange="CheckMaxLength()" value="Visa"><img src="@Url.Content("../Images/images/visa.png")" alt="Visa" title="Visa">
                    <input type="radio" name="PaymentType" onchange="CheckMaxLength()" value="MasterCard"><img src="@Url.Content("../Images/images/master.png")" alt="Master Card" title="Master Card">
                    <input type="radio" name="PaymentType" onchange="CheckMaxLength()" value="American Express"><img src="@Url.Content("../Images/images/american.png")" alt="American Express" title="American Express">
                </div>
            </div>*@

                <div class="form-group">
                    <div class="col-sm-4 text-left">
                        <label>Expiration Date</label>
                    </div>
                    <div class="col-sm-3">
                        <select id="ddlMonth" class="form-control">
                            <option value=""></option>
                            <option value="01">01</option>
                            <option value="02">02</option>
                            <option value="03">03</option>
                            <option value="04" selected="selected">04</option>
                            <option value="05">05</option>
                            <option value="06">06</option>
                            <option value="07">07</option>
                            <option value="08">08</option>
                            <option value="09">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <select id="ddlYear" class="form-control">
                            <option value=""></option>
                            <option value="2013">2013</option>
                            <option value="2014">2014</option>
                            <option value="2015" selected="selected">2015</option>
                            <option value="2016">2016</option>
                            <option value="2017">2017</option>
                            <option value="2018">2018</option>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 text-left">
                        <label>CVV</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="password" id="txtCVV" class="form-control" maxlength="3" onfocus="if (this.value==this.defaultValue) this.value = ''"
                            onblur="if (this.value=='') this.value = this.defaultValue">
                    </div>
                </div>
                 @if (ViewBag.ReportId == "PaymentPlan")
                 {
                     <div class="form-group" id="divTwoMonthMembership" >
                    <div class=" col-sm-12">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="chkTwoMonth">I agree to the spectormax <a href="#" data-toggle="modal" data-target="#modalMembershipAgreement" id="MembershipAgreement">Two Month  Membership Agreement.</a>
                            </label>
                        </div>
                    </div>
                </div>
                 }
                else
                {
                     <div class="form-group" id="divTwoMonthMembership" style="display:none">
                    <div class=" col-sm-12">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" checked="checked" id="chkTwoMonth">I agree to the spectormax <a href="#" data-toggle="modal" data-target="#modalMembershipAgreement" id="MembershipAgreement">Two Month  Membership Agreement.</a>
                            </label>
                        </div>
                    </div>
                </div>
                }
                @if (ViewBag.ErrorMsg != null && ViewBag.ErrorMsg != string.Empty)
                {

                }
                else
                {
                    <button type="button" id="btnPayment" class="nextto pull-right has-spinner">
                        <span class="spinner"><i class="icon-spin icon-spinner icon-large"></i></span>
                        Payment
                    </button>
                }
            </form>
        </div>



    </div>
    }

    else
    {
    <div class="container">
        <div class="modal-body row">
            <div class="bs-exampleExp" style="display: none">
                @*<div class="alert alert-danger alert-error">*@

                <strong>Error!</strong>
                <label id="lblErrorExp">There might be some problem. Please try after some time.</label>
            </div>
        </div>

        <div class="alert alert-success" id="SucessExp" style="display: none; margin-top: 22px;">



            <strong>Success!</strong>
            <label id="lblSuccess"></label>

        </div>

        <div class="col-md-6">
            <div class="form-group">
                <div class="col-sm-8 text-left">
                    <h2>Your Order Summary</h2>
                </div>
                <div class="col-sm-8">
                </div>
            </div>

            <div class="form-group">

                <div class="col-sm-8">
                    You have already paid @ViewBag.Amount. If you want to update your plan please click on the UPDATE PLAN button.
                </div>
            </div>

            <button type="button" id="btnUpdatePlan" class="nextto pull-right has-spinner">
                <span class="spinner"><i class="icon-spin icon-spinner icon-large"></i></span>
                Update Plan
            </button>

        </div>





    </div>
    }
}
else
{

    if (ViewBag.ErrorMsg != null && ViewBag.ErrorMsg != string.Empty)
    {<div class="container">
        <div class="modal-body row">
            <div class="bs-exampleExp1">
                <div class="alert alert-danger alert-error">

                    <strong>Error!</strong>
                    <label id="lblErrorMsg">You have already taken two month membership.</label>
                </div>
            </div>
        </div>
    </div>
    }
}<!-- Modal 3 -->
<div class="modal fade" id="modalMembershipAgreement" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close custmclose" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title text-center" id="myModalLabel">Two Month Membership Agreement.</h4>
      </div>
      <div class="modal-body">
           <p> When we purchase our single comprehensive Report Plan you get the following:</p>
            <p>1. Unlimited online access to your report for upto 60 days after purchase</p>
           <p> 2. Online access with upto three devices that are owned by you </p>
           <p> 3. Get 100% credit from this purchase plan when you upgrade to our 2-Month &nbsp; Unlimited membership Plan</p>
           <p> Suject to our Terms & Conditions of services.</p>
      </div>
      
    </div>
  </div>
</div>
<!-- Modal 3 -->