﻿@model SpectorMax.Entities.Classes.BuyReports

@{
    ViewBag.Title = "BuyComprehensive";
    Layout = "~/Views/Shared/_NLayout.cshtml";
}
<script src="~/Scripts/BuyUpdatableReport.js"></script>
<script>

    function CheckMaxLength() {
        var paymentType = $("input:radio[name='PaymentType']:checked").val();
        var cvvMaxlength = $("#txtCVV")
        if (paymentType == "American Express") {
            cvvMaxlength.attr('maxlength', '4');
        }
        else {
            cvvMaxlength.attr('maxlength', '3');
        }
    }

</script>

@if (Model != null)
{
    <div class="container">
        <div class="modal-body row">
            <div class="bs-exampleExp" style="display: none">
                <div class="alert alert-danger alert-error">

                    <strong>Error!</strong>
                    <label id="lblErrorExp">There might be some problem. Please try after some time.</label>
                </div>
            </div>

            <div class="alert alert-success" id="SucessExp" style="display: none; margin-top: 22px;">



                <strong>Success!</strong>
                <label id="lblSuccess"></label>

            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <div class="col-sm-8 text-left">
                        <h2>Your Order Summary</h2>
                    </div>
                    <div class="col-sm-8">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-8 text-left">
                        <h2>Description</h2>
                    </div>
                    <div class="col-sm-8">
                        @Html.Raw(Model.Description)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-8 text-left">
                        <h2>Amount</h2>
                    </div>
                    <div class="col-sm-8">
                        $ @Model.Amount
                        <input type="hidden" id="hdnAmount" value="@Model.Amount" />
                        <input type="hidden" id="hdnReportId" value="@ViewBag.ReportId" />
                    </div>
                </div>
                @* <section class="payemt_left">
                <h3></h3>
                <section class="payment_description">
                    <h3></h3>
                    <p>

                    </p>
                </section>
                <section class="payment_amount">
                    <h3></h3>
                    <p></p>
                </section>
            </section>*@
            </div>

            <div class="col-md-6">
                <form class="form-horizontal" role="form">
                    <h3>Pay with Debit or Credit Card</h3>
                        <div class="form-group">
                            <div class="col-sm-4 text-left">
                                <label>Verification No</label>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" id="txtVerification" class="form-control">
                            </div>
                        </div>
                    <div class="form-group">
                        <div class="col-sm-4 text-left">
                            <label>Country</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" id="txtCountry" class="form-control" onfocus="if (this.value==this.defaultValue) this.value = ''"
                                onblur="if (this.value=='') this.value = this.defaultValue">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 text-left">
                            <label>Card Number</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" id="txtCardNumber" class="form-control" maxlength="16">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 text-left">
                            <label>Name on Card</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" id="txtNameOnCard" class="form-control" onfocus="if (this.value==this.defaultValue) this.value = ''"
                                onblur="if (this.value=='') this.value = this.defaultValue">
                        </div>
                    </div>
                    @* <div class="form-group">
                <div class="col-sm-4 text-left">
                    <label>Payment Types</label>
                </div>
                <div class="col-sm-8">
                    <input type="radio" name="PaymentType" onchange="CheckMaxLength()" value="Visa"><img src="@Url.Content("../Images/images/visa.png")" alt="Visa" title="Visa">
                    <input type="radio" name="PaymentType" onchange="CheckMaxLength()" value="MasterCard"><img src="@Url.Content("../Images/images/master.png")" alt="Master Card" title="Master Card">
                    <input type="radio" name="PaymentType" onchange="CheckMaxLength()" value="American Express"><img src="@Url.Content("../Images/images/american.png")" alt="American Express" title="American Express">
                </div>
            </div>*@

                    <div class="form-group">
                        <div class="col-sm-4 text-left">
                            <label>Expiry Date</label>
                        </div>
                        <div class="col-sm-3">
                            <select id="ddlMonth" class="form-control">
                                <option value=""></option>
                                <option value="01">01</option>
                                <option value="02">02</option>
                                <option value="03">03</option>
                                <option value="04" selected="selected">04</option>
                                <option value="05">05</option>
                                <option value="06">06</option>
                                <option value="07">07</option>
                                <option value="08">08</option>
                                <option value="09">09</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <select id="ddlYear" class="form-control">
                                <option value=""></option>
                                <option value="2013">2013</option>
                                <option value="2014">2014</option>
                                <option value="2015" selected="selected">2015</option>
                                <option value="2016">2016</option>
                                <option value="2017">2017</option>
                                <option value="2018">2018</option>
                                <option value="2019">2019</option>
                                <option value="2020">2020</option>
                                <option value="2021">2021</option>
                                <option value="2022">2022</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 text-left">
                            <label>CVV</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="password" id="txtCVV" class="form-control" maxlength="3" onfocus="if (this.value==this.defaultValue) this.value = ''"
                                onblur="if (this.value=='') this.value = this.defaultValue">
                        </div>
                    </div>
                    @if (ViewBag.ErrorMsg != null && ViewBag.ErrorMsg != string.Empty)
                    {

                    }
                    else
                    {
                        <button type="button" id="btnPayment" class="nextto pull-right has-spinner">
                            <span class="spinner"><i class="icon-spin icon-spinner icon-large"></i></span>
                            Payment
                        </button>
                    }
                </form>
            </div>



        </div>
    </div>
}
else
{

    if (ViewBag.ErrorMsg != null && ViewBag.ErrorMsg != string.Empty)
    {<div class="container">
        <div class="modal-body row">
            <div class="bs-exampleExp1">
                <div class="alert alert-danger alert-error">

                    <strong>Error!</strong>
                    <label id="lblErrorMsg">You have already taken two month membership.</label>
                </div>
            </div>
        </div>
    </div>
    }
}
