@model SpectorMaxDAL.Payment

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Payment</legend>

    <div class="display-label">ReportID</div>
    <div class="display-field">@Model.ReportID</div>

    <div class="display-label">UserID</div>
    <div class="display-field">@Model.UserID</div>

    <div class="display-label">PaymentStatus</div>
    <div class="display-field">@Model.PaymentStatus</div>

    <div class="display-label">PaymentDate</div>
    <div class="display-field">@String.Format("{0:g}", Model.PaymentDate)</div>

    <div class="display-label">PaymentAmount</div>
    <div class="display-field">@Model.PaymentAmount</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


