﻿@{
    if (Sessions.LoggedInUser != null)
    {
        Layout = "~/Views/Shared/_NLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/HomeLayout.cshtml";
    }
    Page.Title = "::Spectormax : Payment::";    
}

@using SpectorMax.Entities.Classes
<title>::Spectormax :Payment::</title>
<script src="@Url.Content("~/Scripts/jquery.blockUI.js")"></script>
<link href="@Url.Content("~/Content/css/style.css")" type="text/css" rel="stylesheet" />
<!--[if lt IE 9]>
<script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<script type="text/javascript">
    $(document).ready(function () {

        var sessionData =  @Html.Raw(Json.Encode(Sessions.LoggedInUser));

        if(sessionData != null)
        { 
            if(sessionData.RoleName == "Home Buyer")
            {
                $("#anchorLogoImage").attr("href", $URL._BuyerDashBoard);
            }
        }

        $("#btnPayment").click(function () {
            var errors = "";
            if ($("#txtCardNumber").val() != "") {
                if (isNaN($("#txtCardNumber").val())) {
                    errors += "Card Number must be numeric.<br/>";
                    $("#divMessage").html(errors);
                    return false;
                }
                else if( $("#txtCardNumber").val().length<16)
                {
                    errors += "Card Number must be 16 digit number.<br/>";
                    $("#divMessage").html(errors);
                    return false;
                
                }
            }
            else {
                errors += "Card Number must not be empty.<br/>";
                $("#divMessage").html(errors);
                return false;
            }
            var year=$("#ddlYear").val()
            var minYear=parseInt(new Date().getFullYear(),10)
            var month=parseInt($("#ddlMonth").val(),10)
            var minMonth=new Date().getMonth()+1
            if(!(year > minYear || (year == minYear && month >= minMonth)))
            {
                errors += "Your Credit Card Expiration date is invalid.<br/>";
                $("#divMessage").html(errors);
                return false;
            }


            

            if ($("#txtCVV").val() == "") {
                errors += "CVV is required.<br/>";
                $("#divMessage").html(errors);
                return false;
            }
            if (!$(':radio[name=PaymentType]').is(':checked')) {
                errors += "Card type must be checked.<br/>";
                $("#divMessage").html(errors);
                return false;
            }
            else
            {
                var paymentType=$("input:radio[name='PaymentType']:checked").val();
                var cardNumber=$("#txtCardNumber").val()
                var cvvMaxlength=$("#txtCVV")
                if(paymentType=="Visa")
                {
                    if(cardNumber.charAt(0)!=4)
                    {
                        
                        errors += "Card number must be start from 4.<br/>";
                        $("#divMessage").html(errors);
                        return false;
                    }
                    else if(cvvMaxlength.val().length>3)
                    {
                        
                        errors += "Cvv number should be of 3 digit.<br/>";
                        $("#divMessage").html(errors);
                        return false
                    }
                }
                else if (paymentType=="American Express")
                {
                    if(cvvMaxlength.val().length<4)
                    {
                        
                        errors += "Cvv number should be of 4 digit.<br/>";
                        $("#divMessage").html(errors);
                        return false
                    }
                }
            }
            $.blockUI({
                css: {
                    border: 'none',
                    padding: '15px',
                    backgroundColor: '#000',
                    '-webkit-border-radius': '10px',
                    '-moz-border-radius': '10px',
                    opacity: .5,
                    color: '#fff'
                }
            });
            $.ajax({
                type: "POST",
                url: $URL._PaymentPost,
                data: { cardNumber: $("#txtCardNumber").val(), expiryMonth: $('#ddlMonth').val(), expiryYear: $("#ddlYear").val(), securityCode: $("#txtCVV").val(), userId: "@ViewBag.UserId", userRoleId: "@ViewBag.UserRoleId", amount: "@ViewBag.Amount", paymentType: "@ViewBag.PaymentType", inspectionOrderId: "@ViewBag.InspectionOrderId",Validity:"@ViewBag.Validity" },
                //data: { cardNumber: $("#txtCardNumber").val(), expiryMonth: $('#ddlMonth').val(), expiryYear: $("#ddlYear").val(), securityCode: $("#txtCVV").val(), userId: "@ViewBag.UserId", userRoleId: "@ViewBag.UserRoleId", amount: "@ViewBag.Amount" },
                dataType: "Json",
                success: function (result) {
                    $("#divMessage").html('');
                    if (result.Message == "Success") {
                        setTimeout($.unblockUI, 1000);
                        $("#txtCountry").val('');
                        $("#txtCardNumber").val('');
                        $("#txtNameOnCard").val('');
                        $("#txtCVV").val('');
                        $("#divMessage").html("Payment done successfully");
                        var pytmType = GetQueryStringParams('paymentType');
                        
                        var inspectionOrderId = GetQueryStringParams('inspectionOrderId');
                        if(inspectionOrderId == "")
                            $(location).attr("href", $URL._InnerThankYou + "?PlanType=$"+"@ViewBag.Amount");
                        else if(pytmType == "OneTimePaymentPlan" || pytmType == "PaymentPlan" )
                            $(location).attr("href", $URL._ViewDetailReport + "?inspectionOrderId=" + "@ViewBag.InspectionOrderId"+"&PaymentType="+pytmType );
                        else
                            $(location).attr("href", $URL._ThankYou + "?PlanType=$"+"@ViewBag.Amount");
                    }
                    else {
                        setTimeout($.unblockUI, 1000);                       
                        $("#divMessage").html(result.Message);
                    }
                },
                error: function () {
                    setTimeout($.unblockUI, 1000);
                },
            });
        });
    });

    function GetQueryStringParams(sParam)
    {
        var sPageURL = window.location.search.substring(1);
        var sURLVariables = sPageURL.split('&');
        for (var i = 0; i < sURLVariables.length; i++)
        {
            var sParameterName = sURLVariables[i].split('=');
            if (sParameterName[0] == sParam)
            {
                return sParameterName[1];
            }
        }
    }

    

    function CheckMaxLength()
    {
        var paymentType=$("input:radio[name='PaymentType']:checked").val();
        var cvvMaxlength=$("#txtCVV")
        if(paymentType=="American Express")
        {
            cvvMaxlength.attr('maxlength','4');   
        }
        else
        {
            cvvMaxlength.attr('maxlength','3');
        }
    }
</script>
<section class="top_headerbar"></section>
<!--====================wrapper starts==============-->
<section id="wrapper">
    <!--================container start===============-->
    <section id="container">
        <section class="payment">
            <h2>Payment</h2>
            <section class="payemt_left">
                <h1>Your Order Summary</h1>
                <section class="payment_description">
                    <h3>Description</h3>
                    <p>@Html.Raw(ViewBag.AmountDescription)
                        @*Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, 
                        vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et 
                        luptatum zzril delenit augue duis dolore te feugait nulla facilisi*@
                    </p>
                </section>
                <section class="payment_amount">
                    <h3>Amount</h3>
                    <p>$ @ViewBag.Amount</p>
                </section>
            </section>

            <section class="payemt_right">
                <h1>Pay with Debit or Credit Card</h1>
                <ul>
                    <li>
                        <label>Country</label>
                        <section class="form">
                            <input type="text" id="txtCountry" class="simple_input big_text_box" onfocus="if (this.value==this.defaultValue) this.value = ''"
                                onblur="if (this.value=='') this.value = this.defaultValue">
                            @*<select name="" class="simple_input big_text_box">
                            	<option>United Sates</option>
                            </select>*@
                            @*  @Html.ValidationMessageFor(m => m.Password)*@

                        </section>
                    </li>

                    <li>
                        <label>Card Number</label>
                        <section class="form">
                            <input type="text" id="txtCardNumber" class="simple_input big_text_box" maxlength="16" onfocus="if (this.value==this.defaultValue) this.value = ''"
                                onblur="if (this.value=='') this.value = this.defaultValue">
                        </section>
                    </li>

                    <li>
                        <label>Name on Card</label>
                        <section class="form">
                            <input type="text" id="txtNameOnCard" class="simple_input big_text_box" onfocus="if (this.value==this.defaultValue) this.value = ''"
                                onblur="if (this.value=='') this.value = this.defaultValue">
                        </section>
                    </li>

                    <li>
                        <label>Payment Types</label>
                        <section class="form">
                            <input type="radio" name="PaymentType" onchange="CheckMaxLength()" value="Visa"><img src="@Url.Content("../Images/images/visa.png")" alt="Visa" title="Visa">
                            <input type="radio" name="PaymentType" onchange="CheckMaxLength()" value="MasterCard"><img src="@Url.Content("../Images/images/master.png")" alt="Master Card" title="Master Card">
                            <input type="radio" name="PaymentType" onchange="CheckMaxLength()" value="American Express"><img src="@Url.Content("../Images/images/american.png")" alt="American Express" title="American Express">
                            @*<input type="radio" name="PaymentType" value="Discover">Discover*@
                            @*<a href="#"><img src="/Images/images/visa.png" alt="Visa" title="Visa"></a>
                                <a href="#"><img src="/Images/images/master.png" alt="Master Card" title="Master Card"></a>
                                <a href="#"><img src="/Images/images/american.png" alt="American Express" title="American Express"></a>*@
                        </section>
                    </li>

                    <li>
                        <label>Expiry Date</label>
                        <section class="form">
                            @*                                <input type="text" class="simple_input" onfocus="if (this.value==this.defaultValue) this.value = ''"
                                    onblur="if (this.value=='') this.value = this.defaultValue">*@
                            <select id="ddlMonth" class="simple_input">
                                <option value=""></option>
                                <option value="01">01</option>
                                <option value="02">02</option>
                                <option value="03">03</option>
                                <option value="04" selected="selected">04</option>
                                <option value="05">05</option>
                                <option value="06">06</option>
                                <option value="07">07</option>
                                <option value="08">08</option>
                                <option value="09">09</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                            </select>
                            <select id="ddlYear" class="simple_input">
                                <option value=""></option>
                                <option value="2013">2013</option>
                                <option value="2014">2014</option>
                                <option value="2015" selected="selected">2015</option>
                                <option value="2016">2016</option>
                                <option value="2017">2017</option>
                                <option value="2018">2018</option>
                                <option value="2019">2019</option>
                                <option value="2020">2020</option>
                                <option value="2021">2021</option>
                                <option value="2022">2022</option>
                            </select>
                        </section>
                    </li>

                    <li>
                        <label>CVV</label>
                        <section class="form">
                            <input type="password" id="txtCVV" class="simple_input" maxlength="3" onfocus="if (this.value==this.defaultValue) this.value = ''"
                                onblur="if (this.value=='') this.value = this.defaultValue">
                        </section>
                    </li>

                    <li>
                        <label>&nbsp;</label>
                        <section class="form">
                            <input type="button" id="btnPayment" value="Submit" class="btn">
                        </section>
                    </li>
                    <li>
                        <label>&nbsp;</label>
                        <section class="form">
                            <div style="color: red" id="divMessage">&nbsp;</div>
                        </section>
                    </li>
                </ul>
            </section>
            <section class="clr"></section>
        </section>
        <section class="clr"></section>
    </section>
    <!--===============container ends================-->
</section>
<!--====================wrapper ends=============-->

