﻿@{
    ViewBag.Title = "ThankYou";
    Layout = @Url.Content("~/Views/Shared/HomeLayout.cshtml");
}
<script type="text/javascript">
    $(document).ready(function () {
        
        $('#MovetoHomepage').click(function (event) {
            $("#username_id").focus();
        });

        var FName = GetQueryStringParams("FName");
        var LName = GetQueryStringParams("LName");

        $("#lblfname").html(FName.replace("%20", " "));
        $("#lbllname").html(LName.replace("%20", " "));
    });
    function GetQueryStringParams(sParam) {
        var sPageURL = window.location.search.substring(1);
        var sURLVariables = sPageURL.split('&');
        for (var i = 0; i < sURLVariables.length; i++) {
            var sParameterName = sURLVariables[i].split('=');
            if (sParameterName[0] == sParam) {
                return sParameterName[1];
            }
        }
    }

</script>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p class="welcome">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
                <h1 style="color: #C60C46;font-size: 220%;line-height: 0.8;margin: 0 0 20px;">Thank you for Your Registration</h1>
                <br />
                <p>Dear <label id="lblfname" style="font-weight:bold"></label>&nbsp;<label id="lbllname" style="font-weight:bold"></label>,</p>
                <br />
                <p><b>Thank you for registering with SpectorMax.</b></p><br />
                <p>An introduction mail has been sent to your registered email Id. Please check your inbox for more information</p>
                <br />
        </div>
    </div>
</div>
<section id="wrapper">
    <br />
    <br />
</section>
