@model SpectorMaxDAL.InspectionOrder

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.InspectionId)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.InspectionId)
    @Html.ValidationMessageFor(model => model.InspectionId)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.RequesterID)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.RequesterID)
    @Html.ValidationMessageFor(model => model.RequesterID)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.InspectorID)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.InspectorID)
    @Html.ValidationMessageFor(model => model.InspectorID)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.InspectionStatus)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.InspectionStatus)
    @Html.ValidationMessageFor(model => model.InspectionStatus)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.ScheduleDate)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.ScheduleDate)
    @Html.ValidationMessageFor(model => model.ScheduleDate)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Comment)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Comment)
    @Html.ValidationMessageFor(model => model.Comment)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.AssignedByAdmin)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.AssignedByAdmin)
    @Html.ValidationMessageFor(model => model.AssignedByAdmin)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.CreatedDate)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.CreatedDate)
    @Html.ValidationMessageFor(model => model.CreatedDate)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.ModifiedDate)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.ModifiedDate)
    @Html.ValidationMessageFor(model => model.ModifiedDate)
</div>

