@model SpectorMaxDAL.InspectionOrder

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>InspectionOrder</legend>

    <div class="display-label">InspectionId</div>
    <div class="display-field">@Model.InspectionId</div>

    <div class="display-label">RequesterID</div>
    <div class="display-field">@Model.RequesterID</div>

    <div class="display-label">InspectorID</div>
    <div class="display-field">@Model.InspectorID</div>

    <div class="display-label">InspectionStatus</div>
    <div class="display-field">@Model.InspectionStatus</div>

    <div class="display-label">ScheduleDate</div>
    <div class="display-field">@String.Format("{0:g}", Model.ScheduleDate)</div>

    <div class="display-label">Comment</div>
    <div class="display-field">@Model.Comment</div>

    <div class="display-label">AssignedByAdmin</div>
    <div class="display-field">@Model.AssignedByAdmin</div>

    <div class="display-label">CreatedDate</div>
    <div class="display-field">@String.Format("{0:g}", Model.CreatedDate)</div>

    <div class="display-label">ModifiedDate</div>
    <div class="display-field">@String.Format("{0:g}", Model.ModifiedDate)</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.InspectionOrderID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


