﻿@model List<SpectorMax.Entities.Classes.ApplicationLinks>
@{
    ViewBag.Title = "ManageTemplates";
                        //Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<link rel="stylesheet" href="~/Content/TablesCss/demo_page.css">
<link rel="stylesheet" href="~/Content/TablesCss/header.ccss.css">
<link rel="stylesheet" href="~/Content/TablesCss/demo_table.css">
<script type="text/javascript" src="~/Scripts/jquery.dataTables.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnSave").click(function () {
            $('#popupalert').modal({ backdrop: 'static', keyboard: true })
            $("#popupalert").modal("show");
        });

        $("#btnaddlink").click(function () {
            
            $("#AlertMessage").html("");

            if ($("#textlinkName").val().trim() == "" && $("#textlinkaddress").val().trim() == "") {
                $("#AlertMessage").html("Link name and Link address cannot be blank !")
            }
            else if ($("#textlinkName").val().trim() == "") {
                $("#AlertMessage").html("Link name cannot be blank !")
            }
            else if ($("#textlinkaddress").val().trim() == "") {
                $("#AlertMessage").html("Link Address cannot be blank !")
            }
            else {
                $("#loadingModel").css("zIndex", 10005)
                showLoader();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("AddApplicationLinks", "Admin")',
                    dataType: "json",
                    data: { PgName: $("#pgnm").val(), LName: $("#textlinkName").val(), LAddress: $("#textlinkaddress").val(),ClNum:$("#Cmn").val()},
                    success: function (result) {
                        $("#AlertMessage").css("color", 'green');
                        $("#AlertMessage").html(result.Result);
                        hideLoader();
                    },
                    error: function (e) {
                        $("#AlertMessage").html(result.Result);
                        hideLoader();
                    },
                });
            }
        });

        $(".Edits").click(function () {
            $(this).css("display", "none");
            $(this).parent('td').find('.Deletes').css("display", "none");
            $(this).parent('td').find('.Cancels').css("display", "inline-table");
            $(this).parent('td').find('.Updates').css("display", "inline-table");

            $(this).parents("tr").eq(0).find(".Comment").show();
            $(this).parents("tr").eq(0).find(".ComentHref").hide();
        });
        $(".Cancels").click(function () {
            $(this).css("display", "none");
            $(this).parent('td').find('.Updates').css("display", "none");
            $(this).parent('td').find('.Deletes').css("display", "inline-table");
            $(this).parent('td').find('.Edits').css("display", "inline-table");

            
            $(this).parents("tr").eq(0).find(".Comment").hide();
            $(this).parents("tr").eq(0).find(".ComentHref").show();
        });

        $(".close").click(function () {
            bindlinks($("#pgnm").val());
        });

    });
</script>
<div class="col-md-12 text-right">
    <input type="button" class="blu-btn" value="Add" id="btnSave"/>
</div>
<table id="CommentTable" class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th width="35%">Link Display Name</th>
            <th width="15%">Link Type</th>
            <th width="30%">Link Address</th>
            <th width="20%">Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count > 0)
        {
            foreach (var items in Model)
            {
            <tr>
                <td>
                    <label style="display: none">@items.ID</label>
                    <label class="ComentHref">@items.LinkName</label>
                    <textarea class="Comment" style="font-family: arial; width: 230px; height: 63px; display: none;">@items.LinkName</textarea>
                </td>
                <td>
                    @if (items.Type == 1)
                    {
                        <label class="type" style="">Internal</label>
                    }
                    else
                    {
                        <label class="type" style="">External</label>
                    }
                    @*<textarea class="Comment" style="font-family: arial; display: none;">@items.LinkAddress</textarea>*@
                </td>
                <td>
                    @if (items.Type == 2)
                    {
                        <a class="ComentHref" target="_blank" href="@items.LinkAddress">@items.LinkAddress</a>
                        <textarea class="Comment" style="font-family: arial; width: 330px; height: 62px;display: none;">@items.LinkAddress</textarea>
                    }
                    else
                    {
                        <label class="ComentHref" style="">@items.LinkAddress</label>
                    }
                </td>
                <td>
                    @if (items.Type == 2)
                    {
                        <button id="btnEdit" class="Edits btn btn-primary btn-xs" data-ItemId="@items.ID">Edit</button>
                        <button id="btnUpdate" class="Updates btn btn-primary btn-xs" onclick="UpdateDelete(this,'update','@items.ID')" style="display:none;">Update</button>
                        <button id="btnCancel" class="Cancels btn btn-primary btn-xs" onclick="Cancel(@items.ID)" style="display:none;">Cancel</button>
                        <button id="btnDelete" class="Deletes btn btn-primary btn-xs" onclick="UpdateDelete(this,'delete','@items.ID')">Delete</button>
                    }
                </td>
            </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4" style="text-align: center; color: red;" class="bod_rgt">No record found</td>
            </tr>
        }
    </tbody>
</table>

<!-- Add Links -->
<div aria-hidden="true" style="background-color: white; left: 30%; top: 20%; width: 700px; height: 400px" data-backdrop="static" data-keyboard="false" role="dialog" tabindex="-1" class="modal fade in" id="popupalert">
    <div class="modal-header">
        <a data-dismiss="modal" class="close" href="#">×</a>
        <h3 id="HAlertmessage"></h3>
    </div>
    <div class="modal-body">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-md-4">
                            <b>Link Name</b>
                        </div>
                        <div class="col-md-8">
                            <textarea id="textlinkName" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-md-4">
                            <b>Link Address</b>
                        </div>
                        <div class="col-md-8">
                            <textarea id="textlinkaddress" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-md-4">
                            <b>Display in column</b>
                        </div>
                        <div class="col-md-8">
                            <select id="Cmn">
                                <option value="2">Right</option>
                                <option value="1">Left</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div style="padding-top: 20px"></div>
            <div class="col-md-12 text-right">
                <input type="button" class="nextto pull-right" value="submit" id="btnaddlink" />
            </div>
            <div id="AlertMessage" style="color: red; padding-top: 20px" class="col-md-12 text-center">
            </div>
        </div>
    </div>
</div>
<!-- Add Links -->
