﻿@model SpectorMax.Entities.Classes.ViewPreviousInspection


<link href="@Url.Content("~/Content/TablesCss/demo_page.css")" rel="stylesheet">
<link href="@Url.Content("~/Content/TablesCss/header.ccss.css")" rel="stylesheet">
<link href="@Url.Content("~/Content/TablesCss/demo_table.css")" rel="stylesheet">
<script src="@Url.Content("~/Scripts/jquery.dataTables.js")" type="text/javascript"></script>


        <h2 style="width:236px">All Inspection Reports</h2>
        <section class="tbl_content">
            <form id="InspectionList">
                  <table width="60%" style="margin-bottom:10px;float:left" cellspacing="0">
                    <tr>
                        <td>
                            <label>From:</label></td>
                        <td>
                            @Html.TextBoxFor(model => model.fromandtodate.fromdate, new { @id = "txtFromDate", @class = "datepicker", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.fromandtodate.fromdate)
                        </td>
                        <td></td>
                        <td>
                            <label>To:</label></td>
                        <td>
                        @Html.TextBoxFor(model => model.fromandtodate.todate, new { @id = "txtTodate", @class = "datepicker", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.fromandtodate.todate)
                        <td>
                            <input type="button" class="btn" id="btnSearchInspectoionReport" value="Search" /></td>
                    </tr>
                </table>
            </form>

            <table style="width: 100%; float: left" cellpadding="0" cellspacing="0" border="0" class="table" id="tblinspectionReports">
                <thead>
                    <tr>
                        <th width="20%" class="tbl_head bod_rgt">Home Owner Name</th>
                         <th width="20%" class="tbl_head bod_rgt">Address</th>
                        <th width="15%" class="tbl_head bod_rgt">Email-Id</th>
                        <th width="10%" class="tbl_head bod_rgt">Phone No</th>
                        <th width="15%" class="tbl_head bod_rgt">Request Date</th>
                        <th width="10%" class="tbl_head bod_rgt">Status</th>
                        <th width="15%" class="tbl_head bod_rgt">Action</th>
                        <th width="10%" style="display:none" class="tbl_head bod_rgt">Inspector</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.InspectionList)
                    {
                        <tr>
                            <td class="bod_rgt">@item.OwnerFirstName @item.OwnerLastName </td>
                            <td class="bod_rgt">@item.PropertyAddress @item.PropertyAddressCity @item.PropertyAddressState</td>
                            <td class="bod_rgt">
                                @item.Email
                            </td>
                            <td class="bod_rgt">@item.RequestedbyPhoneDay</td>
                            <td class="bod_rgt">@item.RequestDate.Value.ToShortDateString()</td>
                            <td class="bod_rgt " >@item.ReportStatus</td>
                              <td  class="bod_rgt red" data-inspectonid="@item.InspectionOrderId">
                                   @if(item.ReportStatus=="Completed")
                                  {
                                  <a id="ViewReport"  data-inspectonid="@item.InspectionOrderId"  href="javascript://void(0);">View Report</a> 
                                  }
                                  else
                                  {
                                         <input type="hidden" value="@item.Role" />
                                    <a id="ViewReport"  data-inspectonid="@item.InspectionOrderId"  href="javascript://void(0);">View Request</a> 
                                  }
                                  
                              </td>
                            <td class="bod_rgt" style="display:none">@item.InspectorName</td>
                        </tr>
                    }
                <tbody>
            </table>
            <input type="hidden" value="" id="hdnInspectorId" />
        </section>
        <section class="clr"></section>

    <!-- Loader-->
    <div id="loadingModel" class="displayNone overlayPage">
        <div class="loaderPage">
            <div>
                <img src='@Url.Content("~/Content/Images/loading_big.gif")' />
            </div>
            <div>
                Loading..
            </div>
        </div>
    </div>
    <!-- /Loader -->
<script>
    $(document).ready(function () {
        $("#tblinspectionReports").dataTable();
        $('.datepicker').datepicker({
            //format: 'mm-dd-yyyy'
            format: 'yyyy-mm-dd'
        });

        $("#btnSearchInspectoionReport").click(function () {
            if ($("#txtFromDate").val() != "" && $("#txtTodate").val() != "") {
                var fromdate = $("#txtFromDate").val().replace(/\-/g, '');
                var todate = $("#txtTodate").val().replace(/\-/g, '');
                if (todate < fromdate) {
                    ShowAlertMessage("title", "ToDate must be greater than or equal to FromDate");
                    return false;
                }
            }
            showLoader();
            $.ajax({
                type: "Post",
                url: $URL._FilterInspectionReport,
                data: {
                    startDate: $("#txtFromDate").val(),
                    endDate: $("#txtTodate").val(),
                    ExportToExcel: false

                },
                dataType: "Json",
                success: function (result) {
                    hideLoader();
                    $(".payment").html(result.Result);

                },
                error: function (xhr) {
                    hideLoader();
                    alert('Request Status: ' + xhr.status + ' Status Text: ' + xhr.statusText + ' ' + xhr.responseText);
                }
            });
        });
    });
    </script>