﻿@model SpectorMax.Entities.Classes.InspectorReport

@using SpectorMax.Entities.Classes
<link href="@Url.Content("~/Content/TablesCss/demo_page.css")" rel="stylesheet">
<link href="@Url.Content("~/Content/TablesCss/header.ccss.css")" rel="stylesheet">
<link href="@Url.Content("~/Content/TablesCss/demo_table.css")" rel="stylesheet">
<link href="@Url.Content("~/Content/TablesCss/TableTools.css")" rel="stylesheet">
<script src="@Url.Content("~/Scripts/jquery.dataTables.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/ZeroClipboard.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/TableTools.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        //$("#anchorLogoImage").attr("href", $URL._InspectorDashBoard);

        $('#tbliUserPaymentReport').dataTable({
            "sDom": 'T<"clear">lfrtip',
            "oTableTools": {
                "sSwfPath": "../../Content/media/swf/copy_csv_xls_pdf.swf",
                "aButtons": [
                    "copy",
                    {
                        "sExtends": "collection",
                        "sButtonText": "Save",
                        "aButtons": ["csv", "xls", "pdf"]
                    }
                ]
            }
        });
     
    });
</script>

    <table  class="table table-striped table-bordered table-hover"  id="tbliUserPaymentReport">
                
                <thead>
                    <tr>
                        <th width="20%" ">Name</th>
                        <th width="15%" ">Report No #</th>
                        <th width="10%" ">ZipCode</th>
                        <th width="15%" ">Inspector Name</th>
                        <th width="15%" ">Date Of Payment</th>
                        <th width="10%" ">Payment</th>
                        <th width="20%" ">% Inspector</th>
                    </tr>
                </thead>
                <tbody>
                 
                    @foreach (var item in Model.ReportData)
                    {
                        <tr>
                            <td >@item.OwnerFirstName @item.OwnerLastName</td>
                            <td >1</td>
                            <td >@item.Zip</td>
                            <td >@item.InspectorName</td>
                            <td >@item.date.Value.ToShortDateString()</td>
                            <td >@item.AmountReceived</td>
                            <td >@item.InspectorPercentage</td>
                        </tr>
                    }
                </tbody>
            </table>