﻿@model SpectorMax.Entities.Classes.InspectorReport 
<link href="@Url.Content("~/Content/TablesCss/demo_page.css")" rel="stylesheet">
<link href="@Url.Content("~/Content/TablesCss/header.ccss.css")" rel="stylesheet">
<link href="@Url.Content("~/Content/TablesCss/demo_table.css")" rel="stylesheet">
<link href="@Url.Content("~/Content/TablesCss/TableTools.css")" rel="stylesheet">
<script src="@Url.Content("~/Scripts/jquery.dataTables.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/ZeroClipboard.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/TableTools.js")" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {
        //$("#anchorLogoImage").attr("href", $URL._InspectorDashBoard);

        $('#tblinspectionDetail').dataTable({
            "sDom": 'T<"clear">lfrtip',
            "oTableTools": {
                "aButtons": [
                    "copy",
                    {
                        "sExtends": "collection",
                        "sButtonText": "Save",
                        "aButtons": ["csv", "xls", "pdf"]
                    }
                ]
            }
        });
        $('.datepicker').datepicker();
    });
    function PendingInspectionReport() {
        if ($("#txtFromDate").val() != "" && $("#txtTodate").val() != "") {
            var fromdate = $("#txtFromDate").val().replace(/\-/g, '');
            var todate = $("#txtTodate").val().replace(/\-/g, '');
            if (todate < fromdate) {
                ShowAlertMessage("title", "ToDate must be greater than or equal to FromDate");
                return false;
            }
        }
        
        $.ajax({
            type: "Post",
            url: $URL._PendingInspectionReport,
            data: {
                startDate: $("#txtFromDate").val(),
                endDate: $("#txtTodate").val()
            },
            dataType: "Json",
            success: function (result) {
                $("#Admin").html(result.Result);
            }
        });
    }
    $(".red").live('click', function () {

        var hdnrole = $(this).find(":hidden")
        $(location).attr('href', $URL._InsectionOrderDetailsCreate + "?inspectionOrderId=" + $(this).attr('data-orderid') + "&ReportType=InspectionRequest&role=" + hdnrole.val());

    });
    $("#InspectorList").change(function () {
        var end = this.value;
        if (end == "--All--") {
            $("#tblinspectionDetail_filter").find("input[type='text']").val("");
            $("#tblinspectionDetail_filter").find("input[type='text']").keyup();
        }
        else {
            $("#tblinspectionDetail_filter").find("input[type='text']").val(end);
            $("#tblinspectionDetail_filter").find("input[type='text']").keyup();
        }
    });
    $("#btnQRCode").click(function () {

        var inspectorName = $('#InspectorList :selected').text();

        var ErrorMessage = "<label style=color:red>No Data Available For Selected Inspector In The Table</label>"
        var oTable = $('#tblinspectionDetail').dataTable();
        var data = oTable.fnGetData();
        var flag = false;
        var count = 0;
        var Createdhtml = "<table>";
        if (inspectorName == "--All--") {
            for (var i = 0; i < data.length; i++) {
                if (data[i] != undefined) {


                    if (count == 0 || count == 3) {
                        Createdhtml = Createdhtml + "<tr>";
                    }
                    // var ImageString = 'http://chart.apis.google.com/chart?cht=qr&chs=100x100&chl=http://50.23.221.50/spectromax/Report/FreeBasicReport?UniqueId=' + data[i][1];
                    var ImageString = 'http://chart.apis.google.com/chart?cht=qr&chs=100x100&chl=http://spectormax.com/Report/FreeBasicReport?UniqueId=' + data[i][1];
                    Createdhtml = Createdhtml + "<td>" + "<label><img src='" + ImageString + "' /><label>" + "</td>";
                    Createdhtml = Createdhtml + "<td>" + "<label>Report ID :" + data[i][1] + "</label>" + "</td>";
                    flag = true;
                    count++;
                    if (count == 3) {
                        Createdhtml = Createdhtml + "</tr>";
                        count = 0;
                    }
                }
            }
        }
        else {
         
            for (var i = 0; i < data.length; i++) {
             
                if (data[i] != undefined) {
                 
                    if (inspectorName == data[i][3]) {
                        if (count == 0 || count == 3) {
                            Createdhtml = Createdhtml + "<tr>";
                        }
                        // var ImageString = 'http://chart.apis.google.com/chart?cht=qr&chs=100x100&chl=http://50.23.221.50/spectromax/Report/FreeBasicReport?UniqueId=' + data[i][1];
                        var ImageString = 'http://chart.apis.google.com/chart?cht=qr&chs=100x100&chl=http://spectormax.com/Report/FreeBasicReport?UniqueId=' + data[i][1];
                        Createdhtml = Createdhtml + "<td>" + "<label><img src='" + ImageString + "' /><label>" + "</td>";
                        Createdhtml = Createdhtml + "<td>" + "<label>Report ID :" + data[i][1] + "</label>" + "</td>";
                        count++;
                        flag = true;
                        if (count == 3) {
                            Createdhtml = Createdhtml + "</tr>";
                            count = 0;
                        }
                    }
                }
            }
        }
        Createdhtml = Createdhtml + "</table>";

        $("#QRCode .divDialogElements").html("");
      
        if (flag == true)
        {
            $("#QRCode .divDialogElements").html(Createdhtml);
        }
        else
        {
            $("#QRCode .divDialogElements").html(ErrorMessage);
        }
        $("#QRCode").modal().width(800);
        $('#QRCode').modal({ backdrop: 'static', keyboard: true })
        $("#QRCode").modal("show");
    });

    $("#btnprint").click(function () {
        $('#QRCode .divDialogElements').printElement();
    });
    //function ViewRequest(role) {
    //    alert(role)
    //    var hdnrole = $(this).closest('.role')
    //    alert(hdnrole.val())
    //    $(location).attr("href", $URL._InsectionOrderDetailsCreate + "?inspectionOrderId=" + $(e).attr('Orderid') + "&ReportType=InspectionRequest&role=" + hdnrole.val());
    //}

</script>
@using SpectorMax.Entities.Classes
@if(Sessions.LoggedInUser.AdminPermission.Cangetnoticeifinspectorhasnotresponded==true)
{
<section class="payment">
        <h2 style="width: 270px;">Pending Report</h2>
        <section class="tbl_content">
            <form id="InspectionList">
                <table width="77%" style="margin-bottom:10px;float:left" cellspacing="0">
                    <tr>
                        <td>
                            <label>From:</label></td>
                        <td>
                            @Html.TextBoxFor(model => model.fromandtodate.fromdate, new { @id = "txtFromDate", @class = "datepicker", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.fromandtodate.fromdate)
                        </td>
                        <td></td>
                        <td>
                            <label>To:</label></td>
                        <td>
                        @Html.TextBoxFor(model => model.fromandtodate.todate, new { @id = "txtTodate", @class = "datepicker", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.fromandtodate.todate)
                        <td>
                            <input type="button" class="btn" id="btnSearch" value="Search" onclick="PendingInspectionReport()"/></td>
                    </tr>
                </table>
                      <table width="77%" style="margin-bottom:10px;float:left" cellspacing="0">
                    <tr>
                        <td>
                            <label>Select Inspector:</label></td>
                        <td colspan="2">
                             @Html.DropDownListFor(model => model.InspectorList, (IEnumerable<SelectListItem>)Model.InspectorList, new { style = "display: inline-block;  position: relative;  overflow: hidden;  height: 23px;  width: 200px;  background: #f2f2f2;  border: 1px solid;  border-color: currentcolor;  border-radius: 3px;  @include linear-gradient(top, transparent, rgba(black, .06));  @include box-shadow(0 1px 1px rgba(black, .08));" })
                        </td>
                        <td colspan="2" style="float: right; margin-right: 27px;"><input type="button" class="btn" id="btnQRCode" value="Generate QR Code" />
                    </tr>
                </table>
            </form>
            <table style="width: 100%; float: left" cellpadding="0" cellspacing="0" border="0" class="table" id="tblinspectionDetail">
                <thead>
                    <tr>
                        <th width="20%" class="tbl_head bod_rgt">Name</th>
                        <th width="15%" class="tbl_head bod_rgt">Report No #</th>
                        <th width="10%" class="tbl_head bod_rgt">Inspection Date</th>
                        <th width="10%" class="tbl_head bod_rgt">Inspector Name</th>
                        <th width="10%" class="tbl_head bod_rgt">Zip Code</th>
                        <th width="10%" class="tbl_head bod_rgt"></th>
                    </tr>
                </thead>
                <tbody>
                 
                    @foreach (var item in Model.ReportData)
                    {
                        <tr>
                            <td class="bod_rgt">@item.OwnerFirstName @item.OwnerLastName</td>
                            <td class="bod_rgt">@item.ReportNo</td>

                               @if(@item.InspectionDate!=null)
                            {
                            <td class="bod_rgt">@item.InspectionDate.Value.ToShortDateString()</td>
                            }
                            else{
                             <td class="bod_rgt"></td>
                            }
                            <td class="bod_rgt">
                                @if(item.InspectorDetails.Count()>0)
                                {
                                   @item.InspectorDetails.FirstOrDefault().FirstName@item.InspectorDetails.FirstOrDefault().LastName
                                }
                                
                                </td>
                            <td class="bod_rgt">@item.Zip</td>
                            <td class="bod_rgt red" data-orderid="@item.OrderID"><a id="Detail"  href="javascript://void(0);">
                                <input type="hidden" class="role" value="@item.roleName" />
                                View Request</a></td>
                        </tr>
                    }
                <tbody>
            </table>
        </section>
        <section class="clr"></section>
    </section>
    
            <div aria-hidden="true" aria-labelledby="windowTitleLabel" data-backdrop="static" data-keyboard="false" role="dialog" tabindex="-1" style="top: 50%; left: 40%;width:800px" class="modal hide fade in" id="QRCode">
            <div class="modal-header">
                <div>
                <a data-dismiss="modal" class="close" style="margin-top:-5px" href="#">×</a>
                    <input id="txtWeblink" placeholder="http://www.spectormax.com" style="float:right;min-width:300px;margin-right:10px" type="text" /> 
                    <label  style="float:right;margin-right:5px">Web Link</label>
                <h3>Generate QR Code</h3></div>
            </div>
            <div class="modal-body">
                <div class="divDialogElements">
                     
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn" id="btnprint" value="Print QR Code" />
            </div>
        </div>
}
else
{
    <section id="container">
    <section class="payment">
        <h2>Pending/Rejected Report</h2>
        <section class="registration">
             <div id="display-error" style="display:block">
          <img src="~/Content/images/error.png" alt="Success" /> You are not authorised for pending/rejected report
        </div>
             </section>
    </section>
</section>
}
