﻿@model SpectorMax.Entities.Classes.InspectorReport 
<link href="@Url.Content("~/Content/TablesCss/demo_page.css")" rel="stylesheet">
<link href="@Url.Content("~/Content/TablesCss/header.ccss.css")" rel="stylesheet">
<link href="@Url.Content("~/Content/TablesCss/demo_table.css")" rel="stylesheet">
<link href="@Url.Content("~/Content/TablesCss/TableTools.css")" rel="stylesheet">
<script src="@Url.Content("~/Scripts/jquery.dataTables.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/ZeroClipboard.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/TableTools.js")" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {
        //$("#anchorLogoImage").attr("href", $URL._InspectorDashBoard);

        $('#tblinspectionDetail').dataTable({
            "sDom": 'T<"clear">lfrtip',
            "oTableTools": {
                "aButtons": [
                    "copy",
                    {
                        "sExtends": "collection",
                        "sButtonText": "Save",
                        "aButtons": ["csv", "xls", "pdf"]
                    }
                ]
            }
        });
        $('.datepicker').datepicker();
        $("#btnSearch").click(function () {
            if ($("#txtFromDate").val() != "" && $("#txtTodate").val() != "") {
                var fromdate = $("#txtFromDate").val().replace(/\-/g, '');
                var todate = $("#txtTodate").val().replace(/\-/g, '');
                if (todate < fromdate) {
                    ShowAlertMessage("title", "ToDate must be greater than or equal to FromDate");
                    return false;
                }
            }
            var searchCriteria;
            var searchby;
            var myRadio = $('input[name=search]');
            var checkedValue = myRadio.filter(':checked').attr("id");
            if ($("input[name=search]:checked").val()) {
                if (checkedValue.length > 0) {
                    if (checkedValue == "Inpector")
                        searchCriteria = "Inspector"
                    else if (checkedValue == "Zip")
                        searchCriteria = "Zip"
                    else {
                        searchCriteria = "Location"
                    }
                    searchby = $("#SearchBy").val();
                }
            }
            else {
                searchCriteria = "No Criteria";
                searchby="No Search"
            }
            showLoader();
          
            $.ajax({
                type: "Post",
                url: $URL._FilterPaymentReport,
                data: {
                    ReportType: "InspectorName",
                    startDate: $("#txtFromDate").val(),
                    endDate: $("#txtTodate").val(),
                    searchCriteria: searchCriteria,
                    searchby: searchby,
                    ExportToExcel: false
                },
                dataType: "Json",
                success: function (result) {
                    $(".payment").html(result.Result);
                    hideloader();
                },
                error: function (xhr) {
                    alert('Request Status: ' + xhr.status + ' Status Text: ' + xhr.statusText + ' ' + xhr.responseText);
                    hideLoader();
                }
            });
        });
    });
    function showLoader() {
        $("#loadingModel").show();
    }
    function hideLoader() {
        $("#loadingModel").hide();
    }
</script>
<h2>Payment Report</h2>
        <section class="tbl_content">
            <form id="InspectionList">
                <table width="100%" style="margin-bottom:10px;float:left" cellspacing="0">
                    <tr>
                        <td colspan="2">
                            <label>From:</label>
                            @Html.TextBoxFor(model => model.fromandtodate.fromdate, new { @id = "txtFromDate", @class = "datepicker", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.fromandtodate.fromdate)&nbsp; &nbsp;&nbsp; &nbsp;
                             <label>To:</label>
                            @Html.TextBoxFor(model => model.fromandtodate.todate, new { @id = "txtTodate", @class = "datepicker", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.fromandtodate.todate)</td>
                    </tr>
                    <tr>
                        <td>
                            <label>By Inspector Name:</label>
                            &nbsp; &nbsp;<input type="radio" name="search" id="Inpector" />&nbsp; &nbsp; <label>By Zip:</label> <input type="radio" name="search" id="Zip" /> &nbsp; &nbsp; <label>By Location:</label> <input type="radio" name="search" id="Location" /> 
                            &nbsp; &nbsp;<input type="text" class="simple_input" id="SearchBy">   
                            &nbsp; &nbsp;<input type="button" class="btn" id="btnSearch" value="Search" /></td>
                    </tr>
                </table>
        @*        <table width="100%" style="margin-bottom:10px;float:left" cellspacing="0">
                    <tr>
                        <td>
                            <label>From:</label></td>
                        <td>
                            @Html.TextBoxFor(model => model.fromandtodate.fromdate, new { @id = "txtFromDate", @class = "datepicker", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.fromandtodate.fromdate)
                        </td>
                        <td></td>
                        <td>
                            <label>To:</label></td>
                        <td>
                        @Html.TextBoxFor(model => model.fromandtodate.todate, new { @id = "txtTodate", @class = "datepicker", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.fromandtodate.todate)
                        <td>
                           
                    </tr>
                     <tr>
                        <td>
                            <label>By Inspector Name:</label></td>
                        <td>
                            <input type="radio" name="search" id="Inpector" />&nbsp; &nbsp; <label>By Zip:</label> <input type="radio" name="search" id="Zip" /> &nbsp; &nbsp; <label>By Location:</label> <input type="radio" name="search" id="Location" /></td>
                        
                        <td></td>
                        <td>
                            <input type="text" class="simple_input" id="SearchBy">   
                        <td>
                            
                        <td>
                            <input type="button" class="btn" id="btnSearch" value="Search" /></td>
                    </tr>
                </table>*@
            </form>

            <table style="width: 100%; float: left" cellpadding="0" cellspacing="0" border="0" class="table" id="tblinspectionDetail">
                
                <thead>
                    <tr>
                        <th width="20%" class="tbl_head bod_rgt">Name</th>
                        <th width="15%" class="tbl_head bod_rgt">Report No #</th>
                        <th width="10%" class="tbl_head bod_rgt">ZipCode</th>
                        <th width="15%" class="tbl_head bod_rgt">Inspector Name</th>
                        <th width="15%" class="tbl_head bod_rgt">Date Of Payment</th>
                        <th width="10%" class="tbl_head bod_rgt">Payment</th>
                        <th width="20%" class="tbl_head bod_rgt">% Inspector</th>
                    </tr>
                </thead>
                <tbody>
                 
                    @foreach (var item in Model.ReportData)
                    {
                        <tr>
                            <td class="bod_rgt">@item.OwnerFirstName @item.OwnerLastName</td>
                            <td class="bod_rgt">@item.ReportNo</td>
                            <td class="bod_rgt">@item.Zip</td>
                            <td class="bod_rgt">@item.InspectorName</td>
                            <td class="bod_rgt">@item.date.Value.ToShortDateString()</td>
                            <td class="bod_rgt">@item.AmountReceived</td>
                            <td class="bod_rgt">@item.InspectorPercentage</td>
                        </tr>
                    }
                <tbody>
            </table>
        </section>
        <section class="clr"></section>
   <!-- Loader-->
<div id="loadingModel" class="displayNone overlayPage">
    <div class=" loaderPage">
        <div>
            <img src='@Url.Content("~/Content/Images/loading_big.gif")' />
        </div>
        <div>
            Loading..
        </div>
    </div>
</div>
<!-- /Loader -->