﻿@{
    ViewBag.Title = "AdminDashboard";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@using SpectorMax.Entities.Classes
<style>
    .green-btn-hgt {
        height: 45px;
        line-height: 45px;
        font-size: 18px;
        margin: 0 0 50px 0;
    }

    .main-content {
        min-height: 300px;
        padding: 50px 0px 0px 0;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {

        var notificationcount = parseInt(@ViewBag.Notifications);
        if(parseInt(notificationcount) > 0)
        {
            $("#btnNotification").addClass("btn-danger");
        }

        $("#btnCreateInspectorOrder").click(function () {
            $(location).attr("href", $URL._ManageInspector);
        });
        $("#btnInviteFriend").click(function () {
            $(location).attr("href", $URL._ListAllSubadmins + "?userId=@Sessions.LoggedInUser.UserId");
        });
        $("#btnViewPreviousInspection").click(function () {
            // $(location).attr("href", $URL._ListAllSubadmins + "?userId=@Sessions.LoggedInUser.UserId");
        });
        $("#btnReferInspectorToFriend").click(function () {

            $(location).attr("href", $URL._AdminPaymentReport + "?userId=@Sessions.LoggedInUser.UserId");
        }); 
        $("#btnNotification").click(function () {
            $(location).attr("href", $URL._AdminNotification + "?userId=@Sessions.LoggedInUser.UserId");
        });
        $("#btnAssignSampleReport").unbind().click(function () {
            var txtReportNo = $("#txtReportNo");
            $("#btnAssignSampleReport").addClass('active');
            $.ajax({
                type: "POST",
                url: $URL._GetAssignedReport,
                dataType: "json",
                data: {  },
                success: function (result) {
                    if (result.Message == "Success") {
                        $(txtReportNo).val(result.Result);
                        $(".bs-example").css("display", "none");
                        $("#Sucess").css("display", "none");
                        $('#divAssignReport').modal({ backdrop: 'static', keyboard: true })
                        $("#divAssignReport").modal("show");
                        $("#btnAssignSampleReport").removeClass('active');
                    }
                    else if (result.Message == "Session Over") {
                        $(location).attr("href", $URL._HomePage);
                    }
                    
                },
                error: function (e) {

                },
            });


           
        });
        $("#btnAssignReport").click(function () {

            if ($("#txtReportNo").val().trim().length > 0) {
                $("#btnAssignReport").addClass("active");
                $.ajax({
                    type: "POST",
                    url: $URL._AssignRequest,
                    dataType: "json",
                    data: { ReportNo: $("#txtReportNo").val() },
                    success: function (result) {
                        if (result == "Success") {
                            $(".bs-example").css("display", "none");
                            $("#Sucess").css("display", "block");
                            $("#btnAssignReport").removeClass("active");
                        }
                        else if (result == "NotExist") {
                            $(".bs-example").css("display", "block");
                            $("#Sucess").css("display", "none");
                            $("#lblError").html("This report is not exist or it is not completed")
                            $("#btnAssignReport").removeClass("active");
                        }
                        else if (result == "Session Over") {
                            $(location).attr("href", $URL._HomePage);
                        }
                        else {
                            $(".bs-example").css("display", "block");
                            $("#Sucess").css("display", "none");
                            $("#lblError").html("There might be some problem. Please try after some time.")
                            $("#btnAssignReport").removeClass("active");
                        }
                    },
                    error: function (e) {

                    },
                });
            }
            else {
                $(".bs-example").css("display", "block");
                $("#Sucess").css("display", "none");
                $("#lblError").html("Please enter report no.")
            }
        });
    });
    function showLoader() {
        $("#loadingModel").show();
    }
    function hideLoader() {
        $("#loadingModel").hide();
    }
</script>
<!-- Loader-->
<div id="loadingModel" class="displayNone overlayPage">
    <div class="loaderPage">
        <div>
            <img src='@Url.Content("~/Content/Images/loading.gif")' />
        </div>
    </div>
</div>
<!-- /Loader -->
<div id="container" style="border: none" class="container main-content">

    <div class="modal-body row">
        <div class="modal-body row col-sm-2"></div>
        <div class="col-md-4">
            <input type="button" id="btnCreateInspectorOrder" class="btn btn-success btn-block green-btn-hgt" value="Total Registered Inspectors (@ViewBag.TotalRegisterdInspector)" />
            <input type="button" id="btnInviteFriend" class="btn btn-success btn-block green-btn-hgt"  value="Total Sub-admin (@ViewBag.TotalSubAdmin)" />
            <input type="button" id="btnViewPreviousInspection" class="btn btn-success btn-block green-btn-hgt" onclick="javascript: window.location.href = '../Admin/InspectionReportsNew'" value="Total Inspection Report (@ViewBag.TotalInspectionReport)" />
            
             <button type="button" id="btnAssignSampleReport" class="btn btn-success btn-block green-btn-hgt has-spinner">
                            <span class="spinner"><i class="icon-spin icon-spinner icon-large"></i></span>
                           Assign Sample Report
                        </button>
             <input type="button" id="btnManageOwner" class="btn btn-success btn-block green-btn-hgt" onclick="javascript: window.location.href = '../Admin/ManageOwners'" value="Manage Owners" />
           
        </div>
        <div class="modal-body row col-sm-2"></div>
        <div class="col-md-4">
            <input type="button" id="btnReferInspectorToFriend" class="btn btn-success btn-block green-btn-hgt" value="Total Payment Received ($@ViewBag.TotalPayment)" />
            <input type="button" id="btnViewPreviousInvoices"   onclick="javascript: window.location.href = '../Admin/RejectedInspectionRequest'" class="btn btn-success btn-block green-btn-hgt" value="Rejected Inspection Request (@ViewBag.RejectedInspectionRequest)" />
            <input type="button" id="btnNotification" class="btn btn-success btn-block green-btn-hgt" value="Notification(@ViewBag.Notifications)"  />
            <input type="button" id="btnTestimonial" class="btn btn-success btn-block green-btn-hgt"  onclick="javascript: window.location.href = '../Admin/ShareYourExperiencr'" value="Testimonials"  />
        </div>
    </div>
</div>
<!-- Modal 1 -->
<div class="modal fade" id="divAssignReport" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close custmclose" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title text-center" id="myModalLabel">Assign Sample Report</h4>
            </div>
            <div class="modal-body">
                <div class="bs-example" style="display: none">
                    <div class="alert alert-danger alert-error">

                        <strong>Error!</strong>
                        <label id="lblError"></label>
                    </div>
                </div>

                <div class="alert alert-success" id="Sucess" style="display: none; margin-top: 22px;">
                    <strong>Success!</strong> Report is assigned successfully. 
                </div>
                <p>Please Enter Report No:</p>
                <input type="text" name="txtReportNo" id="txtReportNo" class="form-control" placeholder="Enter report no" />
                <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </p>
                <button type="button" id="btnAssignReport" class="smblue-btn pull-right has-spinner">
                    <span class="spinner"><i class="icon-spin icon-spinner icon-large"></i></span>
                    Assign Report
                </button>
                <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </p>
            </div>
        </div>
    </div>
</div>
<!-- Modal 1 -->