﻿@model SpectorMax.Entities.Classes.InspectorReport
@{
    ViewBag.Title = "Manage Users";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@using SpectorMax.Entities.Classes
<link href="@Url.Content("~/Content/TablesCss/demo_page.css")" rel="stylesheet">
<link href="@Url.Content("~/Content/TablesCss/header.ccss.css")" rel="stylesheet">
<link href="@Url.Content("~/Content/TablesCss/demo_table.css")" rel="stylesheet">
<link href="@Url.Content("~/Content/TablesCss/TableTools.css")" rel="stylesheet">
<script src="@Url.Content("~/Scripts/jquery.dataTables.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/ZeroClipboard.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/TableTools.js")" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $(".Refund").live("click", function () {
            var span = $(this).find("#lblRequest")
            var button = $(this)
            $(this).addClass('active')
            $(span).html("Wait..")
            var Id = $(this).attr("data-Id");
            var tr = $(this).parents('tr');
            $.ajax({
                type: "POST",
                url: $URL._DeletePayment,
                dataType: "json",
                data: { Id: Id },
                success: function (result) {
                    if (result == "Success") {
                        $(button).removeClass('active')
                        $(button).removeClass('blu-btn');
                        $(button).addClass('green-btn');
                        $(button).removeClass('Refund')
                        $(span).html('Refunded');
                    }
                    else if (result == "Session Over") {
                        $(location).attr("href", $URL._HomePage);
                    }
                },
                error: function (e) {

                },

            });

        });
    });
</script>
@if (Sessions.LoggedInUser.AdminPermission.Canviewpaymenttransactions == true)
{
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <p class="welcome">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="report">
                    <div class="row">

                        <div class="col-md-12 space">

                            <h2>Payment Report (s)</h2>

                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-12">

                            <div class="">

                                <div class="col-md-12">

                                    <div class="table-responsive" id="renderRecentViewedReport">
                                        <table  class="table" id="tblinspectionDetail">

                                            <thead>
                                                <tr>
                                                    <th width="20%" class="tbl_head bod_rgt">Name</th>
                                                    <th width="15%" class="tbl_head bod_rgt">Report No #</th>
                                                    <th width="10%" class="tbl_head bod_rgt">Invoice No</th>
                                                    <th width="15%" class="tbl_head bod_rgt">Inspector Name</th>
                                                    <th width="15%" class="tbl_head bod_rgt">Date Of Payment</th>
                                                    <th width="10%" class="tbl_head bod_rgt">Payment</th>
                                                    <th width="20%" class="tbl_head bod_rgt">% Inspector</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                @foreach (var item in Model.ReportData)
                                                {
                                                    <tr>
                                                        <td class="bod_rgt">@item.OwnerFirstName @item.OwnerLastName</td>
                                                        <td class="bod_rgt">@item.ReportNo</td>
                                                        <td class="bod_rgt">@item.InvoiceNo</td>
                                                        <td class="bod_rgt">@item.InspectorName</td>
                                                        <td class="bod_rgt">@item.date.Value.ToShortDateString()</td>
                                                        <td class="bod_rgt">$ @item.AmountReceived</td>
                                                        <td class="bod_rgt">@item.InspectorPercentage</td>
                                                        <td>
                                                            @if (item.IsRefunded == true)
                                                            {
                                                                <button data-Id="@item.PaymentId" type="button" id="btnRefunded" class="green-btn   has-spinner">
                                                                    <span class="spinner"><i class="icon-spin icon-spinner icon-large"></i></span>
                                                                    <span id="lblRefunded">Refunded</span>
                                                                </button>
                                                            }
                                                            else
                                                            {
                                                                <button data-Id="@item.PaymentId" type="button" id="btnRefund" class="blu-btn Refund has-spinner">
                                                                    <span class="spinner"><i class="icon-spin icon-spinner icon-large"></i></span>
                                                                    <span id="lblRequest">Refund</span>
                                                                </button>
                                                            }

                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>


                                    </div>


                                </div>

                            </div>


                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 ">
                <p class="welcome" style="margin-left: -67px;"><b>Total Amount :</b> @ViewBag.NonRefundedAmount.ToString("#.##")</p>
                <p class="welcome"><b>Total Refunded Amount :</b> @ViewBag.RefundedAmount.ToString("#.##")</p>
            </div>
        </div>
    </div>
    
    
}

