﻿@{
    ViewBag.Title = "ManageTemplates";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<link rel="stylesheet" href="~/Content/TablesCss/demo_page.css">
<link rel="stylesheet" href="~/Content/TablesCss/header.ccss.css">
<link rel="stylesheet" href="~/Content/TablesCss/demo_table.css">
<script type="text/javascript" src="~/Scripts/jquery.dataTables.js"></script>

<div class="container main-content">
    <div class="modal-body row">
        <div class="modal-body"></div>
        
        <div class="col-md-2 text-left">
            <div class="btn-group">
                <button type="button" class="btn btn-default blu-btn dropdown-toggle" data-toggle="dropdown">
                    <span data-bind="label">Select page</span><b style="margin: 10px" class="caret"></b>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Buyer Page</a></li>
                    <li><a href="#">Seller Page</a></li>
                    <li><a href="#">Agent Page</a></li>
                    <li><a href="#">Joinus Page</a></li>
                </ul>
            </div>
        </div>
        <input type="hidden" id="pgnm" value="" />
         <div class="col-md-10">
            <div class="table-responsive  inspection" id="SectionGrid">
                <table id="exampleRecentViewed" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th width="35%">Link Name</th>
                            <th width="15%">Link Type</th>
                            <th width="30%">Link Address</th>
                            <th width="20%">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="4" style="text-align: center; color: red;" class="bod_rgt">Please select page to display results !</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Loader-->
<div id="loadingModel" class="displayNone overlayPage">
    <div class=" loaderPage">
        <div>
            <img src='@Url.Content("~/Content/Images/loading_big.gif")' />
        </div>
        <div>
            Loading..
        </div>
    </div>
</div>
<!-- /Loader -->
<script type="text/javascript">
    $(document.body).on('click', '.dropdown-menu li', function (event) {
        var $target = $(event.currentTarget);
        if($(event.currentTarget).text() == "Templates")
        {
            var url = '@Url.Action("ManageTemplates", "Admin")';
            $(location).attr("href", url);
            return false;
        }
        $target.closest('.btn-group')
           .find('[data-bind="label"]').text($target.text())
              .end()
           .children('.dropdown-toggle').dropdown('toggle');
        $("#pgnm").val($(event.currentTarget).text().split(' ')[0]);
        bindlinks($(event.currentTarget).text());
        return false;
    });
    
    function UpdateDelete(element, status, Id) {
        showLoader();
        var LinkName = $(element).parents("tr").eq(0).find(".Comment").eq(0).val();
        var UrlAddress =$(element).parents("tr").eq(0).find(".Comment").eq(1).val()

        $.ajax({
            type: "post",
            url: "@Url.Content("~/Admin/UpdateDeleteLinks/")",
            data: { LinkId: Id, status: status, LinkDisplayName: LinkName,LinkAddress : UrlAddress },
                success: function (result) {
                    hideLoader()
                    if (result.Message == "Success") {
                        bindlinks($("#pgnm").val());
                    }
                },
                error: function (e) {
                    hideLoader()

                },
            });
        }

    function bindlinks(PageName) {
        showLoader();
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetApplicationLinks", "Admin")',
            dataType: "json",
            data: { PageName : PageName },
            success: function (result) {
                
                $("#SectionGrid").html(result.Result);
                $("#CommentTable_length label").css({ "padding-left": "20px" });
                $("#CommentTable_info").css({ "padding-left": "20px" });
                hideLoader();
            },
            error: function (e) {
                hideLoader();
            },
        });
    }

    function showLoader() {
        $("#loadingModel").show();
    }
    function hideLoader() {
        $("#loadingModel").hide();
    }
</script>
