﻿@model SpectorMax.Entities.Classes.InspectorDetails

@{
    ViewBag.Title = "AssignInspector";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<link href="@Url.Content("~/Content/TablesCss/demo_page.css")" rel="stylesheet">
<link href="@Url.Content("~/Content/TablesCss/header.ccss.css")" rel="stylesheet">
<link href="@Url.Content("~/Content/TablesCss/demo_table.css")" rel="stylesheet">
<script src="@Url.Content("~/Scripts/jquery.dataTables.js")" type="text/javascript"></script>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p class="welcome">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="report">
                <div class="row">

                    <div class="col-md-12 space">

                        <h2>Assign Inspectors</h2>

                    </div>
                </div>

                <div class="row">

                    <div class="col-md-12">

                        <div class="">

                            <div class="col-md-12">

                                <div class="table-responsive" id="renderRecentViewedReport">
                                    <div class="bs-exampleExp" style="display: none">
                                        <div class="alert alert-danger alert-error">

                                            <strong>Error!</strong>
                                            <label id="lblErrorExp">There might be some problem. Please try after some time.</label>
                                        </div>
                                    </div>
                                    <div class="alert alert-success" id="success" style="display: none; margin-top: 22px;">



                                        <strong>Success!</strong>
                                        <label id="lblMessage">Inspector is assinged successfully</label>

                                    </div>

                                    <table class="table" id="tblinspectionDetail">
                                        <thead>
                                            <tr>
                                                <th width="15%" class="tbl_head bod_rgt">Inspector Name</th>
                                                <th width="20%" class="tbl_head bod_rgt">Email-Id</th>
                                                <th width="20%" class="tbl_head bod_rgt">Assgined ZipCodes</th>
                                                <th width="25%" class="tbl_head bod_rgt">Current assigned inspection</th>
                                                <th width="20%" class="tbl_head bod_rgt">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.InspectorPayment)
                                            {
                                                <tr>
                                                    <td class="bod_rgt">@item.FirstName @item.LastName </td>
                                                    <td class="bod_rgt">@item.EmailAddress</td>
                                                    <td class="bod_rgt">
                                                        @foreach (var item1 in item.PL)
                                                        {
                                                            @item1.Zip <label>,</label>
                                                        }

                                                    </td>
                                                    <td class="bod_rgt">@item.Count</td>
                                                    <td class="bod_rgt">
                                                        <a id="AssingInspector" class="blu-btn" data-inspectorid="@item.InspectorDetailsID"  href="javascript://void(0);">Assign Inspector</a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                    <input type="hidden" value="" id="hdnInspectorId" />

                                </div>


                            </div>

                        </div>


                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Loader-->
<div id="loadingModel" class="displayNone overlay">
    <div class=" loader">
        <div>
            <img src='@Url.Content("~/Content/Images/loading_big.gif")' />
        </div>
        <div>
            Loading..
        </div>
    </div>
</div>
<!-- /Loader -->
