﻿@model SpectorMax.Entities.Classes.AdminProfile
@{
    ViewBag.Title = "ChangeProfile";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@using SpectorMax.Entities.Classes
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p class="welcome">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
        </div>
    </div>
    <div class="bs-exampleExp" style="display: none">
        <div class="alert alert-danger alert-error">

            <strong>Error!</strong>
            <label id="lblErrorExp">There might be some problem. Please try after some time.</label>
        </div>
    </div>
    <div class="alert alert-success" id="success" style="display: none; margin-top: 22px;">



        <strong>Success!</strong>
        <label id="lblMessage">Profile is changed successfully</label>

    </div>
     @using (Ajax.BeginForm("ChangeProfile", "Admin", FormMethod.Post, new AjaxOptions { OnBegin = "showLoader", OnComplete = "DisplayMsg" }, new { id = "Form", @class = "form-horizontal" }))
        {
        
    <div class="row">
        <div class="col-md-12">
            <div class="report">
                <div class="row">

                    <div class="col-md-12 space">

                        <h2>Change Profile</h2>

                    </div>
                </div>

                <div class="row">

                    <div class="col-md-12">

                        <div class="">

                            <div class="col-md-12">

                                <div class="table-responsive" id="renderRecentViewedReport">

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Email Address</label>
                                        <div class="col-sm-9">
                                            <div class="row">
                                                <div class="col-sm-9">
                                                      @Html.TextBoxFor(model => model.EmailAddress, new { @class="form-control",@placeholder="Email Address",@value=Sessions.LoggedInUser.EmailAddress})
                                                      @Html.ValidationMessageFor(model => model.EmailAddress)
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                       <div class="form-group">
                                        <label class="col-sm-3 control-label">Old Password</label>
                                        <div class="col-sm-9">
                                            <div class="row">
                                                <div class="col-sm-9">
                                                    @Html.TextBoxFor(model => model.OldPassword, new { @class="form-control",type = "password",@placeholder="Old Password"})
                                                      @Html.ValidationMessageFor(model => model.OldPassword)
                                                  
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                        <div class="form-group">
                                        <label class="col-sm-3 control-label">New Password</label>
                                        <div class="col-sm-9">
                                            <div class="row">
                                                <div class="col-sm-9">
                                                     @Html.TextBoxFor(model => model.NewPassword, new { @class="form-control",type = "password",@placeholder="New Password"})
                                                      @Html.ValidationMessageFor(model => model.NewPassword)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                       <div class="form-group">
                                        <label class="col-sm-3 control-label">Confirm Password</label>
                                        <div class="col-sm-9">
                                            <div class="row">
                                                <div class="col-sm-9">
                                                    @Html.TextBoxFor(model => model.ConfirmPassword, new { @class="form-control",type = "password",@placeholder="Confirm Password"})
                                                      @Html.ValidationMessageFor(model => model.ConfirmPassword)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                     <div class="form-group">
                                        
                                        <div class="col-sm-12 ">
                                            <div class="row">
                                                <div class="col-sm-12 ">
                                                    <input type="submit" id="btnSubmit" value="Submit" class="green-btn pull-right" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>

                        </div>


                    </div>
                </div>

            </div>
        </div>
    </div>
     }
</div>
<!-- Loader-->
<div id="loadingModel" class="displayNone overlayPage">
    <div class=" loader">
        <div>
            <img src='@Url.Content("~/Content/Images/loading.gif")' />
        </div>
        <div>
            Loading..
        </div>
    </div>
</div>
<!-- /Loader -->
<script>


    function showLoader() {
        $("#loadingModel").show();
    }
    function hideLoader() {
        $("#loadingModel").hide();
    }
    function DisplayMsg(result) {
        if (result.responseText == "\"Email Already Exist\"") {
            $(".bs-exampleExp").css("display", "block");
            $("#success").css("display", "none");
            $("#lblErrorExp").html("");
            $("#lblErrorExp").html("Email id is already exist. Please try another one.");
            hideLoader();
        }
        else if (result.responseText == "\"Old Password Not Matched\"")
        {
            $(".bs-exampleExp").css("display", "block");
            $("#success").css("display", "none");
            $("#lblErrorExp").html("");
            $("#lblErrorExp").html("Please enter correct password.");
            hideLoader();
        }
        else if (result.responseText == "\"Session Over\"")
        {
        
        }
        else if (result.responseText == "\"Error\"")
        {
            $(".bs-exampleExp").css("display", "block");
            $("#success").css("display", "none");
            $("#lblErrorExp").html("");
            $("#lblErrorExp").html("There might be some error. Please try after some time");
            hideLoader();
        }
        else if (result.responseText == "\"Success\"") {
            $(".bs-exampleExp").css("display", "none");
            $("#success").css("display", "block");
            $('#Form').find('input:text, input:password, input:file, select, textarea').val('');
            hideLoader();
        }
       
    }
    $(document).ready(function () {
        $("#EmailAddress").val("@ViewBag.Email");
        $('#EmailAddress').keypress(function (event) {

            var keycode = (event.keyCode ? event.keyCode : event.which);
            if (keycode == '13') {
                if ($("#EmailAddress").val().length > 0) {
                    $("#btnSubmit").click();
                }
            }
        });
        $('#OldPassword').keypress(function (event) {

            var keycode = (event.keyCode ? event.keyCode : event.which);
            if (keycode == '13') {
                if ($("#OldPassword").val().length > 0) {
                    $("#btnSubmit").click();
                }
            }
        });
        $('#NewPassword').keypress(function (event) {

            var keycode = (event.keyCode ? event.keyCode : event.which);
            if (keycode == '13') {
                if ($("#NewPassword").val().length > 0) {
                    $("#btnSubmit").click();
                }
            }
        });
        $('#ConfirmPassword').keypress(function (event) {

            var keycode = (event.keyCode ? event.keyCode : event.which);
            if (keycode == '13') {
                if ($("#ConfirmPassword").val().length > 0) {
                    $("#btnSubmit").click();
                }
            }
        });
    });
    
</script>