﻿@model SpectorMax.Entities.Classes.Owners

@{
    ViewBag.Title = "EditOwners";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    var PreImageUrls = "~/Images/ProfileImgAndCertiticate/";
}


<div class="container">

    <div class="row">
        <div class="col-md-12">
            <p class="welcome">&nbsp; &nbsp;</p>
        </div>
    </div>
  <div class="alert alert-success" id="display-success1" style=" display:none;margin-top: 22px;">



                <strong>Success!</strong>&nbsp; &nbsp; <label id="lblSuccess">  </label>

            </div>
              
    
      @using (Ajax.BeginForm("EditOwners", "Admin", FormMethod.Post, new AjaxOptions { OnBegin = "showLoader", OnComplete = "DisplayMsg" }, new { id = "Registration", @class = "form-horizontal" }))
        {
        
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-sm-4 text-left">
                    <label>Owner Name:</label>
                </div>
                <div class="col-sm-8">
                    @Html.HiddenFor(model => model.ID)
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 text-left">
                    <label>Designation:</label>
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.Designation, new { @class = " form-control " })
                    @Html.ValidationMessageFor(model => model.Designation)
                    
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-sm-4 text-left">
                    <label>Your Photo:</label>
                </div>
                <div class="col-sm-8">
                     <div class="col-sm-8">
                        <input id="files" type="file" />
                    </div>
                    @if (Model.Image != null)
                        {
                            <img id="ImgPhotoURL" class="image" height="100" width="100"   src="@Url.Content(@PreImageUrls + @Model.Image)"  />
                        }
                        else
                        {
                            <img id="ImgPhotoURL" height="100" width="100" src="@Url.Content(@PreImageUrls + "nophoto.jpg")" />
                        }
                          @Html.HiddenFor(model => model.Image, new { id = "srcPhotoURL12", value = "try" })
                </div>
            </div>
          
        </div>
        <div class="col-md-6 pull-right">
            <div class="form-group ">
                <div class="col-sm-4 text-left">
                  
                </div>
               @* <div class="col-sm-4 text-left">
                    <input type="button" id="btnPaymentHistory" onclick="UserPaymentReport()" class="blu-btn" value="View Payment History">
                </div>*@
                <div class="col-sm-4 text-left">
                    <input type="submit" id="btnSendOffer" class="green-btn" value="Submit">
                </div>
            </div>
        </div>
    }
</div>
<!-- Loader-->
<div id="loadingModel" class="displayNone overlayPage">
    <div class=" loaderPage">
        <div>
            <img src='@Url.Content("~/Content/Images/loading_big.gif")' />
        </div>
        <div>
            Loading..
        </div>
    </div>
</div>
<!-- /Loader -->
<script>
    var imgsrc;
    if (window.File && window.FileList && window.FileReader) {
        var filesInput = document.getElementById("files");
        filesInput.addEventListener("change", function (event) {
            var files = event.target.files; //FileList object
            var output = document.getElementById("result");
            for (var i = 0; i < files.length; i++) {
                var file = files[i];
                //Only pics
                if (!file.type.match('image'))
                    continue;
                var picReader = new FileReader();
                picReader.addEventListener("load", function (event) {
                    var picFile = event.target;
                    var div = document.createElement("div");
                    $("#ImgPhotoURL").prop('src', '');
                    $("#ImgPhotoURL").prop('src', picFile.result);
                    $("#srcPhotoURL12").val(picFile.result);

                });

                //Read the image
                picReader.readAsDataURL(file);

                $("#ImgPhotoURL").each(function (i, obj) {
                    $(obj).unbind("click");

                }); // end each
            }
        });
    }
    function showLoader() {
        $("#loadingModel").show();
    }
    function hideLoader() {
        $("#loadingModel").hide();
    }


    
    function DisplayMsg(result) {
        if (result.responseText == "\"Success\"") {
            $(".bs-exampleExp").css("display", "none");
           
            $("#display-success1").css("display", "block");
            $("#lblSuccess").html("");
            $("#lblSuccess").html("Owner Details Updated Successfully");
            hideLoader();
           
        }
        else if (result.responseText == "\"Error\"") {
            $(".bs-exampleExp").css("display", "none");

            $("#lblErrorExp").html("");
            $("#lblErrorExp").html("Some Error Occured. Please try after some time.")
            $(".bs-exampleExp").css("display", "block");
            $("#SucessExp").css("display", "none");
        }
        hideLoader();
          }
</script>