﻿@model SpectorMax.Entities.Classes.ForgotPassword

@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/Admin_OutSide.cshtml";
}

<script src="@Url.Content("~/Scripts/jquery.blockUI.js")"></script>
<script type="text/javascript">

    function isValidEmailAddress(emailAddress) {
        var pattern = new RegExp(/^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/);
        return pattern.test(emailAddress);
    };

    $(":submit").mouseout(function () { DisplayErroMessage(); });
    function SubmitSetup() {
       
        //$("#ForgotPassword").submit();
        DisplayErroMessage();
    }
    function DisplayErroMessage() {
        //alert($('.field-validation-error').html());
        $(".field-validation-error").closest("ul").each(function () {
            $(this).find(".form").live("mouseover", function () { $(this).find(".field-validation-error .input-validation-error").attr("style", "display:block !important"); });
            $(this).find(".form").live("mouseout", function () { $(this).find(".field-validation-error .input-validation-error").attr("style", "display:none !important"); });
        });
    }


    /*Function to check and send email*/

    $(document).ready(function () {
            $("#btnForgotPassword").click(function () {
                
              

                if (!isValidEmailAddress($("#txtForgotPassword").val())) {
                    $("#message").css('color', 'red').html("Please enter valid email address").show().fadeOut(10000);
                }
                else {


                    $.blockUI({
                        css: {
                            border: 'none',
                            padding: '15px',
                            backgroundColor: '#000',
                            '-webkit-border-radius': '10px',
                            '-moz-border-radius': '10px',
                            opacity: .5,
                            color: '#fff'
                        }
                    });


                    $.ajax({
                        type: "Post",
                        URL: $URL._ForgotPasswordPost,
                        data: { emailTo: $("#txtForgotPassword").val() },
                        datatype: "Json",
                        success: function (result) {
                            setTimeout($.unblockUI, 1000);
                            if (result.Message == "Sucess") {
                                $("#txtForgotPassword").val('');
                                $("#message").css('color', 'green').html("Your Password is sent to mailbox").show().fadeOut(10000);
                                $("html").scrollTop(0);
                            }
                            else if (result.Message == "Wrong Email") {
                                setTimeout($.unblockUI, 1000);
                                $("#txtInviteFriend").val('');
                                $("#message").css('color', 'red').html("You have Entered Invalid Email Address").show().fadeOut(10000);
                            }
                          
                            else {
                                $("#txtInviteFriend").val('');
                                setTimeout($.unblockUI, 1000);
                                $("#message").css('color', 'red').html("There is some problem, please try after sometime").show().fadeOut(10000);
                            }
                        },
                        error: function () {
                            setTimeout($.unblockUI, 1000);
                        },
                    });
                }
            });
        }
    );

</script>

<section id="container">
    <section class="payment">
        <h2>Forgot Password</h2>
        <div></div>
        <form id="ForgotPassword">
            <div style="height: 200px; width: 100%; position: relative; padding-top: 100px; padding-left: 32%; margin: auto;">
                <ul>
                    <li>
                        <label>Please Enter Your Email:</label>
                        <section class="form">
                            @Html.TextBoxFor(model => model.Email, new { @class = "simple_input big_text_box", id = "txtForgotPassword", placeholder = "Enter Email", style = "width: 300px;" })
                            @Html.ValidationMessageFor(model => model.Email)
                        </section>
                    </li>
                    <br />
                    <li>
                        <input type="button" style="float: left; margin-left: 242px;" class="btn" id="btnForgotPassword" value="Submit" onclick="SubmitSetup();" /></li>
                    @*<input id="txtForgotPassword" style="width: 300px;" class="simple_input big_text_box" type="text" name="txtForgotPassword" maxlength="50" placeholder="Enter Email" />*@
                    <li>
                        <section class="clr"></section>
                        <div id="message" title="Success"></div>
                    </li>
                </ul>
            </div>
        </form>
        <section class="clr"></section>
    </section>
</section>
