﻿@model SpectorMaxDAL.EmailTemplate
@{
    ViewBag.Title = "GetAllTemplates";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 <section>
    <section style="width:auto" id="container">
        <section class="payment">
            @Html.ListBoxFor(model => model.TemplateDiscription,new MultiSelectList(Model.TemplateDiscription,Model.TemplateId); 
        </section>
        <section class="clr"></section>
    </section>
    <section class="clr"></section>
</section>