﻿@model SpectorMax.Entities.Classes.LogInModel
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/Admin_OutSide.cshtml";
}

@using (Html.BeginForm("LogOn", "Admin", FormMethod.Post, new { id = "Login" }))
{

    string emailAddress = "", password = "", userInfoString = "";
    bool chk = false;
    if (@Request.Cookies["admincredentials"] != null)
    {
        userInfoString = Request.Cookies["admincredentials"]["meda"].ToString();
        emailAddress = userInfoString.Substring(0, userInfoString.IndexOf("~/!2@?<:>~"));

        password = userInfoString.Substring(userInfoString.IndexOf("~/!2@?<:>~") + 10);
        chk = true;

    }
                        
    <div id="PopupDivDetails" style="left: 40%; top: 80%; display: none" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Add new Emergency Contact"
        aria-hidden="true" title="Payment">
        <p>@ViewBag.Message.</p>
    </div>
    
 <div class="form-group col-sm-2"></div>
    <div class="col-md-8" id="container">
              <div class="bs-exampleExp" id="display-error1" style="display: none">
            <div class="alert alert-danger alert-error">

                <strong>Error!</strong>
                <label id="erroremail">Username or password is wrong</label>
            </div>
        </div>
        <div class="row report">
            <h2 class="form-signin-heading text-center row">Please sign in</h2>
            <div>
            <form class="form-horizontal " role="form">
                <div class="col-sm-3"></div>
                
                <div class="form-group col-sm-8">
                    <div class="col-sm-12">
                         <div class="col-sm-8">
                             <label>Email Address: </label>
                        </div>
                       <div class="col-sm-10">
                        @Html.TextBoxFor(x => x.Email, new { @Value = emailAddress, @class = "form-control", title = "Your Email", name = "username", id = "username_id", placeholder = "User Name" })
                        @Html.ValidationMessageFor(model => model.Email)</div>
                        <div class="col-sm-8">
                            <label>Password:</label>
                        </div>
                        <div class="col-sm-10">
                            @Html.PasswordFor(x => x.Password, new { @Value = password, @class = "form-control", type = "password", title = "Your Password", id = "password", placeholder = "password" })
                            @Html.ValidationMessageFor(model => model.Password)
                        </div>
                        <div class="col-sm-8">
                            @Html.CheckBoxFor(x => x.RememberMe, new { @checked = chk })Remember Me
                        </div>
                        <div class="col-sm-10">
                           <input type="submit" id="Login" class="nextto pull-right has-spinner" onclick="SubmitSetup();" value="Submit">
                        </div>
                    </div>
                </div>
            </form>
                </div>
        </div>
    </div>
@*<section id="container">
        <section style="width: 100%" class="payment">
            <h2 style="width: 100%; text-align: center"></h2>
            <section class="registration">
                <div>
                    <ul style="width: 100%">
                        <li style="margin: 8% 1% 0 30%">
                            <label>Email Address: </label>
                            <section class="form">
                          
                                @Html.TextBoxFor(x => x.Email, new { @Value = emailAddress, @class = "simple_input big_text_box", title = "Your Email", name = "username", id = "username_id", placeholder = "User Name" })
                                @Html.ValidationMessageFor(model => model.Email)
                            </section>
                        </li>
                        <li style="margin: 0 1% 0 30%">
                            <label>Password:</label>
                            <section class="form">
                                @Html.PasswordFor(x => x.Password, new { @Value = password, @class = "simple_input big_text_box", type = "password", title = "Your Password", id = "password", placeholder = "password" })
                            
                                @Html.ValidationMessageFor(model => model.Password)
                            </section>
                        </li>
                        <li style="margin: 0 1% 0 46%; width: 12%">
                            @Html.CheckBoxFor(x => x.RememberMe, new { @checked = chk })Remember Me
                        </li>
                        <li style="float: right; width: 35%"><a href="@Url.Action("ForgotPassword", "Admin")">Forgot Password?</a></li>
                        <li style="margin: 0 1% 0 30%">
                            <label>&nbsp;</label>
                            <section class="form">
                                <input type="submit" id="Login" class="btn" onclick="SubmitSetup();" value="Submit">
                            </section>
                        </li>
                         <li style="margin: 0 1% 0 30%">
                            <label>&nbsp;</label>
                            <section class="form">
                               <label style="color: red; display: none;width:58%" id="Invalid">Invalid email or password</label>
                            </section>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="clr"></section>
        </section>
        <section class="clr"></section>
    </section>*@
}
<script>
    $(document).ready(function () {
        $(":submit").mouseout(function () { DisplayErroMessage(); });
        function SubmitSetup() {
            $("#Login").submit();
            DisplayErroMessage();
        }
        function DisplayErroMessage() {
            $(".field-validation-error").closest("ul").each(function () {
                $(this).find(".form").live("mouseover", function () { $(this).find(".field-validation-error .input-validation-error").attr("style", "display:block !important"); });
                $(this).find(".form").live("mouseout", function () { $(this).find(".field-validation-error .input-validation-error").attr("style", "display:none !important"); });
            });
        }
    });
    $('#password').keypress(function (event) {

        var keycode = (event.keyCode ? event.keyCode : event.which);
        if (keycode == '13') {
            if ($("#txtZipCode").val().length > 0) {
                SubmitSetup();
            }
        }

    });
    $('#username_id').keypress(function (event) {

        var keycode = (event.keyCode ? event.keyCode : event.which);
        if (keycode == '13') {
            if ($("#txtZipCode").val().length > 0) {
                SubmitSetup();
            }
        }

    });
</script>

<script type="text/javascript">
    function GetQueryStringParams(sParam) {
        var sPageURL = window.location.search.substring(1);
        var sURLVariables = sPageURL.split('&');
        for (var i = 0; i < sURLVariables.length; i++) {
            var sParameterName = sURLVariables[i].split('=');
            if (sParameterName[0] == sParam) {
                return sParameterName[1];
            }
        }
    }

    var message = GetQueryStringParams('message');
   
    if (message == "Invalid%20email%20or%20password") {
        $(".bs-exampleExp").css("display", "block")
    }
</script>
