﻿@model SpectorMax.Entities.Classes.InspectorDetails

@{
    ViewBag.Title = "InspectorPayment";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<link href="@Url.Content("~/Content/TablesCss/demo_page.css")" rel="stylesheet">
<link href="@Url.Content("~/Content/TablesCss/header.ccss.css")" rel="stylesheet">
<link href="@Url.Content("~/Content/TablesCss/demo_table.css")" rel="stylesheet">
<script src="@Url.Content("~/Scripts/jquery.dataTables.js")" type="text/javascript"></script>

<div class="container"> <div class="row">
        <div class="col-md-12">
            <p class="welcome">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="report">
                <div class="row">
                    <div class="col-md-12 space">
                        <h2>Inspector Payment (s)</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="">
                            <div class="col-md-12">
                                <div class="table-responsive" id="renderRecentViewedReport">
                                            <table style="width: 100%; float: left" cellpadding="0" cellspacing="0" border="0" class="table" id="tblinspectionDetail">
                <thead>
                    <tr>
                        <th >Inspector Name</th>
                        <th >Payment Percent</th>
                        <th >Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.InspectorPayment)
                    {
                        <tr>
                            <td >@item.FirstName @item.LastName </td>
                            <td >@item.PaymentPercentage</td>
                              <td >
                                  <a id="Percent"  data-inspectorid="@item.InspectorDetailsID" data-payment="@item.PaymentPercentage" href="javascript://void(0);">Click here</a> 
                              </td>
                        </tr>
                    }
                <tbody>
            </table>        

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*<section class="payment">
        <h2 style="width:220px">Inspector Payment</h2>
        <section class="tbl_content">
            <form id="InspectionList">
                <table width="60%" style="margin-bottom:10px" cellspacing="0">
              
                </table>
            </form>

            <table style="width: 100%; float: left" cellpadding="0" cellspacing="0" border="0" class="table" id="tblinspectionDetail">
                <thead>
                    <tr>
                        <th width="25%" class="tbl_head bod_rgt">Inspector Name</th>
                        <th width="20%" class="tbl_head bod_rgt">Payment Percent</th>
                        <th width="20%" class="tbl_head bod_rgt">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.InspectorPayment)
                    {
                        <tr>
                            <td class="bod_rgt">@item.FirstName @item.LastName </td>
                            <td class="bod_rgt">@item.PaymentPercentage</td>
                              <td  class="bod_rgt">
                                  <a id="Detail"  data-inspectorid="@item.InspectorDetailsID" data-payment="@item.PaymentPercentage" href="javascript://void(0);">Click here</a> 
                              </td>
                        </tr>
                    }
                <tbody>
            </table>
            <input type="hidden" value="" id="hdnInspectorId" />
        </section>
        <section class="clr"></section>
    </section>*@

<!-- Loader-->

<!-- Modal 1 -->
<div class="modal fade" id="PopupDiv" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close custmclose" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title text-center" id="myModalLabel">Assigned Zip Codes</h4>
            </div>
            <div class="modal-body">
                   <input type="hidden" value="" id="hdnInspectorDetailsId" />
                <div class="Zip-error" id="PopUp-error" style="display: none">
                    <div class="alert alert-danger alert-error">

                        <strong>Error!</strong>
                        <label id="lblMessage1"></label>
                    </div>
                </div>

                <div class="alert alert-success" id="PopUp-success" style="display: none; margin-top: 22px;">



                    <strong>Success!</strong>
                    <label id="lblMessage"></label>

                </div>
                 <p>Current %</p>
                <p>
                    <input id="Current" type="text" class="form-control" name="Current"></p>
                <input type="hidden" value="" id="hdnInspectorId" />
             <p>New % </p>
           <p><input id="New" type="text" class="form-control" name="New"></p>
               <p> &nbsp; &nbsp; &nbsp; &nbsp;</p> 
                <button type="button" id="btnsubmitPercent" class="smblue-btn pull-right has-spinner">
                    <span class="spinner"><i class="icon-spin icon-spinner icon-large"></i></span>
                    Submit
                </button>
                 <p> &nbsp; &nbsp; &nbsp; &nbsp;</p> 

            </div>

        </div>
    </div>
</div>
<!-- Modal 1 -->

<div id="loadingModel" class="displayNone overlay">
    <div class=" loader">
        <div>
            <img src='@Url.Content("~/Content/Images/loading_big.gif")' />
        </div>
        <div>
            Loading..
        </div>
    </div>
</div>
<!-- /Loader -->
