﻿@model SpectorMax.Entities.Classes.InspectorDetails

@{
    ViewBag.Title = "InspectorDuePayment";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p class="welcome">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
        </div>
    </div>
  <div class="row">
        <div class="col-md-12">
            <div class="report">
                <div class="row">

                    <div class="col-md-12 space">

                        <h2>Inspectors Due Payments (s)</h2>

                    </div>
                </div>

                <div class="row">

                    <div class="col-md-12">

                        <div class="">

                            <div class="col-md-12">

                                <div class="table-responsive" id="renderRecentViewedReport">
                                   <table style="width: 100%; float: left" cellpadding="0" cellspacing="0" border="0" class="table" id="tblinspetorReportDetail">
                <thead>
                    <tr>
                        <th width="20%" class="tbl_head bod_rgt">Inspector Name</th>
                         <th width="20%" class="tbl_head bod_rgt">Email-Id</th>
                      @*  <th width="20%" class="tbl_head bod_rgt">Assgined ZipCodes</th>*@
                        <th width="25%" class="tbl_head bod_rgt">Current assigned inspection</th>
                        <th width="20%" class="tbl_head bod_rgt">Total Payment</th>
                        <th width="20%" class="tbl_head bod_rgt">Payment Due</th>
                     @*   <th width="20%" class="tbl_head bod_rgt">Action</th>*@
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.InspectorPayment)
                    {
                        <tr>
                            <td class="bod_rgt">@item.FirstName @item.LastName </td>
                            <td class="bod_rgt">@item.EmailAddress</td>
                            @*<td class="bod_rgt">
                                @foreach (var item1 in item.Zip)
                                {
                                    @item1.ZipCode <label>,</label>
                                }

                            </td>*@
                            <td class="bod_rgt">@item.Count</td>
                        
                            @if(item.PaymentSum>0)
                            {
                            <td class="bod_rgt">$@item.PaymentSum.Value.ToString("#.##")</td>
                            }
                            else
                            {
                                <td class="bod_rgt">$0</td>
                            }
                            @if(item.PaymentDue>0)
                            {
                            <td class="bod_rgt">$@item.PaymentDue.Value.ToString("#.##")</td>
                            }
                            else
                            {
                                <td class="bod_rgt">$0</td>
                            }
                             @* <td  class="bod_rgt">
                                  <a id="AssingInspector"  data-inspectorid="@item.InspectorDetailsID"  href="GetInspectorReportPayment?InspectorId=@item.InspectorDetailsID">View Report Detail</a> 
                              </td>*@
                        </tr>
                    }
                <tbody>
            </table>

                                </div>


                            </div>

                        </div>


                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>


@*<section class="payment">
    <div id="display-success" class="mb10" style="display:none">
          <img src="~/Content/images/success.png" alt="Success" id="imgmsg"/> 
        <label id="lblMessage">Inspector is assinged successfully</label>
        </div>
        <h2 style="width:281px">Inspector Payment Report</h2>
        <section class="tbl_content">
            <form id="InspectionList">
                <table width="60%" style="margin-bottom:10px" cellspacing="0">
              
                </table>
            </form>

            <table style="width: 100%; float: left" cellpadding="0" cellspacing="0" border="0" class="table" id="tblinspetorReportDetail">
                <thead>
                    <tr>
                        <th width="20%" class="tbl_head bod_rgt">Inspector Name</th>
                         <th width="20%" class="tbl_head bod_rgt">Email-Id</th>
                        <th width="25%" class="tbl_head bod_rgt">Current assigned inspection</th>
                        <th width="20%" class="tbl_head bod_rgt">Total Payment</th>
                        <th width="20%" class="tbl_head bod_rgt">Payment Due</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.InspectorPayment)
                    {
                        <tr>
                            <td class="bod_rgt">@item.FirstName @item.LastName </td>
                            <td class="bod_rgt">@item.EmailAddress</td>
                            
                            <td class="bod_rgt">@item.Count</td>
                        
                            @if(item.PaymentSum>0)
                            {
                            <td class="bod_rgt">$@item.PaymentSum.Value.ToString("#.##")</td>
                            }
                            else
                            {
                                <td class="bod_rgt">$0</td>
                            }
                            @if(item.PaymentDue>0)
                            {
                            <td class="bod_rgt">$@item.PaymentDue.Value.ToString("#.##")</td>
                            }
                            else
                            {
                                <td class="bod_rgt">$0</td>
                            }
                             
                        </tr>
                    }
                <tbody>
            </table>
            <input type="hidden" value="" id="hdnInspectorId" />
        </section>
        <section class="clr"></section>
    </section>*@

    <!-- Loader-->
    <div id="loadingModel" class="displayNone overlay">
        <div class=" loader">
            <div>
                <img src='@Url.Content("~/Content/Images/loading_big.gif")' />
            </div>
            <div>
                Loading..
            </div>
        </div>
    </div>
    <!-- /Loader -->