﻿@model SpectorMax.Entities.Classes.UserInfoPoco

<link href="@Url.Content("~/Content/TablesCss/demo_page.css")" rel="stylesheet">
<link href="@Url.Content("~/Content/TablesCss/header.ccss.css")" rel="stylesheet">
<link href="@Url.Content("~/Content/TablesCss/demo_table.css")" rel="stylesheet">
<script src="@Url.Content("~/Scripts/jquery.dataTables.js")" type="text/javascript"></script>

@{
    ViewBag.Title = "ListAllSubadmins";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#anchorLogoImage").attr("href", $URL._InspectorDashBoard);
        $("#tblinspectionDetail").dataTable();
    });
</script>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p class="welcome"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="report">
                <div class="row">

                    <div class="col-md-12 space">

                        <h2>Manage Subadmin(s)</h2>

                    </div>
                </div>

                <div class="row">

                    <div class="col-md-12">

                        <div class="">

                            <div class="col-md-12">

                                <div class="table-responsive" id="renderRecentViewedReport">

                                    <table style="width: 100%; float: left" cellpadding="0" cellspacing="0" border="0" class="table" id="tblinspectionDetail">
                <thead>
                    <tr>
                       
                        <th  class="tbl_head bod_rgt">Sub-admin Name</th>
                        <th  class="tbl_head bod_rgt">Email-Id</th>
                        <th  class="tbl_head bod_rgt">Phone No</th>
                       
                        <th  class="tbl_head bod_rgt">View Details</th>
                        <th  class="tbl_head bod_rgt">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.SubadminDetails)
                    {
                        <tr>
                         
                            <td class="bod_rgt">@item.FirstName @item.LastName </td>
                            <td class="bod_rgt">@item.EmailAddress</td>
                            <td class="bod_rgt">@item.PhoneNo</td>
                              
                            <td  class="bod_rgt">
                               <a id="Detail1"  href="@Url.Action("ManageSubadmins", "Admin", new { ID = @item.ID })">Click Here</a>   
                           </td>
                             <td  class="bod_rgt">
                               <a id="DeleteSubAdmin"  href="#" data-UserId="@item.ID">Click Here</a>   
                           </td>
                        </tr>
                    }
               <tbody>
            </table>

                                </div>


                            </div>

                        </div>


                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
@*<section class="payment">
        <h2 style="width:220px">Manage Subadmins</h2>
        <section class="tbl_content">
            <form id="InspectionList">
                <table width="60%" style="margin-bottom:10px" cellspacing="0">
              
                </table>
            </form>
              <div class="success" >
                <label id="SuccessMsg" style="float: left; margin-left: 20px">User is Deleted Succssefully</label></div>
        
            <div class="error" >
                <label id="ErrorMsg" style="float: left; margin-left: 20px">Some error is occured. Please try after sometime..</label></div>
            <table style="width: 100%; float: left" cellpadding="0" cellspacing="0" border="0" class="table" id="tblinspectionDetail">
                <thead>
                    <tr>
                        <th width="1%" class="tbl_head bod_rgt"></th>
                        <th width="25%" class="tbl_head bod_rgt">Sub-admin Name</th>
                        <th width="20%" class="tbl_head bod_rgt">Email-Id</th>
                        <th width="15%" class="tbl_head bod_rgt">Phone No</th>
                        <th width="13%" class="tbl_head bod_rgt">Assign States</th>
                        <th width="13%" class="tbl_head bod_rgt">View Details</th>
                        <th width="15%" class="tbl_head bod_rgt">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.SubadminDetails)
                    {
                        <tr>
                            <td class="bod_rgt"><input type="checkbox" value="@item.ID" class="DeleteUser" /></td>
                            <td class="bod_rgt">@item.FirstName @item.LastName </td>
                            <td class="bod_rgt">@item.EmailAddress</td>
                            <td class="bod_rgt">@item.PhoneNo</td>
                              <td  class="bod_rgt">
                           
                                  <a id="Detail"  data-orderid="@item.ID" href="javascript://void(0);">Click here</a> 
                           </td>
                            <td  class="bod_rgt">
                               <a id="Detail1"  href="@Url.Action("ManageSubadmins", "Admin", new { ID = @item.ID })">Click Here</a>   
                           </td>
                             <td  class="bod_rgt">
                               <a id="DeleteSubAdmin"  href="#" data-UserId="@item.ID">Click Here</a>   
                           </td>
                        </tr>
                    }
                <tbody>
            </table>
          <div style="float: right; margin-top: 36px; margin-right: -129px;">
            <input type="button" value="Delete Admin" id="DeleteMultipleAdmin" class="btn" />
                </div>
            <input type="hidden" value="" id="hdnInspectorDetailsId" />
        </section>
        <section class="clr"></section>
    </section>*@
@*<div aria-hidden="true" aria-labelledby="windowTitleLabel" role="dialog" tabindex="-1" class="modal hide fade in" id="PopupDiv">
    <div class="modal-header">
        <a data-dismiss="modal" class="close" href="#">×</a>
        <h3>Assign States</h3>
    </div>
     <div id="PopUp-success" >
         <label id="lblMessage"></label>
          <img src="~/Content/images/success.png" alt="Success" />
        </div>
      <div id="PopUp-error" >
         <label id="lblMessage1"></label>
          <img src="~/Content/images/error.png" alt="error" />
        </div>
    <div class="modal-body">
        <div class="divDialogElements">
            <p>
             @Html.ListBox("AssignedStates", new SelectList(new[] { "" }), new { id = "AssignedStates", style = "width:200px" })
                              
            <input type="button"  style="margin-left: 96px;" class="btn" id="btnDeleteState" value="Delete" />
            <br />
            <br />
            <br />
            Assign States&nbsp;&nbsp;&nbsp;
            @Html.DropDownList("StateList", (SelectList)ViewBag.StateList)
            &nbsp; &nbsp; &nbsp; &nbsp; 
            <input type="button" class="btn" id="AddState" value="Asign" />
        </div>
    </div>
   
</div>*@
                  <!-- Loader-->
    <div id="loadingModel" class="displayNone overlay">
        <div class=" loader">
            <div>
                <img src='@Url.Content("~/Content/Images/loading_big.gif")' />
            </div>
            <div>
                Loading..
            </div>
        </div>
    </div>
    <!-- /Loader -->
@*<script type="text/javascript">
    $(document).ready(function () {

        /*Get Zip codes of inspector:Event Click here to Assign Zip Code Button*/
        $("#tblinspectionDetail tr #Detail").live('click', function () {

            var SubAdminId = $(this).attr('data-orderid');

            /*initializing Progress Bar*/
            $.blockUI({
                css: {
                    border: 'none',
                    padding: '15px',
                    backgroundColor: '#000',
                    '-webkit-border-radius': '10px',
                    '-moz-border-radius': '10px',
                    opacity: .5,
                    color: '#fff'
                }
            });
            $("#hdnInspectorDetailsId").val(SubAdminId);
            $("#lblMessage").html(" ");
            $("#PopUp-success").css("display", "none");
            $('#txtZipCode').val("");
            $.getJSON($URL._GetAssignedStates, { id: SubAdminId },
               function (classesData) {

                   var select = $("#AssignedStates");
                   select.empty();
                   $.each(classesData, function (index, itemData) {

                       select.append($('<option/>', {
                           value: itemData.Text,
                           text: itemData.Value
                       }));
                   });
                   setTimeout($.unblockUI, 1000);
                   $("#PopupDiv").width(500);
                   $('#PopupDiv').modal({ backdrop: 'static', keyboard: true })
                   $("#PopupDiv").modal("show");
               });
        });

        $("#AddState").click(function () {
            var value = $('#StateList').val();
            var state = $("#StateList option:selected").text();
            var SubAdminId = $("#hdnInspectorDetailsId").val()
            var Zcodes = $('#AssignedStates');
            var flag = true;

            $('#AssignedStates option').each(function () {
                optionText = $(this).html();
                optionVal = $(this).val();

                if (value == optionVal) {

                    flag = false;

                }
            });

            if (flag == true) {
                showLoader();
                $.ajax({
                    type: "Post",
                    url: $URL._AssignedStates,
                    data: { id: value, SubAdminId: SubAdminId },
                    success: function (result) {
                        if (result == "Success") {
                            var htmlSelect = $("#AssignedStates");
                            htmlSelect.append($('<option/>', {
                                value: value,
                                text: state
                            }));
                            $("#lblMessage").html("State assigned successfully");
                            $("#PopUp-success").css("display", "block");
                            $("#PopUp-error").css("display", "none");
                            hideLoader()
                        }
                        else if (result == "State already assigned to some one else") {
                            hideLoader();
                            $("#lblMessage1").html("State already assigned to some one else");
                            $("#PopUp-success").css("display", "none");
                            $("#PopUp-error").css("display", "block");
                        }
                        else if (result == "error") {
                        }
                    },
                    error: function () { setTimeout($.unblockUI, 1000); alert("error"); },
                });
            }
            else {

                $("#lblMessage1").html("State already assigned");
                $("#PopUp-success").css("display", "none");
                $("#PopUp-error").css("display", "block");
                hideLoader();
            }
        });

        /*Delete Zip codes of inspector:Event Delete Button*/
        $("#btnDeleteState").click(function () {

            var value = $('#AssignedStates').val();
            var SubAdminId = $("#hdnInspectorDetailsId").val()
            var v = "";
            for (i = 0; i < value.length; i++) {
                v += value[i] + ",";
            }
            showLoader();
            $.ajax({
                type: "Post",
                url: $URL._DeleteState,
                data: { id: v.substr(0, v.length - 1), SubAdminId: SubAdminId },
                success: function (result) {

                    if (result == "Success") {
                        for (i = 0; i < value.length; i++) {
                            $("#AssignedStates option[value='" + value[i] + "']").remove();
                        }
                        hideLoader();
                        $("#lblMessage").html("State deleted successfully");
                        $("#PopUp-success").css("display", "block");
                    }


                    else if (result == "error") {

                    }
                },
                error: function () { setTimeout($.unblockUI, 1000); alert("error"); },
            });
        });

    });
    function showLoader() {
        $("#loadingModel").show();
    }
    function hideLoader() {
        $("#loadingModel").hide();
    }
    </script>*@