﻿@model SpectorMax.Entities.Classes.InspectorDetails
<script src="@Url.Content("~/Scripts/Paging/Paging.js")"></script>

@{
    ViewBag.Title = "ManageInspector";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p class="welcome">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="report">
                <div class="row">

                    <div class="col-md-12 space">

                        <h2>Manage Inspectors</h2>

                    </div>
                </div>

                <div class="row">

                    <div class="col-md-12">

                        <div class="">

                            <div class="col-md-12">

                                <div class="table-responsive" id="renderRecentViewedReport">
                                    <table class="table" id="tblinspectionDetail">
                                        <thead>
                                            <tr>
                                                
                                                <th>Inspector Name</th>
                                                <th>Email-Id</th>
                                                <th>Assigned Zip Codes</th>
                                                <th>View Details</th>
                                                <th>Edit Zip Code</th>
                                                <th>Payment Cycle</th>
                                                <th>Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.InspectorPayment)
                                            {
                                                <tr>
                                                
                                                    <td>@item.FirstName @item.LastName </td>
                                                    <td>@item.EmailAddress</td>
                                                    <td class="zipcodes">
                                                        @foreach (var item1 in item.PL)
                                                        {
                                                            @item1.Zip <label>,</label>
                                                        }</td>
                                                    <td>
                                                        <a id="Detail1" href="@Url.Action("CreateInspector", "Admin", new { ID = @item.UserID })">Click Here</a>

                                                    </td>
                                                    <td>
                                                        <a id="zip" data-orderid="@item.UserID" href="javascript://void(0);">Click here</a>

                                                    </td>
                                                    <td>
                                                        <a id="PaymentCylce" data-orderid="@item.InspectorDetailsID" href="javascript://void(0);">Click here</a>

                                                    </td>
                                                    <td>
                                                        <a id="DeleteInspector" data-UserId="@item.UserID" href="javascript://void(0);">Click here</a>

                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>


                                </div>


                            </div>

                        </div>


                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@* <form id="InspectionList">
<section class="payment">
        <h2 style="width:220px">Manage Inspectors</h2>
        <section class="tbl_content">
              <div class="success" >
                <label id="SuccessMsg" style="float: left; margin-left: 20px">User is Deleted Succefully</label></div>
        
            <div class="error" >
                <label id="ErrorMsg" style="float: left; margin-left: 20px">Some error is occured. Please try after sometime..</label></div>

            
            <div style="float: right; margin-top: 36px; margin-right: -129px;">
            <input type="button" value="Delete Inspectors" id="DeleteMultipleInspector" class="btn" />
                </div>
            <input type="hidden" value="" id="hdnInspectorDetailsId" />
        </section>
        <section class="clr"></section>
 
</section>
</form>
 *@

<!-- Modal 1 -->
<div class="modal fade" id="PopupDiv" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close custmclose" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title text-center" id="myModalLabel">Assigned Zip Codes</h4>
            </div>
            <div class="modal-body">
                   <input type="hidden" value="" id="hdnInspectorDetailsId" />
                <div class="Zip-error" id="Zip-error" style="display: none">
                    <div class="alert alert-danger alert-error">

                        <strong>Error!</strong>
                        <label id="lblMessageziperror"></label>
                    </div>
                </div>

                <div class="alert alert-success" id="PopUp-success" style="display: none; margin-top: 22px;">



                    <strong>Success!</strong>
                    <label id="lblMessage"></label>

                </div>


                @Html.ListBox("Zipcode", new SelectList(new[] { "" }), new { id = "ZipCode", style = "width:200px" })
                <button type="button" id="btnDelete" class="smblue-btn pull-right has-spinner">
                    <span class="spinner"><i class="icon-spin icon-spinner icon-large"></i></span>
                    Delete
                </button>

                <br />
                <br />
                <br />
                Assign Zip Code&nbsp;&nbsp;&nbsp;
            <input type="text" id="txtZipCode" />
                <button type="button" id="AddZip" class="smblue-btn pull-right has-spinner">
                    <span class="spinner"><i class="icon-spin icon-spinner icon-large"></i></span>
                    Assign
                </button>


            </div>

        </div>
    </div>
</div>
<!-- Modal 1 -->

@*<div aria-hidden="true" aria-labelledby="windowTitleLabel" role="dialog" tabindex="-1" class="modal hide fade in" id="PopupDiv">
   
   

     <div class="modal-header">
        <a data-dismiss="modal" class="close" href="#">×</a>
        <h3>Assigned Zip Codes</h3>
    </div>
     <div id="PopUp-success" >
         <label id="lblMessage"></label>
          <img src="~/Content/images/success.png" alt="Success" />
        </div>
     <div id="Zip-error" class="error1">
         <label id="lblMessageziperror"></label>
          <img src="~/Content/images/error.png" alt="error" />
        </div>
    <div class="modal-body">
        <div class="divDialogElements">
            @Html.ListBox("Zipcode", new SelectList(new[] { "" }), new { id = "ZipCode", style = "width:200px" })
                              
            <input type="button"  style="margin-left: 96px;" class="btn" id="btnDelete" value="Delete" />
            <br />
            <br />
            <br />
            Assign Zip Code&nbsp;&nbsp;&nbsp;
            <input type="text"  id="txtZipCode" />
            <input type="button" class="btn" id="AddZip" value="Assign" />
        </div>
    </div>

</div>*@

@*<div aria-hidden="true" aria-labelledby="windowTitleLabel" role="dialog" tabindex="-1" class="modal hide fade in" id="PopupDivPayment">
    <div class="modal-header">
        <a data-dismiss="modal" class="close" href="#">×</a>
        <h3>Payment Cycle</h3>
    </div>
    <div id="PopUpPayment" class="PopUp-success">
        <label id="lblMessagePayment"></label>
        <img src="~/Content/images/success.png" alt="Success" />
    </div>
    <div id="PopUp-error">
        <label id="lblMessage1"></label>
        <img src="~/Content/images/error.png" alt="error" />
    </div>
    <div class="modal-body">
        <div class="divDialogElements">
            From &nbsp;&nbsp;&nbsp;  @Html.TextBox("from", null, new { @class = "datepicker", @readonly = "readonly" })
            <br />
            <br />
            <br />
            To &nbsp; &nbsp; &nbsp; &nbsp; @Html.TextBox("To", null, new { @class = "datepicker", @readonly = "readonly" })
            <br />
            <br />
            <input type="button" style="margin-left: 48px;" class="btn" id="btnSubmit" value="Submit" />
        </div>
    </div>

</div>*@



<div class="modal fade" id="PopupDivPayment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close custmclose" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title text-center" id="myModalLabel1">Payment Cycle</h4>
            </div>
            <div class="modal-body">

                <div class="Zip-error" id="PopUp-error" style="display: none">
                    <div class="alert alert-danger alert-error">

                        <strong>Error!</strong>
                        <label id="lblMessage1"></label>
                    </div>
                </div>

                <div class="alert alert-success" id="PopUpPayment" style="display: none; margin-top: 22px;">



                    <strong>Success!</strong>
                    <label id="lblMessagePayment"></label>

                </div>

                From &nbsp;&nbsp;&nbsp;  @Html.TextBox("from", null, new { @class = "datepicker", @readonly = "readonly" })
                <br />
                <br />
                <br />
                To &nbsp; &nbsp; &nbsp; &nbsp; @Html.TextBox("To", null, new { @class = "datepicker", @readonly = "readonly" })
                <br />
                <br />

                <button type="button" id="btnSubmitPaymentCycle" class="smblue-btn pull-right has-spinner">
                    <span class="spinner"><i class="icon-spin icon-spinner icon-large"></i></span>
                    Submit
                </button>
                <p>&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
            </div>

        </div>
    </div>
</div>
<!-- Loader-->
<div id="loadingModel" class="displayNone overlay">
    <div class=" loader">
        <div>
            <img src='@Url.Content("~/Content/Images/loading.gif")' />
        </div>
        <div>
            Loading..
        </div>
    </div>
</div>
<!-- /Loader -->

