﻿@model SpectorMax.Entities.Classes.UserInfoPoco

<link href="@Url.Content("~/Content/TablesCss/demo_page.css")" rel="stylesheet">
<link href="@Url.Content("~/Content/TablesCss/header.ccss.css")" rel="stylesheet">
<link href="@Url.Content("~/Content/TablesCss/demo_table.css")" rel="stylesheet">
<script src="@Url.Content("~/Scripts/jquery.dataTables.js")" type="text/javascript"></script>

@{
    ViewBag.Title = "Manage Users";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#anchorLogoImage").attr("href", $URL._InspectorDashBoard);
        $("#tblinspectionDetail").dataTable();

        $("#Delete").live("click", function () {
            var UserId = $(this).attr('data-UserId');
            var Rowelement = $(this).parents('tr:first')
            showLoader();
            $.ajax({
                type: "Post",
                url: $URL._DeleteSingleUser,
                data: { UserId: UserId },
                success: function (result) {
                    if (result == "Success") {
                        $(".success").css("display", "block");
                        $("#SuccessMsg").html(" USERS DELETED SUCCESSFULLY")
                        $(".error").css("display", "none");
                        Rowelement.remove();
                        hideLoader();
                    }

                    else if (result == "Error") {

                        $(".success").css("display", "none");
                        $(".error").css("display", "block");
                        hideLoader();
                    }
                    else if (result == "SessionOver") {
                        hideLoader();
                    }
                },
                error: function () { hideLoader(); alert("error"); },
            });


        });
    });
</script>


<div class="container">

     <div class="row">
        <div class="col-md-12">
            <p class="welcome">&nbsp; &nbsp;</p>
        </div>
    </div>
      <div class="row pull-left">
           <div class="col-md-12">

               <div ">
            <input type="button" value="Delete Users" id="DeleteMultipleUser" class="btn-danger" style="margin-bottom:10px;" />
                </div>
            <input type="hidden" value="" id="hdnInspectorDetailsId" />
               </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="report">
                <div class="row">

                    <div class="col-md-12 space">

                        <h2>Manage User(s)</h2>

                    </div>
                </div>

                <div class="row">

                    <div class="col-md-12">

                        <div class="">

                            <div class="col-md-12">

                                <div class="table-responsive" id="renderRecentViewedReport">

                                    <table style="width: 100%; float: left" cellpadding="0" cellspacing="0" border="0" class="table" id="tblinspectionDetail">
                <thead>
                    <tr>
                         <th width="1%" class="tbl_head bod_rgt"></th>
                        <th width="25%" class="tbl_head bod_rgt">Home Owner Name</th>
                        <th width="20%" class="tbl_head bod_rgt">Emai -Id</th>
                        <th width="20%" class="tbl_head bod_rgt">Phone No</th>
                        <th width="20%" class="tbl_head bod_rgt">Delete</th>
                        <th width="20%" class="tbl_head bod_rgt">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.SubadminDetails)
                    {
                        <tr >
                              <td class="bod_rgt"><input type="checkbox" value="@item.ID" class="DeleteUser" /></td>
                            <td class="bod_rgt">@item.FirstName @item.LastName </td>
                            <td class="bod_rgt">@item.EmailAddress</td>
                            <td class="bod_rgt">@item.PhoneNo</td>
                            <td  class="bod_rgt">
                               <a id="Delete" href="#" data-UserId="@item.ID">Click Here</a>   
                           </td>
                            <td  class="bod_rgt">
                               <a id="Detail1" href="@Url.Action("BlockHomeOwner", "Admin", new { ID = @item.ID })">Click Here</a>   
                           </td>
                              
                        </tr>
                    }
                <tbody>
            </table>

                                </div>


                            </div>

                        </div>


                    </div>
                </div>

            </div>
        </div>
    </div>

  
</div>

@*<section class="payment">
       <h2>Manage Users</h2>
        <section class="tbl_content">
            <form id="InspectionList">
                <table width="60%" style="margin-bottom:10px" cellspacing="0">
              
                </table>
            </form>
           
            <div class="success" >
                <label id="SuccessMsg" style="float: left; margin-left: 20px">User is Deleted Succssefully</label></div>
        
            <div class="error" >
                <label id="ErrorMsg" style="float: left; margin-left: 20px">Some error is occured. Please try after sometime..</label></div>
        
            <table style="width: 100%; float: left" cellpadding="0" cellspacing="0" border="0" class="table" id="tblinspectionDetail">
                <thead>
                    <tr>
                         <th width="1%" class="tbl_head bod_rgt"></th>
                        <th width="25%" class="tbl_head bod_rgt">Home Owner Name</th>
                        <th width="20%" class="tbl_head bod_rgt">Emai -Id</th>
                        <th width="20%" class="tbl_head bod_rgt">Phone No</th>
                        <th width="20%" class="tbl_head bod_rgt">Delete</th>
                        <th width="20%" class="tbl_head bod_rgt">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.SubadminDetails)
                    {
                        <tr >
                              <td class="bod_rgt"><input type="checkbox" value="@item.ID" class="DeleteUser" /></td>
                            <td class="bod_rgt">@item.FirstName @item.LastName </td>
                            <td class="bod_rgt">@item.EmailAddress</td>
                            <td class="bod_rgt">@item.PhoneNo</td>
                            <td  class="bod_rgt">
                               <a id="Delete" href="#" data-UserId="@item.ID">Click Here</a>   
                           </td>
                            <td  class="bod_rgt">
                               <a id="Detail1" href="@Url.Action("BlockHomeOwner", "Admin", new { ID = @item.ID })">Click Here</a>   
                           </td>
                              
                        </tr>
                    }
                <tbody>
            </table>
            <div style="float: right; margin-top: 36px; margin-right: -129px;">
            <input type="button" value="Delete Users" id="DeleteMultipleUser" class="btn" />
                </div>
            <input type="hidden" value="" id="hdnInspectorDetailsId" />
        </section>
        <section class="clr"></section>
    </section>*@

           
