﻿@model SpectorMaxDAL.emailtemplate

@{
    ViewBag.Title = "ManageTemplates";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}   
<link href="@Url.Content("~/Content/TablesCss/demo_page.css")" rel="stylesheet">
<link href="@Url.Content("~/Content/TablesCss/header.ccss.css")" rel="stylesheet">
<link href="@Url.Content("~/Content/TablesCss/demo_table.css")" rel="stylesheet">
<script src="@Url.Content("~/Scripts/jquery.dataTables.js")" type="text/javascript"></script>
<script src="~/Scripts/Editor.js"></script>
<div class="container" id="container">
    
   @Html.Partial("PartialEditPlans", Model)
       
</div>
<script>
    $(document).ready(function () {
        $("#Rate").css("display", "none")
        $("#lblPlan").css("display", "none")
        $("#lblValidity").css("display", "none")
        $("#Validity").css("display", "none")
    });
</script>