﻿@model SpectorMaxDAL.emailtemplate
@{
    ViewBag.Title = "ManagePlans";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
    
@using SpectorMax.Entities.Classes
<br />
<br />
<h2 class="text-center">Manage Plans</h2>
<div class="container" id="container">
  
   @Html.Partial("PartialEditPlans", Model)
    
</div>
