﻿@model IEnumerable<SpectorMax.Entities.Classes.CommentLibrary>
@{
    ViewBag.Title = "ManageTemplates";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<link href="@Url.Content("~/Content/TablesCss/demo_page.css")" rel="stylesheet">
<link href="@Url.Content("~/Content/TablesCss/header.ccss.css")" rel="stylesheet">
<link href="@Url.Content("~/Content/TablesCss/demo_table.css")" rel="stylesheet">

<link href="@Url.Content("~/Content/css/CommentMenu.css")" rel="stylesheet">
<script src="@Url.Content("~/Scripts/jquery.dataTables.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-te-1.4.0.min.js")"></script>
<script>
    $(document).ready(function () {

        $('label.MainSection').click(function () {
            var isVisible = $("ul.SS").is(":visible");
            if (isVisible == true) {
                $("ul.SS").hide();
            }
            $(this).parent().children('ul.tree').toggle(300);

        });

        $('label.SubSection').click(function () {

            var isVisible = $('ul.Box').is(":visible");
            if (isVisible == true) {
                $('ul.Box').hide(400);
            }
            $(this).parent().children('ul.tree').toggle(300);
        });
        $(function () {
            $('#textComment').keyup(function (event) {               
                $('#textComment').val($('#textComment').val().replace(/\"/g, ''));
            });
        });
        
        //$('label.tree-toggler').click(function () {

        //    //var isVisible = $("ul.tree").is(":visible");
        //    //if (isVisible == true) {
        //    //    $("ul.tree").hide();
        //    //}
        //    $(this).parent().children('ul.tree').toggle(300);

        //});
    });
</script>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <label></label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center"></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="inspection">
                <div class="row">

                    <div class="col-md-12 space">

                         <h2>Comment Library</h2>

                    </div>
                </div>

                <div class="row">

                    <div class="col-md-12">
                        <div class="col-md-4 col-sm-4">
                            <div class="well" style="padding: 8px 0; margin-top: 11px;">
                                <div style="overflow-y: scroll; overflow-x: hidden; height: 500px;">
                        <ul class="nav nav-list">
                            @{  
                                var mainsection = (from k in Model select new { k.SectionName, k.MainID }).ToList().Distinct();

                                foreach (var mainsec in mainsection)
                                {
                                    var Subsec = (from k in Model
                                                  where k.SectionName == mainsec.SectionName
                                                  select new { k.SubSectionName, k.SubSectionID }).ToList().Distinct();
                                    if (Subsec.Count() > 0)
                                    {
                                        <li style="width:100%"><label class="tree-toggler nav-header MainSection" data-MainSectionId="@mainsec.MainID">@mainsec.SectionName</label>

                                            @foreach (var SubSecName in Subsec)
                                            {
                                                var items = (from k in Model
                                                             where k.SubSectionID == SubSecName.SubSectionID
                                                             select new { k.CommentBoxName, k.ItemId }).ToList().Distinct();
                                                
                                                <ul style="display: none;clear:both;float:none;width:100%" class="nav nav-list tree SS">
                                                    <li style="width:100%"><label class="tree-toggler nav-header SubSection" style="width:100%" data-SubSectionId="@SubSecName.SubSectionID">@SubSecName.SubSectionName.Trim()</label>
                                               
                                                @foreach (var CommentBoxName in items)
                                                {
                                                <ul style="display: none;float:none;" class="nav nav-list tree Box">
                                                    <li style="width:100%"><a href="#" class="CommentBox"  data-Item="@CommentBoxName.ItemId">@CommentBoxName.CommentBoxName</a></li>
                                                </ul>
                                                } </ul> 
                                            }
                                        </li>            
                                    }
                                <li class="divider"></li>
                                }
                            }
                        </ul>
                    </div>

                            </div>

                        </div>

                        <div class="col-md-8 col-sm-8">
                            <div class="whwbr">

                                 <div class="row">
                                    <div class="col-md-12 well" id="display-Section" style="display: none;">

                                        <div class="col-md-2"><b>Section:</b></div>
                                        <div class="col-md-2"><span id="lblMainSectionName"></span></div>
                                        <div class="col-md-2"><b>Sub Section:</b></div>
                                        <div class="col-md-2"><span id="lblSubSectionName"></span></div>
                                        <div class="col-md-2"><b>Comment Box:</b></div>
                                        <div class="col-md-2"><span id="lblCommentBoxName"></span></div>
                                    </div>
                                </div>

                                 <div class="row">
                                    <div class="col-md-12">
                                        <div class="">
                                            <div class="col-md-12">
                                                <div class="table-responsive  inspection" id="SectionGrid">
                                                    <table id="exampleRecentViewed" class="table table-striped table-bordered table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th width="60%">Comment Text</th>
                                                                <th width="40%">Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td colspan="2" style="text-align: center; color: red;" class="bod_rgt">No record found</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                 <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                        <label>Enter Comment Here</label>
                                           <input type="hidden" id="hiddenSectionId"  />
                                           <input type="hidden" id="hiddenSubSectionId"  />
                                           <input type="hidden" id="hiddenCommentBoxId" />
                                           <input type="hidden" id="hiddenCommentBoxName" />
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" id="textComment" class="form-control" />
                                        </div>
                                        <div class="col-md-2">
                                            <input type="button" class="blu-btn" value="Add" id="btnSave"  onclick="SaveComment();" /> 
                                        </div>
                                   </div>
                                </div>

                                 <div class="row">
                                    <div class="col-md-12">
                                        <label></label>
                                        </div></div>

                                 <div class="row">
                                    <div class="col-md-12">
                                         <div id="display-success" style="width:auto;color:red;padding-top: 3px; background-color:#F7D2F2" class="mb10">
                                            <img src="~/Content/images/details_close.png" alt="Success" /> Please select Section and add text on comment box.
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- Loader-->
<div id="loadingModel" class="displayNone overlayPage">
    <div class=" loaderPage">
        <div>
            <img src='@Url.Content("~/Content/Images/loading_big.gif")' />
        </div>
        <div>
            Loading..
        </div>
    </div>
</div>
<!-- /Loader -->
<script>
    function SaveComment() {

        var SectionId = $('#hiddenSectionId').val();
        var SubSectionId = $('#hiddenSubSectionId').val();
        var CommentBoxId = $('#hiddenCommentBoxId').val();

        if (CommentBoxId == "cecee34a-8966-11e3-be64-0025900e2630")
            var CommentBoxName = "type";
        else if (CommentBoxId == "cefcab68-8966-11e3-be64-0025900e2630")
            var CommentBoxName = "location";
        else if (CommentBoxId == "6c26263e-8968-11e3-be64-0025900e2630")
            var CommentBoxName = "manufacturer";
        else if (CommentBoxId == "6cb8789a-8968-11e3-be64-0025900e2630")
            var CommentBoxName = "manufacturer";
        else if (CommentBoxId == "6d436f18-8968-11e3-be64-0025900e2630")
            var CommentBoxName = "manufacturer";
        else if (CommentBoxId == "77c9deac-896a-11e3-be64-0025900e2630")
            var CommentBoxName = "type";
        else if (CommentBoxId == "719693ec-8968-11e3-be64-0025900e2630")
            var CommentBoxName = "description";
        else if (CommentBoxId == "6d73eb20-8968-11e3-be64-0025900e2630")
            var CommentBoxName = "location";
        else
            var CommentBoxName = $('#hiddenCommentBoxName').val();
        var CommentText = $('#textComment').val();
        if (CommentBoxId == "" || CommentText == "") {
            $("#display-success").css("display", "block");
            return false;
        }
        showLoader();
        $.ajax({
            type: "post",
            url: $URL._SaveComment,
            data: { SectionId: SectionId, SubSectionId: SubSectionId, CommentBoxId: CommentBoxId, CommentText: CommentText, CommentBoxName: CommentBoxName },
            success: function (result) {
                hideLoader()
                if (result.Message == "Success") {
                    $("#SectionGrid").html(result.Result);
                    $("#CommentTable_length label").css({ "padding-left": "20px" });
                    $("#CommentTable_info").css({ "padding-left": "20px" });
                    $("#textComment").val('');
                }
            },
            error: function (e) {
                hideLoader()

            },
        });
    }
    function GetComment(CommentBoxId) {

        //   var CommentBoxId = "440826b6-88dc-11e3-be64-0025900e2630"; //$('#hiddenCommentBoxId').val();
        $("#textComment").val('');
        showLoader();
        $.ajax({
            type: "post",
            url: $URL._GetComment,
            data: { CommentBoxId: CommentBoxId },
            success: function (result) {
                hideLoader();
                if (result.Message == "Success") {
                    $("#SectionGrid").html(result.Result);
                    $("#CommentTable_length label").css({ "padding-left": "20px" });
                    $("#CommentTable_info").css({ "padding-left": "20px" });
                }
                else {
                    var htmlTable = "<table style='width: 98%;margin-left: 20px;' cellpadding='0' cellspacing='0' border='0' class='table' id='exampleRecentViewed'><thead><tr><th style='width:565px;' class='tbl_head bod_rgt'>Comment Text</th><th class='tbl_head bod_rgt'>Action</th></tr></thead><tbody><tr class='even gradeC'><td colspan='2' style='text-align:center; color:red;' class='bod_rgt'>No record found</td></tr></tbody></table>";
                    $("#SectionGrid").html(htmlTable);
                }
            },
            error: function (e) {
                hideLoader();
            },
        });
    }

    function UpdateDelete(element, status, Id) {
        showLoader();
        var tableElement = $(element).parents('tr');
        var lblElement = $(element).parents('td').prev('td').find('.ComentHref');
        var txtElement = $(element).parents('td').prev('td').find('.Comment');
        var btnCancel = $(element).parents('td').find("#btnCancel");
        var btnDelete = $(element).parents('td').find("#btnDelete");
        var btnEdit = $(element).parents('td').find("#btnEdit");
        var CommentText = $('#' + Id).val();
        $.ajax({
            type: "post",
            url: $URL._UpdateDelete,
            data: { AdminCommentLibraryId: Id, status: status, CommentText: CommentText },
            success: function (result) {
                hideLoader()
                if (result.Message == "Success") {
                    if (status == "delete") {
                        $(tableElement).remove();
                    }
                    else {
                        $(lblElement).html(CommentText);
                        $(txtElement).hide();
                        $(lblElement).show();
                        $(element).hide();
                        $("#btnEdit").show();
                        $("#btnDelete").show();
                        $("#btnCancel").hide();
                    }
                    $("#textComment").val('');
                }
            },
            error: function (e) {
                hideLoader()

            },
        });
    }
    $(document).ready(function () {

        $(".CommentBox").click(function () {

            var SubSectionId = $(this).parents('ul:first').parents('li:first').find('.SubSection').attr('data-subsectionid')
            var mainsectionid = $(this).parents('ul:first').parents('li:first').parents('ul:first').parents('li:first').find('.MainSection').attr('data-mainsectionid')

            var CommentBoxId = $(this).attr('data-Item')

            $("#hiddenSectionId").val(mainsectionid)
            $("#hiddenSubSectionId").val(SubSectionId)
            $("#hiddenCommentBoxId").val(CommentBoxId)
            $("#hiddenCommentBoxName").val($(this).html())
            $("#display-success").css("display", "none");


            $("#lblMainSectionName").html($(this).parents('ul:first').parents('li:first').parents('ul:first').parents('li:first').find('.MainSection').html())
            $("#lblSubSectionName").html($(this).parents('ul:first').parents('li:first').find('.SubSection').html())
            $("#lblCommentBoxName").html($(this).html())
            $("#display-Section").css("display", "inline-table");
            GetComment(CommentBoxId);
            //$("#btnSave").attr("disabled","enabled")
        });
    });
    function Edit(control) {
        $(this).parents('td:first').find('#CommentText').css('display', 'none');
        //$(this).parents('td:first').find('#' + control).css('display', 'none');
        //control.parent('td').previous('td').child('a').css('display', 'none');
        //control.parent('td').previous('td').child('text').css('display', 'block');

        //control.css('display', 'none');
        //control.parent('td').find('#btnDelete').css('display', 'none');

        //control.parent('td').find('#btnCancel').css('display', 'block');
        //control.parent('td').find('#btnUpdate').css('display', 'block');
    }
    function Cancle(control) {
        control.parent('td').previous('td').child('a').css('display', 'block');
        control.parent('td').previous('td').child('text').css('display', 'none');

        control.css('display', 'none');
        control.parent('td').find('#btnUpdate').css('display', 'none');

        control.parent('td').find('#btnDelete').css('display', 'block');
        control.parent('td').find('#btnEdit').css('display', 'block');

    }
    function showLoader() {
        $("#loadingModel").show();
    }
    function hideLoader() {
        $("#loadingModel").hide();
    }
</script>

