﻿@{
    ViewBag.Title = "PreClosingChecklist";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@model SpectorMax.Entities.Classes.UserInfoPoco

<link href="@Url.Content("~/Content/TablesCss/demo_page.css")" rel="stylesheet">
<link href="@Url.Content("~/Content/TablesCss/header.ccss.css")" rel="stylesheet">
<link href="@Url.Content("~/Content/TablesCss/demo_table.css")" rel="stylesheet">
<script src="@Url.Content("~/Scripts/jquery.dataTables.js")" type="text/javascript"></script>

@{
    ViewBag.Title = "Manage Users";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#State").change(function () {
            showLoader();
            $.ajax({
                type: "POST",
                url: '@Url.Action("NGetCity", "UserInfoes")',
                dataType: "json",
                data: { state: $('#State :selected').val() },
                success: function (result) {
                    $('#City').empty();
                    //    $('#City').append($('<option></option>').val("--Select--").html("--Select--"));
                    $(result).each(function (index, item) {
                        $('#City').append($('<option></option>').val(this.Value).html(this.Text));
                    });
                    hideLoader();
                },
                error: function (e) {
                    hideLoader();
                },
            });
        });
        $("#City").change(function () {
            showLoader();
            $.ajax({
                type: "POST",
                url: '@Url.Action("NGetZipcodes", "UserInfoes")',
                dataType: "json",
                data: { City: $('#City :selected').val() },
                success: function (result) {
                    $('#ZipCode').empty();
                    //   $('#ZipCode').append($('<option></option>').val("--Select--").html("--Select--"));
                    $(result).each(function (index, item) {
                        $('#ZipCode').append($('<option></option>').val(this.Value.toString()).html(this.Text.toString()));
                    });
                    hideLoader();
                },
                error: function (e) {
                    hideLoader();
                },
            });
        });

        $("#ZipCode").change(function () {
            showLoader();
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetPreClosingList", "Admin")',
                dataType: "json",
                data: { zipcode: parseInt($('#ZipCode :selected').val()) },
                success: function (result) {
                    $("#SectionGrid").html(result.Result);
                    hideLoader();
                },
                error: function (e) {
                    hideLoader();
                },
            });
        });
    });
</script>


<div class="container">

    <div class="row">
        <div class="col-md-12">
            <p class="welcome">&nbsp; &nbsp;</p>
        </div>
    </div>
    <div class="form-group col-md-12">
        <div class="col-sm-1 text-left">
            <label>State:</label>
        </div>
        <div class="col-sm-3">
            @Html.DropDownListFor(model => model.StateId, (IEnumerable<SelectListItem>)Model.StatesList, new { @class = "form-control ", @Id = "State" })
            @Html.ValidationMessageFor(model => model.StateId)
        </div>
        <div class="col-sm-1 text-left">
            <label>City</label>
        </div>
        <div class="col-sm-3">
            @Html.DropDownListFor(model => model.CityId, (IEnumerable<SelectListItem>)Model.CityList, new { @class = "form-control ", @Id = "City" })
            @Html.ValidationMessageFor(model => model.CityId)
        </div>
        <div class="col-sm-1 text-left">
            <label>Zip Code</label>
        </div>
        <div class="col-sm-3">
            @Html.DropDownListFor(model => model.ZipId, (IEnumerable<SelectListItem>)Model.ZipCodesList, new { @class = "form-control ", @Id = "ZipCode" })
            @Html.ValidationMessageFor(model => model.ZipId)
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>&nbsp; &nbsp;</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="report">
                <div class="row">
                    <div class="col-md-12 space">
                        <h2>PreClosing Checklist</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="">
                            <div class="col-md-12">
                                <div class="table-responsive" id="SectionGrid">
                                    <table class="table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th width="25%" class="tbl_head bod_rgt">Owner Name</th>
                                                <th width="20%" class="tbl_head bod_rgt">Emai -Id</th>
                                                <th width="20%" class="tbl_head bod_rgt">Phone No</th>
                                                <th width="20%" class="tbl_head bod_rgt">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td colspan="6" style="text-align: center; color: red;" class="bod_rgt">Please select state city and zipcode !</td>
                                            </tr>
                                            <tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
