﻿@model List<SpectorMax.Entities.Classes.Report>
@{
    ViewBag.Title = "RejectedInspectionRequest";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@using SpectorMax.Entities.Classes
@if (Sessions.LoggedInUser.AdminPermission.Cangetnoticeifinspectorhasnotresponded == true)
{
<div class="container">
     
    <div class="row">
        <div class="col-md-12">
            <p class="welcome">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
        </div>
    </div>
    <div class="bs-exampleExp" style="display: none">
                                        <div class="alert alert-danger alert-error">

                                            <strong>Error!</strong>
                                            <label id="lblErrorExp">There might be some problem. Please try after some time.</label>
                                        </div>
                                    </div>
                                    <div class="alert alert-success" id="success" style="display: none; margin-top: 22px;">



                                        <strong>Success!</strong>
                                        <label id="lblMessage">Order is deleted successfully</label>

                                    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="report">
                <div class="row">

                    <div class="col-md-12 space">

                        <h2>Rejected Requests</h2>

                    </div>
                </div>

                <div class="row">

                    <div class="col-md-12">

                        <div class="">

                            <div class="col-md-12">

                                <div class="table-responsive" id="renderRecentViewedReport">
                                   
                                        <table class="table" id="tblRejected">
                                            <thead>
                                                <tr>
                                                    <th width="15%">Name</th>
                                                    <th width="12%">Report No #</th>
                                                    <th width="15%">Inspection Date</th>
                                                    <th width="18%">Inspector Name</th>
                                                    <th width="10%">Zip Code</th>
                                                    <th width="15%"></th>
                                                    <th width="11%"></th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td>@item.OwnerFirstName @item.OwnerLastName</td>
                                                        <td>@item.ReportNo</td>
                                                        <td>@item.InspectionDate.Value.ToShortDateString()</td>
                                                        <td>
                                                            @if (item.InspectorDetails.Count() > 0)
                                                            {
                                                                @item.InspectorDetails.FirstOrDefault().FirstName @item.InspectorDetails.FirstOrDefault().LastName
                                                            }

                                                        </td>
                                                        <td>@item.Zip</td>
                                                        <td data-orderid="@item.OrderID">
                                                            <a class="blu-btn" id="Detail" href="@Url.Action("CreateNewInspection", "Admin", new { Orderid=item.OrderID })">
                                                            View Request</a>
                                                            
                                                        </td>
                                                        <td>
                                                           
                                                              <button data-orderid="@item.OrderID" type="button" id="Delete" class="blu-btn Delete  has-spinner">
                                                            <span class="spinner"><i class="icon-spin icon-spinner icon-large"></i></span>
                                                            <span id="lblRequest">Delete</span>
                                                        </button>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>


                                </div>

                            </div>


                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
}
else
{
    
    <div class="container">
        <div class="row">
            <div class="col-md-12 space">
                <h2>Pending/Rejected Report</h2>
            </div>
        </div>
       

        <div class="Zip-error" id="PopUp-error" style="display: none">
            <div class="alert alert-danger alert-error">

                <strong>Error!</strong>
                <label id="lblMessage1">You are not authorised for pending/rejected report</label>
            </div>
        </div>
    </div>
  
}
<script type="text/javascript">
    $(document).ready(function () {
        //$("#anchorLogoImage").attr("href", $URL._InspectorDashBoard);
        $("#tblRejected").dataTable();
        $('#tblinspectionDetail').dataTable({
            "sDom": 'T<"clear">lfrtip',
            "oTableTools": {
                "aButtons": [
                    "copy",
                    {
                        "sExtends": "collection",
                        "sButtonText": "Save",
                        "aButtons": ["csv", "xls", "pdf"]
                    }
                ]
            }
        });
        $('.datepicker').datepicker();
    });
    function InspectionReport() {
        if ($("#txtFromDate").val() != "" && $("#txtTodate").val() != "") {
            var fromdate = $("#txtFromDate").val().replace(/\-/g, '');
            var todate = $("#txtTodate").val().replace(/\-/g, '');
            if (todate < fromdate) {
                ShowAlertMessage("title", "ToDate must be greater than or equal to FromDate");
                return false;
            }
        }

        $.ajax({
            type: "Post",
            url: $URL._RejectedInspectionReport,
            data: {
                startDate: $("#txtFromDate").val(),
                endDate: $("#txtTodate").val()
            },
            dataType: "Json",
            success: function (result) {
                $("#Admin").html(result.Result);
            }
        });
    }
    $(".red").live('click', function () {
        var orderid = $(this).attr('data-orderid')
        var hdnrole = $(this).find(":hidden")
        $(location).attr('href', $URL._InsectionOrderDetailsCreate + "?inspectionOrderId=" + orderid + "&ReportType=InspectionRequest&role=" + hdnrole.val());

    });
    //function ViewRequest(role) {
    //    alert(role)
    //    var hdnrole = $(this).closest('.role')
    //    alert(hdnrole.val())
    //    $(location).attr("href", $URL._InsectionOrderDetailsCreate + "?inspectionOrderId=" + $(e).attr('Orderid') + "&ReportType=InspectionRequest&role=" + hdnrole.val());
    //}
</script>