﻿@model SpectorMaxDAL.state
@{
  
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}



<style>
    html, body, #map-canvas
    {
        height: 100%;
        margin: 0px;
        padding: 0px;
    }
</style>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&region=ES"></script>

<script>
    //  $URL = { _GetMapZipCodes: '@Url.Action("GetMapZipCodes", "Admin")' }
    var map;
    var query;
    var markersArray = [];
    var mapOptions;
    function initialize() {


        var myLatlng = new google.maps.LatLng(40.278086, -111.71067);
        var mapOptions = {
            zoom: 4,
            center: myLatlng
        }

        map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
        var infoWindow = new google.maps.InfoWindow();
        UpdateMap();
        function UpdateMap() {
            $.getJSON($URL._GetAllMapZipCodes, { Stateid: 1 },
                 function (classesData) {
                     $.each(classesData, function (index, itemData) {
                         var Name = '' + itemData.FirstName + '';
                         var ID = itemData.ID
                         var myLatlng = new google.maps.LatLng(itemData.latitude, itemData.longitude);
                         mapOptions = {
                             zoom: 4,
                             center: myLatlng
                         }


                         var marker = new google.maps.Marker({
                             map: map,
                             position: myLatlng,
                             title: Name,
                             url: "http://www.google.com",
                             Id: ID
                         }); markersArray.push(marker);
                         (function (marker, Name) {

                             // Attaching a click event to the current marker
                             google.maps.event.addListener(marker, "click", function (e) {
                                 window.location.href = "../Admin/AssignInspector?orderid=" + ID
                             });
                         })(marker, Name);
                     });
                 });
        }
    }
    function clearOverlays() {

        for (var i = 0; i < markersArray.length; i++) {
            markersArray[i].setMap(null);
        }
        markersArray.length = 0;
    }

    function showLoader() {
        $("#loadingModel").show();
    }
    function hideLoader() {
        $("#loadingModel").hide();
    }
    google.maps.event.addDomListener(window, 'load', initialize);
    $(document).ready(function () {



        $("#States").change(function () {
            clearOverlays();
            var Stateid = $("#States").val()
            showLoader();
            $.getJSON($URL._GetMapZipCodes, { Stateid: Stateid },
                 function (classesData) {
                     $.each(classesData, function (index, itemData) {
                         var Name = '' + itemData.FirstName + '';
                         var ID = itemData.ID
                         var myLatlng = new google.maps.LatLng(itemData.latitude, itemData.longitude);
                         mapOptions = {
                             zoom: 4,
                             center: myLatlng
                         }


                         var marker = new google.maps.Marker({
                             map: map,
                             position: myLatlng,
                             title: Name,

                             Id: ID
                         }); markersArray.push(marker);
                         (function (marker, Name) {

                             // Attaching a click event to the current marker
                             google.maps.event.addListener(marker, "click", function (e) {
                                 window.location.href = "../Admin/AssignInspector?orderid=" + ID
                             });
                         })(marker, Name);
                     });
                     hideLoader();

                 });
        });
        $("#States").addClass("dropdown");
    });
    function LoadAllZipCodes() {
        $.getJSON($URL._GetAllMapZipCodes, {},
               function (classesData) {
                   $.each(classesData, function (index, itemData) {
                       var Name = '' + itemData.FirstName + '';
                       var ID = itemData.ID
                       var myLatlng = new google.maps.LatLng(itemData.latitude, itemData.longitude);
                       mapOptions = {
                           zoom: 4,
                           center: myLatlng
                       }


                       var marker = new google.maps.Marker({
                           map: map,
                           position: myLatlng,
                           title: Name,

                           Id: ID
                       }); markersArray.push(marker);
                       (function (marker, Name) {

                           // Attaching a click event to the current marker
                           google.maps.event.addListener(marker, "click", function (e) {
                               window.location.href = "../Admin/AssignInspector?orderid=" + ID
                           });
                       })(marker, Name);
                   });
                   hideLoader();

               });
    }
</script>
<div class="container">

    <div class="row">
        <div class="col-md-12">
            <p class="welcome">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
        </div>
    </div>
    


    <div class="row">
        <div class="col-md-12">
            <div class="report">
                <div class="row">

                    <div class="col-md-12 space">

                        <h2>Rejected Map</h2>

                    </div>
                </div>
                <div class="row">

                    <div class="col-md-12">

                        <div class="">

                            <div class="col-md-12">
                                <div style="float: left">
        @Html.DropDownList("States", "Select State")
    </div>
                                <div style="height: 600px; width: 700px; float: right" id="map-canvas"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Loader-->
    <div id="loadingModel" class="displayNone overlayPage">
        <div class=" loaderPage">
            <div>
                <img src='@Url.Content("~/Content/Images/loading_big.gif")' />
            </div>
            <div>
                Loading..
            </div>
        </div>
    </div>
    <!-- /Loader -->
