﻿@model List<SpectorMax.Entities.Classes.ShareExprience>
@{
    ViewBag.Title = "ShareYourExperiencr";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<script src="~/Scripts/Testimonials.js"></script>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p class="welcome">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="report">
                <div class="row">

                    <div class="col-md-12 space">

                        <h2>Testimonials</h2>

                    </div>
                </div>

                <div class="row">

                    <div class="col-md-12">

                        <div class="">

                            <div class="col-md-12">

                                <div class="table-responsive" id="renderRecentViewedReport">
                                    <table class="table" id="tblinspectionDetail">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Name</th>
                                                <th>State</th>
                                                <th>Report No</th>
                                                <th>Role</th>
                                                <th>Comment</th>
                                                <th>Active</th>
                                                <th>Edit</th>
                                                <th>Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>
                                                    <td>@item.FirstName @item.LastName </td>
                                                    <td>@item.State</td>
                                                    <td>
                                                        @item.ReportNo
                                                    </td>
                                                      <td>
                                                          @if (item.Role == 1)
                                                          { 
                                                            <label>Seller</label>
                                                          }
                                                          else if(item.Role==2)
                                                          {
                                                           <label>Buyer</label>
                                                          }
                                                          else
                                                          {
                                                           <label>Agent</label>
                                                          }
                                                          
                                                        
                                                    </td>
                                                    <td class="Comment" title="@item.Comments">
                                                        @if(item.Comments.Length>50)
                                                        {
                                                        @item.Comments.Substring(0,15)
                                                        }
                                                        else
                                                        {
                                                        @item.Comments
                                                        }
                                                    </td>

                                                    <td class="Active">
                                                        <input type="checkbox" checked="@item.IsActive" disabled="disabled"/></td>
                                                    <td>
                                                    
                                                         <button data-Id="@item.ID" type="button" id="EditComment" class="green-btn Edit  has-spinner">
                                                            <span class="spinner"><i class="icon-spin icon-spinner icon-large"></i></span>
                                                            <span id="lblEDIT">Edit</span>
                                                        </button>
                                                    </td>
                                                    <td>

                                                        <button data-Id="@item.ID" type="button" id="DeleteComment" class="blu-btn Delete  has-spinner">
                                                            <span class="spinner"><i class="icon-spin icon-spinner icon-large"></i></span>
                                                            <span id="lblRequest">Delete</span>
                                                        </button>


                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>


                                </div>


                            </div>

                        </div>


                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<!-- Modal 1 -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close custmclose" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title text-center" id="myModalLabel1">Edit Comment</h4>
            </div>
            <div class="modal-body">
                <div class="bs-exampleExp" style="display: none">
                    <div class="alert alert-danger alert-error">

                        <strong>Error!</strong>
                        <label id="lblErrorExp">There might be some problem. Please try after some time.</label>
                    </div>
                </div>

                <div class="alert alert-success" id="SucessExp" style="display: none; margin-top: 22px;">



                    <strong>Success!</strong> Comment updated successfully. 

                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Is Active</label>
                    <div class="col-sm-9">
                        <div class="row">
                            <input type="checkbox" checked="checked" id="chkActive" style="margin-left: 18px">
                        </div>
                    </div>
                </div>
                <div style="clear: both"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Comment</label>
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-sm-6">
                                <textarea id="txtComments" style="width: 400px" class="form-control"></textarea>
                            </div>
                            <div class="col-sm-6">
                            </div>
                        </div>
                    </div>
                </div>
                <div style="clear: both"></div>
                <div>
                </div>
                <p>&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
                <button type="button" id="btnShareExperience" class="green-btn pull-right has-spinner">
                    <span class="spinner"><i class="icon-spin icon-spinner icon-large"></i></span>
                  <span id="lblSubmit">Submit</span>
                </button>
                <p>&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
            </div>

        </div>
    </div>
</div>
<!-- Modal 1 -->
