﻿@model SpectorMax.Entities.Classes.CreateBuyer

@using SpectorMax.Entities.Classes


  <div class="bs-exampleExp" style="display: none">
                    <div class="alert alert-danger alert-error">

                        <strong>Error!</strong>
                        <label id="lblErrorExp">There might be some problem. Please try after some time.</label>
                    </div>
                </div>

                <div class="alert alert-warning" id="SucessExp" style="display: none; margin-top: 22px;">



                    <strong>Success!</strong> Payment done successfully. Please wait while you are redirecting to comprehensive report 

                </div>


      @using (Ajax.BeginForm("CheckOut", "Payments", FormMethod.Post, new AjaxOptions { OnBegin = "showLoader", OnComplete = "DisplayMsg" }, new { id = "Registration1", @class = "form-horizontal " }))
      {
    <div class="form-group">
        <label class="col-sm-4 control-label">Card Holder Name*</label>
        <div class="col-sm-8">
            @Html.HiddenFor(model => model.amount)
            @Html.HiddenFor(model => model.paymenttype)
            @Html.HiddenFor(model=>model.OrderId)
            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", placeholder = "As it appears on card" })
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-4 control-label">Billing Address*</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" placeholder="Street Address">
        </div>
    </div>

 <div class="form-group">
        <label class="col-sm-4 control-label">State*</label>
        <div class="col-sm-8">
            <div class="row">




                <div class="col-md-6 col-sm-6">

                    @Html.DropDownListFor(model => model.StateId, (IEnumerable<SelectListItem>)ViewBag.StateList,  new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.StateId)

                </div>


                <div class="col-md-6 col-sm-6">

                    @Html.DropDownListFor(model => model.CityId, (IEnumerable<SelectListItem>)ViewBag.CityList,  new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CityId)
                </div>
            </div>
        </div>
    </div>

       <div class="form-group">
        <label class="col-sm-4 control-label">Zip*</label>
        <div class="col-sm-8">
            @Html.DropDownListFor(model => model.ZipCode, (IEnumerable<SelectListItem>)ViewBag.ZipList,  new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ZipCode)
        </div>
    </div>

  <div class="form-group">
        <label class="col-sm-4 control-label">Email*</label>
        <div class="col-sm-8">

            @Html.TextBoxFor(model => model.EmailAddress, new { @class = "form-control", placeholder = "Email address" })
            @Html.ValidationMessageFor(model => model.EmailAddress)
          
            
        </div>
    </div>



      <div class="form-group">
        <label class="col-sm-4 control-label">Card Number*</label>
        <div class="col-sm-8">

            @Html.TextBoxFor(model => model.cardNumber, new { @class = "form-control",@maxlength="16" })
            @Html.ValidationMessageFor(model => model.cardNumber)
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-4 control-label">Expiration Date*</label>
        <div class="col-sm-8">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    @Html.DropDownListFor(model => model.expiryMonth, (SelectList)ViewBag.Month, "Select Month", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.expiryMonth)

                </div>
                <div class="col-md-6 col-sm-6">
                    @Html.DropDownListFor(model => model.expiryYear, (SelectList)ViewBag.Year, "Select Year", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.expiryYear)
                </div>
            </div>
        </div>
    </div>


    <div class="form-group">
        <label class="col-sm-4 control-label">Security Code*</label>
        <div class="col-sm-8">
            <div class="row">
                <div class="col-md-7 col-sm-7">

                    @Html.TextBoxFor(model => model.securityCode, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.securityCode)
                </div>

                <div class="col-md-5 col-sm-5">
                    <label><a href="#!" id="whatCvv" data-toggle="modal" data-target="#modalWhatisthis">What is this?</a></label>
                </div>

            </div>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-12">
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="chkTerms">
                    I agree to the spectormax <a href="#!" data-toggle="modal" onclick="ClkTermsConditions();">Terms & Conditions </a>of use.
                </label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class=" col-sm-12">
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="chkHomeInspections">
                    I agree to the spectormax <a href="#!" id="UserAgreement" onclick="ClkHomeInspectionUserAgreementJson();">Home Inspection User Agreement.</a>
                </label>
            </div>
        </div>
    </div>

    <div class="form-group" id="divTwoMonthMembership" style="display:none">
        <div class=" col-sm-12">
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="chkTwoMonth">I agree to the spectormax <a href="#!" data-toggle="modal" data-target="#modalMembershipAgreement" id="MembershipAgreement">Two Month  Membership Agreement.</a>
                </label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class=" col-sm-10">
            <button type="submit" class="buynow" id="create">BUY NOW</button>
        </div>
    </div>
     

    @*<div class="form-group">
        <div class=" col-sm-12">
            <div class="checkbox">
                <label>
                    <input type="checkbox" checked="checked">
                </label>
            </div>
        </div>
    </div>*@

    <div class="form-group">

        <div class="col-sm-12">

            <p>
                From time to time Spectormax will offer our customers helpful tips
and information tips to guide them throughing the buying and 
selling process. Spectormax does not provide personal information
to any third parties. To learn more about our committment to your
policy, please refer to our  <a onclick="ClkPrivacyPolicy();" href="#!">Privacy Policy</a>.
            </p>

        </div>

    </div>



      }
      
<!-- Loader-->
<div id="loadingModel" class="displayNone overlayPage">
    <div class="loaderPage">
        <div>
            <img src='@Url.Content("~/Content/Images/loading.gif")' />
        </div>
    </div>
</div>
<!-- /Loader -->
   <!-- Modal 1 -->
<div class="modal fade" id="modalterms" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close custmclose" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title text-center" id="myModalLabel">Terms and condition</h4>
      </div>
      <div class="modal-body">
           <p> When we purchase our single comprehensive Report Plan you get the following:</p>
            <p>1. Unlimited online access to your report for upto 60 days after purchase</p>
           <p> 2. Online access with upto three devices that are owned by you </p>
           <p> 3. Get 100% credit from this purchase plan when you upgrade to our 2-Month &nbsp; Unlimited membership Plan</p>
           <p> Subject to our Terms & Conditions of services.</p>
      </div>
      
    </div>
  </div>
</div>
<!-- Modal 1 -->


   <!-- Modal 2 -->
<div class="modal fade" id="modalHomeAgreement" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close custmclose" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title text-center" id="myModalLabel"> Home Inspection User Agreement</h4>
      </div>
      <div class="modal-body">
           <p> When we purchase our single comprehensive Report Plan you get the following:</p>
            <p>1. Unlimited online access to your report for upto 60 days after purchase</p>
           <p> 2. Online access with upto three devices that are owned by you </p>
           <p> 3. Get 100% credit from this purchase plan when you upgrade to our 2-Month &nbsp; Unlimited membership Plan</p>
           <p> Suject to our Terms & Conditions of services.</p>
      </div>
      
    </div>
  </div>
</div>
<!-- Modal 2 -->


<!-- Modal 3 -->
<div class="modal fade" id="modalMembershipAgreement" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close custmclose" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title text-center" id="myModalLabel">Two Month Membership Agreement.</h4>
      </div>
      <div class="modal-body">
           <p> When we purchase our single comprehensive Report Plan you get the following:</p>
            <p>1. Unlimited online access to your report for upto 60 days after purchase</p>
           <p> 2. Online access with upto three devices that are owned by you </p>
           <p> 3. Get 100% credit from this purchase plan when you upgrade to our 2-Month &nbsp; Unlimited membership Plan</p>
           <p> Suject to our Terms & Conditions of services.</p>
      </div>
      
    </div>
  </div>
</div>
<!-- Modal 3 -->

<!-- Modal 4 -->
<div class="modal fade" id="modalWhatisthis" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close custmclose" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title text-center" id="myModalLabel">What is cvv?</h4>
      </div>
      <div class="modal-body">
           <p> When we purchase our single comprehensive Report Plan you get the following:</p>
            <p>1. Unlimited online access to your report for upto 60 days after purchase</p>
           <p> 2. Online access with upto three devices that are owned by you </p>
           <p> 3. Get 100% credit from this purchase plan when you upgrade to our 2-Month &nbsp; Unlimited membership Plan</p>
           <p> Suject to our Terms & Conditions of services.</p>
      </div>
      
    </div>
  </div>
</div>
<!-- Modal 4 -->


<!-- Modal 1 -->
<div class="modal fade" id="TermsAndConditionsModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div style="width:1200px;height:500px"  class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close custmclose" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title text-center">Terms and conditions</h4>
            </div>
            <div class="modal-body">
                 
            </div>
        </div>
    </div>
</div>
<!-- Modal 1 -->

<!-- Modal 2 -->
<div class="modal fade" id="PrivacyPolicyModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div style="width:1200px;height:500px"  class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close custmclose" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title text-center">Privacy Policy</h4>
            </div>
            <div class="modal-body">
                 
            </div>
        </div>
    </div>
</div>
<!-- Modal 2 -->

<!-- Modal 3 -->
<div class="modal fade" id="HomeInspectionUserAgreement" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div style="width:1200px;height:500px"  class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close custmclose" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title text-center">Spectormax Home Inspection User Agreement and Contract</h4>
            </div>
            <div class="modal-body">
                 
            </div>
        </div>
    </div>
</div>
<!-- Modal 3 -->
