﻿@model SpectorMax.Entities.Classes.DetailsReportCommonPoco

@{
    var SectionStatusImageUrl = "";
    var SectionName = "";
    var SubSectionCount = 0;
    var SectionCount = 0;
    // var ImgUrl = "http://108.168.203.227/spectormaxservice/Images/";
    //var ImgUrl = "http://spectormax.com.hazel.arvixe.com/spectormaxservice/Images/";
    var ImgUrl = "http://108.168.203.227/spectormaxservice/images/";
    //  var ImgUrl = "~/Images/Uploaded/";
    var UpdatedImageUrl = "~/Images/Uploaded/";
    var title = "";
}

<style>
    .heiwid {
        height: 200px;
        width: 200px;
    }
</style>
<link rel="stylesheet" href="@Url.Content("~/Content/jBox.css")" />
<script src="@Url.Content("~/Scripts/ViewDetailReport.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.elevatezoom.js")"></script>
<script src="@Url.Content("~/Scripts/jBox.min.js")"></script>

@using SpectorMax.Entities.Classes
@if (Model.ReportsDetail != null && Model.ReportsDetail.Count() > 0)
{
    <div class="clearfix"></div>@*

    <div class="chome">
        <h3 class="text-center">Glossary of Inspection</h3>
    </div>

    <div class="greyfield">


            <ul class="alllist">

            <li>
                <div class="row">
                    <div class="col-md-1 col-sm-2 col-xs-2">
                        <img src="~/Content/Nimg/1icon.png" alt="">
                    </div>
                    <div class="col-md-1 col-sm-2  col-xs-2"><span class="bold">@Model.ReportCount.GreenArrowCount</span></div>
                    <div class="col-md-10 col-sm-8 col-sm-8 ">
                        <p>Item(s) appear serviceable and normal condition of its age.</p>
                    </div>
                </div>
            </li>

            <li>
                <div class="row">
                    <div class="col-md-1 col-sm-2 col-xs-2">
                        <img src="~/Content/Nimg/2icon.png" alt="">
                    </div>
                    <div class="col-md-1 col-sm-2  col-xs-2"><span class="bold">@Model.ReportCount.YellowArrowCount</span></div>
                    <div class="col-md-10 col-sm-8 col-sm-8 ">
                        <p>Item(s) appear to be slightly deficient for its age minor service or maintenance is recommended.</p>
                    </div>
                </div>
            </li>

            <li>
                <div class="row">
                    <div class="col-md-1 col-sm-2 col-xs-2">
                        <img src="~/Content/Nimg/3icon.png" alt="">
                    </div>
                    <div class="col-md-1 col-sm-2  col-xs-2"><span class="bold">@Model.ReportCount.RedArrowCount</span></div>
                    <div class="col-md-10 col-sm-8 col-sm-8 ">
                        <p>Item(s) appear to be significanly deficient for its age  general service or maintenance is recomended.</p>
                    </div>
                </div>
            </li>

            <li>
                <div class="row">
                    <div class="col-md-1 col-sm-2 col-xs-2">
                        <img src="~/Content/Nimg/4icon.png" alt="">
                    </div>
                    <div class="col-md-1 col-sm-2  col-xs-2"><span class="bold">@Model.ReportCount.DoubleRedArrowCount</span></div>
                    <div class="col-md-10 col-sm-8 col-sm-8 ">
                        <p>Item(s) appear to be broken and unusable.</p>
                    </div>
                </div>
            </li>

            <li>
                <div class="row">
                    <div class="col-md-1 col-sm-2 col-xs-2">
                        <img src="~/Content/Nimg/5icon.png" alt="">
                    </div>
                    <div class="col-md-1 col-sm-2  col-xs-2"><span class="bold">@Model.ReportCount.YellowWarningCount</span></div>
                    <div class="col-md-10 col-sm-8 col-sm-8 ">
                        <p> Item(s) appear to be in need of a follow-up inspection by a specialist. The scope of repair is beyond the inspector’s expertise.</p>
                    </div>
                </div>
            </li>

            <li>
                <div class="row">
                    <div class="col-md-1 col-sm-2 col-xs-2">
                        <img src="~/Content/Nimg/6icon.png" alt="">
                    </div>
                    <div class="col-md-1 col-sm-2  col-xs-2"><span class="bold">@Model.ReportCount.RedWarningCount</span></div>
                    <div class="col-md-10 col-sm-8 col-sm-8 ">
                        <p>Item(s) appear to be safely hazard, follow-up repair by is recommended.</p>
                    </div>
                </div>
            </li>

            <li>
                <div class="row">
                    <div class="col-md-1 col-sm-2 col-xs-2">
                         <img src="~/Content/Nimg/barricade-icon.jpg" height="39px" width="36px" alt="">
                    </div>
                    <div class="col-md-1 col-sm-2  col-xs-2"><span class="bold">@Model.ReportCount.Not_accessibility</span></div>
                    <div class="col-md-10 col-sm-8 col-sm-8 ">
                        <p>Item was obstructed and unavailable for inspection.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="row">
                    <div class="col-md-1 col-sm-2 col-xs-2">
                         <img src="~/Content/Nimg/Stop.jpg" height="39px" width="36px" alt="">
                    </div>
                    <div class="col-md-1 col-sm-2  col-xs-2"><span class="bold">@Model.ReportCount.No_inspection</span></div>
                    <div class="col-md-10 col-sm-8 col-sm-8 ">
                        <p> Item(s) were not inspected.</p>
                    </div>
                </div>
            </li>

            <li>
                <div class="row">
                    <div class="col-md-1 col-sm-2 col-xs-2">
                         <img src="~/Content/Nimg/ad-wrapper-text.png" height="39px" width="36px" alt="">
                    </div>
                    <div class="col-md-1 col-sm-2  col-xs-2"><span class="bold">@Model.ReportCount.BlueIconCount</span></div>
                    <div class="col-md-10 col-sm-8 col-sm-8 ">
                        <p>Item(s) have been repaired or updated by the owner since this inspection was completed. Inspector has not verified repair onsite.</p>
                    </div>
                </div>
            </li>





        </ul>


    </div>*@
   
    <div class="chome">
        <h3 class="text-center">Inspection Details</h3>
    </div>
    
    foreach (var i in Model.ReportsDetail)
    {
        //  var IsApproved = i.UpdateImages.Where(x => x.InspectionReportID == i.InspectionReportId).OrderByDescending(x => x.CreatedDate).FirstOrDefault();
        if (i.SectionName == SectionName)
        {
            SubSectionCount++;
        }
        else
        {
            SubSectionCount = 1;
            SectionCount++;
            SectionName = i.SectionName;
        }
    <div class="row">
        <div class="col-md-12">
            <a name="@i.SubSectionID">
                <div class="blueround">
                    <div class="col-md-2 col-sm-2">
                        <h4>@SubSectionCount . @i.SubSectionName</h4>
                    </div>
                    <div class="col-md-8">
                        <div id="divoperation">
                            <div id="divInclude">
                                <div class="col-md-4">
                                    @if (i.IsIncluded == true)
                                    {
                                        <button class="btn btn-success tooltip" style="opacity:1;" title="Owener has decided to include repair in sale"  value="Repair Included in the Sale">Repair Included in the Sale</button>
                                    }
                                    else if (i.IsIncluded == false)
                                    {
                                        <button class="btn btn-danger tooltip" style="opacity:1;" title="Owener has decided NOT to include repair in sale"  value="Repair NOT Included in the Sale" title="">Repair NOT Included in the Sale</button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 pull-right">
                        <h4 class="text-right">@SectionCount . @i.SectionName</h4>
                    </div>
                </div>
            </a>
            <p class="setcb">
                @if (i.CheckboxID == "1")
                { SectionStatusImageUrl = "~/Content/Nimg/1icon.png"; title = "Item(s) appear serviceable and normal condition of its age."; }
                else if (i.CheckboxID == "2")
                { SectionStatusImageUrl = "~/Content/Nimg/2icon.png"; title = "Item(s) appear to be slightly deficient for its age minor service or maintenance is recommended."; }
                else if (i.CheckboxID == "3")
                { SectionStatusImageUrl = "~/Content/Nimg/3icon.png"; title = "Item(s) appear to be significanly deficient for its age  general service or maintenance is recomended."; }
                else if (i.CheckboxID == "4")
                { SectionStatusImageUrl = "~/Content/Nimg/4icon.png"; title = "Item(s) appear to be broken and unusable."; }
                else if (i.CheckboxID == "5")
                { SectionStatusImageUrl = "~/Content/Nimg/5icon.png"; title = "Item(s) appear to be in need of a follow-up inspection by a specialist. The scope of repair is beyond the inspector’s expertise."; }
                else if (i.CheckboxID == "6")
                { SectionStatusImageUrl = "~/Content/Nimg/6icon.png"; title = "Item(s) appear to be safely hazard, follow-up repair by is recommended."; }
                else if (i.CheckboxID == "7")
                { SectionStatusImageUrl = "~/Content/Nimg/barricade-icon.jpg"; title = "Item was obstructed and unavailable for inspection."; }
                else if (i.CheckboxID == "8")
                { SectionStatusImageUrl = "~/Content/Nimg/Stop.jpg"; title = "Item(s) were not inspected."; }
                else
                { SectionStatusImageUrl = "~/Content/Nimg/BlueIcon.JPEG"; title = "Item(s) have been repaired or updated by the owner since this inspection was completed. Inspector has not verified repair onsite."; }
                <img src="@Url.Content(@SectionStatusImageUrl)" data-toggle="tooltip" data-placement="right" title="@title" class="pull-left" style="height:80px;width:80px;">
                <span>@i.Type </span>
            </p>
            <p class="setcb">@i.Comments</p>
        </div>
        <div class="clearfix"></div>
        @if (i.PL != null)
        {
            <div class="row">
                @foreach (var j in i.PL)
                {
                    if (i.IsUpdateSection)
                    {
                        if (j.ImageUrl != "noImage.png")
                        {
                    <div class="col-sm-3">
                        <img "@Url.Content(@UpdatedImageUrl + @j.ImageUrl)"  alt="" class="img-responsive heiwid Zoom" data-zoom-image="@Url.Content(@ImgUrl + @j.ImageUrl)">
                    </div>
                    @j.ImageNote
                        }
                    }
                    else
                    { 
                    <div class="col-sm-3">
                        <img src="@Url.Content(@ImgUrl + @j.ImageUrl)" alt="" class="img-responsive heiwid Zoom" data-zoom-image="@Url.Content(@ImgUrl + @j.ImageUrl)">
                    </div>
                    @j.ImageNote
                    }
                }
            </div>
        }
        <p class="setcb">@i.PresetComments</p>
        <p class="setcb">@i.Notice</p>
    </div>
        if (i.UpdateImages != null && i.UpdateImages.Count() > 0)
        {
    <div class="row ad-wrapper">
        <div class="col-md-12">
            <h1>Owner Updates</h1>
            @foreach (var k in i.UpdateImages)
            {
                <div class="col-sm-12">
                    <div class="col-sm-2">
                        <img class="pull-left" alt="" src="~/Content/Nimg/ad-wrapper-text.png">
                    </div>
                    <div class="col-sm-7">
                        <p style="margin-top: 19px"><b>Seller Comment:  </b>@k.SellerComments </p>
                    </div>
                    <div class="col-sm-3">
                        @if (k.IsApproved == null && Sessions.LoggedInUser != null && Sessions.LoggedInUser.RoleName == "SiteUSer")
                        {
                            <p style="color: red; margin-top: 19px"><b>Inspector Review Pending</b></p>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <img  src="@Url.Content(@UpdatedImageUrl + k.PhotoURL1)" alt="" class="img-responsive heiwid Zoom">
                    </div>
                    <div class="col-sm-3">
                        <img src="@Url.Content(@UpdatedImageUrl + k.PhotoURL2)" alt="" class="img-responsive heiwid Zoom">
                    </div>
                    <div class="col-sm-3">
                        <img src="@Url.Content(@UpdatedImageUrl + k.PhotoURL3)" alt="" class="img-responsive heiwid Zoom">
                    </div>
                    <div class="col-sm-3">
                        <img src="@Url.Content(@UpdatedImageUrl + k.PhotoURL4)"alt="" class="img-responsive heiwid Zoom">
                    </div>
                </div>
                <p class="setcb ad-border"><b>Inspector Comment:  </b>@k.InspectorComments</p>
                        if (k.IsApproved == null && Sessions.LoggedInUser != null && Sessions.LoggedInUser.RoleName == "Property Inspector")
                        {
                <div class="row">
                    <div class="col-sm-12">
                        <input type="hidden" value="@k.ID" id="hdnPhotoLibraryID" />
                        <button style="margin-left: 10px" type="button" id="Approve" class="Approve green-btn pull-right has-spinner">
                            <span class="spinner"><i class="icon-spin icon-spinner icon-large"></i></span>
                            Approve
                        </button>
                        <button type="button" id="Decline" class="Decline red-btn pull-right has-spinner ">
                            <span class="spinner"><i class="icon-spin icon-spinner icon-large"></i></span>
                            Decline
                        </button>
                    </div>
                </div>
                        }
                <p>&nbsp; &nbsp; &nbsp; &nbsp;</p>
            }
        </div>
    </div>
        }
    <div class="row">
        <div class="col-sm-12">
            <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </p>
        </div>
    </div> 
    }
}


<div aria-hidden="true" aria-labelledby="windowTitleLabel" role="dialog" tabindex="-1" class="modal hide fade in" id="DivDecline" style="width: 400px;">
    @* <div id="PopupDiv" style="margin: -27% 0 0 -41%;" data-backdrop="static" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Add new Emergency Contact" aria-hidden="true" title="Payment For Additional Testing">*@
    <div class="modal-header">
        <a data-dismiss="modal" class="close" href="#">×</a>
        <h3></h3>
    </div>
    <div id="PopUpPayment" class="PopUp-success" style="margin-top: 13px; width: 368px;">
        <img style="float: left" src="@Url.Content("~/Content/images/success.png")" alt="Success" />
        <label id="lblMessagePayment"></label>
    </div>
    <div id="PopUp-error" style="margin-top: 13px; width: 368px;">
        <img alt="error" style="float: left" src="@Url.Content("~/Content/images/error.png")">
        <label id="lblMessage1"></label>
    </div>
    <div class="modal-body" style="max-height: 449px;">
        <div class="divDialogElements">
            <p id="Content1">
                Please Provide reason for decline<br />
                <br />
                <input type="text" class="big_input" id="txtDeclineReason" /><br />
                <br />
                <input type="button" value="Send" id="btnSend" class="btn" />
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <center> <div id="message1"><p style="color:red"></p></div></center>
    </div>
</div>

<!-- Modal 2 -->
<div class="modal fade" id="DivUpdate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close custmclose" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title text-center" id="myModalLabel1">Update Sections</h4>
            </div>
            <div class="modal-body">
                <div class="bs-exampleExp" style="display: none">
                    <div class="alert alert-danger alert-error">
                        <strong>Error!</strong>
                        <label id="lblErrorExp">There might be some problem. Please try after some time.</label>
                    </div>
                </div>

                <div class="alert alert-success" id="SucessExp" style="display: none; margin-top: 22px;">
                    <strong>Success!</strong> Your comment is saved successfully. 
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Comment</label>
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-sm-6">
                                <textarea id="txtRatingComments" style="width: 612px; height: 71px; margin-bottom: 13px;" class="form-control"></textarea>
                            </div>

                            <div class="col-sm-6">
                                <input type="hidden" id="hdnOrder" />
                                <input type="hidden" id="hdnSecId" />
                                <input type="hidden" id="hdnSubSecId" />
                                <input type="hidden" id="hdnTableName" />
                                <input type="hidden" id="hdnInspectionReportId" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <input id="files1" type="file" multiple />
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="col-sm-3">
                                <img id="img1" src="@Url.Content("~/Images/noImage.png")" style="width: 180px; height: 150px; border: solid 2px;">
                            </div>
                            <div class="col-sm-3">
                                <img id="img2" src="@Url.Content("~/Images/noImage.png")" style="width: 180px; height: 150px; border: solid 2px;">
                            </div>
                            <div class="col-sm-3">

                                <img id="img3" src="@Url.Content("~/Images/noImage.png")" style="width: 180px; height: 150px; border: solid 2px;">
                            </div>
                            <div class="col-sm-3">
                                <img id="img4" src="@Url.Content("~/Images/noImage.png")" style="width: 180px; height: 150px; border: solid 2px;">
                            </div>
                        </div>
                    </div>
                </div>

                <div style="clear: both"></div>

                <div style="clear: both"></div>


                <div>
                </div>

                <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </p>
                <button type="button" id="btnSubmitComment" class="green-btn pull-right has-spinner">
                    <span class="spinner"><i class="icon-spin icon-refresh"></i></span>
                    Submit Comment
                </button>
                <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </p>
            </div>
        </div>
    </div>
</div>
<!-- Modal 2 -->
<div class="modal fade" id="DivUploadImage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog model-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close custmclose" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title text-center" id="myModalLabel1">View Image</h4>
            </div>
            <div class="modal-body">
                <div style="margin-left: 137px;">
                    <img id="imgProfile" height="250px" width="250px" />
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        $(".Zoom").click(function () {
            $('#DivUploadImage').modal({ backdrop: 'static', keyboard: true })
            $("#DivUploadImage").modal("show");
            $("#imgProfile").attr('src', $(this).attr('src'));
        })

        $('.tooltip').jBox('Tooltip');

    })


    var isdataloaded = true;
    var buttonElement;
    var uiElement;
    var uiElement_Inspector;
    var photoLibraryID;
    var acceptElement;
    var declineElement;
    var pElement;
    function showLoader() {
        $("#loadingModel").show();
    }
    function hideLoader() {
        $("#loadingModel").hide();
    }

    function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
            results = regex.exec(location.search);
        return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }

    function loadMore() {
        //$("#divViewDetail").append("<div id='loading' class='test' style='width:100%'><p>loading.........</p></div>");
        // $("#loading").css('display', 'block');

        if ($("#chkAgreement").is(':checked') && $("#Signature").val().length > 0) {
            showLoader();
            var PaymentType = getParameterByName("PaymentType")
            $.ajax({
                type: "Post",
                url: $URL._ShowReport,
                data: { inspectionOrderId: "@ViewBag.InspectionOrderId", PaymentType: PaymentType },
                //contentType: "application/json; charset=utf-8",
                dataType: "json",
                // async: "true",
                //cache: "false",
                success: function (result) {
                    if (result.Result != null) {

                        $("#loading").css('display', 'none');
                        $("#divViewDetail").remove(".test");
                        $("#divViewDetail").append(result.Result);
                        isdataloaded = true;
                        hideLoader();
                    }
                    else if (result.Message == "No more Data") {
                        //$("#loading").html("");
                        $("#loading").css('display', 'none');
                        $("#divViewDetail").remove(".test");
                        $('#messages').css('display', 'block');
                        $('#messages').html("<h3><i>-- End Of Report -- </i></h3>");
                        hideLoader();
                    }
                    else {
                        $("#loading").css('display', 'none');
                        $('#messages').css('display', 'block');
                        $('#messages').html("<h3><i>--" + result.Message + " -- </i></h3>");
                        hideLoader();

                    }
                },

                error: function (result) {

                    $("#loading").html("");
                    $("#divViewDetail").remove(".test");
                    $('#messages').css('display', 'block');
                    $('#messages').html("<h3><i>-- There is an error -- </i></h3>");
                    isdataloaded = true;
                    hideLoader();
                },
            });
        }
        else {
            var SignMessage = "";
            var AgreementMessage = "";

            if ($("#Signature").val().length == 0) {

                SignMessage = "Please Enter Signature";
            }

            if ($("#chkAgreement").is(':checked') == false) {
                AgreementMessage = "Please Select User Agreement"
            }
            $("#Validation").html(SignMessage + "<br>" + AgreementMessage)
            $("#PopUpValidation").width(265);
            $('#PopUpValidation').modal({ backdrop: 'static', keyboard: true })
            $("#PopUpValidation").modal("show");

        }
    }


    $(".UpdateButton").click(function () {


        $(".bs-exampleExp").css("display", "none");
        $("#SucessExp").css("display", "none");
        $("#txtRatingComments").val("");
        $("#btnSubmitComment").attr("enabled", "enabled");
        $("#btnSubmitComment").css("cursor", "hand");
        $("#DivUpdate img").attr("src", "@Url.Content("~/Images/noImage.png")");
        buttonElement = $(this);
        divElement = $(this).parent('div .col-md-4');
        uiElement = $(this).parents('.row');
        pElement = $(uiElement).find('.appned');

        var sectionId = $(divElement).find("#hdnSectionID").val();
        $("#hdnSecId").val(sectionId)

        var subSectionId = $(divElement).find("#hdnSubSectionID").val();
        $("#hdnSubSecId").val(subSectionId)
        //var sectionName = $("#hdnSectionName").val();
        var sectionName = $(divElement).find("#hdnSectionName").val();
        $("#hdnTableName").val(sectionName)
        var subSectionName = $(divElement).find("#hdnSubSectionName").val();
        //$("#hdnSubSectionName").val();
        var OrderID = $(divElement).find("#hdnInspectionOrderId").val();

        $("#hdnOrder").val(OrderID)
        //$("#hdnInspectionOrderId").val();
        var ReportId = $(divElement).find("#hdnReportID").val();
        $("#hdnInspectionReportId").val(ReportId)

        $("#DivUpdate").modal({ backdrop: 'static', keyboard: true });
        $("#DivUpdate").modal("show");

    });

    $(".Decline").click(function () {
        if (confirm("Are you sure you want to decline")) {

            declineElement = $(this);
            acceptElement = $(this).parents('ul').find("#Approve")
            uiElement_Inspector = $(this).parents('ul').parents('ul');
            photoLibraryID = $(this).parents('ul').find("#hdnPhotoLibraryID").val();

            $("#DivDecline").modal({ backdrop: 'static', keyboard: true });
            $("#DivDecline").modal("show");
        }
    });

    $(".Approve").click(function () {

        declineElement = $(this).parents('ul').find("#Decline");
        acceptElement = $(this);
        uiElement_Inspector = $(this).parents('ul').parents('ul');
        photoLibraryID = $(this).closest('ul').find("#hdnPhotoLibraryID").val();

        $(this).attr("disabled", "disabled");
        $(this).css("cursor", "not-allowed");
        $(this).css("background-color", "#102B75");
        $("#imgCity").css("display", "block");
        $.ajax({
            type: "Post",
            url: $URL._AcceptDecline,
            data: { photoLibraryID: photoLibraryID, Approved: "1" },
            success: function (result) {
                if (result == "Success") {

                    $("#imgCity").css("display", "none");
                    $(declineElement).remove();
                    $(acceptElement).remove();
                    //   $(uiElement_Inspector).append("<li style='width: 100%'><section class='form' style='width: 100%'><div><ul><li style='width: 100%; margin-right: 2%; margin-bottom: 2%; line-height: 30px'>" + comment + "</li></ul></div></section></li>")


                }
                else if (result.responseText == "\"Session Over\"") {
                    $(location).attr("href", $URL._HomePage);
                }
            },
        });

    });

    $("#btnSend").unbind().click(function () {


        if ($("#txtDeclineReason").val() != "") {

            var comment = $("#txtDeclineReason").val();
            $.ajax({
                type: "Post",
                url: $URL._AcceptDecline,
                data: { photoLibraryID: photoLibraryID, Approved: "0", Comment: $("#txtDeclineReason").val() },
                success: function (result) {

                    if (result == "Success") {

                        $("#PopUp-error").css("display", "none");
                        $("#PopUpPayment").css("display", "block");
                        $("#lblMessagePayment").html("");
                        $("#lblMessagePayment").html("Your Comment Saved Succussfully");
                        $(declineElement).remove();
                        $(acceptElement).remove();
                        $(uiElement_Inspector).append("<li style='width: 100%'><section class='form' style='width: 100%'><div><ul><li style='width: 100%; margin-right: 2%; margin-bottom: 2%; line-height: 30px'>" + comment + "</li></ul></div></section></li>")
                        //  $("#DivDecline").modal("hide")

                    }
                    else if (result == "Session Over") {
                        $(location).attr("href", $URL._HomePage);
                    }
                },
            });
        }
        else {
            $("#PopUp-error").css("display", "block");
            $("#PopUpPayment").css("display", "none");
            $("#lblMessage1").html("");
            $("#lblMessage1").html("Please Add Reason..");
        }
    });

</script>
<script>
    $('.heiwid').elevateZoom({ tint: true, tintColour: '#F90', tintOpacity: 0.5 });
    $(".pull-left").tooltip();
    $(".pull-left").css("cursor", "pointer");
</script>
