﻿@model SpectorMax.Entities.Classes.DetailsReportCommonPoco

@{
    ViewBag.Title = "ViewDetailReport";
    Layout = "~/Views/Shared/_NLayout.cshtml";
}
@{
    var SectionStatusImageUrl = "";
    var SectionImages = "~/Images/Uploaded/";
    var PreImageUrls = "~/Images/ProfileImgAndCertiticate/";

}
<style>
    div#sideBar
    {
        width: 18px;
        padding: 9px;
        float: right;
    }

    .clear
    {
        clear: both;
    }

    div#sticker
    {
        padding: 20px;
        margin: 24px 19px;
        background: transparent;
        width: 73px;
    }

    .stick
    {
        position: fixed;
        top: 0px;
    }
</style>
@using SpectorMax.Entities.Classes
<script type="text/javascript">
    $(document).ready(function () {
        var s = $("#sticker");

        var pos = s.position();
        $(window).scroll(function () {

            var windowpos = $(window).scrollTop();
            //  s.html("Distance from top:" + pos.top + "<br />Scroll position: " + windowpos);
            if (windowpos >= pos.top) {

                $("#sticker").css("position", "fixed");
                $("#sticker").css("top", "0px");
            } else {
                $("#sticker").css("position", "")
                $("#sticker").css("top", "");
            }
        });

        loadAdminReport()

        var date = new Date();

        $('#Date').val(date.getMonth() + 1 + "/" + date.getDate() + "/" + date.getFullYear());
        $("#InspectorDetails").click(function () {

            $("#PopupDiv1").width(962);
            $('#PopupDiv1').modal({ backdrop: 'static', keyboard: true })
            $("#PopupDiv1").modal("show");

        });

        $("#useragreement").click(function () {

            $("#PopUpAgreement").width(800);
            $("#PopUpAgreement").height(495);
            $('#PopUpAgreement').modal({ backdrop: 'static', keyboard: true })
            $("#PopUpAgreement").modal("show");

        });
        var inspectionOrderId = getParameterByName("inspectionOrderId")

        if ("@Sessions.LoggedInUser.RoleName" == "Home Buyer") {
            $("#anchorLogoImage").attr("href", $URL._BuyerDashBoard + "?InspectionId=" + inspectionOrderId);
        }
        else if ("@Sessions.LoggedInUser.RoleName" == "Home Seller") {
            $("#anchorLogoImage").attr("href", $URL._SellerDashBoard);
        }
        else if ("@Sessions.LoggedInUser.RoleName" == "Property Inspector") {
            $("#anchorLogoImage").attr("href", $URL._InspectorDashBoard);
        }
        else {
            $("#anchorLogoImage").attr("href", $URL._AdminDashBoard);
        }
        $("#ReviewAndRating").attr("href", $URL._ReviewsAndRating + "?InspectionId=" + inspectionOrderId);
    });


function getParameterByName(name) {
    name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
    return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
}
</script>

@if (Convert.ToBoolean(ViewBag.IsCheckReportViewPermission))
{
    <div class="container">




        <div class="chome">
              <a name="Top"></a>
            <h3 class="text-center">Spectormax Comprehensive Home
            <br>
                <br>
                Inspection Report # @Model.objViewPreviousInspection.ReportNumber </h3>
        </div>
        <div class="col-md-12 text-center ">
            @if (Model.objViewPreviousInspection.MainHomePage != null && Model.objViewPreviousInspection.MainHomePage.Count() > 0)
            {
                <img src="@Url.Content(@Model.objViewPreviousInspection.MainHomePage.Select(x => x.Imagearry).FirstOrDefault())" alt="" class="img-responsive chomepic" >
            
            }
            else
            {
                <img src="@Url.Content(@PreImageUrls + "nophoto.jpg")" alt="" class="img-responsive chomepic" >
                                    
            }
        </div>

        <div class="chome">
            <h3 class="text-center">@Model.objViewPreviousInspection.PropertyAddress
            </h3>
        </div>

        <div class="clearfix"></div>

      <div class="form-horizontal lleft" role="form">
        <div class="col-md-8 col-sm-8">
            <div class="whwbr">

                <div class="form-group">
                    <label class="col-sm-3 control-label">Property Description</label>
                    <div class="col-sm-4 plabel ">
                       @Model.objViewPreviousInspection.PropertyDescription
                    </div>

                    <div class="col-sm-5">
                        <div class="row">
                            <label class="col-sm-6 control-label">Number of Units</label>
                            <div class="col-sm-6 plabel ">
                                @Model.objViewPreviousInspection.Units
                            </div>
                        </div>
                    </div>

                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Additions / Alterations</label>
                    <div class="col-sm-4 plabel ">
                        @Model.objViewPreviousInspection.AdditionAltration
                    </div>

                    <div class="col-sm-5">
                        <div class="row">
                            <label class="col-sm-6 control-label">Bedrooms</label>
                            <div class="col-sm-6 plabel ">
                                @Model.objViewPreviousInspection.Bed
                            </div>
                        </div>
                    </div>

                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Estimated Monthly Utilities</label>
                    <div class="col-sm-4 plabel ">
                        @Model.objViewPreviousInspection.Utilities
                    </div>

                    <div class="col-sm-5">
                        <div class="row">
                            <label class="col-sm-6 control-label">Year Built</label>
                            <div class="col-sm-6 plabel ">
                                @Model.objViewPreviousInspection.HomeAge
                            </div>
                        </div>
                    </div>

                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Directions</label>
                    <div class="col-sm-9 plabel ">
                        @Model.objViewPreviousInspection.Direction
                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-4 col-sm-4">
            <div class="whwbr">


                <div class="form-group">
                    <label class="col-sm-6 control-label">Square Footage</label>
                    <div class="col-sm-6 plabel">
                        @Model.objViewPreviousInspection.SqureFeet
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-6 control-label">Bathrooms</label>
                    <div class="col-sm-6 plabel">
                        @Model.objViewPreviousInspection.Bath
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-6 control-label">Roof Age</label>
                    <div class="col-sm-6 plabel">
                        @Model.objViewPreviousInspection.RoofAge
                    </div>
                </div>




            </div>
        </div>

        <div class="clearfix"></div>
        <hr>
    </div>


        <div class="clearfix"></div>


        <!-- accordian -->

        <div class="chome">
            <h3 class="text-center">Table Of Contents</h3>
        </div>

        <div class="clearfix"></div>

        <div class="panel-group" id="accordion">
            @foreach (var i in Model.objViewPreviousInspection.MainSectionList)
            {
                <div class="panel panel-default">

                    <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#@i.SectionName">
                        <h4 class="panel-title">
                            <span>
                                <img src="~/Content/Nimg/circle.png" alt=""></span>	@i.SectionName
                        </h4>
                    </div>

                    <div id="@i.SectionName" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>
                                @foreach (var j in Model.objViewPreviousInspection.SubSectionsList.Where(x => x.SectionID == i.SectionID))
                                { 
                                    <span><a href="#@j.SubSectionID"  style="color:black;">@if (j.CheckBoxID == "1")
                                                                                       { SectionStatusImageUrl = "~/Content/Nimg/1icon.png"; }
                                                                                       else if (j.CheckBoxID == "2")
                                                                                       { SectionStatusImageUrl = "~/Content/Nimg/2icon.png"; }
                                                                                       else if (j.CheckBoxID == "3")
                                                                                       { SectionStatusImageUrl = "~/Content/Nimg/3icon.png"; }
                                                                                       else if (j.CheckBoxID == "4")
                                                                                       { SectionStatusImageUrl = "~/Content/Nimg/4icon.png"; }
                                                                                       else if (j.CheckBoxID == "5")
                                                                                       { SectionStatusImageUrl = "~/Content/Nimg/5icon.png"; }
                                                                                       else if (j.CheckBoxID == "6")
                                                                                       { SectionStatusImageUrl = "~/Content/Nimg/6icon.png"; }
                                                                                       else if (j.CheckBoxID == "7")
                                                                                       { SectionStatusImageUrl = "~/Content/Nimg/barricade-icon.jpg"; }
                                                                                       else if (j.CheckBoxID == "8")
                                                                                       { SectionStatusImageUrl = "~/Content/Nimg/Stop.jpg"; }
                                                                                       else
                                                                                       { SectionStatusImageUrl = "~/Content/Nimg/BlueIcon.JPEG"; }
                                    <img src="@Url.Content(@SectionStatusImageUrl)" style="height:20px;width:20px;">
                                    @j.SubSectionName</a></span>
                                }
                            </p>
                        </div>
                    </div>

                </div>
      
            }














        </div>

        <!-- accordian -->

        <div class="clearfix"></div>

        <div id="divViewDetail">
            @if (Model.objViewPreviousInspection != null)
            {
                @Html.Partial("_EditComprehensiveReport", Model)
            }


        </div>
         <div id="sideBar">
        <!--Some content in your right column/sidebar-->
        <div id="sticker"><a href="#Top">
            <img src="~/Content/images/go top.gif" /></a></div>
    </div>

        <!-- Loader-->
        <div id="loadingModel" class="displayNone overlayPage">
            <div class="loaderPage">
                <div>
                    <img src='@Url.Content("~/Content/Images/loading.gif")' />
                </div>
            </div>
        </div>
        <!-- /Loader -->

    </div>
}
else
{
    <div class="container">
        <div class="bs-exampleExp">
            <div class="alert alert-danger alert-error">

                <strong>Error!</strong>
                <label id="lblErrorExp">You need to pay for view this report.</label>
            </div>
        </div>
    </div>
}



<script type="text/javascript">
    function ShowBlock(SubSectionID) {
        alert(SubSectionID);
    }
    $('.expand-one').click(function () {
        $('.expcol').attr('src', '../Images/ReportIcons/toggle-expand.png')
        $(this).parent('td').find('img').attr('src', '../Images/ReportIcons/toggle-collapse_blue.png')
        var SectionName = this.id;
        var clas = SectionName;
        $('.content').slideUp(1);
        $('.' + clas).slideToggle(1, "swing");
    });

    $('.content').slideToggle('hide');
    $(document).ready(function () {
        var s = $("#sticker");
        var pos = s.position();
        //$(window).scroll(function () {
        //    var windowpos = $(window).scrollTop();
        //    //  s.html("Distance from top:" + pos.top + "<br />Scroll position: " + windowpos);
        //    if (windowpos >= pos.top) {
        //        s.addClass("stick");
        //    } else {
        //        s.removeClass("stick");
        //    }
        //});


    });
    function showLoader() {
        $("#loadingModel").show();
    }
    function hideLoader() {
        $("#loadingModel").hide();
    }
    function loadAdminReport() {
        //$("#divViewDetail").append("<div id='loading' class='test' style='width:100%'><p>loading.........</p></div>");
        // $("#loading").css('display', 'block');


        showLoader();
        var PaymentType = getParameterByName("PaymentType")
        $.ajax({
            type: "Post",
            url: $URL._ViewDetailReportEdit,
            data: { inspectionOrderId: "@ViewBag.InspectionOrderId", PaymentType: PaymentType },
            //contentType: "application/json; charset=utf-8",
            dataType: "json",
            // async: "true",
            //cache: "false",
            success: function (result) {
                if (result.Result != null) {
                    $("#loading").css('display', 'none');
                    $("#divViewDetail").remove(".test");
                    $("#divViewDetail").append(result.Result);
                    isdataloaded = true;
                    hideLoader()
                }
                else if (result.Message == "No more Data") {
                    //$("#loading").html("");
                    $("#loading").css('display', 'none');
                    $("#divViewDetail").remove(".test");
                    $('#messages').css('display', 'block');
                    $('#messages').html("<h3><i>-- End Of Report -- </i></h3>");
                    hideLoader()
                }
                else {
                    $("#loading").css('display', 'none');
                    $('#messages').css('display', 'block');
                    $('#messages').html("<h3><i>--" + result.Message + " -- </i></h3>");

                    hideLoader()
                }
            },

            error: function () {
                $("#loading").html("");
                $("#divViewDetail").remove(".test");
                $('#messages').css('display', 'block');
                $('#messages').html("<h3><i>-- There is an error -- </i></h3>");
                isdataloaded = true;

            },
        });
    }
</script>
