﻿@model SpectorMax.Entities.Classes.SampleReportCount
@{
    ViewBag.Title = "SampleInspectionReport";
    Layout = "~/Views/Shared/_NLayout.cshtml";
}
@using SpectorMax.Entities.Classes
<script src="~/Scripts/SampleBaseicReportSeller.js"></script>
<script type="text/javascript">
    function ClkHomeInspectionUserAgreementJson(ea) {
        showLoader();
        $.ajax({
            type: "POST",
            url: '@Url.Action("HomeInspectionUserAgreementJson", "Home")',
            dataType: "json",
            success: function (result) {
                $("#HomeInspectionUserAgreement .modal-body").html(result.Message);
                $('#HomeInspectionUserAgreement').modal({ backdrop: 'static', keyboard: true })
                $("#HomeInspectionUserAgreement").modal("show");
                hideLoader();
            },
            error: function (e) {
                hideLoader();
            },
        });
    }

    function ClkTermsConditions(ea) {
        showLoader();
        $.ajax({
            type: "POST",
            url: '@Url.Action("TermsAndConditionsJson", "Home")',
            dataType: "json",
            success: function (result) {
                $("#TermsAndConditionsModel .modal-body").html(result.Message);
                $('#TermsAndConditionsModel').modal({ backdrop: 'static', keyboard: true })
                $("#TermsAndConditionsModel").modal("show");
                hideLoader();
            },
            error: function (e) {
                hideLoader();
            },
        });
    }

    function ClkPrivacyPolicy(ea) {
        showLoader();
        $.ajax({
            type: "POST",
            url: '@Url.Action("PrivacyPolicyJSON", "Home")',
            dataType: "json",
            success: function (result) {
                $("#PrivacyPolicyModel .modal-body").html(result.Message);
                $('#PrivacyPolicyModel').modal({ backdrop: 'static', keyboard: true })
                $("#PrivacyPolicyModel").modal("show");
                hideLoader();
            },
            error: function (e) {
                hideLoader();
            },
        });
    }

</script>
<div class="container tpbm">

    <div class="row">

        <div class="col-md-6 col-sm-6">

            <div class="greyfield">

                <a href="#" class="freespecto">Spectormax Free Basic Report # @Model.Address.ReportNo </a>
                <label id="lblReportNo"></label>

                <div class="inboxmsg">
                    <p>This Free Basic Report is provided to you as a quick overview of the condition of this property at this time of inspection.</p>
                </div>

                <div class="inboxmsg">
                    <p>This Property is Located at <span class="bold">@Model.Address.HouseNo, @Model.Address.PropertyCity, @Model.Address.PropertyState, @Model.Address.PropertyZip</span></p>
                </div>
                
                    <ul class="alllist">

                        <li>
                            <div class="row">
                                <div class="col-md-1 col-sm-2 col-xs-2">
                                    <img src="~/Content/Nimg/1icon.png" alt="">
                                </div>
                                <div class="col-md-1 col-sm-2  col-xs-2"><span class="bold">@Model.GreenArrowCount</span></div>
                                <div class="col-md-10 col-sm-8 col-sm-8 ">
                                    <p>Item(s) appear serviceable and normal condition for its age.</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="row">
                                <div class="col-md-1 col-sm-2 col-xs-2">
                                    <img src="~/Content/Nimg/2icon.png" alt="">
                                </div>
                                <div class="col-md-1 col-sm-2  col-xs-2"><span class="bold">@Model.YellowArrowCount</span></div>
                                <div class="col-md-10 col-sm-8 col-sm-8 ">
                                    <p>Item(s) appear to be slightly deficient for its age minor service or maintenance is recommended.</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="row">
                                <div class="col-md-1 col-sm-2 col-xs-2">
                                    <img src="~/Content/Nimg/3icon.png" alt="">
                                </div>
                                <div class="col-md-1 col-sm-2  col-xs-2"><span class="bold">@Model.RedArrowCount</span></div>
                                <div class="col-md-10 col-sm-8 col-sm-8 ">
                                    <p>Item(s) appear to be significanly deficient for its age  general service or maintenance is recomended.</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="row">
                                <div class="col-md-1 col-sm-2 col-xs-2">
                                    <img src="~/Content/Nimg/4icon.png" alt="">
                                </div>
                                <div class="col-md-1 col-sm-2  col-xs-2"><span class="bold">@Model.DoubleRedArrowCount</span></div>
                                <div class="col-md-10 col-sm-8 col-sm-8 ">
                                    <p>Item(s) appear to be broken and unusable.</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="row">
                                <div class="col-md-1 col-sm-2 col-xs-2">
                                    <img src="~/Content/Nimg/5icon.png" alt="">
                                </div>
                                <div class="col-md-1 col-sm-2  col-xs-2"><span class="bold">@Model.YellowWarningCount</span></div>
                                <div class="col-md-10 col-sm-8 col-sm-8 ">
                                    <p> Item(s) appear to be in need of a follow-up inspection by a specialist. The scope of repair is beyond the inspector’s expertise.</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="row">
                                <div class="col-md-1 col-sm-2 col-xs-2">
                                    <img src="~/Content/Nimg/6icon.png" alt="">
                                </div>
                                <div class="col-md-1 col-sm-2  col-xs-2"><span class="bold">@Model.RedWarningCount</span></div>
                                <div class="col-md-10 col-sm-8 col-sm-8 ">
                                    <p>Item(s) appear to be safely hazard, follow-up repair by is recommended.</p>
                                </div>
                            </div>
                        </li>
                         <li>
                            <div class="row">
                                <div class="col-md-1 col-sm-2 col-xs-2">
                                    <img src="~/Content/Nimg/barricade-icon.jpg" height="39px" width="36px" alt="">
                                </div>
                                <div class="col-md-1 col-sm-2  col-xs-2"><span class="bold">@Model.Not_accessibility</span></div>
                                <div class="col-md-10 col-sm-8 col-sm-8 ">
                                    <p> Item was obstructed and unavailable for inspection.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-md-1 col-sm-2 col-xs-2">
                                    <img src="~/Content/Nimg/Stop.jpg" height="39px" width="36px" alt="">
                                </div>
                                <div class="col-md-1 col-sm-2  col-xs-2"><span class="bold">@Model.No_inspection</span></div>
                                <div class="col-md-10 col-sm-8 col-sm-8 ">
                                    <p>Item(s) were not inspected.</p>
                                </div>
                            </div>
                        </li>

                       

                        <li>
                            <div class="row">
                                <div class="col-md-1 col-sm-2 col-xs-2">
                                    <img src="~/Content/Nimg/ad-wrapper-text.png" height="39px" width="36px" alt="">
                                </div>
                                <div class="col-md-1 col-sm-2  col-xs-2"><span class="bold">@Model.BlueIconCount</span></div>
                                <div class="col-md-10 col-sm-8 col-sm-8 ">
                                    <p>Item(s) have been repaired or updated by the owner since this inspection was completed. Inspector has not verified repair onsite</p>
                                </div>
                            </div>
                        </li>





                    </ul>



            </div>

            <div class="row ">

                <div class="col-md-12 txtwtmg">

                    <p>
                        <img src="~/Content/Nimg/ipad.png" alt="" class="pull-left">
                        When a seller chooses our Updatable option, our Comprehensive Reports will contain a section with updates and documentation provided by the homeowner, of repairs made subsequent to our inspection.  They can also document which additional repairs they will include in the sale of the home.</p>

                    <div class="clearfix"></div>

                    <p>Our detailed comprehensive Report of this home includes <b>@ViewBag.Photo</b>  color photos, <b>@ViewBag.Comments</b> inspector comments, scientific analysis, building code standards and much much more.</p>

                    <div class="clearfix"></div>
                    <p>
                        <img src="~/Content/Nimg/hut.png" alt="" class="pull-left">
                        Our Report will help you understand the condition of this property at the time of inspection to help you make an informed decision about your future investment.  Spectormax provides the best pre-purchase protection a person can buy.</p>


                </div>

            </div>


        </div>

        <div class="col-md-6 col-sm-6">

             <div class="step step2 Buyer">

                <div class="">
                    <h3>Step 1 : Select Your Package</h3>
                </div>

                <div class="">

                    <div class="col-md-5 col-sm-5 col-xs-12  pull-left">

                        <div class="row">
                            <div class="bluedv" id="Comprehensive">

                                <p>
                                    A Comprehensive Report
                                at @Model.Address.HouseNo, @Model.Address.PropertyCity, @Model.Address.PropertyState, @Model.Address.PropertyZip<br>
                                    $ @Model.OneTimePayment
                                    <br />
                                     @Html.HiddenFor(model => model.OneTimePaymentValidity)
                                      @Html.HiddenFor(model => model.OneTimePayment)
                                </p>

                                <div class="text-center">
                                    <a href="javascript:void(0)" class="selected tp" id="btnBuyerComprehensive">Select</a>
                                </div>



                            </div>
                            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#myModal1">Details</a>
                        </div>

                    </div>

                    <div class="col-md-5 col-sm-5  col-xs-12  pull-right">

                        <div class="row">
                            
                            <div class="bluedv" id="Plan">
                                <p>Unlimited two month subscription includes  this report $ @Model.PurchasePlan</p>

                                   <p>Previous purchases to be credited toward your 2-Month Plan $ @ViewBag.PaidAmount.ToString("#.##")</p>
                                     @Html.HiddenFor(model => model.PurchasePlanValidity)
                                     @Html.HiddenFor(model => model.PurchasePlan)
                                <div  class="text-center">
                                    <a href="javascript:void(0)" style="margin-top: -36px;" class="selected" id="btnBuyerPaln">Select</a>
                                </div>
                            </div>
                            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#myModal2">Details</a>
                        </div>


                    </div>

                </div>

            </div>

            <div class="step step3">

                <div class="">
                    <h3>Step 2 : Checkout</h3>
                </div>

               

                <!-- Tab panes -->
                <div class="tab-content customgreen">

                    <div class="tab-pane active" id="Registration">

                        @{
               
                            Html.RenderPartial("_PartialCheckout", new CreateBuyer());
                        }


                    </div>

                 

                </div>




            </div>


        </div>

    </div>


</div>


<!-- Modal 1 -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close custmclose" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title text-center" id="myModalLabel">Comprehensive Report</h4>
            </div>
            <div class="modal-body">
                <p>When we purchase our single comprehensive Report Plan you get the following:</p>
                <p>1. Unlimited online access to your report for upto 60 days after purchase</p>
                <p>2. Online access with upto three devices that are owned by you </p>
                <p>3. Get 100% credit from this purchase plan when you upgrade to our 2-Month &nbsp; Unlimited membership Plan</p>
                <p>Suject to our Terms & Conditions of services.</p>
            </div>

        </div>
    </div>
</div>
<!-- Modal 1 -->

<!-- Modal 2 -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close custmclose" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title text-center" id="myModalLabel">Unlimited 2 Months</h4>
            </div>
            <div class="modal-body">
                <p>Are you serious about getting in the best pre-purchase home protection you can buy? Invest in your 2 Month Unlimited Membership for only $399.00 and get a comprehensive report on every home you might consider buying.</p>
                Here’s how it works:
 <p>
     1. You pay a one time payment of $399.00 and have access on a first come first serve 
    basis to the Spectormax inspector assigned to your area.
                </p>
                <p>
                    2. You have instant access to every Active Online Comprehensive Report in our 
    system.
                </p>
                <p>3. Your inspection requests get priority scheduling over all free inspection reports.</p>
                <p>4. You order your inspection requests online.</p>
                <p>
                    5. You provide sufficient information to our inpectors to make contact with the 
    propety owner.
                </p>
                <p>
                    6. Your request must the meet the same minimum criteria as our inspection criteria 
    for a free inspection.
                </p>
            </div>

        </div>
    </div>
</div>
<!-- Modal 2 -->
