﻿@model SpectorMax.Entities.Classes.SampleReportCount
@{
    ViewBag.Title = "SampleInspectionReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using SpectorMax.Entities.Classes

<script type="text/javascript">
    $(document).ready(function () {
        $("#anchorOneTimePayment").click(function () {
            $(location).attr("href", $URL._Payment + "?userId=" + "@Sessions.LoggedInUser.UserId" + "&userRoleId=" + "@Sessions.LoggedInUser.RoleId" + "&amount=45.99&amountDescription=You are purchasing One time payment for purchase detailed report.&paymentType=OneTimePaymentPlan&inspectionOrderId=@ViewBag.OrderId");
        });

        $("#anchorPaymentPlan").click(function () {
            $(location).attr("href", $URL._PaymentsIndex + "?userId=" + "@Sessions.LoggedInUser.UserId" + "&userRoleId=" + "@Sessions.LoggedInUser.RoleId");
        });

        if ("@Sessions.LoggedInUser.RoleName" == "Home Buyer") {
            $("#anchorLogoImage").attr("href", $URL._BuyerDashBoard);
        }
        if ("@Sessions.LoggedInUser.RoleName" == "Home Seller") {
            $("#PlanPurchase").hide();
        }
    });
</script>

<h2 style="font-size: 45px; text-align: center; font-weight: bold">Free Basic Report</h2>

<div>
    <ul>
        <li>
            <section class="form">
                <div style="font-size: 13px; margin-left: 150px; font-weight: bold; width: 75%">
                    This Free Report is Provided to you as quick overview of the condition of this property at the time of the inspection.
                </div>
                <br />
                <div style="font-size: 13px; margin-left: 150px; font-weight: bold; width: 75%">
                    This property is located at house @Model.Address.HouseNo, @Model.Address.PropertyCity, @Model.Address.PropertyState, @Model.Address.PropertyZip
                </div>
                <br />
                <div style="font-size: 13px; margin-left: 150px; font-weight: bold; width: 75%">
                    Our inspector reviewed @Convert.ToInt32(@Model.GreenArrowCount + @Model.YellowArrowCount + @Model.RedArrowCount + @Model.DoubleRedArrowCount + @Model.YellowWarningCount + @Model.RedWarningCount + @Model.BlueIconCount) items during a comprehensive walk-through of this property and found the following :
                </div>
            </section>
        </li>
        <li>
            <section class="form">
                <div style="font-size: 13px; margin-top: 20px; margin-left: 150px; font-weight: bold; width: 75%">
                    <img height="25px" width="25px" src="@Url.Content("~/Images/ReportIcons/GreenArrow.png")" alt="A" />
                    @Model.GreenArrowCount Items appear serviceable
                </div>
            </section>
        </li>
        <br />
        <li>
            <section class="form">
                <div style="font-size: 13px; margin-left: 150px; font-weight: bold; width: 75%">
                    <img height="25px" width="25px" src="@Url.Content("~/Images/ReportIcons/YellowArrow.png")" alt="A" />
                    @Model.YellowArrowCount Items appear slightly deficient
                </div>
            </section>
        </li>
        <br />
        <li>
            <section class="form">
                <div style="font-size: 13px; margin-left: 150px; font-weight: bold; width: 75%">
                    <img height="25px" width="25px" src="@Url.Content("~/Images/ReportIcons/RedArrow.png")" alt="12" />
                    @Model.RedArrowCount Items appear significantly deficient
                </div>
            </section>
        </li>
        <br />
        <li>
            <section class="form">
                <div style="font-size: 13px; margin-left: 150px; font-weight: bold; width: 75%">
                    <img height="25px" width="25px" src="@Url.Content("~/Images/ReportIcons/DoubleRed.png")" alt="12" />
                    @Model.DoubleRedArrowCount Items appear broken or unusable
                </div>
            </section>
        </li>
        <br />
        <li>
            <section class="form">
                <div style="font-size: 13px; margin-left: 150px; font-weight: bold; width: 75%">
                    <img height="25px" width="25px" src="@Url.Content("~/Images/ReportIcons/WarningIcon.png")" alt="12" />
                    @Model.YellowWarningCount Items appear in need of a follow-up inspection by a specialist
                </div>
            </section>
        </li>
        <br />
        <li>
            <section class="form">
                <div style="font-size: 13px; margin-left: 150px; font-weight: bold; width: 75%">
                    <img height="25px" width="25px" src="@Url.Content("~/Images/ReportIcons/RedWarning.png")" alt="12" />
                    @Model.RedWarningCount Items appear to be a safety hazard
                </div>
            </section>
        </li>
        <br />


        <li>
            <section class="form">
                <div style="font-size: 13px; margin-left: 150px; font-weight: bold; width: 75%">
                    <img height="25px" width="25px" src="@Url.Content("~/Images/ReportIcons/Stop.jpg")" alt="12" />
                    0 Item was not inspected at this time. 
                </div>
            </section>
        </li>
        <br />
        <li>
            <section class="form">
                <div style="font-size: 13px; margin-left: 150px; font-weight: bold; width: 75%">
                    <img height="25px" width="25px" src="@Url.Content("~/Images/ReportIcons/barricade-icon.jpg")" alt="12" />
                    0 Item was obstructed and unavailable for inspection. 
                </div>
            </section>
        </li>
        <br />
        <li>
            <section class="form">
                <div style="font-size: 13px; margin-left: 150px; font-weight: bold; width: 75%">
                    <img height="25px" width="25px" src="@Url.Content("~/Images/ReportIcons/BlueIcon.png")" alt="12" />
                    @Model.BlueIconCount Items have been repaired or updated by the owner since this inspection was completed
                </div>
            </section>
        </li>
        <br />
        <li>
            <section class="form" style="width: 100%">
                <div style="font-size: 13px; margin-top: 20px; margin-left: 150px; font-weight: bold; width: 75%">
                    To purchase a comprehensive report for only $@Model.SingleReportPrice <a id="anchorOneTimePayment" href="#">Click here</a>. Our detailed comprehensive reports include color photos,inspector comments, scientific analysis and much, much more to help you understand the condition of the this property. The report also contains a section with updates and documentations provided by the home homeowner of the repairs made subsequent to our inspection.
                </div>
                <div id="PlanPurchase" style="font-size: 13px; margin-top: 20px; margin-left: 150px; font-weight: bold; width: 75%">
                    Are you serious about getting the best pre-purchase protection you can buy? Invest in our two-month unlimited membership for only $399 and get a comprehensive report on every home you look at. That's right, it's like having one of our inspectors walking through every home you might consider buying. <a id="anchorPaymentPlan" href="#">Click Here</a> for details.
                </div>
            </section>
        </li>
    </ul>
</div>
