@model SpectorMaxDAL.EmailTemplate

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>EmailTemplate</legend>

    <div class="display-label">TemplateName</div>
    <div class="display-field">@Model.TemplateName</div>

    <div class="display-label">TemplateDiscription</div>
    <div class="display-field">@Model.TemplateDiscription</div>

    <div class="display-label">Rate</div>
    <div class="display-field">@Model.Rate</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


