@model IEnumerable<SpectorMaxDAL.EmailTemplate>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            TemplateName
        </th>
        <th>
            TemplateDiscription
        </th>
        <th>
            Rate
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TemplateId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TemplateId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TemplateId })
        </td>
        <td>
			@item.TemplateName
        </td>
        <td>
			@item.TemplateDiscription
        </td>
        <td>
			@item.Rate
        </td>
    </tr>
}

</table>


