@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif
}
header {
	padding: 5px 0;
	border-bottom: 2px solid #3273cc;
}
footer {
	padding: 5px 0;
	border-top: 2px solid #3273cc;
	margin-top: 50px;
}
.view {
	border: 1px solid #000;
}
.toplink {
	margin: 0;
	padding: 0;
	float: right;
}
.toplink li {
	float: left;
	list-style: none;
}
.toplink li a {
	text-transform: uppercase;
	color: #184ba1;
	font-size: 16px;
	margin: 0 15px;
}
.setnav {
	float: right;
}
.setnav a {
	font-size: 16px;
	color: #184ba1 !important;
	text-transform: uppercase;
	-webkit-transition: background 0.5s ease-in-out;
	-moz-transition: background 0.5s ease-in-out;
	-o-transition: background 0.5s ease-in-out;
	transition: background 0.5s ease-in-out;
}
.setnav a:hover {
	color: #5A5A5A !important;
}
.navbar-default {
	background: none;
	border: none;
}
.welcome {
	font-size: 15px;
	text-align: center;
	margin: 20px 0;
}
.inspection {
	background: #d9d7d7;
	border: 1px solid #b8b8b8;
	border-radius: 5px;
	padding: 10px 0 13px;
	margin-bottom: 20px;
}
.inspection h2 {
	color: #727272;
	font-size: 19px;
	margin: 6px 0 17px 0;
	font-weight: bold;
	text-shadow: 1px 1px 1px #fff;
}
.inspection .whwbr {
	background: #fff;
	border: 1px solid #b8b8b8;
	border-radius: 5px;
	padding: 15px 25px;
	min-height: 360px;
}
.spinner
    {
        display: inline-block;
        opacity: 0;
        max-width: 0;
        -webkit-transition: opacity 0.25s, max-width 0.45s;
        -moz-transition: opacity 0.25s, max-width 0.45s;
        -o-transition: opacity 0.25s, max-width 0.45s;
        transition: opacity 0.25s, max-width 0.45s; /* Duration fixed since we animate additional hidden width */
    }
.has-spinner.active .spinner
    {
        opacity: 1;
        max-width: 50px; /* More than it will ever come, notice that this affects on animation duration */
    }
.space h2 {
	padding: 0 16px;
}
.blu-btn {
	background: #102586;
	color: #fff;
	padding: 5px 20px;
	border-radius: 3px;
	border: none;
	-webkit-transition: background 0.5s ease-in-out;
	-moz-transition: background 0.5s ease-in-out;
	-o-transition: background 0.5s ease-in-out;
	transition: background 0.5s ease-in-out;
}
.blu-btn:hover {
	background: #5C5B5B;
}
.qlinks a {
 font-size:;
	font-weight: bold;
	font-size: 16px;
	display: inline-block;
	color: #646464;
	margin-bottom: 20px;
}
a.create {
	font-size: 13px;
	display: inline-block;
	color: #fff;
	background: #102586;
	width: 100%;
	text-decoration: none;
	padding: 12px 20px;
	text-align: center;
	border-radius: 3px;
	-webkit-transition: background 0.5s ease-in-out;
	-moz-transition: background 0.5s ease-in-out;
	-o-transition: background 0.5s ease-in-out;
	transition: background 0.5s ease-in-out;
}
a.create:hover {
	background: #5C5B5B;
}
.smpad {
	padding: 10px;
}
.twbtn {
	background: #989898;
	color: #fff !important;
	width: 100%;
	text-decoration: none;
	padding: 12px 15px;
	text-align: center;
	border-radius: 3px;
	font-size: 13px !important;
	-webkit-transition: background 0.5s ease-in-out;
	-moz-transition: background 0.5s ease-in-out;
	-o-transition: background 0.5s ease-in-out;
	transition: background 0.5s ease-in-out;
}
.twbtn:hover {
	text-decoration: none;
	background: #102586;
}
.shownotice {
	margin: 5px 0;
}
.shownotice i {
	font-size: 11px;
	line-height: 26px;
}
.learn {
	color: #646464;
	font-weight: bold;
	margin-bottom: 26px;
	/*margin-top: 9%;*/
	font-size: 17px;
}
.report {
	background: #e6e5e5;
	border-radius: 5px;
	padding: 10px 0 13px;
	margin-bottom: 20px;
	border: 1px solid #b8b8b9;
}
.report h2 {
	color: #727272;
	font-size: 19px;
	margin: 6px 0 17px 0;
	font-weight: bold;
	text-shadow: 1px 1px 1px #fff;
}
.report td {
	background: #fff;
}
.green-btn {
	background: #009e0f;
	color: #fff;
	padding: 5px 20px;
	border-radius: 3px;
	border: none;
	font-size: 13px;
	-webkit-transition: background 0.5s ease-in-out;
	-moz-transition: background 0.5s ease-in-out;
	-o-transition: background 0.5s ease-in-out;
	transition: background 0.5s ease-in-out;
}
.green-btn:hover {
	text-decoration: none;
	color: #fff;
	background: #048210;
}
.smblue-btn {
	background: #102586;
	color: #fff;
	padding: 5px 20px;
	border-radius: 3px;
	border: none;
	font-size: 13px;
	-webkit-transition: background 0.5s ease-in-out;
	-moz-transition: background 0.5s ease-in-out;
	-o-transition: background 0.5s ease-in-out;
	transition: background 0.5s ease-in-out;
}
.smblue-btn:hover {
	background: #0d2076;
}
.rate {
	background: #fb8e23;
	color: #fff;
	padding: 5px 20px;
	border-radius: 3px;
	border: none;
	font-size: 13px;
	-webkit-transition: background 0.5s ease-in-out;
	-moz-transition: background 0.5s ease-in-out;
	-o-transition: background 0.5s ease-in-out;
	transition: background 0.5s ease-in-out;
}
.rate:hover {
	background: #de7c1d;
}
.rate:hover,
.smblue-btn:hover {
	color: #fff;
	text-decoration: none;
}
.table-bordered {
	border: 1px solid #E6E5E5;
	border: none;
}
.invite a {
	font-size: 17px;
	text-transform: uppercase
}
footer ul {
	margin: 20px 0;
	padding: 0;
	text-align: center;
}
footer ul li {
	list-style: none;
	display: inline;
}
footer ul li a {
	text-decoration: none;
	font-size: 13px;
	text-transform: uppercase;
	border-right: 1px solid #3273cc;
	padding: 5px 10px;
	margin: 10px 0;
	padding: 0 10px;
	color: #3273cc;
	-webkit-transition: background 0.5s ease-in-out;
	-moz-transition: background 0.5s ease-in-out;
	-o-transition: background 0.5s ease-in-out;
	transition: background 0.5s ease-in-out;
}
footer ul li a:hover {
	color: #5e5d5d;
	text-decoration: none;
}
footer ul li:last-child a {
	border-right: none;
}
.red {
	background: none repeat scroll 0 0 #E33C2F;
	border-radius: 50%;
	color: #FFFFFF;
	font-size: 11px;
	height: 20px;
	position: absolute;
	right: 6px;
	text-align: center;
	top: 6px;
	width: 20px;
}

.greyfield
{
	background:#f5f5f5;
	border-radius: 5px;
    float: left;
    padding: 10px;
    width: 100%;

}

.freespecto
{
	background:#3273cc;
	border: 1px solid #072B93;
    border-radius: 5px;
    color: #FFFFFF;
    float: left;
    font-size: 24px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    width: 100%;
}
.freespecto:hover, .freespecto:focus
{
	background:#3273cc;
    color: #FFFFFF;
    text-decoration: none;
	outline:none;
}

.tpbm
{
	margin:20px auto;
}

.inboxmsg
{
	border:1px solid #b8b8b8;
	width:100%;
	padding:10px;
	background:#fff;
	margin-top:13px;
	float:left;
	font-size:15px;
}

.inboxmsg .bold
{
	font-size:20px;
	font-weight:bold;
}

.alllist
{
	margin:20px 0 0 0;
	padding:0;
	float:left;
	width:100%;
}

.alllist li
{
	width:100%;
	float:left;
	list-style:none;
	padding:10px;
	font-size:13px;
}

.alllist li:nth-child(odd)
{
	background:#d2e5ff;
}

.alllist li:nth-child(even)
{ 
	background:#ffffff;
}

.alllist .bold
{
	float: left;
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    width: 28px;
}
}

.alllist li p
{
	margin:5px 0 0 0;
	color:#000;
}


.txtwtmg
{
	text-align:justify;
	margin:20px 0;
	font-size:15px;
	line-height:24px;
}


.txtwtmg p
{
	margin:20px 0;
}

.txtwtmg img
{
 	margin: 0 40px 0 0;
}


.step
{
	width:100%;
	float:left;
	padding:10px 0;
	border-bottom:1px solid #b8b8b8;
}

.step h3
{
	color:#184ba1;
	text-decoration:none;
	margin:0 0 10px 0;
}

.grndv
{
	background:#bee89c;
	padding:15px;
	border:1px solid #63923d;
	font-size:15px;
	height: 231px;
	margin:5px 0;
}

.bluedv
{
	background:#d2e5ff;
	padding:15px;
	border:1px solid #2f6ec8;
	font-size:15px;
	height: 231px;
	margin:5px 0;
}

.grndv .selected
{
	background: #41a62b; /* Old browsers */
background: -moz-linear-gradient(top, #41a62b 0%, #05831d 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#41a62b), color-stop(100%,#05831d)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #41a62b 0%,#05831d 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #41a62b 0%,#05831d 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #41a62b 0%,#05831d 100%); /* IE10+ */
background: linear-gradient(to bottom, #41a62b 0%,#05831d 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#41a62b', endColorstr='#05831d',GradientType=0 ); /* IE6-9 */
border:1px solid #1e7539;
border-radius:20px;
  padding: 2px 31px 4px;
color:#fff;
margin-top:20%;
display:inline-block
}

.grndv .selected:hover
{
	background: #05831d; /* Old browsers */
background: -moz-linear-gradient(top, #05831d 0%, #41a62b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#05831d), color-stop(100%,#41a62b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #05831d 0%,#41a62b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #05831d 0%,#41a62b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #05831d 0%,#41a62b 100%); /* IE10+ */
background: linear-gradient(to bottom, #05831d 0%,#41a62b 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05831d', endColorstr='#41a62b',GradientType=0 ); /* IE6-9 */
}

.grndv .selected
{
	text-decoration:none;
}

.bluedv .selected
{
background: #3980e2; /* Old browsers */
background: -moz-linear-gradient(top, #3980e2 0%, #2766bd 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3980e2), color-stop(100%,#2766bd)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #3980e2 0%,#2766bd 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #3980e2 0%,#2766bd 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #3980e2 0%,#2766bd 100%); /* IE10+ */
background: linear-gradient(to bottom, #3980e2 0%,#2766bd 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3980e2', endColorstr='#2766bd',GradientType=0 ); /* IE6-9 */
border:1px solid #092e96;
border-radius:20px;
  padding: 2px 31px 4px;
color:#fff;
margin-top:20%;
display:inline-block
}

.bluedv .selected:hover
{
background: #2766bd; /* Old browsers */
background: -moz-linear-gradient(top, #2766bd 63%, #3980e2 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(63%,#2766bd), color-stop(100%,#3980e2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #2766bd 63%,#3980e2 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #2766bd 63%,#3980e2 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #2766bd 63%,#3980e2 100%); /* IE10+ */
background: linear-gradient(to bottom, #2766bd 63%,#3980e2 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2766bd', endColorstr='#3980e2',GradientType=0 ); /* IE6-9 */
}

.bluedv .selected
{
	text-decoration:none;
}

.mrtpbtm
{
	margin-top:10px;
	margin-bottom:10px;
}

.step2 .tp
{
	margin-top:9%;
}
.step2 p
{
	word-spacing:1px;
}

.step3
{
	border-bottom:none;
}

label {

    font-weight: normal;
}

.customgreen
{
	background:#bee89c;
	padding:20px;
	border:2px solid #219323;
	border-radius:10px;
	margin-top: -2px;
}

.customgreen input, .customgreen select
{
	background:f5f5f5;
	border:1px solid #6fc43b;
}
.ctabs li
{
	border:2px solid #219323;
	border-radius:10px 10px 0 0 ;
	border-bottom:none;
	width:40%;
	margin-right:10px;
	margin-bottom: -2px;
}

.ctabs li a:hover, .ctabs li.active a:hover,  .ctabs li a:focus
{
	background:#bee89c;
}

.ctabs li.active a
{
	background:#bee89c;
}

.ctabs
{
	width:95%;
	margin:0 auto;
    border-bottom:2px solid #219323;

}

.ctabs li a
{
	margin:0;
	border-radius:10px 10px 0 0;
	text-align:center;
}

.buynow
{
	background: #44a72c; /* Old browsers */
background: -moz-linear-gradient(top, #44a72c 0%, #05831d 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#44a72c), color-stop(100%,#05831d)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #44a72c 0%,#05831d 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #44a72c 0%,#05831d 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #44a72c 0%,#05831d 100%); /* IE10+ */
background: linear-gradient(to bottom, #44a72c 0%,#05831d 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#44a72c', endColorstr='#05831d',GradientType=0 ); /* IE6-9 */
border:2px solid #1e7539;
border-radius:3px;
color:#fff;
padding:7px 37px;
font-size:18px;
text-shadow:0px 1px 1px  #000;
font-weight:bold;
}

.buynow:hover
{
	background:#1e7539;
}

.nextto
{
	background: #44a72c; /* Old browsers */
background: -moz-linear-gradient(top, #44a72c 0%, #05831d 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#44a72c), color-stop(100%,#05831d)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #44a72c 0%,#05831d 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #44a72c 0%,#05831d 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #44a72c 0%,#05831d 100%); /* IE10+ */
background: linear-gradient(to bottom, #44a72c 0%,#05831d 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#44a72c', endColorstr='#05831d',GradientType=0 ); /* IE6-9 */
border:2px solid #1e7539;
border-radius:3px;
color:#fff;
padding:7px 25px;
font-size:14px;
text-shadow:0px 1px 1px  #000;
float:right;
margin:5px 0
}

.nextto:hover, .nextto:focus
{
	background:#1e7539;
	color:#fff;
	text-decoration:none;
}


.custmclose {
    background: url('../../../Images/HomePage/close.png') no-repeat !important;
    float: left;
    height: 33px;
    position: absolute;
    right: -16px;
    top: -14px;
    width: 33px;
    opacity: 1;
}

.custmclose:hover
{
	opacity:1;
}

.definestep h3
{
	color:#184ba1;
	text-decoration:none;
	margin:20px 0;
	text-align:left
}

.lleft .control-label
{
	text-align:left
}

.set_calnder
{
	font-size: 24px;
    position: absolute;
    right: -29px;
    top: 4px;
}
/****************for home page added by tanu on 4 apr 2014******************/
/*****************************Home page css*****************/
.tp-menu.active{color:#fff !important; background:#467eaf !important;}
.no-padng{padding:0px;}
.big-search{background:#467eaf; padding:10px 0px; text-align:center;}
.big-search .search-heading{font-size:30px; color:#fff; float:left; text-align:left; line-height:22px;}

.big-search .search-heading span{color:#ffc821;}
.big-search .search-heading p{font-size:12px; text-transform:none; margin:0px;}
.search-box{border-radius:3px; -webkit-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; background:#fff; height:42px; padding:0px 0px 0px 15px; width:290px; float:right; line-height:42px;}
.search-box input{border:none;}
.search-box .input-search{width:150px; float:left;  margin:10px 0 0 0; height:24px; line-height:20px;}
.search-box .serch-btn{border-radius:0px 3px 3px 0px; -webkit-border-radius:0px 3px 3px 0px; -ms-border-radius:0px 3px 3px 0px; -o-border-radius:0px 3px 3px 0px; background:#5aba1a; padding:7px 15px; text-transform:uppercase; color:#fff; font-size:20px; float:right; width:116px; height:42px; line-height:30px;}
.search-box .serch-btn:hover{background:#47b100;}

/******************main banner css***************/
.banner{background:#87c6ff; text-align:center;}
.banner h1{font-size:24px; color:#fff; padding:25px 0 0 0; font-weight:normal;}
.circle-outer{text-align:center;}
.circle{width:220px; border-radius:170px; -webkit-border-radius:170px; -ms-border-radius:170px; float:left; -o-border-radius:170px; background:#58affe; padding:10px;
	border:1px solid #fff; height:220px; display:inline-block; margin:30px 48px; text-align:center;transition: all 0.3s ease-in-out 0s;-moz-transition: all 0.3s ease-in-out 0s;-webkit-transition: all 0.3s ease-in-out 0s;-o-transition: all 0.3s ease-in-out 0s; -ms-transition: all 0.3s ease-in-out 0s;}
.circle-inner{background:#386d9c;  border-radius:170px; -webkit-border-radius:170px; -ms-border-radius:170px; -o-border-radius:170px; width:198px; height:198px; display:block; text-align:center;}
.circle .icon{ padding:33px 0 20px 0;}
.circle .quote{color:#fff; font-size:18px; padding:0px 5px; margin:0px; text-transform:none; display:block;}

.circle:hover, .circle.active{webkit-transform:translate3d(0, 0, 10px); -moz-transform:translate3d(0, 0, 10px); -ms-transform:translate3d(0, 0, 10px);  -o-transform: translate3d(0, 0, 10px); width:248px; height:248px;text-decoration:none;}
.circle.active .circle-inner, .circle:hover .circle-inner{background:#ffaa17; width:226px; height:226px;}
.text14{font-size:14px !important;}
.no-report{background:#386d9c; text-align:center; padding:10px 0;}
.no-report p{text-transform:none; color:#fff; font-size:12px; margin:0px;}
.no-report p a{/*color:#ffc821;*/ text-decoration:none;}
.no-report p.big-quote{font-size:30px; text-transform:none;}

/***************other services css******************/
.othr-servic-outer{display:inline-block; margin:20px 0px 40px 0; color:#000; text-decoration:none; text-align:center; vertical-align:top;}
.othr-servic{width:120px; height:120px;border-radius:170px; -webkit-border-radius:170px; -ms-border-radius:170px; -o-border-radius:170px; display:inline-block; background:#f4f4f4; border:1px solid #cecece; text-align:center; padding:23px 0 0 0; margin:0 0 15px 0;}
.othr-servic-outer span{  font-size:18px; display:block;}
/*.othr-servic-outer:hover{color:#000; text-decoration:none; opacity:0.7;}*/


/***************other services css******************/
.othr-servic-outer{display:inline-block; margin:20px 0px 40px 0; color:#000; text-decoration:none; text-align:center; vertical-align:top;}
.othr-servicOwner{width:120px; height:120px; display:inline-block; background:#f4f4f4; border:1px solid #cecece; text-align:center; padding:0px 0 0 0; margin:0 0 15px 0;}
.othr-servic-outer span{  font-size:18px; display:block;}
/*.othr-servic-outer:hover{color:#000; text-decoration:none; opacity:0.7;}*/

/***********blue-box css*******************/
.blue-box{width:100%; background:#87c6ff; color:#fff; margin:0 0 20px 0;}
.blue-box-head{width:100%;}
.blue-box-head-icon{background:#679ece; padding:15px; height:70px; width:21%; float:left;}
.blue-box-head-text{background:#79b2e5; padding:20px 15px; float:left; vertical-align:middle; width:79%; height:70px; text-transform:uppercase; font-size:18px;}
.blue-box-content{padding:20px 25px; min-height:240px;}
.blue-box-content-Home{padding:20px 25px; min-height:320px;}
/****************/

/* sk */

.smtext
{
	font-size:23px;
	color:#fff;
}

.ply
{
	font-size:50px;
	color:#fff;
	margin:20px 0;
}

.icow
{
	float:left;
}

.ictext
{
	margin:0;
	padding:0;
}
.ictext li
{
	color: #000;
    font-size: 17px;
    line-height: 20px;
    list-style: none outside none;
    margin:20px 0;
}
.ictext li img
{
	margin:0 10px;
}

.testi  h3
{
	margin:2px 0;
}

.testi
{
	color:#fff;
}


.testi .carousel-inner p 
{
	padding:10px 40px;
}

.testi .carousel-control
{
	width:auto;
}

.stslr .blue-box-head-icon {
    background: none repeat scroll 0 0 #679ECE;
    float: left;
    height: 70px;
    padding: 15px;
    width: 29%;
}
.stslr .blue-box-head-text {
    background: none repeat scroll 0 0 #79B2E5;
    float: left;
    font-size: 14px;
    height: 70px;
    padding: 22px 6px;
    text-transform: uppercase;
    vertical-align: middle;
    width: 71%;
}

.hwds
{
	margin: 53px 0;
    width: 100%;
}

.te h1
{
	color:#000;
	margin:0;
}

.green-box {
    background: none repeat scroll 0 0 #009e0f;
    color: #FFFFFF;
    margin: 0 0 20px;
    width: 100%;
}

.green-box .blue-box-head-icon {
    background: none repeat scroll 0 0 #03830f;

}

.green-box .blue-box-head-text {
    background: none repeat scroll 0 0 #04770f;

}

.acc
{
	margin:74px 0;

}

.acc p
{
	font-size:19px;
}

.acc span
{
	 font-size:25px;
	 color:#000;
	 /*margin:0 20px;*/
	 font-weight:bold;
}


.unl
{
	color:#fff;
	margin:20px 0;
	font-weight:bold;
	font-size:14px;
}

/* 7 april */

.meet {
    background: url('../../../Images/HomePage/meet.jpg') no-repeat;
    background-size: cover;
    width: 100%;
    float: left;
    padding: 10px 0;
}

.meet .who
{
	margin:100px 0;
	text-align:center;
	color:#fff;
}

.meet .weare
{
	margin:100px 0;
	text-align:center;
	color:#fff;
}

.greybck
{
	width:100%;
	float:left;
	padding:10px 0;
	background:#333333;
}

.greybck .hd
{
	margin:100px 0 10px;
	text-align:center;
	color:#fff;
}

.greybck .txtt
{
	margin:15px 0 100px;
	text-align:center;
	color:#fff;
}


.inspector
{
	background:url('../../../Images/HomePage/home_dark.jpg') no-repeat;
	background-size:cover;
	width:100%;
	float:left;
	padding:10px 0;
}

.inspector .who
{
	margin:3% 0 100px;
	color:#fff;
}

.inspector .weare
{
	margin:17% 0 100px;
	color:#fff;
}

.tny
{
	background:url('../../../Images/HomePage/tnbkrp.jpg') no-repeat;
	background-size:cover;
	width:100%;
	float:left;
	padding:10px 0;
}

.tny .who
{
	margin:6% 0 0;
	color:#fff;
}

.tny .weare
{
	margin:8% 0 100px;
	color:#fff;
}

.stful
{
	width:100% !important;
	text-align:center;
}
.bx-wrapper
{
	max-width:92% !important;
	padding:10px 0 !important;
}

.bx-wrapper img
{
	display:inline !important;
}


.bx-wrapper p
{
	margin:0;
}


.mnout
{
	width:100%;
	float:left
}

.mnout
{
	margin:10px 0;
}

.mnout h3 {
    color: #FFFFFF;
    margin: 11px 0;
}

ul.stul 
{
	margin:0;
	padding:0;
}

.stul li
{
	list-style:none;
	float:left;
	width:100%;
	color:#fff;
}


.circle-outer span.circle-inner {
	margin:0 !important;
}

.circle-outer span.circle-inner {
	margin:0 !important;
}


.circle-outer span.circle-inner .ply
{
	font-size:50px;
	color:#fff;
	margin:20px 0;
}

.spfacc .acc
{
	margin:10px 0 10px 0;
}

/************************style-8-4-2014***************************/

.ad-blue-box{
	background:none;
	}

.ad-bl-content{
	background:#87C6FF;
	}
.ad-blue-box-head{
	height: 120px;
	background:none;
	}
.ad-blue-wrap{
	background:#6fa8dc;
	width:100%;
	float:left;
	}
.ad-blue-wrap .othr-servic{
	border:3px solid #172081;
	}
.new-header-blue{
	height: 45px;
    padding: 13px 6px;
	background:none;
	width:100%;
	color:#152283;
	font-weight:bold;
	float:left;
	text-align:center;
	}
.ad-round{
	width:100%;
	float:left;
	text-align:center;
	}
.ad-round .othr-servic{
	border:3px solid #172081;
	margin:15px 0 0;
	position:relative;
	}
.ad-round .othr-servic img{
-webkit-transition:all 0.5s linear 0s; /* For Safari 3.1 to 6.0 */
transition: all 0.5s linear 0s;
cursor:pointer;
}

.ad-round .othr-servic:hover img
{
-webkit-transform:rotateY(180deg); /* Chrome, Safari, Opera */
transform:rotateY(180deg); /* Standard syntax */
}	
/***************image-rotate-css***************/
.ad-gr-content{
	background:#009E0F;
	}
.ad-gr-content .btn-warning{
	margin:20px 0 0 0;
	}
.ad-green-box{
	background:none;
	}
.ad-green-box .ad-round .othr-servic{
	border:3px solid #04770F;
	margin:15px 0 0;
	}
.ad-green-box .new-header-blue{
	color:#04770F;
	}

.ad-red {
    background:#E33C2F;
    border-radius: 50%;
    color: #FFFFFF;
    font-size: 11px;
    height: 25px;
    position: absolute;
    text-align: center;
    width: 25px;
	line-height:23px;
}
.red-one{
	left:0px;
	top:8px;
	}
.red-two{
	left:0px;
	top:80px;
	}

.spinner
    {
        display: inline-block;
        opacity: 0;
        max-width: 0;
        -webkit-transition: opacity 0.25s, max-width 0.45s;
        -moz-transition: opacity 0.25s, max-width 0.45s;
        -o-transition: opacity 0.25s, max-width 0.45s;
        transition: opacity 0.25s, max-width 0.45s; /* Duration fixed since we animate additional hidden width */
    }
.has-spinner.active .spinner
    {
        opacity: 1;
        max-width: 50px; /* More than it will ever come, notice that this affects on animation duration */
    }
.overlayPage {
    display: none;
    color: white;
    position: fixed;
    _position: absolute;
    background: rgba(0,0,0,.66);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    padding: 15px;
    font-size: 15px;
    -moz-box-shadow: 0 0 5px #cfe5ae;
    -webkit-box-shadow: 0 0 5px #cfe5ae;
    box-shadow: 0 0 5px #cfe5ae;
}

 .loaderPage
    {
        text-align: center;
        position: absolute;
        top: 40%;
        left: 50%;
    }

@media (max-width: 1025px) {
.setnav a {
	font-size: 11px;
}
}

@media (max-width: 768px) {
	/****************for home page added by tanu on 4 apr 2014******************/
	.search-heading.col-xs-offset-2{margin:0px;}
	.blue-box-content{min-height:150px;}
	/***************/
	.ctabs li
	{
		width:45%;
	}
	.ctabs li a
	{
		padding: 10px 4px;
		font-size:13px;
	}
	
.setnav {
	float: none;
}
.setnavhead {
	margin-top: 16px;
}
.setnav a {
	font-size: 16px;
}
.qlinks a,
a.create {
	font-size: 13px;
}
.learn {
	font-size: 13px;
	margin: 0;
}
}
.navbar .pull-right > li > .dropdown-menu, .navbar .nav > li > .dropdown-menu.pull-right {
    left: auto;
    right: 0;
}
.nav-pills .dropdown-menu {
    margin-top: 4px;
}
form {
    margin: 0 0 20px;

    width:100%;
}
/**********25 Apr 2014********/
.main-content-area{min-height:400px;}
.forgot-input-txt { float:left !important; width:300px !important; padding:5px 10px; margin:5px 5px 5px 0 ;}
.forgot-input {padding:4px 25px !important;float:left !important;}
.center-content {margin:0 auto !important; text-align:center;}
    .center-content li {display:inline-block;}

/***********29 Apr 2014***********/
.tp-pdng25 {padding-top:25px !important;}
.no-mrgn{margin:0px !important;}