﻿@model SpectorMax.Entities.Classes.OurInspector
@{
    var PreImageUrls = "../../Images/ProfileImgAndCertiticate/";
}
@if(Model!=null)
{
  <div style="text-align:center; height:50px;">
                @if(Model.CurrentCount>7)
                {
                <input type="button" id="previous" value="Previous" onclick="GetInspectorImages('previous');" class="btn" style="width:80px" />
                }
                @if(Model.TotalCount>Model.CurrentCount)
                {
                <input type="button" id="next" value="Next" onclick="GetInspectorImages('next');"  class="btn" style="width:80px" />
                }
            </div>
            <div class="ImgDiv" style="height:150px;">
                <ul>
                     @foreach (var a in Model.ListOurInspector)
                    {
                    <li style="float:left; padding-right: 5px; height:150px; width:100px; padding-left:5px;padding-right5px;">
                        <a href="#" id="@a.InspectorDetailsID" onclick="GetDetail('@a.InspectorDetailsID')">
                        <div>
                            <img class="image" height="100" width="100" src="@Url.Content(@PreImageUrls + @a.PhotoURL)" style="border-radius:150px; flex-align:center;">
                        </div>                        
                        <p style="text-align:center; width:100px"><b>@a.FirstName @a.LastName</b></p>     
                        </a>                   
                    </li>                    
                     }
                </ul>
            </div>
}