﻿@model SpectorMax.Entities.Classes.OurInspector
@{
    var PreImageUrls = "~/Images/ProfileImgAndCertiticate/";
}
<link type="text/css" rel="stylesheet" href="~/Content/UploadFiles/Custom.css" />
<link type="text/css" rel="stylesheet" href="~/Content/UploadFiles/FineUpload.css" />
<script type="text/javascript" src="~/Scripts/FineUploader.js"></script>

<section>   
        <table style="width: 80%; float: left;  cellpadding="0" cellspacing="0" border="0" id="tblManageProfile">
            <tr>
                <td style="width: 75px">
                    <label>First Name:</label></td>
                <td style="width: 100px;">
                    @Html.HiddenFor(model => model.UserID)
                    @Html.TextBoxFor(model => model.FirstName, new { @class = "simple_input" })
                    
                </td>
                <td style="width: 10px">
                    <label>Last Name:</label></td>
                <td>
                    @Html.TextBoxFor(model => model.LastName, new { @class = "simple_input" })
                   
                </td>
            </tr>
            <tr>
                <td>
                    <label style="width: 10%">Your Photo:</label></td>
                <td colspan="2">
                    <div style="width: 350px">
                        <div style="margin-top: 50px; float: left">
                            <input id="files" type="file" />
                        </div>
                        <output style="float: right; height: 100px; width: 100px" id="result" />
                        @if (Model.PhotoURL != null)
                        {
                            <img id="ImgPhotoURL" class="image" height="100" width="100" src="@Url.Content(@PreImageUrls + @Model.PhotoURL)" />
                        }
                        else
                        {
                            <img id="ImgPhotoURL" height="100" width="100" src="@Url.Content(@PreImageUrls + "nophoto.jpg")" />
                        }
                        @*  <img id="ImgPhotoURL" class="image" height="100" width="100" src="" />*@
                        @Html.HiddenFor(model => model.PhotoURL, new { id = "srcPhotoURL12", value = "try" })
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Address:</label></td>
                <td colspan="2">@Html.TextBoxFor(model => model.Address, new { @class = " simple_input big_text_box", style = "width:137px" })
                    
                </td>
            </tr>
            <tr>
                <td style="width: 105px">
                    <label>Street Address:</label></td>
                <td>
                    @Html.TextBoxFor(model => model.StreetAddress, new { @class = " simple_input big_text_box", style = "width:216px" })
                   
                </td>
            </tr>
            <tr>
                <td>
                    <label>Address Line 2:</label></td>
                <td>

                    @Html.TextBoxFor(model => model.Address2, new { @class = "simple_input" })
                    
                </td>
                <td style="width: 10px">
                    <label>State:</label></td>
                <td>                  
                     @Html.TextBoxFor(model => model.State, new { @class = "simple_input" })
                </td>
            </tr>
            <tr>
                <td>
                    <label>City:</label></td>
                <td>
                          @Html.TextBoxFor(model => model.City, new { @class = " simple_input" })               
                    <img id="imgCity" style="display: none;float:right;margin-right: 47px;" src="~/content/images/ui-anim_basic_16x16.gif" />
                    
                </td>
                <td>
                    <label>Country:</label></td>
                <td>
                    @Html.TextBoxFor(model => model.Country, new { @class = " simple_input" })
                  
                </td>
            </tr>
            <tr>
                <td>
                    <label>Phone No:</label></td>
                <td>
                    @Html.TextBoxFor(model => model.PhoneNo, new { @class = " simple_input" })
                    
                </td>
                <td>
                    <label>Date Of Birth:</label></td>
                <td>
                    @Html.TextBoxFor(model => model.dateofbirth, new { @class = "datepicker simple_input", id = "datepicker" })
                   
                </td>
            </tr>
            <tr>
                <td>
                    <label>Email Address:</label></td>
                <td>
                    @Html.TextBoxFor(model => model.EmailAddress, new { @class = " simple_input" })
                    
                </td>
                   <td>
                    <label>ZipCode:</label></td>
                <td>
                    @Html.TextBoxFor(model => model.Zipcode, new { @class = " simple_input" })                    
                    <img id="imgZipcode" style="display: none;float:right;margin-right:36px" src="~/content/images/ui-anim_basic_16x16.gif" />
                   
                </td>
            </tr>
        
            <tr>
                <td style="width: 105px">
                    <label>Area where you perform inspections</label></td>
                <td colspan="3">
                    @Html.TextAreaFor(model => model.ExperienceTraining1, new { @class = " simple_input big_text_box", style = "width:72%" })
                   
                </td>
            </tr>
            <tr>
                <td>
                    <label>Experience:</label></td>
                <td colspan="3">
                    @Html.TextAreaFor(model => model.ExperienceTraining2, new { @class = " simple_input big_text_box", style = "width:72%" })
                   
                </td>
            </tr>
            <tr>
                <td>
                    <label>Education:</label></td>
                <td colspan="3">
                    @Html.TextAreaFor(model => model.ExperienceTraining3, new { @class = "simple_input big_text_box", style = "width:72%" })
                   
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top">
                    <label>Certificates</label></td>
                <td colspan="2">
                    <div style="float: left">
                        <input id="files1" type="file" multiple />
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <output style="float: left; height: 100px; width: 370px" id="result1" />
                    <div style="margin-left: 50%; width: 600px">
                        @if (!string.IsNullOrEmpty(Model.Certification1))
                        {
                            <img  id="ImgCertificate1" class="image" height="100" width="100" src="@Url.Content(@PreImageUrls + @Model.Certification1)" />
                        }
                        else
                        {
                            <img id="ImgCertificate1" height="100" width="100" src="@Url.Content(@PreImageUrls + "nophoto.jpg")" />
                        }
                        @if (!string.IsNullOrEmpty(Model.Certification2))
                        {
                            <img style="margin-left:50px" id="ImgCertificate2" class="image" height="100" width="100" src="@Url.Content(@PreImageUrls + @Model.Certification2)" />
                        }
                        else
                        {
                            <img style="margin-left:50px" id="ImgCertificate2" height="100" width="100" src="@Url.Content(@PreImageUrls + "nophoto.jpg")" />
                        }
                        @if (!string.IsNullOrEmpty(Model.Certification3))
                        {
                            <img style="margin-left:50px" id="ImgCertificate3" class="image" height="100" width="100" src="@Url.Content(@PreImageUrls + @Model.Certification3)" />
                        }
                        else
                        {
                            <img style="margin-left:50px" id="ImgCertificate3" height="100" width="100" src="@Url.Content(@PreImageUrls + "nophoto.jpg")" />
                        }
                        @Html.HiddenFor(model => model.Certification1)
                        @Html.HiddenFor(model => model.Certification2)
                        @Html.HiddenFor(model => model.Certification3)
                    </div>
                </td>
            </tr>            
        </table>
   
</section>

<!-- Loader-->
@*<div id="loadingModel" class="displayNone overlayPage">
    <div class=" loaderPage">
        <div>
            <img src='@Url.Content("~/Content/Images/loading_big.gif")' />
        </div>
        <div>
            Loading..
        </div>
    </div>
</div>*@
<!-- /Loader -->
<script type="text/javascript">
    var flagEmail = true;
    var flagZip = true;
    $(document).ready(function () {
        //Check File API support
        /*Show Preview of image without loading on server*/
        if (window.File && window.FileList && window.FileReader) {
            var filesInput = document.getElementById("files");

            filesInput.addEventListener("change", function (event) {
                var files = event.target.files; //FileList object

                var output = document.getElementById("result");
                for (var i = 0; i < files.length; i++) {
                    var file = files[i];
                    //Only pics
                    if (!file.type.match('image'))

                        continue;
                    var picReader = new FileReader();
                    picReader.addEventListener("load", function (event) {
                        var picFile = event.target;
                        var div = document.createElement("div");
                        $("#ImgPhotoURL").prop('src', '');
                        $("#ImgPhotoURL").prop('src', picFile.result);
                        $("#srcPhotoURL12").val(picFile.result);
                    });
                    //Read the image
                    picReader.readAsDataURL(file);
                }
            });

            var filesInput = document.getElementById("files1");
            filesInput.addEventListener("change", function (event) {
                var files = event.target.files; //FileList object

                if (files.length == 3) {
                    var output = document.getElementById("result1");
                    var div = document.createElement("div");
                    div.setAttribute("style", "margin-left:100%;width:600px");
                    var count = 0;
                    for (var i = 0; i < files.length; i++) {
                        var file = files[i];
                        //Only pics
                        if (!file.type.match('image'))
                            continue;
                        var picReader = new FileReader();
                        var x = 1;
                        picReader.addEventListener("load", function (event) {
                            var picFile = event.target;
                            $("#ImgCertificate" + x).prop("src", picFile.result);
                            $("#Certification" + x).val(picFile.result);

                            x++;
                        });
                        //Read the image
                        picReader.readAsDataURL(file);
                    }
                }
                else {
                    alert("Only 3 certificate can be uploaded.");
                }
            });
        }
        else {
            console.log("Your browser does not support File API");
        }

        /*Assign Dashboard Link*/
        $("#anchorLogoImage").attr("href", $URL._InspectorDashBoard);

        /*Open Calender Control*/
        $('.datepicker').datepicker({
            //format: 'mm-dd-yyyy'
            format: "mm-yyyy",
            viewMode: "months",
            minViewMode: "months"
        });

        /*Get Model Validation Message*/
        $("#create").click(function () {

            var IsFormValid = $("#Registration").valid()
            if (!IsFormValid) {
                DisplayErroMessage();
            }


          



        });


        /*Validation*/
        $("#create").mouseout(function () { DisplayErroMessage(); });
        function DisplayErroMessage() {
            $(".field-validation-error").closest("td").each(function () {
                $(this).find(".simple_input").live("mouseover", function () { $(this).parent().find(".field-validation-error .input-validation-error").attr("style", "display:block !important"); });
                $(this).find(".simple_input").live("mouseout", function () { $(this).parent().find(".field-validation-error .input-validation-error").attr("style", "display:none !important"); });
            });
        }

        /*Zoom Image on mouse over, Used to enlarge certificate images*/
        $(".image").each(function (i, obj) {

            var clone;
            var position;
            clone = $(obj).clone();
            $(clone).addClass("clonedItem");
            position = $(obj).position();

            $(obj).bind("mouseover", function (e) {
                $(".image").css("z-index", 1);
                $(clone).css("top", position.top - 100).css("left", position.left).css("z-index", 1000);

                $(clone).appendTo("#result1").css("position", "absolute").animate({
                    height: "400px",
                    width: "400px"
                }, 50, function () {

                    $(clone).bind("mouseout", function (e) {
                        $(clone).animate({
                            height: "30px",
                            width: "30px"
                        }, 200, function () { $(clone).remove(); });

                    }); // end mouseout

                }); // end animate callback

            }); // end mouseover

        }); // end each

     


        function showLoader() {
            $("#loadingModel").show();
        }
        function hideLoader() {
            $("#loadingModel").hide();
        }


    });
    function DisplayMsg(result) {
        if (result.responseText == "\"Email Exist\"") {
            $("#erroremail").html("Email id is already exist. Please try another one.")
            $("#display-error").css("display", "block");
            hideLoader();
        }
        else {
            $("#erroremail").css("display", "none");
            $("#display-success").css("display", "block");
            $("#success").append("Inspector Details Saved Successfully");
            hideLoader();
        }
    }
</script>
