﻿@{
    ViewBag.Title = "About our team";
    Layout = @Url.Content("~/Views/Shared/_LayoutAboutUs.cshtml");
}
<section id="container">
    <!--================left side starts===============-->
<section class="left_side">
     
    <!--Height change by shailendra from 300 px to auto!important for Horizontal Scroll Bar-->
    <section  style="height: auto!important;width:840px;padding:8px; margin-top: 50px">
        <h2 style="width:220px;margin-left: 4%;padding-bottom:15px">About us</h2>
        <div id="userType" style="margin-left: 4%">
            @*@Html.Raw(@ViewBag.Message)*@
            
            <div style="height:280px; background-image:url('../Images/HandShake.jpg'); border:1px solid; border-color:grey;">
                <ul style="margin-top:20px;"; >
                     <li style="width:195px; margin:4px;padding:8px"><a href="@Url.Action("AboutOurStory", "Home")"style="color:black" ><h3 class="btnBanner">Our Story</h3></a></li>
                     <li style="width:195px; margin:4px;padding:8px"><a href="@Url.Action("AboutWhatWeDo", "Home")" style="color:black" ><h3 class="btnBanner">WHAT WE DO</h3></a></li>
                     <li style="width:195px; margin:4px;padding:8px"><a href="@Url.Action("About", "Home")" style="color:black" ><h3 class="btnBanner">OUR TEAM</h3></a></li>
                     <li style="width:195px; margin:4px;padding:8px"><a href="@Url.Action("AboutBenefits", "Home")" style="color:black" ><h3 class="btnBanner">BENEFITS</h3></a></li>
                     <li style="width:195px; margin:4px;padding:8px"><a href="@Url.Action("OurInspectorView", "Home","")" style="color:black" ><h3 class="btnBanner">OUR INSPECTORS</h3></a></li>
                     <li style="width:195px; margin:4px;padding:8px"><a href="@Url.Action("AboutDifference", "Home")" style="color:black" ><h3 class="btnBanner">SPECTORMAX DIFFERENCE</h3></a></li>
                </ul>
            </div>
            <div style="height:30px"></div>
            <div>
                   @Html.Raw(@ViewBag.Message)
            </div>
            
            @*<div class="ImgDiv" style="height:150px;">
                <ul>
                    <li style="float:left; padding-right: 5px;">       
                        <div>
                            <img src="http://img1.wsimg.com/fos/newscenter/about_godaddy/img/team/thumbnail-blake-irving.jpg" style="border-radius:150px;">
                        </div>                        
                        <p style="text-align:center"><b>Smith</b></p>
                        <p style="text-align:center"><b>CEO</b></p>
                    </li>
                    <li style="float:left; padding-right: 5px;">
                        <div>
                            <img src="http://img1.wsimg.com/fos/newscenter/about_godaddy/img/team/thumbnail-blake-irving.jpg"  style="border-radius:150px;">
                        </div> 
                        <p style="text-align:center"><b>John Carmal</b></p>
                        <p style="text-align:center"><b>MD</b></p>                     
                        
                    </li>
                    <li style="float:left; padding-right: 5px;">
                        <div>
                            <img src="http://img1.wsimg.com/fos/newscenter/about_godaddy/img/team/thumbnail-blake-irving.jpg" style="border-radius:150px;">
                        </div> 
                        <p style="text-align:center"><b>John Carmal</b></p>
                        <p style="text-align:center"><b>MD</b></p>                        
                        
                    </li>
                    <li style="float:left; padding-right: 5px;">
                        <div>
                            <img src="http://img1.wsimg.com/fos/newscenter/about_godaddy/img/team/thumbnail-blake-irving.jpg" style="border-radius:150px;">
                        </div> 
                        <p style="text-align:center"><b>Richard Clack</b></p>
                        <p style="text-align:center"><b>Director</b></p>                        
                        
                    </li>
                    <li style="float:left; padding-right: 5px;">
                        <div>
                            <img src="http://img1.wsimg.com/fos/newscenter/about_godaddy/img/team/thumbnail-blake-irving.jpg" style="border-radius:150px;">
                        </div>  
                        <p style="text-align:center"><b>Clavin Cla</b></p>
                        <p style="text-align:center"><b>Manager</b></p>                       
                        
                    </li>
                </ul>
            </div>*@
           
        </div>
    </section>
</section>
<!--==============bottom ends=================-->
<section class="clr"></section>
</section>
