﻿@model SpectorMax.Entities.Classes.LogInModel

@{
    Layout = null;   
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>:: SPECTOR MAX ::</title>

    <!-- Bootstrap -->
    <link href="@Url.Content("~/Content/css/Home/bootstrap.css")" type="text/css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/Home/style.css")" type="text/css" rel="stylesheet" />
    @*    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">*@

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <header class="no-padng">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-3 ">
                    <a href="#">
                        <img src="@Url.Content("~/Images/HomePage/logo.png")" alt=""></a>
                </div>
                <div class="col-md-9 col-sm-9 ">
                    <div class="row">
                        <div class="col-md-12">
                            <nav class="navbar navbar-default setnavhead" role="navigation ">
                                <div class="container-fluid">
                                    <!-- Brand and toggle get grouped for better mobile display -->
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                                        <a class="navbar-brand" href="#"></a>
                                    </div>

                                    <!-- Collect the nav links, forms, and other content for toggling -->
                                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                        <ul class="nav navbar-nav setnav">
                                            @*<li><a href="#">
                                                <img src="@Url.Content("~/Images/HomePage/home.png")"></a></li>*@
                                            <li class="btn-group">
                                                @*<a href="#" data-toggle="dropdown">
                                                    <img src="@Url.Content("~/Images/HomePage/notification.png")"><span class="red">1</span></a>*@
                                                @*<ul class="dropdown-menu" role="menu">
                                                    <li><a href="#">Action</a></li>
                                                    <li><a href="#">Another action</a></li>
                                                    <li><a href="#">Something else here</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="#">Separated link</a></li>
                                                </ul>*@
                                            </li>
                                            <li><a href="#">CREATE AN ACCOUNT</a></li>
                                            <li class="btn-group"><a data-toggle="dropdown" href="#">Login</a>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li><a href="#">Action</a></li>
                                                    <li><a href="#">Another action</a></li>
                                                    <li><a href="#">Something else here</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="#">Separated link</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <div class="clearfix">
                                            <ul class="nav navbar-nav setnav">
                                                <li><a href="@Url.Action("Home", "index")" class="tp-menu active">Home</a></li>
                                                <li><a href="@Url.Action("HomeBuyer", "Home")" class="tp-menu">Buyers</a></li>
                                                <li><a href="@Url.Action("HomeSeller", "Home")" class="tp-menu">Sellers</a></li>
                                                <li><a href="#" class="tp-menu">Agents</a></li>
                                                <li><a href="#" class="tp-menu">Join Our Team</a></li>
                                                <li><a href="#" class="tp-menu">About</a></li>
                                            </ul>
                                        </div>
                                        <!-- /.navbar-collapse -->

                                    </div>
                                    <!-- /.container-fluid -->

                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

   <section>
    <section class="big-search">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="smtext col-md-12">
            	Don't run the risk that a last minute unfavorable home inspection will derail your deal!
            </div>
            
          </div>
        </div>
      </div>  
    </section>
    <!--/big search-->
    <section class="no-report">
    	<section class="container">
        	<p>&nbsp;</p>
        </section>
    </section>
    <!--/no-report-->
    <section class="banner te">
    	<section class="container">
        	<div class="row">
            	
                <div class="col-md-7 col-sm-7 text-left acc">
                	<p>According to a recent Fox Business article Should Sellers Pay for a Home Inspection?  "One of the most common ways to sink a home sale or lower the bidding price is a surprise finding in a home inspection, and this is prompting some sellers to take the precautionary step of having an inspection before listing."</p>
 
<p>“The buyer has the upper hand when they have an inspection,” says Coldwell Banker consumer specialist and agent Jessica Edwards. “If you are willing to do it ahead of time, you give the control back to the seller.”</p>
                        
                    </ul>
                    
                </div>
                
                
                <div class="col-md-5 col-sm-5">
              
			<div class="circle-outer tpbm">
            	
            	<a class="circle tpbm" href="#">
                	<span class="circle-inner">
                    	<span class="glyphicon glyphicon-play-circle ply"></span>
                    <span class="quote">WATCH OUR SHORT <br> BUYER VIDEO</span>
                    </span>
                </a>
                <div class="clearfix "></div>
                <a class="rate tpbm" href="#" >More info</a>
                <div class="clearfix tpbm"></div>
                <a class="green-btn tpbm" href="#">View Sample Report</a>
               
            </div>
                </div>
                
              
            </div>
        </section>
    </section>
    <!--/banner-->
    <section class="big-search">
      <div class="container">
        <div class="row">
        	 <div class="col-md-11 col-xs-offset-1">
                <div class="search-heading block-box">
                    <p class="text14"> Your clients can use Spectormax 100% Risk Free. We will inspect their home absolutly free. Once we're finished they can decide if our Updatable Report is right for them. The only thing we ask in return is to post Notice at the door front so prospective Buyers can purchase a copy of our Comprehensive Report.   </p>
                </div>
            </div>
          </div>
        </div>
      </div>  
    </section>
    <!--/big search-->
    <section class="no-report">
    	<section class="container">
        	<div class="row testi">
            	<div class="col-md-3 col-sm-3"><h3>See what other sellers are saying.</h3></div>
                <div class="col-md-9 col-sm-9 ">
                
                 	  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
 

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
     <p>Short testimonials go here and can be scrolled from side to side so the viewer can read what the buyer says about the updatable service and how it helped in the sale and the cost was so worth it.  </p>
      
    </div>
<div class="item ">
     <p>Short testimonials go here and can be scrolled from side to side so the viewer can read what the buyer says about the updatable service and how it helped in the sale and the cost was so worth it.  </p>
      
    </div>
    <div class="item ">
     <p>Short testimonials go here and can be scrolled from side to side so the viewer can read what the buyer says about the updatable service and how it helped in the sale and the cost was so worth it.  </p>
      
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
                
				 </div>                
            
            </div>
        </section>
    </section>
    <!--/no-report-->
      <div class="container">
        <div class="row">
        
          <div class="col-md-12">
            <h2 class="text-center tpbm hwds">How does our Updatable Report Work?</h2>
                        
          </div>
          
          <div class="col-md-12 stslr">
          
          	<div class="col-md-3 col-sm-3">
            	<div class=" blue-box">
            	<div class="blue-box-head clearfix">
                	<div class="blue-box-head-icon"><img src="@Url.Content("~/Images/HomePage/trn.png")" alt="" title=""></div>
                    <div class="blue-box-head-text">Prevent Derailments</div>
                </div>
                <div class="blue-box-content">
                   Realtors know that sellers who get pre-listing home inspections help prevent unexpected issues from delaying or derailing a closing.  
                </div>
                </div>
            </div>
                
            <div class="col-md-3 col-sm-3">
            	<div class=" blue-box">
            	<div class="blue-box-head clearfix">
                	<div class="blue-box-head-icon"><img src="@Url.Content("~/Images/HomePage/st.png")" alt="" title=""></div>
                    <div class="blue-box-head-text">Active Sellers</div>
                </div>
                <div class="blue-box-content">
                    Sellers who take an active role in preparing the home for the sales process are more likely to have a seamless closing.
 
They can repair items at their own pace and update the Report as they go
  
                </div>
                </div>
            </div>
                
            <div class="col-md-3 col-sm-3">
            	<div class=" blue-box">
            	<div class="blue-box-head clearfix">
                	<div class="blue-box-head-icon"><img src="@Url.Content("~/Images/HomePage/mn.png")" alt="" title=""></div>
                    <div class="blue-box-head-text">Show Included Repairs</div>
                </div>
                <div class="blue-box-content">
                  Using our Updatable Report, Sellers can indicate which things will and will not be included in the sale of the home. 
                </div>
                </div>
            </div>
            
          	<div class="col-md-3 col-sm-3">
            	<div class=" blue-box">
            	<div class="blue-box-head clearfix">
                	<div class="blue-box-head-icon"><img src="@Url.Content("~/Images/HomePage/md.png")" alt="" title=""></div>
                    <div class="blue-box-head-text">Calm Anxieties  </div>
                </div>
                <div class="blue-box-content">
                   Complete Seller Disclosures, via a Comprehensive Home inspection, help calm both parties prior to closing.
                </div>
                </div>
            </div>
                
            <div class="col-md-3 col-sm-3">
            	<div class=" blue-box">
            	<div class="blue-box-head clearfix">
                	<div class="blue-box-head-icon"><img src="@Url.Content("~/Images/HomePage/df.png")" alt="" title=""></div>
                    <div class="blue-box-head-text">Some Defects</div>
                </div>
                <div class="blue-box-content">
                   Every home, regardless of age or quality, harbors a small, medium, or large list of defective conditions. 
 
                </div>
                </div>
            </div>
                
            <div class="col-md-3 col-sm-3">
            	<div class=" blue-box">
            	<div class="blue-box-head clearfix">
                	<div class="blue-box-head-icon"><img src="@Url.Content("~/Images/HomePage/ppn.png")" alt="" title=""></div>
                    <div class="blue-box-head-text">Buyers Will Know</div>
                </div>
                <div class="blue-box-content">
                   Buyers will know exactally what they are purchasing when they write their offer.  
 
Knowing prevents renegotiation prior to closing. 

                </div>
                </div>
            </div>
            
            <div class="col-md-3 col-sm-3">
            	<div class=" blue-box">
            	<div class="blue-box-head clearfix">
                	<div class="blue-box-head-icon"><img src="@Url.Content("~/Images/HomePage/hmn.png")" alt="" title=""></div>
                    <div class="blue-box-head-text">Listings Stand Out</div>
                </div>
                <div class="blue-box-content">
                   Your listings will stand out by a proactive approach to the inspection process.
 
  				</div>
                </div>
            </div>
                
            <div class="col-md-3 col-sm-3">
            	<div class="blue-box ">
            	<div class="blue-box-head clearfix">
                	<div class="blue-box-head-icon"><img src="@Url.Content("~/Images/HomePage/tr.png")"alt="" title=""></div>
                    <div class="blue-box-head-text">Neutral Inspections</div>
                </div>
                <div class="blue-box-content">
                  Because we are laible to both parties, we are the most neutral inspection service in the industry.

                </div>
                </div>
            </div>
             
            <div class="col-md-3 col-sm-3 pull-right">
            	
                <a href="#" class="btn btn-warning col-md-12">Recommend us to your seller today.</a>
                
            </div>
            
            
            <div class="clearfix"></div>
            <hr>
            
          </div>
          
          <div class="col-md-12">
            <h2 class="text-center tpbm hwds">A Spectormax Comprehensive Report can be purchased by both Buyer and Seller. This makes the inspector laible to both parties for errors and ommissions. </h2>          
          </div>
          
          <div class="col-md-12">
            <h2 class="text-center tpbm hwds">Learn More About How a Prelisting Inspection Protects Your Clients</h2>          
          </div>
          
          
          <div class="col-md-12">
            <div class="col-md-6 col-sm-6">
            	<div class=" blue-box">
            	<div class="blue-box-head clearfix">
                	<div class="blue-box-head-icon"><img src="@Url.Content("~/Images/HomePage/wp.png")" alt="" title=""></div>
                    <div class="blue-box-head-text">INFORMATIVE ARTICLES</div>
                </div>
                <div class="blue-box-content">
                   
                   <p>The Home Inspection Process</p>
                   
                   <p>Why do real estate agents insist that their clients--both buyers and sellers get a home inspection?</p>
                   
                   <p>An Inspection Report Is NOT a repair List for the Seller! </p>
                   
                   <p>Most Common Defects Found During a Home Inspection </p>
                   
                   <p>Home Inspections are Limited</p>
                   
                </div>
                </div>
            </div>
            
            <div class="col-md-6 col-sm-6">
            	<div class=" blue-box">
            	<div class="blue-box-head clearfix">
                	<div class="blue-box-head-icon"><img src="@Url.Content("~/Images/HomePage/mu.png")" alt="" title=""></div>
                    <div class="blue-box-head-text">WHY CHOOSE US</div>
                </div>
                <div class="blue-box-content">
                 	
                   <p>What is a Spectormax Comprehensive </p>
                   
                   <p>Home Inspection? </p>
                   
                   <p>Choosing a Spectormax Home Inspector </p>
                   
                   <p>What is the Spectormax Difference </p>
                   
                   <p>Spectormax will inspect any home for FREE!</p>
                   
  				</div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer>
        <div class="container">
            <ul>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Terms & Conditions </a></li>
                <li><a href="#">Privacy Policy </a></li>
                <li><a href="#">Our Philosophy</a></li>
                <li><a href="#">Code Of Ethics</a></li>
                <li><a href="#">Standard of Prac</a></li>
            </ul>
        </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
</body>
</html>
