﻿@{
    ViewBag.Title = "Code of Ethics";
    if (SpectorMax.Entities.Classes.Sessions.LoggedInUser != null && (SpectorMax.Entities.Classes.Sessions.LoggedInUser.RoleName == "SiteUser" || SpectorMax.Entities.Classes.Sessions.LoggedInUser.RoleName == "Property Inspector"))
    {
        Layout = "~/Views/Shared/_NLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/HomeLayout.cshtml";

    }
}
<div class="container theme-showcase" role="main">
    <div class="blog-header">
        <h1 class="blog-title "><font><font class="">Code of Ethics</font></font></h1>
        <p class="jumbotron"><font><font>@Html.Raw(@ViewBag.Message)</font></font></p>
    </div>
</div>
