﻿@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutOutside.cshtml";
}
@using SpectorMax.Entities.Classes
<script>
    $(document).ready(function () {
        $("#ScheduleNow").click(function () {
           
            $("#Details").modal({ backdrop: 'static', keyboard: true });
            $("#Details").modal("show");
            $("#Zip-errorLogin").css("display", "none")
            $("#lblMessageziperrorLogin").html("");
            $("#username").val() = "";
            $("#pwd").val()=""
        });
    });

</script>
<section id="container">
    <!--================left side starts===============-->
    <section class="left_side" style="width: 943px;border: 1px solid #DADADA;">
         <section  style="height: auto!important;width:860px; margin-top: 50px">
          <h2 style="width:500px;margin-left: 4%;padding-bottom:15px">SpectorMax will Inspect any Home for FREE if</h2>
        <div id="userType" style="margin-left: 4%">
          
            <p><img src="~/Content/images/green check.png" style="height:20px;width:20px"/> &nbsp;The home is or will be listed by a licensed realtor/broker, for sale on the real estate market.</p>
            <br /><br />
            <p><img src="~/Content/images/green check.png" style="height:20px;width:20px"/> &nbsp;The home is not currently under contract or contract pending.</p>
            <br /><br />
            <p><img src="~/Content/images/green check.png" style="height:20px;width:20px"/> &nbsp;The owner/agent agrees to allow an 8 1/2 x 5 1/2 Spectormax decal to be posted at a prominent point  at the entry of home,</p>
            <p> &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;advertising our inspection service through the duration of the time the home is on the market.</p>
            <br /><br />
            <p><img src="~/Content/images/green check.png" style="height:20px;width:20px"/> &nbsp;The homeowner/agent agrees to the Terms and Conditions of our free inspection services.</p>
            <br /><br />
            <p><img src="~/Content/images/green check.png" style="height:20px;width:20px"/> &nbsp;The owner is present during the inspection process.</p>
            <br /><br />
            <p>  &nbsp; &nbsp;&nbsp; &nbsp; Free service only allows access to our online Free Basic Report</p>
                <br /><br />
            <p>&nbsp; &nbsp;&nbsp; &nbsp;Our Free Comprehensive Home Inspection does NOT include access to our online Comprehensive Report</p>
            <br /><br />
        </div>
             <div>
                 <a id="ScheduleNow" href="#" class="btn" style="float:right">Schedule Now</a>

             </div>
    </section>
        </section>
    <section class="clr"></section>
    </section>
<div aria-hidden="true" style="left: 52%; top: 64%; display: none; padding: 14px 15px;width:369px" aria-labelledby="windowTitleLabel" data-backdrop="static" data-keyboard="false" role="dialog" tabindex="-1" class="modal hide fade in" id="Details">
            <div class="modal-header">
                <a data-dismiss="modal" style="margin: -14px -16px" class="close" href="#">×</a>
                <h3>Login</h3>
            </div>
            <div class="modal-body">
                <div class="divDialogElements">
                   @{
                       Html.RenderPartial("_PartialLogin", new LogInModel());
                    }
                </div>
            </div>

        </div>