﻿@{
    ViewBag.Title = "HomeBuyer";
    Layout = @Url.Content("~/Views/Shared/_LayOutHome.cshtml");
}

<section id="container">
    <!--================left side starts===============-->
    <section class="left_side">
        <section class="search">
                    <span class="search_text">Enter # for Basic Report here</span>
                    <section class="search_box">
                        <input type="text" class="big_input" id="txtUniqueId">

                        <input type="button" class="gray_btn" id="btnFreeReport" value="Go">
                    </section>
                </section>
        <section style="margin-bottom: 25px; margin-left: -8px" class="video">
            <iframe class="video" style="border: none" src="http://www.youtube.com/embed/NzwHVUtLYm4"></iframe>
        </section>

        <section class="spectro">
            <section id="section1" style="margin-left: 10px;">
                <p><h3></h3>Are you home shopping?  Get two months of unlimited comprehensive reports for one low price.</h3></p>
                <input type="submit" style="margin-top:10px" class="btn" value="Click Here For Details" />
               
               <section style="margin-top:15px;" class="spectro">
                    <section class="spectro_text">
                        <h1>Spectormax we will inspect any home for FREE</h1>
                        <p>Spectormax lets you view a Basic Report on any home absolutly Free</p>
                    </section>
                    <section class="detail_btn">
                        <span>CLICK HERE</span>
                        <span class="big_txt">FOR DETAIL</span>
                    </section>
                </section>

                <p style="margin-bottom:8px;"><a href="#">The Home Inspection Process</a></p>
                <p style="margin-bottom:8px;"><a href="#">What is a Spectormax Comprehensive Home Inspection?</a></p>
                <p style="margin-bottom:8px;"><a href="#">Choosing a Spectormax Home Inspector</a></p>
                <p style="margin-bottom:8px;"><a href="#">What is the Spectormax Difference (link)</a></p>
                <p style="margin-bottom:8px;"><a href="#">Why do Real Estate Agents insist that their clients-BOTH BUYERS AND SELLERS-get a home inspection</a></p>
                <p style="margin-bottom:8px;"><a href="#">An Inspection Report Is NOT a repair List for the Seller!</a></p>
                <p style="margin-bottom:8px;"><a href="#">Home Inspections are Limited</a></p>
                <p style="margin-bottom:8px;"><a href="#">Most Common Defects Found During a Home Inspection</a></p>
            </section>

        </section>
    </section>
    <!--==============bottom ends=================-->
    <section class="clr"></section>
</section>
