﻿@model SpectorMax.Entities.Classes.LogInModel

@{
    Layout = null;   
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>:: SPECTOR MAX ::</title>

    <!-- Bootstrap -->
    <link href="@Url.Content("~/Content/css/Home/bootstrap.css")" type="text/css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/Home/style.css")" type="text/css" rel="stylesheet" />
    @*    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">*@

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <header class="no-padng">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-3 ">
                    <a href="#">
                        <img src="@Url.Content("~/Images/HomePage/logo.png")" alt=""></a>
                </div>
                <div class="col-md-9 col-sm-9 ">
                    <div class="row">
                        <div class="col-md-12">
                            <nav class="navbar navbar-default setnavhead" role="navigation ">
                                <div class="container-fluid">
                                    <!-- Brand and toggle get grouped for better mobile display -->
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                                        <a class="navbar-brand" href="#"></a>
                                    </div>

                                    <!-- Collect the nav links, forms, and other content for toggling -->
                                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                        <ul class="nav navbar-nav setnav">
                                            @*<li><a href="#">
                                                <img src="@Url.Content("~/Images/HomePage/home.png")"></a></li>*@
                                            <li class="btn-group">
                                                @*<a href="#" data-toggle="dropdown">
                                                    <img src="@Url.Content("~/Images/HomePage/notification.png")"><span class="red">1</span></a>*@
                                                @*<ul class="dropdown-menu" role="menu">
                                                    <li><a href="#">Action</a></li>
                                                    <li><a href="#">Another action</a></li>
                                                    <li><a href="#">Something else here</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="#">Separated link</a></li>
                                                </ul>*@
                                            </li>
                                            <li><a href="#">CREATE AN ACCOUNT</a></li>
                                            <li class="btn-group"><a data-toggle="dropdown" href="#">Login</a>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li><a href="#">Action</a></li>
                                                    <li><a href="#">Another action</a></li>
                                                    <li><a href="#">Something else here</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="#">Separated link</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <div class="clearfix">
                                            <ul class="nav navbar-nav setnav">
                                                <li><a href="@Url.Action("Home", "index")" class="tp-menu active">Home</a></li>
                                                <li><a href="#" class="tp-menu">Buyers</a></li>
                                                <li><a href="@Url.Action("HomeSeller", "Home")" class="tp-menu">Sellers</a></li>
                                                <li><a href="@Url.Action("Agents", "Home")" class="tp-menu">Agents</a></li>
                                                <li><a href="#" class="tp-menu">Join Our Team</a></li>
                                                <li><a href="#" class="tp-menu">About</a></li>
                                            </ul>
                                        </div>
                                        <!-- /.navbar-collapse -->

                                    </div>
                                    <!-- /.container-fluid -->

                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section>
        <section class="big-search">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="smtext col-md-12">
                            Our Best Value!  2-Month Unlimited Membership
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!--/big search-->
        <section class="no-report">
            <section class="container">
                <p>&nbsp;</p>
            </section>
        </section>
        <!--/no-report-->
        <section class="banner te">
            <section class="container">
                <div class="row">

                    <div class="col-md-7 col-sm-7 text-left acc">
                        <p>It's like having the assurance of your own Spectormax inspector with you on every walkthrough.</p>

                        <p>
                            <img src="@Url.Content("~/Images/HomePage/bh.png")" alt="">
                            <span>Inspect any home for free</span>
                        </p>


                        <p class="unl">Unlimited inspections for about the price of a single home inspection.</p>

                        </ul>
                    
                    </div>


                    <div class="col-md-5 col-sm-5">

                        <div class="circle-outer tpbm">

                            <a class="circle tpbm" href="#">
                                <span class="circle-inner">
                                    <span class="glyphicon glyphicon-play-circle ply"></span>
                                    <span class="quote">WATCH OUR SHORT
                                        <br>
                                        BUYER VIDEO</span>
                                </span>
                            </a>
                            <div class="clearfix "></div>
                            <a class="rate tpbm" href="#">More info</a>
                            <div class="clearfix tpbm"></div>
                            <a class="green-btn tpbm" href="@Url.Action("SampleReport", "Report", new { inspectionOrderId=Session["ReportNo"].ToString()})">View Sample Report</a>

                        </div>
                    </div>


                </div>
            </section>
        </section>
        <!--/banner-->
        <section class="big-search">
            <div class="container">
                <div class="row">
                    <div class="col-md-11 col-xs-offset-1">
                        <div class="search-heading block-box">
                            <p class="text14">Don’t worry; we've got your back. Spectormax adheres to the most stringent inspection standards in the industry.</p>
                        </div>
                    </div>
                </div>
            </div>
            </div>  
        </section>
        <!--/big search-->
        <section class="no-report">
            <section class="container">
                <div class="row testi">
                    <div class="col-md-3 col-sm-3">
                        <h3>See what other sellers are saying.</h3>
                    </div>
                    <div class="col-md-9 col-sm-9 ">

                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->


                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <p>Short testimonials go here and can be scrolled from side to side so the viewer can read what the buyer says about the updatable service and how it helped in the sale and the cost was so worth it.  </p>

                                </div>
                                <div class="item ">
                                    <p>Short testimonials go here and can be scrolled from side to side so the viewer can read what the buyer says about the updatable service and how it helped in the sale and the cost was so worth it.  </p>

                                </div>
                                <div class="item ">
                                    <p>Short testimonials go here and can be scrolled from side to side so the viewer can read what the buyer says about the updatable service and how it helped in the sale and the cost was so worth it.  </p>

                                </div>
                            </div>

                            <!-- Controls -->
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>

                    </div>

                </div>
            </section>
        </section>
        <!--/no-report-->
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <h2 class="text-center tpbm hwds">How Our 2 Month Membership Works</h2>

                </div>

                <div class="col-md-12 stslr">

                    <div class="col-md-3 col-sm-3">
                        <div class=" blue-box">
                            <div class="blue-box-head clearfix">
                                <div class="blue-box-head-icon">
                                    <img src="@Url.Content("~/Images/HomePage/cn.png")" alt="" title="">
                                </div>
                                <div class="blue-box-head-text">Create an Account</div>
                            </div>
                            <div class="blue-box-content">
                                Start by providing some basic information. 
 
Then choose a user name, password, and security questions for added protection.  
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-3">
                        <div class=" blue-box">
                            <div class="blue-box-head clearfix">
                                <div class="blue-box-head-icon">
                                    <img src="@Url.Content("~/Images/HomePage/ct.png")" alt="" title="">
                                </div>
                                <div class="blue-box-head-text">Checkout Securely </div>
                            </div>
                            <div class="blue-box-content">
                                Use our secure checkout to purchase your 2-Month Membership.
 
If you are not completely satisfied your purchase is 100% refundable. 
 
  
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-3">
                        <div class=" blue-box">
                            <div class="blue-box-head clearfix">
                                <div class="blue-box-head-icon">
                                    <img src="@Url.Content("~/Images/HomePage/sr.png")"  alt="" title="">
                                </div>
                                <div class="blue-box-head-text">Search Existing Reports</div>
                            </div>
                            <div class="blue-box-content">
                                Start searching for existing Comprehensive Reports in our system.  
 
Can't find everything your looking for?
 
  
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-3">
                        <div class=" blue-box">
                            <div class="blue-box-head clearfix">
                                <div class="blue-box-head-icon">
                                    <img src="@Url.Content("~/Images/HomePage/rol.png")" alt="" title="">
                                </div>
                                <div class="blue-box-head-text">Order New Reports</div>
                            </div>
                            <div class="blue-box-content">
                                If we don't have a report you are looking for, order an inspection online.
 
Our inspectors will inspect in the order the request was recieved.
 
 
 
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-3">
                        <div class=" blue-box">
                            <div class="blue-box-head clearfix">
                                <div class="blue-box-head-icon">
                                    <img src="@Url.Content("~/Images/HomePage/dr.png")" alt="" title="">
                                </div>
                                <div class="blue-box-head-text">View Reports</div>
                            </div>
                            <div class="blue-box-content">
                                View as many of our Comprehensive Reports as you like. 
 
You will rest assured knowiing our reports meet the most stringent standards in the industry
 
 
 
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-3">
                        <div class=" blue-box">
                            <div class="blue-box-head clearfix">
                                <div class="blue-box-head-icon">
                                    <img src="@Url.Content("~/Images/HomePage/tim.png")"  alt="" title="">
                                </div>
                                <div class="blue-box-head-text">Priority Inspection</div>
                            </div>
                            <div class="blue-box-content">
                                If you decide to make an Offer to Purchase on any home, and we have not already inspected it, let us know. 
 
Your inspection request will be moved to priority status and will be inspected shortly thereafter.
 
 
 
 

                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-3">
                        <div class=" blue-box">
                            <div class="blue-box-head clearfix">
                                <div class="blue-box-head-icon">
                                    <img src="@Url.Content("~/Images/HomePage/chl.png")" alt="" title="">
                                </div>
                                <div class="blue-box-head-text">Pre-Close Checklist</div>
                            </div>
                            <div class="blue-box-content">
                                Prior to closing, use our preclosing checklist to make one last review of your new home.
 
This final check helps you determine that the condition of the house has not changed since our inspection was completed.
 
 
 
 
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-3">
                        <div class="green-box  ">
                            <div class="blue-box-head clearfix">
                                <div class="blue-box-head-icon">
                                    <img src="@Url.Content("~/Images/HomePage/arw.png")" alt="" title="">
                                </div>
                                <div class="blue-box-head-text">Join Here</div>
                            </div>
                            <div class="blue-box-content">
                                For about the same price as a single home inspection you can take advantage of all the benifits of our 2-month menbership plan.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 pull-right">

                        <a href="#" class="btn btn-warning col-md-12">JOIN TODAY</a>

                    </div>
                    <div class="clearfix"></div>
                    <hr>
                </div>
                <div class="col-md-12">
                    <h2 class="text-center tpbm hwds">Learn More About How a Home Inspection Protects You</h2>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6 col-sm-6">
                        <div class=" blue-box">
                            <div class="blue-box-head clearfix">
                                <div class="blue-box-head-icon">
                                    <img src="@Url.Content("~/Images/HomePage/wp.png")"  alt="" title="">
                                </div>
                                <div class="blue-box-head-text">INFORMATIVE ARTICLES</div>
                            </div>
                            <div class="blue-box-content">

                                <p>The Home Inspection Process</p>

                                <p>Why do real estate agents insist that their clients--both buyers and sellers get a home inspection?</p>

                                <p>An Inspection Report Is NOT a repair List for the Seller! </p>

                                <p>Most Common Defects Found During a Home Inspection </p>

                                <p>Home Inspections are Limited</p>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class=" blue-box">
                            <div class="blue-box-head clearfix">
                                <div class="blue-box-head-icon">
                                    <img src="@Url.Content("~/Images/HomePage/mu.png")" alt="" title="">
                                </div>
                                <div class="blue-box-head-text">WHY CHOOSE US</div>
                            </div>
                            <div class="blue-box-content">

                                <p>What is a Spectormax Comprehensive </p>

                                <p>Home Inspection? </p>

                                <p>Choosing a Spectormax Home Inspector </p>

                                <p>What is the Spectormax Difference </p>

                                <p>Spectormax will inspect any home for FREE!</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <footer>
        <div class="container">
            <ul>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Terms & Conditions </a></li>
                <li><a href="#">Privacy Policy </a></li>
                <li><a href="#">Our Philosophy</a></li>
                <li><a href="#">Code Of Ethics</a></li>
                <li><a href="#">Standard of Prac</a></li>
            </ul>
        </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script>

    </script>
</body>
</html>
