﻿@{
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}
<script>
    $(document).ready(function () {


        $('#txtUniqueId').keypress(function (event) {

            var keycode = (event.keyCode ? event.keyCode : event.which);
            if (keycode == '13') {
                $(location).attr("href", '@Url.Action("FreeBasicReport", "Report")' + "?UniqueId=" + $("#txtUniqueId").val());
            }
        });
    });
    $("#btnFreeReport").click(function () {
        $(location).attr("href", '@Url.Action("FreeBasicReport", "Report")' + "?UniqueId=" + $("#txtUniqueId").val());
    });
</script>
<section class="big-search">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="search-heading col-md-4 col-xs-offset-2">
                    <span>FREE</span> Basic Report
                <p>View a basic report on any home absolutely FREE</p>
                </div>
                <div class="search-box col-md-4 pull-left">
                    <input type="text" id="txtUniqueId" class="input-search">
                    <input type="button" id="btnFreeReport" value="SEARCH" class="serch-btn">
                </div>
            </div>
        </div>
    </div>
</section>
<!--/big search-->
<section class="no-report">
    <section class="container">
        <p>No Report? <a class="rate tpbm" href="@Url.Action("SampleBasicReport", "Report", new { UniqueId = Session["UniqueId"].ToString() })">Click Here</a> for a Sample Basic Report </p>
    </section>
</section>
<!--/no-report-->
<section class="banner">
    <section class="container">
        <h1>When it comes to making a decision on your largest personal investment, your home, you should NEVER buy or sell without us.</h1>
        <div class="circle-outer">
            <div style="width: 90%; margin: 0 auto">
                <a class="circle" href="@Url.Action("SampleReport", "Report", new { inspectionOrderId = Session["ReportNo"].ToString() })">
                    <span class="circle-inner">
                        <img src="@Url.Content("~/Images/HomePage/doc-icon.png")" alt="" title="" class="icon">
                        <span class="quote">View A Sample Comprehensive Report</span>
                    </span>
                </a>

                <a id="Video" data-toggle="lightbox" class="circle active" href="http://www.youtube.com/embed/NzwHVUtLYm4">
                    <span class="circle-inner">
                        <img  src="@Url.Content("~/Images/HomePage/play-icon.png")"  alt="" title="" class="icon">
                        <span class="quote">WATCH A SHORT INTRODUCTION VIDEO</span>
                    </span>
                </a>

                <a class="circle lightbox" href="@Url.Action("SpectorMaxwillInspectanyHomeforFREEif", "Home")">
                    <span class="circle-inner">
                        <img src="@Url.Content("~/Images/HomePage/check-icon.png")" alt="" title="" class="icon">
                        <span class="quote">We will inspect any home for FREE!</span>
                    </span>
                </a>
            </div>
        </div>
    </section>
</section>
<!--/banner-->
<section class="big-search">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-xs-offset-2">
                <div class="search-heading block-box">
                    <p class="text14">Buyer and Sellers working together through the Spectormax home inspection process stop "deal-breaking" surprises.</p>
                </div>
            </div>
        </div>
    </div>
    </div>  
</section>
<!--/big search-->
<section class="no-report">
    <section class="container">
        <p class="big-quote"><strong>Spectormax -</strong> The best pre-closing protection for every home transaction.</p>
    </section>
</section>
<!--/no-report-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Other Important Services</h2>
            <div class="circle-outer">
                <a href="@Url.Action("RadOnTesting", "Home")" class="othr-servic-outer col-md-2">
                    <figure class="othr-servic">
                        <img src="@Url.Content("~/Images/HomePage/house radon icon.png")"  alt="" title="" width="80px">
                    </figure>
                    <span>Radon Testing</span>
                </a>

                <a href="@Url.Action("Mold", "Home")" class="othr-servic-outer col-md-2">
                    <figure class="othr-servic">
                        <img src="@Url.Content("~/Images/HomePage/house mold icon.png")" alt="" title="" width="80px">
                    </figure>
                    <span>Mold Testing</span>
                </a>

                <a href="@Url.Action("GasLeak", "Home")" class="othr-servic-outer col-md-2">
                    <figure class="othr-servic">
                        <img src="@Url.Content("~/Images/HomePage/house gas icon.png")" alt="" title="" width="80px">
                    </figure>
                    <span>Gas Leak Detection</span>
                </a>

                <a href="@Url.Action("MethTesting", "Home")" class="othr-servic-outer col-md-2">
                    <figure class="othr-servic">
                        <img  src="@Url.Content("~/Images/HomePage/house meth icon.png")" alt="" title="" width="80px">
                    </figure>
                    <span>Meth Testing</span>
                </a>

                <a href="@Url.Action("Foundation", "Home")" class="othr-servic-outer col-md-2">
                    <figure class="othr-servic">
                        <img  src="@Url.Content("~/Images/HomePage/house analysis icon.png")"  alt="" title="" width="80px">
                    </figure>
                    <span>Foundation Analysis</span>
                </a>

                <a href="@Url.Action("Mold", "Home")" class="othr-servic-outer col-md-2">
                    <figure class="othr-servic">
                        <img src="@Url.Content("~/Images/HomePage/house water icon.png")" alt="" title="" width="80px">
                    </figure>
                    <span>Moisture Analysis</span>
                </a>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-4">
                <div class=" blue-box">
                    <div class="blue-box-head clearfix">
                        <div class="blue-box-head-icon">
                            <img src="@Url.Content("~/Images/HomePage/setting.png")" alt="" title="">
                        </div>
                        <div class="blue-box-head-text">How our service Works</div>
                    </div>
                    <div class="blue-box-content-Home">
                        Spectormax is the home inspection company of the twenty-first century.  Like Carfax, Google, Facebook and hundreds of other modern online companies, we invest in gathering information.  We will inspect any broker-listed property for free and then offer the information to our clients for a fraction of the price of the traditional home inspection services.  Our service not only caters to buyer inspections, but also seller updatable reports.  We are, hands down, the most technologically advanced home inspection company in the industry. 
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class=" blue-box">
                    <div class="blue-box-head clearfix">
                        <div class="blue-box-head-icon">
                            <img src="@Url.Content("~/Images/HomePage/membership-icon.png")" alt="" title="">
                        </div>
                        <div class="blue-box-head-text">2-Month Membership</div>
                    </div>
                    <div class="blue-box-content-Home">
                        When you buy a Spectormax <a href="@Url.Action("MoreInfo", "Home")">Two-Month Membership Plan </a>you get: 
                            <br />
                        <br />
                        1. Access to every online inspection in our system. 
                            <br />
                        2. Priority scheduling of free inspection requests on any home you look at.  
                            <br />
                        3. High priority scheduling of any home you place under contract. 
                            <br />
                        <br />
                        In other words, for the price of a home inspection from a traditional inspector, you will get unlimited home inspections, and priority service.                        
                        
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class=" blue-box">
                    <div class="blue-box-head clearfix">
                        <div class="blue-box-head-icon">
                            <img  src="@Url.Content("~/Images/HomePage/join-team-icon.png")" alt="" title="">
                        </div>
                        <div class="blue-box-head-text">Join our team</div>
                    </div>
                    <div class="blue-box-content-Home">
                        Spectormax is always looking for ambitious, hardworking inspectors.  We offer protected territories, professional training, and exceptional income to our associated inspectors.  Take a look at the fastest growing network of professional inspectors in the industry.  
 <br />
                        <br />
                        We welcome both experienced inspectors who may want to supplement their inspection schedule and individuals who are ready to make a career change. 
 <br />
                        <br />
                        Visit our <a href="@Url.Action("HomeJoinusPartial", "Home")">Join Our Team</a> page today.
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
