﻿@model SpectorMax.Entities.Classes.LinksAndShareExeperience
@{
    if (SpectorMax.Entities.Classes.Sessions.LoggedInUser != null && (SpectorMax.Entities.Classes.Sessions.LoggedInUser.RoleName == "SiteUser" || SpectorMax.Entities.Classes.Sessions.LoggedInUser.RoleName == "Property Inspector"))
    {
        Layout = "~/Views/Shared/_NLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/HomeLayout.cshtml";

    }
}
<section>
    <section class="big-search">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="smtext col-md-12">
                        Don't run the risk that a last minute unfavorable home inspection will derail your deal!
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!--/big search-->
    <section class="no-report">
        <section class="container">
            <p>&nbsp;</p>
        </section>
    </section>
    <!--/no-report-->
    <section class="banner te">
        <section class="container">
            <div class="row">

                <div class="col-md-7 col-sm-7 text-left acc">
                    <p>According to a recent Fox Business article Should Sellers Pay for a Home Inspection? <a target="_blank" href="http://www.foxbusiness.com/personal-finance/2013/09/18/should-sellers-pay-for-home-inspection/">"One of the most common ways to sink a home sale or lower the bidding price is a surprise finding in a home inspection, and this is prompting some sellers to take the precautionary step of having an inspection before listing.</a> "</p>

                    <p>“The buyer has the upper hand when they have an inspection,” says Coldwell Banker consumer specialist and agent Jessica Edwards. “If you are willing to do it ahead of time, you give the control back to the seller.”</p>

                    </ul>
                    
                </div>


                <div class="col-md-5 col-sm-5">

                    <div class="circle-outer tpbm">

                        <a class="circle tpbm" data-toggle="lightbox"  href="https://www.youtube.com/embed/UOmrlpeitTM">
                            <span class="circle-inner">
                                <span class="glyphicon glyphicon-play-circle ply"></span>
                                <span class="quote">WATCH OUR SHORT
                                        <br>
                                    AGENT VIDEO</span>
                            </span>
                        </a>
                        <div class="clearfix "></div>
                        <a class="rate tpbm" href="#">More info</a>
                        <div class="clearfix tpbm"></div>
                        @*<a class="green-btn tpbm" href="@Url.Action("SampleBasicReport", "Report", new { ReportNo=Session["ReportNo"].ToString()})">View Sample Report</a>*@

                    </div>
                </div>


            </div>
        </section>
    </section>
    <!--/banner-->
    <section class="big-search">
        <div class="container">
            <div class="row">
                <div class="col-md-11 col-xs-offset-1">
                    <div class="search-heading block-box">
                        <p class="text14"><b class="rate tplm">100% Risk Free</b>
                        Your clients can use Spectormax 100% Risk Free. We will inspect their home absolutely free. Once we're finished they can decide if our Updatable Report is right for them. The only thing we ask in return is to post Notice at the door front so prospective Buyers can purchase a copy of our Comprehensive Report.   </p>
                    </div>
                </div>
            </div>
        </div>
        </div>  
    </section>
    <!--/big search-->
    <section class="no-report">
        <section class="container">
            <div class="row testi">
                <div class="col-md-3 col-sm-3">
                    
                    <h4>See what other agents are saying.</h4>
<input type="button" value="Submit Comment" class="green-btn" id="btnSubmitComment">
                </div>
                <div class="col-md-9 col-sm-9 ">

                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->


                        <!-- Wrapper for slides -->
                           <div class="carousel-inner">
                            @if (Model != null && Model.objlstShareExprience.Count > 0)
                            {
                                for (int i = 0; i < Model.objlstShareExprience.Count; i++)
                                {
                                    if (i == 0)
                                    {
                                <div class="item active">
                                    <p>@Model.objlstShareExprience[i].Comments</p>

                                </div>
                                    }
                                    else
                                    {
                                <div class="item">
                                    <p>@Model.objlstShareExprience[i].Comments</p>

                                </div>    
                                    }
                                }
                            }
                            else
                            {
                            <div class="item active">
                                <p>No Testimonials</p>

                            </div>
                            }
@*                            <div class="item active">
                                <p>Short testimonials go here and can be scrolled from side to side so the viewer can read what the buyer says about the updatable service and how it helped in the sale and the cost was so worth it.  </p>

                            </div>
                            <div class="item ">
                                <p>Short testimonials go here and can be scrolled from side to side so the viewer can read what the buyer says about the updatable service and how it helped in the sale and the cost was so worth it.  </p>

                            </div>
                            <div class="item ">
                                <p>Short testimonials go here and can be scrolled from side to side so the viewer can read what the buyer says about the updatable service and how it helped in the sale and the cost was so worth it.  </p>

                            </div>*@
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>

                </div>

            </div>
        </section>
    </section>
    <!--/no-report-->
    <div class="container">
        <div class="row">
        
          <div class="col-md-12">
            <h2 class="text-center tpbm hwds">How does our Updatable Report Keep Your Deals Solid?</h2>
                        
          </div>
          
          <div class="col-md-12 stslr">
          
          	<div class="col-md-3 col-sm-3">
            	<div class=" blue-box ad-blue-box">
                	<div class="ad-round">
                    	<figure class="othr-servic">
                        	<span class="ad-red red-one">1</span>
                			<img src="@Url.Content("~/Images/HomePage/prevent.png")" alt="" title="">
                    	</figure>
                    </div>
            		<div class="blue-box-head clearfix">
                    <div class="new-header-blue">Prevent Derailments</div>
                </div>
                	<div class="blue-box-content ad-bl-content">
                   Realtors know that sellers who get pre-listing home inspections help prevent unexpected issues from delaying or derailing a closing.  
                </div>
                </div>
            </div>
                
            <div class="col-md-3 col-sm-3">
            	<div class=" blue-box ad-blue-box">
                	<div class="ad-round">
                    	<figure class="othr-servic">
                        	<span class="ad-red red-two">2</span>
                			<img src="@Url.Content("~/Images/HomePage/active_seller.png")"  alt="" title="">
                    	</figure>
                    </div>
            		<div class="blue-box-head clearfix">
                    <div class="new-header-blue">Active Sellers</div>
                </div>
                	<div class="blue-box-content ad-bl-content">
                    Sellers who take an active role in preparing the home for the sales process are more likely to have a seamless closing.
 
They can repair items at their own pace and update the Report as they go
  
                </div>
                </div>
            </div>
                
            <div class="col-md-3 col-sm-3">
            	<div class=" blue-box ad-blue-box">
                	<div class="ad-round">
                    	<figure class="othr-servic">
                        	<span class="ad-red red-one">3</span>
                			<img src="@Url.Content("~/Images/HomePage/include_repairs.png")"  alt="" title="">
                    	</figure>
                    </div>
            		<div class="blue-box-head clearfix">
                    <div class="new-header-blue">Show Included Repairs</div>
                </div>
                	<div class="blue-box-content ad-bl-content">
                  Using our Updatable Report, Sellers can indicate which things will and will not be included in the sale of the home. 
                </div>
                </div>
            </div>
            
          	<div class="col-md-3 col-sm-3">
            	<div class=" blue-box ad-blue-box">
                	<div class="ad-round">
                    	<figure class="othr-servic">
                        	<span class="ad-red red-two">4</span>
                			<img src="@Url.Content("~/Images/HomePage/Clam_anxieties.png")"  alt="" title="">
                    	</figure>
                    </div>
            		<div class="blue-box-head clearfix">
                    <div class="new-header-blue">Calm Anxieties  </div>
                </div>
                	<div class="blue-box-content ad-bl-content">
                   Complete Seller Disclosures, via a Comprehensive Home inspection, help calm both parties prior to closing.
                </div>
                </div>
            </div>
                
            <div class="col-md-3 col-sm-3">
            	<div class=" blue-box ad-blue-box">
                	<div class="ad-round">
                    	<figure class="othr-servic">
                        	<span class="ad-red red-one">5</span>
                			<img src="@Url.Content("~/Images/HomePage/some_deffects.png")"  alt="" title="">
                    	</figure>
                    </div>
            		<div class="blue-box-head clearfix">
                    <div class="new-header-blue">Some Defects</div>
                </div>
                	<div class="blue-box-content ad-bl-content">
                   Every home, regardless of age or quality, harbors a small, medium, or large list of defective conditions. 
 
                </div>
                </div>
            </div>
                
            <div class="col-md-3 col-sm-3">
            	<div class=" blue-box ad-blue-box">
                	<div class="ad-round">
                    	<figure class="othr-servic">
                        	<span class="ad-red red-two">6</span>
                			<img src="@Url.Content("~/Images/HomePage/buyer_will_know.png")"  alt="" title="">
                    	</figure>
                    </div>
            		<div class="blue-box-head clearfix">
                    <div class="new-header-blue">Buyers Will Know</div>
                </div>
                	<div class="blue-box-content ad-bl-content">
                   Buyers will know exactly what they are purchasing when they write their offer.  
 
Knowing prevents renegotiation prior to closing. 

                </div>
                </div>
            </div>
            
            <div class="col-md-3 col-sm-3">
            	<div class=" blue-box ad-blue-box">
                	<div class="ad-round">
                    	<figure class="othr-servic">
                        	<span class="ad-red red-one">7</span>
                			<img src="@Url.Content("~/Images/HomePage/listings_stand_out.png")"  alt="" title="">
                    	</figure>
                    </div>
            		<div class="blue-box-head clearfix">
                    <div class="new-header-blue">Listings Stand Out</div>
                </div>
                	<div class="blue-box-content ad-bl-content">
                   Your listings will stand out by a proactive approach to the inspection process.
 
  				</div>
                </div>
            </div>
                
            <div class="col-md-3 col-sm-3">
            	<div class="blue-box ad-blue-box">
                	<div class="ad-round">
                    	<figure class="othr-servic">
                        	<span class="ad-red red-two">8</span>
                			<img src="@Url.Content("~/Images/HomePage/neutral_inspection.png")"  alt="" title="">
                    	</figure>
                    </div>
            		<div class="blue-box-head clearfix">
                    <div class="new-header-blue">Neutral Inspections</div>
                </div>
                	<div class="blue-box-content ad-bl-content">
                  Because we are liable to both parties, we are the most neutral inspection service in the industry.

                </div>
                </div>
            </div>
             
            <div class="col-md-3 col-sm-3 pull-right">
            	
                <a href="#" id="btnInvite" class="btn btn-warning col-md-12">Recommend us to your seller today.</a>
                
            </div>
            
            
            <div class="clearfix"></div>
            <hr>
            
          </div>
          
          <div class="col-md-12">
            <h2 class="text-center tpbm hwds">A Spectormax Comprehensive Report can be purchased by both Buyer and Seller. This makes the inspector liable to both parties for errors and omissions. </h2>          
          </div>
          
          <div class="col-md-12">
            <h2 class="text-center tpbm hwds">Learn More About How a Prelisting Inspection Protects Your Clients</h2>          
          </div>
          
          
         <div class="col-md-12">
                <div class="col-md-6 col-sm-6">
                    <div class=" blue-box">
                        <div class="blue-box-head clearfix">
                            <div class="blue-box-head-text">INFORMATIVE ARTICLES</div>
                            <div class="blue-box-head-icon">
                                <img src="@Url.Content("~/Images/HomePage/wp.png")" alt="" title="">
                            </div>
                        </div>
                        <div class="blue-box-content">

                            <p><a href="@Url.Action("Whydorealestate","Home")">Why do real estate agents insist that their clients--both buyers and sellers get a home inspection?</a></p>

                            @foreach (var item in Model.objApplicationLinks)
                            {
                                if (item.ColNum.ToString() == "1")
                                {
                                        <p><a target="_blank" href="@item.LinkAddress">@item.LinkName</a></p>
                                }
                            }

                            @*<p><a target="_blank" href="http://www.getresultsrealtync.com/default.asp.pg-TheHomeInspectionProcess">Most Common Defects Found During a Home Inspection </a></p>

                            <p><a target="_blank" href="http://www.getresultsrealtync.com/default.asp.pg-TheHomeInspectionProcess">An Inspection Report Is NOT a repair List for the Seller! </a></p>

                            <p><a target="_blank" href="http://yochicago.com/stupid-realtor-tricks-%E2%80%93-trashing-the-home-inspector/18843/">Stupid Realtor Tricks - trashing the home inspector.</a></p>

                            <p><a target="_blank" href="http://www.getresultsrealtync.com/default.asp.pg-TheHomeInspectionProcess">Home Inspections are Limited</a></p>

                            <p><a target="_blank" href="http://www.washingtonpost.com/blogs/where-we-live/wp/2013/10/08/real-estate-matters-beware-of-bad-contingency-advice/">Real Estate Matters - Why you need a home inspection contingency</a></p>*@

                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6">
                    <div class=" blue-box">
                        <div class="blue-box-head clearfix">
                            <div class="blue-box-head-text">WHY CHOOSE US</div>
                            <div class="blue-box-head-icon">
                                <img src="@Url.Content("~/Images/HomePage/mu.png")" alt="" title="">
                            </div>
                        </div>
                        <div class="blue-box-content">
                            <p><a href="@Url.Action("WhatisaSpectormaxComprehensive", "Home")">What is a Spectormax Comprehensive Home Inspection?  </a></p>

                            <p><a href="@Url.Action("ChoosingaSpectormaxHomeInspector", "Home")">Choosing a Spectormax Home Inspector </a></p>

                            <p><a href="@Url.Action("WhatistheSpectormaxDifference", "Home")">What is the Spectormax Difference </a></p>

                            <p><a href="@Url.Action("SpectorMaxwillInspectanyHomeforFREEif", "Home")">Spectormax will inspect any home for FREE!</a></p>

                            <p><a href="@Url.Action("TheBestHomeInspectorsWorkasaNeutralThirdParty", "Home")">The Best Home Inspectors Work as a Neutral Third Party </a></p>
                            @foreach (var item in Model.objApplicationLinks)
                            {
                                if (item.ColNum.ToString() == "2")
                                {
                                        <p><a target="_blank" href="@item.LinkAddress">@item.LinkName</a></p>
                                }
                            }
                        </div>
                    </div>
                </div>
          </div>
          
          
          
          
          
        </div>
      </div>
</section>

<!-- Modal 2 -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close custmclose" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title text-center" id="myModalLabel1">Invite</h4>
            </div>
            <div class="modal-body">
             
                    <div class="bs-exampleExp" style="display: none">
                        <div class="alert alert-danger alert-error">

                            <strong>Error!</strong>
                            <label id="emailmessage">There might be some problem. Please try after some time.</label>
                        </div>
                    </div>
                <div class="alert alert-success" id="SucessExp1" style="display: none; margin-top: 22px;">



                    <strong>Success!</strong> Thank you for recommend your seller with us. 

                </div>

                    <form id="formLogin" class="form">
                        <label>Enter Email</label>
                        <input id="Email1" type="text" required="" style="width: 260px;" class="form-control" title="Enter Email Address" data-valid-min="6" pattern="^[a-z,A-Z,0-9,_]{6,15}$" placeholder="Email-Address" name="Email-Address">

                        <br>
                        
                         <button type="button" id="btnSend" class="green-btn pull-right has-spinner">
                    <span class="spinner"><i class="icon-spin icon-spinner icon-large"></i></span>
                   Recommend
                </button>
                    </form>
            </div>
            </div>
        </div>
    </div>

<!-- Modal 2 -->

<!-- Modal 2 -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close custmclose" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title text-center" id="myModalLabel2">Share Your Experience With Spectormax</h4>
            </div>
            <div class="modal-body">
                <div class="bs-exampleExp" style="display: none">
                    <div class="alert alert-danger alert-error">

                        <strong>Error!</strong>
                        <label id="lblErrorExp">There might be some problem. Please try after some time.</label>
                    </div>
                </div>

                <div class="alert alert-success" id="SucessExp" style="display: none; margin-top: 22px;">



                    <strong>Success!</strong> Thank you for sharing your experience with us. 

                </div>

                <p>If you would like to share your Spectormax experience with others, please write us a short statement that we can post on our website. </p>
                <p>If we use your comments on our website, and to protect your privacy, we will only use your first name and the initial of your last name, along with the city and state where you reside. </p>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Name</label>
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-sm-6">
                                <input type="text" value="" placeholder="First Name" name="RequestedFirstName" maxlength="50" id="txtFirstName" class="form-control">
                            </div>

                            <div class="col-sm-6">

                                <input type="text" value="" placeholder="Last Name" name="RequestedLastName" maxlength="50" id="txtLastName" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>

                <div style="clear: both"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Report Details</label>
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-sm-6">
                                @Html.DropDownList("drpState", (IEnumerable<SelectListItem>)ViewBag.StateList, new { @class = "form-control" })
                            </div>
                           @* <div class="col-sm-6">

                                <input type="text" value="" placeholder="Report No" name="RequestedLastName" maxlength="50" id="txtReportNo1" data-val="true" class="form-control">
                            </div>*@
                        </div>
                    </div>
                </div>
                <div style="clear: both"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Comment</label>
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-sm-6">
                                <textarea id="txtComments" style="width: 612px; height: 71px; margin-bottom: 13px;" class="form-control"></textarea>

                            </div>

                            <div class="col-sm-6">
                            </div>
                        </div>
                    </div>
                </div>
                <div style="clear: both"></div>
                <div>
                </div>


                <p>By submitting your comments, you grant us, Spectormax, a non-exclusive, perpetual, irrevocable, world-wide,</p>
                <p>royalty-free, license to use, publish, publicly display and sublicense, in whole or in part, in original form or as edited</p>
                <p>or modified by us, in all languages, forms and media, on the Site and elsewhere, unless otherwise agreed to in</p>
                <p>writing. We reserve the right, but not the obligation, to edit, modify and/or remove your comments without prior notice.</p>

                <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </p>
                <button type="button" id="btnShareExperience" class="green-btn pull-right has-spinner">
                    <span class="spinner"><i class="icon-spin icon-spinner icon-large"></i></span>
                    Submit Comment
                </button>

                <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </p>


            </div>

        </div>
    </div>
</div>
<!-- Modal 2 -->
<script src="~/Scripts/CheckEmail.js"></script>
<script>

    $(document).ready(function () {

        $("#btnSend").css("margin", "0");
        $("#btnSend").css("padding", "4px");

        $("#btnInvite").click(function () {
            $("#SucessExp1").css("display", "none");
            $(".bs-exampleExp").css("display", "none");
            $('#Email1').val('')
            $('#myModal2').modal({ backdrop: 'static', keyboard: true })
            $("#myModal2").modal("show");
        });
        $("#btnSubmitComment").click(function () {
            $('#myModal1').modal({ backdrop: 'static', keyboard: true })
            $("#myModal1").modal("show");

        })
      
        $('#Email1').keypress(function (event) {
            var keycode = (event.keyCode ? event.keyCode : event.which);
            if (keycode == '13') {
                $("#btnSend").click();
            }
        });

        $("#btnShareExperience").click(function () {

            var isValid = true;
            $('#myModal1 input[type="text"]').each(function () {
                if ($.trim($(this).val()) == '') {
                    isValid = false;
                    //$(this).css({
                    //    "border": "1px solid red",
                    //    "background": "#FFCECE"
                    //});
                    $(this).addClass("input-validation-error")
                }
                else {
                    $(this).removeClass("input-validation-error")
                    //$(this).css({
                    //    "border": "",
                    //    "background": ""
                    //});
                }
            });
            if (isValid == false && $("#drpState").val() == "0") {

                $("#drpState").addClass("input-validation-error")
                //  e.preventDefault();
            }
            else if (isValid == false && $("#drpState").val() != "0") {

                $("#drpState").removeClass("input-validation-error")
                // e.preventDefault();
            }
            else {
                $("#drpState").removeClass("input-validation-error")

                $("#btnShareExperience").toggleClass('active');

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("ShareYourExperienceAgent","UserInfoes")',
                    async: false,
                    data: { FirstName: $("#txtFirstName").val(), LastName: $("#txtLastName").val(), State: $("#drpState").val(),  Comment: $("#txtComments").val(), Role: 3 },
                    //dataType: "Json",

                    success: function (result) {
                        if (result.Message == "Success") {

                            $(".bs-exampleExp").css("display", "none");
                            $("#SucessExp").css("display", "block");
                            $("#btnShareExperience").removeClass('active');
                            ClearAll();
                        }
                        else if (result.Message == "Session Over") {
                            $(location).attr("href", $URL._HomePage);
                        }
                        else {
                            $("#SucessExp").css("display", "none");
                            $(".bs-exampleExp").css("display", "block");
                            $("#btnShareExperience").removeClass('active');
                        }

                    },
                    error: function (e) {

                    },
                });
            }

        });


        function ClearAll() {

            $('#myModal1').find('input:text, input:file,textarea').val('');
            $('#myModal1').find('select').val("0");
        }
        $("#btnSend").click(function () {
            var sEmail = $('#Email1').val();
            $("#btnSend").addClass('active');
            if ($.trim(sEmail).length == 0) {
               
                $("#SucessExp1").css("display", "none");
                $(".bs-exampleExp").css("display", "block");
                $("#emailmessage").html("Email address is not valid")
            }
            if (CheckEmail(sEmail)) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("RecommendSeller", "UserInfoes")',
                    dataType: "html",
                    data: { EmailAddress: sEmail },
                    success: function (result) {
                        
                        if (result == "\"Success\"") {

                            $(".bs-exampleExp").css("display", "none");
                            $("#SucessExp1").css("display", "block");
                            $("#btnSend").removeClass('active');

                        }
                        else if (result == "\"Mail Not Sent\"") {
                           
                            $(".bs-exampleExp").css("display", "none");
                            $("#SucessExp1").css("display", "block");
                            $("#btnSend").removeClass('active');
                          
                        }
                    },
                    error: function (e) {
                        $("#btnSend").removeClass('active');
                    },
                });
            }
            else {
               
                $("#SucessExp1").css("display", "none");
                $(".bs-exampleExp").css("display", "block");
                $("#emailmessage").html("Email address is not valid");
                $("#btnSend").removeClass('active');

            }
        });
    });
   
</script>