﻿@{
    Layout = "~/Views/Shared/_NLayout.cshtml";
}
<section>
    <section class="big-search">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="smtext col-md-12">
                        Our Best Value!  2-Month Unlimited Membership
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/big search-->
    <section class="no-report">
        <section class="container">
            <p>&nbsp;</p>
        </section>
    </section>
    <!--/no-report-->
    <section class="banner te">
        <section class="container">
            <div class="row">

                <div class="col-md-7 col-sm-7 text-left acc">
                    <p>It's like having the assurance of your own Spectormax inspector with you on every walkthrough.</p>

                    <p>
                        <img src="@Url.Content("~/Images/HomePage/bh.png")" alt="">
                        <span>Inspect any home for free</span>
                    </p>


                    <p class="unl">Unlimited inspections for about the price of a single home inspection.</p>

                    </ul>
                    
                </div>


                <div class="col-md-5 col-sm-5">

                    <div class="circle-outer tpbm">

                        <a class="circle tpbm" data-toggle="lightbox" href="http://www.youtube.com/embed/OfZkdD9E9IM">
                            <span class="circle-inner">
                                <span class="glyphicon glyphicon-play-circle ply"></span>
                                <span class="quote">WATCH OUR SHORT
                                        <br>
                                    BUYER VIDEO</span>
                            </span>
                        </a>
                        <div class="clearfix "></div>
                        <a class="rate tpbm" href="@Url.Action("MoreInfo", "Home")">More info</a>
                        <div class="clearfix tpbm"></div>
                        <a class="green-btn tpbm" href="@Url.Action("SampleReport", "Report", new { inspectionOrderId = Session["ReportNo"].ToString() })">View Sample Report</a>

                    </div>
                </div>


            </div>
        </section>
    </section>
    <!--/banner-->
    <section class="big-search">
        <div class="container">
            <div class="row">
                <div class="col-md-11 col-xs-offset-1">
                    <div class="search-heading block-box">
                        <p class="text14">Don’t worry; we've got your back. Spectormax adheres to the most stringent inspection standards in the industry.</p>
                    </div>
                </div>
            </div>
        </div>
        </div>  
    </section>
    <!--/big search-->
    <section class="no-report">
        <section class="container">
            <div class="row testi">
                <div class="col-md-3 col-sm-3">
                    <h3>See what other sellers are saying.</h3>
                </div>
                <div class="col-md-9 col-sm-9 ">

                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->


                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <p>Short testimonials go here and can be scrolled from side to side so the viewer can read what the buyer says about the updatable service and how it helped in the sale and the cost was so worth it.  </p>

                            </div>
                            <div class="item ">
                                <p>Short testimonials go here and can be scrolled from side to side so the viewer can read what the buyer says about the updatable service and how it helped in the sale and the cost was so worth it.  </p>

                            </div>
                            <div class="item ">
                                <p>Short testimonials go here and can be scrolled from side to side so the viewer can read what the buyer says about the updatable service and how it helped in the sale and the cost was so worth it.  </p>

                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>

                </div>

            </div>
        </section>
    </section>
    <!--/no-report-->
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <h2 class="text-center tpbm hwds">How Our 2 Month Membership Works</h2>

            </div>

            <div class="col-md-12 stslr">

                <div class="col-md-3 col-sm-3">
                    <div class=" blue-box ad-blue-box">
                        <div class="ad-round">
                            <figure class="othr-servic">
                                <span class="ad-red red-one">1</span>
                                <img src="@Url.Content("~/Images/HomePage/create_account.png")"  alt="" title="">
                            </figure>
                        </div>
                        <div class="blue-box-head clearfix">
                            <div class="new-header-blue">Create an Account</div>
                        </div>
                        <div class="blue-box-content ad-bl-content">
                            Start by providing some basic information. 
 
Then choose a user name, password, and security questions for added protection.  
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3">
                    <div class=" blue-box ad-blue-box">
                        <div class="ad-round">
                            <figure class="othr-servic">
                                <span class="ad-red red-two">2</span>
                                <img src="@Url.Content("~/Images/HomePage/cart.png")"  alt="" title="">
                            </figure>
                        </div>
                        <div class="blue-box-head clearfix">
                            <div class="new-header-blue">Checkout Securely </div>
                        </div>
                        <div class="blue-box-content ad-bl-content">
                            Use our secure checkout to purchase your 2-Month Membership.
 
If you are not completely satisfied your purchase is 100% refundable. 
 
  
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3">
                    <div class=" blue-box ad-blue-box">
                        <div class="ad-round">
                            <figure class="othr-servic">
                                <span class="ad-red red-one">3</span>
                                <img src="@Url.Content("~/Images/HomePage/search_e_report.png")"  alt="" title="">
                            </figure>
                        </div>
                        <div class="blue-box-head clearfix">
                            <div class="new-header-blue">Search Existing Reports</div>
                        </div>
                        <div class="blue-box-content ad-bl-content">
                            Start searching for existing Comprehensive Reports in our system.  
 
Can't find everything your looking for?
 
  
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3">
                    <div class=" blue-box ad-blue-box">
                        <div class="ad-round">
                            <figure class="othr-servic">
                                <span class="ad-red red-two">4</span>
                                <img src="@Url.Content("~/Images/HomePage/o_new_report.png")"  alt="" title="">
                            </figure>
                        </div>
                        <div class="blue-box-head clearfix">
                            <div class="new-header-blue">Order New Reports</div>
                        </div>
                        <div class="blue-box-content ad-bl-content">
                            If we don't have a report you are looking for, order an inspection online.
 
Our inspectors will inspect in the order the request was received.
 
 
 
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3">
                    <div class=" blue-box ad-blue-box">
                        <div class="ad-round">
                            <figure class="othr-servic">
                                <span class="ad-red red-one">5</span>
                                <img src="@Url.Content("~/Images/HomePage/view_reports.png")"  alt="" title="">
                            </figure>
                        </div>
                        <div class="blue-box-head clearfix">
                            <div class="new-header-blue">View Reports</div>
                        </div>
                        <div class="blue-box-content ad-bl-content">
                            View as many of our Comprehensive Reports as you like. 
 
You will rest assured knowing our reports meet the most stringent standards in the industry
 
 
 
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3">
                    <div class=" blue-box ad-blue-box">
                        <div class="ad-round">
                            <figure class="othr-servic">
                                <span class="ad-red red-two">6</span>
                                <img src="@Url.Content("~/Images/HomePage/priority_inspection.png")" alt="" title="">
                            </figure>
                        </div>
                        <div class="blue-box-head clearfix">
                            <div class="new-header-blue">Priority Inspection</div>
                        </div>
                        <div class="blue-box-content ad-bl-content">
                            If you decide to make an Offer to Purchase on any home, and we have not already inspected it, let us know. 
 
Your inspection request will be moved to priority status and will be inspected shortly thereafter.
 
 
 
 

                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3">
                    <div class=" blue-box ad-blue-box">
                        <div class="ad-round">
                            <figure class="othr-servic">
                                <span class="ad-red red-one">7</span>
                                <img src="@Url.Content("~/Images/HomePage/close_check_list.png")" alt="" title="">
                            </figure>
                        </div>
                        <div class="blue-box-head clearfix">
                            <div class="new-header-blue">Pre-Close Checklist</div>
                        </div>
                        <div class="blue-box-content ad-bl-content">
                            Prior to closing, use our preclosing checklist to make one last review of your new home.
 
This final check helps you determine that the condition of the house has not changed since our inspection was completed.
 
 
 
 
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3">
                    <div class="green-box ad-green-box ">
                        <div class="ad-round">
                            <figure class="othr-servic">
                                <img src="@Url.Content("~/Images/HomePage/join.png")" alt="" title="">
                            </figure>
                        </div>
                        <div class="blue-box-head clearfix">
                            <div class="new-header-blue">Join Here</div>
                        </div>
                        <div class="blue-box-content ad-gr-content">
                            For about the same price as a single home inspection you can take advantage of all the benefits of our 2-month membership plan.
 
						 <a href="@Url.Action("ApplyInspectorApplication", "Home")" class="btn btn-warning col-md-12">JOIN TODAY</a>
                        </div>
                    </div>
                </div>
                <div class="pull-right">
                    <a href="@Url.Action("MemberShip", "Home")" class="btn btn-warning col-md-12">Membership Agreement</a>
                </div>
                <div class="clearfix"></div>
                <hr>
            </div>


            <div class="col-md-12">
                <h2 class="text-center tpbm hwds">Learn More About How a Home Inspection Protects You</h2>
            </div>


            <div class="col-md-12">
                <div class="col-md-6 col-sm-6">
                    <div class=" blue-box">
                        <div class="blue-box-head clearfix">
                            <div class="blue-box-head-text">INFORMATIVE ARTICLES</div>
                            <div class="blue-box-head-icon">
                                <img src="@Url.Content("~/Images/HomePage/wp.png")" alt="" title="">
                            </div>
                        </div>
                        <div class="blue-box-content">

                            <p><a href="@Url.Action("TheHomeInspectionProcess", "Home")">The Home Inspection Process</a></p>

                            <p><a href="@Url.Action("Whydorealestate", "Home")">Why do real estate agents insist that their clients--both buyers and sellers get a home inspection?</a></p>

                            <p><a href="#">An Inspection Report Is NOT a repair List for the Seller! </a></p>

                            <p><a href="#">Most Common Defects Found During a Home Inspection </a></p>

                            <p><a href="#">Home Inspections are Limited</a></p>

                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6">
                    <div class=" blue-box">
                        <div class="blue-box-head clearfix">
                            <div class="blue-box-head-text">WHY CHOOSE US</div>
                            <div class="blue-box-head-icon">
                                <img src="@Url.Content("~/Images/HomePage/mu.png")" alt="" title="">
                            </div>
                        </div>
                        <div class="blue-box-content">
                            <p><a href="@Url.Action("WhatisaSpectormaxComprehensive", "Home")">What is a Spectormax Comprehensive Home Inspection?  </a></p>

                            <p><a href="@Url.Action("ChoosingaSpectormaxHomeInspector", "Home")">Choosing a Spectormax Home Inspector </a></p>

                            <p><a href="@Url.Action("WhatistheSpectormaxDifference", "Home")">What is the Spectormax Difference </a></p>

                            <p><a href="@Url.Action("SpectorMaxwillInspectanyHomeforFREEif", "Home")">Spectormax will inspect any home for FREE!</a></p>

                            <p><a href="@Url.Action("TheBestHomeInspectorsWorkasaNeutralThirdParty", "Home")">The Best Home Inspectors Work as a Neutral Third Party </a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

