﻿@{
    Layout = "~/Views/Shared/_NLayout.cshtml";
}
<section class="big-search">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="search-heading col-md-4 col-xs-offset-2">
                    <span>Free</span> Basic Report
                <p>View a basic report on any home absolutely FREE</p>
                </div>
                <div class="search-box col-md-4 pull-left">
                    <input type="text" class="input-search">
                    <input type="button" value="SEARCH" class="serch-btn">
                </div>
            </div>
        </div>
    </div>
</section>
<!--/big search-->
<section class="no-report">
    <section class="container">
        <p>No Report? <a href="#">Click Here</a> for a Basic Sample Report</p>
    </section>
</section>
<!--/no-report-->
<section class="banner">
    <section class="container">
        <h1>When it comes to making a decision on your largest personal investment,your home, you should never buy or sell without us.</h1>
        <div class="circle-outer">

            <a class="circle" href="#">
                <span class="circle-inner">
                    <img src="@Url.Content("~/Images/HomePage/doc-icon.png")" alt="" title="" class="icon">
                    <span class="quote">View A Sample Comprehensive Report</span>
                </span>
            </a>

            <a id="Video" class="circle active" href="#">
                <span class="circle-inner">
                    <img  src="@Url.Content("~/Images/HomePage/play-icon.png")"  alt="" title="" class="icon">
                    <span class="quote">WATCH A SHORT INTRODUCTION VIDEO</span>
                </span>
            </a>

            <a class="circle" href="@Url.Action("SampleReport", "Report", new { inspectionOrderId=Session["ReportNo"].ToString()})">
                <span class="circle-inner">
                    <img src="@Url.Content("~/Images/HomePage/doc-icon.png")" alt="" title="" class="icon">
                    <span class="quote">View A Sample Comprehensive Report</span>
                </span>
            </a>
        </div>
    </section>
</section>
<!--/banner-->
<section class="big-search">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-xs-offset-2">
                <div class="search-heading block-box">
                    <p class="text14">Buyer and Sellers working together through the Spectormax home inspection process stop deal-breaking surprises</p>
                </div>
            </div>
        </div>
    </div>
    </div>  
</section>
<!--/big search-->
<section class="no-report">
    <section class="container">
        <p class="big-quote"><strong>Spectormax -</strong> The best preclosing protection for every transaction.</p>
    </section>
</section>
<!--/no-report-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Other Important Services</h2>
            <div class="circle-outer">
                <a href="#" class="othr-servic-outer col-md-2">
                    <figure class="othr-servic">
                        <img src="@Url.Content("~/Images/HomePage/house radon icon.png")"  alt="" title="" width="80px">
                    </figure>
                    <span>Radon Testing</span>
                </a>

                <a href="#" class="othr-servic-outer col-md-2">
                    <figure class="othr-servic">
                        <img src="@Url.Content("~/Images/HomePage/house radon icon.png")" alt="" title="" width="80px">
                    </figure>
                    <span>Mold Testing</span>
                </a>

                <a href="#" class="othr-servic-outer col-md-2">
                    <figure class="othr-servic">
                        <img src="@Url.Content("~/Images/HomePage/house radon icon.png")" alt="" title="" width="80px">
                    </figure>
                    <span>Gas Leak Testing</span>
                </a>

                <a href="#" class="othr-servic-outer col-md-2">
                    <figure class="othr-servic">
                        <img  src="@Url.Content("~/Images/HomePage/house radon icon.png")" alt="" title="" width="80px">
                    </figure>
                    <span>Meth Testing</span>
                </a>

                <a href="#" class="othr-servic-outer col-md-2">
                    <figure class="othr-servic">
                        <img  src="@Url.Content("~/Images/HomePage/house radon icon.png")"  alt="" title="" width="80px">
                    </figure>
                    <span>Foundation Testing</span>
                </a>

                <a href="#" class="othr-servic-outer col-md-2">
                    <figure class="othr-servic">
                        <img src="@Url.Content("~/Images/HomePage/house radon icon.png")" alt="" title="" width="80px">
                    </figure>
                    <span>Radon Testing</span>
                </a>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-4">
                <div class=" blue-box">
                    <div class="blue-box-head clearfix">
                        <div class="blue-box-head-icon">
                            <img src="@Url.Content("~/Images/HomePage/setting.png")" alt="" title="">
                        </div>
                        <div class="blue-box-head-text">How It Works</div>
                    </div>
                    <div class="blue-box-content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at posuere ante, id lacinia mi. Cras in erat sagittis, suscipit mauris vel, blandit mi. Maecenas sit amet felis pharetra, egestas augue vel, molestie felis. Nam etLorem ipsum dollit. Nunc at posuere ante, id lacinia mi. mauris veharetra, egestas augue vel, molestie felis. 
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class=" blue-box">
                    <div class="blue-box-head clearfix">
                        <div class="blue-box-head-icon">
                            <img src="@Url.Content("~/Images/HomePage/setting.png")" alt="" title="">
                        </div>
                        <div class="blue-box-head-text">How It Works</div>
                    </div>
                    <div class="blue-box-content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at posuere ante, id lacinia mi. Cras in erat sagittis, suscipit mauris vel, blandit mi. Maecenas sit amet felis pharetra, egestas augue vel, molestie felis. Nam etLorem ipsum dollit. Nunc at posuere ante, id lacinia mi. mauris veharetra, egestas augue vel, molestie felis. 
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class=" blue-box">
                    <div class="blue-box-head clearfix">
                        <div class="blue-box-head-icon">
                            <img  src="@Url.Content("~/Images/HomePage/setting.png")" alt="" title="">
                        </div>
                        <div class="blue-box-head-text">How It Works</div>
                    </div>
                    <div class="blue-box-content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at posuere ante, id lacinia mi. Cras in erat sagittis, suscipit mauris vel, blandit mi. Maecenas sit amet felis pharetra, egestas augue vel, molestie felis. Nam etLorem ipsum dollit. Nunc at posuere ante, id lacinia mi. mauris veharetra, egestas augue vel, molestie felis. 
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
