﻿@model List<SpectorMax.Entities.Classes.InspectorProfilePoco>

@{
    Layout = "~/Views/Shared/_NLayout.cshtml";
}
<section>
    <section class="big-search">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="smtext col-md-12 text-center">
                        <h1>Spectormax.com</h1>
                        <h1 class=" text-center">Helping buyers and sellers commence the home inspection process like no one has ever done before.</h1>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="meet">
        <div class="container">

            <h2 class="who">Who Are We?</h2>
            <h3 class="weare">We are an association of Board Certified, independent and dedicated professionals working together to redefine the standards in home inspection trade.</h3>

        </div>
    </section>


    <section class="greybck">

        <h2 class="hd">What is Our Goal?</h2>
        <h3 class="txtt">Our goal is to inspect every broker listed home on the real estate market.</h3>


        <h2 class="hd">How do we presume to accomplish our goal?</h2>
        <h3 class="txtt">By assuring that our service gives so much value to every real estate transaction that buyers, sellers and agents will not proceed in the sales process without us.  </h3>


    </section>


    <section>
        <div class="container">
        <div class="row">
        
          <div class="col-md-12">
            <h2 class="text-center tpbm hwds">Spectormax Is . . .</h2>
                        
          </div>
          
          <div class="col-md-12 stslr">
          
          	<div class="col-md-3 col-sm-3">
            	
            	<div class=" blue-box ad-blue-box">
            	<div class="blue-box-head clearfix">
                	<div class="ad-blue-box-head stful"><img title="" alt="" src="@Url.Content("~/Images/HomePage/icon-001.png")"></div>
           
                </div>
                <div class="blue-box-content ad-bl-content">
                  The most advanced home inspection company in the industry.
                </div>
                </div>
            </div>
                
            <div class="col-md-3 col-sm-3">
            	<div class=" blue-box ad-blue-box">
            	<div class="blue-box-head clearfix">
                	<div class="ad-blue-box-head stful"><img title="" alt="" src="@Url.Content("~/Images/HomePage/icon-002.png")"></div>
                  
                </div>
                <div class="blue-box-content ad-bl-content">
                 The the most neutral home inspection service in the nation.  
                </div>
                </div>
            </div>
                
            <div class="col-md-3 col-sm-3">
            	<div class=" blue-box ad-blue-box">
            	<div class="blue-box-head clearfix">
                	<div class="ad-blue-box-head stful"><img title="" alt="" src="@Url.Content("~/Images/HomePage/icon-003.png")"></div>
                  
                </div>
                <div class="blue-box-content ad-bl-content">
                The only inspection service that offers a 2 month unlimited subscription plan.
                </div>
                </div>
            </div>
            
          	<div class="col-md-3 col-sm-3">
            	<div class=" blue-box ad-blue-box">
            	<div class="blue-box-head clearfix">
                	<div class="ad-blue-box-head stful"><img title="" alt="" src="@Url.Content("~/Images/HomePage/icon-004.png")"></div>
      
                </div>
                <div class="blue-box-content ad-bl-content">
                   The first and only company to offer free inspections.
                </div>
                </div>
            </div>
                
            <div class="col-md-3 col-sm-3">
            	<div class=" blue-box ad-blue-box">
            	<div class="blue-box-head clearfix">
                	<div class="ad-blue-box-head stful"><img title="" alt="" src="@Url.Content("~/Images/HomePage/icon-005.png")"></div>

                </div>
                <div class="blue-box-content ad-bl-content">
              The only inspection company to offer owner updatable reports.
 
                </div>
                </div>
            </div>
                
            <div class="col-md-3 col-sm-3">
            	<div class=" blue-box ad-blue-box">
            	<div class="blue-box-head clearfix">
                	<div class="ad-blue-box-head stful"><img title="" alt="" src="@Url.Content("~/Images/HomePage/icon-006.png")"></div>

                </div>
                <div class="blue-box-content ad-bl-content">
                  The only inspection company to offer free basic reports.

                </div>
                </div>
            </div>
            
            <div class="col-md-3 col-sm-3">
            	<div class=" blue-box ad-blue-box">
            	<div class="blue-box-head clearfix">
                	<div class="ad-blue-box-head stful"><img title="" alt="" src="@Url.Content("~/Images/HomePage/icon-007.png")"></div>
       
                </div>
                <div class="blue-box-content ad-bl-content">
                   The only inspection company to offer instant doorstep access.
 
  				</div>
                </div>
            </div>
                
            <div class="col-md-3 col-sm-3">
            	<div class="blue-box ad-blue-box">
            	<div class="blue-box-head clearfix">
                	<div class="ad-blue-box-head stful"><img title="" alt="" src="@Url.Content("~/Images/HomePage/icon-008.png")"></div>
      
                </div>
                <div class="blue-box-content ad-bl-content">
                  The best value for the dallar in the industry.

                </div>
                </div>
            </div>
             
            
            
          
            
          </div>
          
          
      
          
          
          
          
          
        </div>
      </div>
    </section>
    <section class="tny">
        <div class="container">
            <h2 class="who">Why do we believe so strongly in the value of a home inspection?</h2>
            <h3 class="weare">Those who have been through the home buying process and paid for costly discoveries understand; sellers who are forced to lower the selling price because of latent discovered defects know, and the agent who has worked so hard to bring all the parties together only to have a transaction derailed by a pre-closing inspection also knows.  That is why we believe that no one should ever buy or sell without us.  </h3>
        </div>
    </section>
    <!---------ad-blue-wrap-start------------->
    <section class="ad-blue-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center"><sup>We are</sup> Nice to meet you..</h2>
                    <div class="circle-outer">
                        <a class="othr-servic-outer col-md-2" href="#">
                            <figure class="othr-servic">
                                <img title="" alt="" src="@Url.Content("~/Images/HomePage/ad-user1.png")">
                            </figure>
                        </a>
                        <a class="othr-servic-outer col-md-2" href="#">
                            <figure class="othr-servic">
                                <img title="" alt="" src="@Url.Content("~/Images/HomePage/ad-user1.png")">
                            </figure>
                        </a>
                        <a class="othr-servic-outer col-md-2" href="#">
                            <figure class="othr-servic">
                                <img title="" alt="" src="@Url.Content("~/Images/HomePage/ad-user1.png")">
                            </figure>
                        </a>
                        <a class="othr-servic-outer col-md-2" href="#">
                            <figure class="othr-servic">
                                <img title="" alt="" src="@Url.Content("~/Images/HomePage/ad-user1.png")">
                            </figure>
                        </a>
                        <a class="othr-servic-outer col-md-2" href="#">
                            <figure class="othr-servic">
                                <img title="" alt="" src="@Url.Content("~/Images/HomePage/ad-user1.png")">
                            </figure>
                        </a>
                        <a class="othr-servic-outer col-md-2" href="#">
                            <figure class="othr-servic">
                                <img title="" alt="" src="@Url.Content("~/Images/HomePage/ad-user1.png")">
                            </figure>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!---------ad-blue-wrap-end------------->
    <section class="inspector">
        <div class="container">
            <h2 class="who">Who are our Inspectors ?</h2>
            <h3 class="weare">At Spectormax we insist on highly trained, ISHI®, CHI® or PHI® Board Certified professionals who provide their clients with the most comprehensive, interactive, and informative inspection reports in the marketplace today.  But we go one step further and require that every inspector has at lease 50 complete inspections under his belt, (for new inspectors, it is side by side with an experienced inspector) before he ventures out on solo inspections.  </h3>
        </div>
    </section>
    <section class="greybck">
        <div class="container">
            @*<div class="bx-wrapper" style="max-width: 1250px;"> 
                 <div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 170px;">*@
                    <div class="slider1" style="width: 1015%; position: relative; transition-duration: 0s; transform: translate3d(-1260px, 0px, 0px);">
                        @foreach (var item in Model)
                        {
                            <div class="slide text-center bx-clone">
                                @if (item.LastName != null)
                                {
                                    <img height="100px" width="100px" src="@Url.Content("~/Images/ProfileImgAndCertiticate/" + item.LastName)">
                                }
                                else
                                {
                                    <img height="100px" width="100px" src="@Url.Content("~/Images/nophoto.jpg")">
                                }
                                <div class="clearfix"></div>
                                <p class="text-center">@item.FirstName</p>
                                <p class="text-center">@item.City</p>
                                <p class="text-center">@item.State</p>
                            </div>
                        }
                    </div>
                @*</div>
            </div>*@
        </div>
    </section>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $('.slider1').bxSlider({
            slideWidth: 200,
            minSlides: 2,
            maxSlides: 6,
            slideMargin: 10
        });

        $(".bx-loading").css('display', 'none');

    });
</script>
