﻿@{
    ViewBag.Title = "About Us";
    Layout = @Url.Content("~/Views/Shared/_NLayout.cshtml");
}
<div class="container theme-showcase" role="main">
<div class="blog-header">
    <h1 class="blog-title "><font><font class="">Standard Of Practice</font></font></h1>
    <p><font><font>@Html.Raw(@ViewBag.Message)</font></font></p>
</div>
</div>
