﻿@{
    Layout = "~/Views/Shared/_NLayout.cshtml";
}
<style>
    .stul {
        list-style:none;    
    } 
</style>
<section>
    <section class="big-search">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="smtext col-md-12">
                        Team Spectormax
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!--/big search-->
    <section class="no-report">
        <section class="container">
            <p>&nbsp;</p>
        </section>
    </section>
    <!--/no-report-->

    <section class="banner te">
        <section class="container">
            <div class="row spfacc">
                <div class="col-md-6 col-sm-6 text-left acc">
                    <div class="">
                        <div class="mnout">
                            <div class="row">
                                <div class="col-md-2 text-center">
                                    <img src="@Url.Content("~/Images/HomePage/mnpic.png")" alt="">
                                </div>
                                <div class="col-md-10">
                                    <h3>Who are we?</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <ul class="stul">
                                        <li><span>
                                            <img src="@Url.Content("~/Images/HomePage/smsrch.png")" alt=""></span> Innovative Home Inspection Services </li>
                                        <li><span>
                                            <img src="@Url.Content("~/Images/HomePage/smsrch.png")" alt=""></span>Independent Contractors Working Together</li>
                                        <li><span>
                                            <img src="@Url.Content("~/Images/HomePage/smsrch.png")" alt=""></span> Dedicated Professionals Redefining the Trade </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="mnout">
                            <div class="row">
                                <div class="col-md-2 text-center">
                                    <img src="@Url.Content("~/Images/HomePage/stng.png")" alt="">
                                </div>
                                <div class="col-md-10">
                                    <h3>What do we do?</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <ul class="stul">
                                        <li><span>
                                            <img src="@Url.Content("~/Images/HomePage/ds.png")" alt=""></span> Provide a unique working platform </li>
                                        <li><span>
                                            <img src="@Url.Content("~/Images/HomePage/ds.png")" alt=""></span>Receive payments and forward to our inspectors</li>
                                        <li><span>
                                            <img src="@Url.Content("~/Images/HomePage/ds.png")" alt=""></span> Take the headaches out of the startup</li>
                                        <li><span>
                                            <img src="@Url.Content("~/Images/HomePage/ds.png")" alt=""></span>Exceed the toughest standards in the industry.</li>
                                        <li><span>
                                            <img src="@Url.Content("~/Images/HomePage/ds.png")" alt=""></span>Provide onsite training and support</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="mnout">
                            <div class="row">
                                <div class="col-md-2 text-center">
                                    <img src="@Url.Content("~/Images/HomePage/hs.png")" alt="">
                                </div>
                                <div class="col-md-10">
                                    <h3>How can you join?</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <ul class="stul">
                                        <li><span>
                                            <img src="@Url.Content("~/Images/HomePage/chk.png")" alt=""></span> Click on our link</li>
                                        <li><span>
                                            <img src="@Url.Content("~/Images/HomePage/chk.png")"alt=""></span>Fill out our form</li>
                                        <li><span>
                                            <img src="@Url.Content("~/Images/HomePage/chk.png")" alt=""></span>Wait for our reply</li>
                                        <li class="tpbm">
                                            <div class="clearfix "></div>
                                            <a class="rate tpbm" href="@Url.Action("ApplyInspectorApplication", "Home")">Join Today</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 text-left acc">
                    <div class="mnout">
                        <div class="row">
                            <div class="col-md-2 text-center">
                                <img src="@Url.Content("~/Images/HomePage/wy.png")" alt="">
                            </div>
                            <div class="col-md-10">
                                <h3>Why Spectormax</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="stul">
                                    <li><span>
                                        <img src="@Url.Content("~/Images/HomePage/tmb.png")" alt=""></span>No franchise fees</li>
                                    <li><span>
                                        <img src="@Url.Content("~/Images/HomePage/tmb.png")" alt=""></span>Earn more money</li>
                                    <li><span>
                                        <img src="@Url.Content("~/Images/HomePage/tmb.png")" alt=""></span>Enjoy your career</li>
                                    <li><span>
                                        <img src="@Url.Content("~/Images/HomePage/tmb.png")" alt=""></span> Be your own boss</li>
                                    <li><span>
                                        <img src="@Url.Content("~/Images/HomePage/tmb.png")" alt=""></span>No start up fees</li>
                                    <li><span>
                                        <img src="@Url.Content("~/Images/HomePage/tmb.png")" alt=""></span>No advertising</li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="stul">
                                    <li><span>
                                        <img src="@Url.Content("~/Images/HomePage/tmb.png")" alt=""></span>No paperwork</li>
                                    <li><span>
                                        <img src="@Url.Content("~/Images/HomePage/tmb.png")" alt=""></span>Better work conditions</li>
                                    <li><span>
                                        <img src="@Url.Content("~/Images/HomePage/tmb.png")" alt=""></span>Work from home </li>
                                    <li><span>
                                        <img src="@Url.Content("~/Images/HomePage/tmb.png")" alt=""></span>Work on your own schedule</li>
                                    <li><span>
                                        <img src="@Url.Content("~/Images/HomePage/tmb.png")" alt=""></span>State of the are software</li>
                                    <li><span>
                                        <img src="@Url.Content("~/Images/HomePage/tmb.png")" alt=""></span>Unparalleled support</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="circle-outer tpbm">
                        <a class="circle tpbm" data-toggle="lightbox" href="http://www.youtube.com/embed/OfZkdD9E9IM">
                            <span class="circle-inner">
                                <span class="glyphicon glyphicon-play-circle ply"></span>
                                <span class="quote">WATCH OUR SHORT
                                        <br>
                                    BUYER VIDEO</span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <!--/banner-->
    <section class="big-search">
        <div class="container">
            <div class="row">
                <div class="col-md-11 col-xs-offset-1">
                    <div class="search-heading block-box">
                        <p class="text14 text-center">We are the most Innovative inspection company in the business </p>
                    </div>
                </div>
            </div>
        </div>
        </div>  
    </section>
    <!--/big search-->
    <!--/no-report-->
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <h2 class="text-center tpbm hwds">Do you have what it takes to be a Spectormax Professional?</h2>

            </div>

            <div class="col-md-12 stslr">

                <div class="col-md-3 col-sm-3">
                    <div class=" blue-box ad-blue-box">
                        <div class="ad-round">
                            <figure class="othr-servic">
                                <span class="ad-red red-one">1</span>
                                <img src="@Url.Content("~/Images/HomePage/professional-appearance.png")" alt="" title="">
                            </figure>
                        </div>
                        <div class="blue-box-head clearfix">
                            <div class="new-header-blue">Professional Appearance</div>
                        </div>
                        <div class="blue-box-content ad-bl-content">
                            Realtors know that sellers who get pre-listing home inspections help prevent unexpected issues from delaying or derailing a closing.  
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3">
                    <div class=" blue-box ad-blue-box">
                        <div class="ad-round">
                            <figure class="othr-servic">
                                <span class="ad-red red-two">2</span>
                                <img src="@Url.Content("~/Images/HomePage/physical-ability.png")" alt="" title="">
                            </figure>
                        </div>
                        <div class="blue-box-head clearfix">
                            <div class="new-header-blue">Physical Ability</div>
                        </div>
                        <div class="blue-box-content ad-bl-content">
                            Can you traverse attics, crawl spaces, roofs and mechanical closets?
  
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3">
                    <div class=" blue-box ad-blue-box">
                        <div class="ad-round">
                            <figure class="othr-servic">
                                <span class="ad-red red-one">3</span>
                                <img src="@Url.Content("~/Images/HomePage/financial-stability.png")" alt="" title="">
                            </figure>
                        </div>
                        <div class="blue-box-head clearfix">
                            <div class="new-header-blue">Financial Stability</div>
                        </div>
                        <div class="blue-box-content ad-bl-content">
                            Can you take time to be trained & purchase required tools and equipment? 
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3">
                    <div class=" blue-box ad-blue-box">
                        <div class="ad-round">
                            <figure class="othr-servic">
                                <span class="ad-red red-two">4</span>
                                <img src="@Url.Content("~/Images/HomePage/tech-savvy.png")" alt="" title="">
                            </figure>
                        </div>  
                        <div class="blue-box-head clearfix">
                            <div class="new-header-blue">Tech Savvy</div>
                        </div>
                        <div class="blue-box-content ad-bl-content">
                            Can you find your way around computer, software & mobile apps?
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3">
                    <div class=" blue-box ad-blue-box">
                        <div class="ad-round">
                            <figure class="othr-servic">
                                <span class="ad-red red-one">5</span>
                                <img src="@Url.Content("~/Images/HomePage/well-organized.png")" alt="" title="">
                            </figure>
                        </div>
                        <div class="blue-box-head clearfix">
                            <div class="new-header-blue">Well Organized</div>
                        </div>
                        <div class="blue-box-content ad-bl-content">
                            Can you manage your time efficiently and be on time to appointments?
 
 
 
 
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3">
                    <div class=" blue-box ad-blue-box">
                        <div class="ad-round">
                            <figure class="othr-servic">
                                <span class="ad-red red-two">6</span>
                                <img src="@Url.Content("~/Images/HomePage/communication-skills.png")" alt="" title="">
                            </figure>
                        </div>
                        <div class="blue-box-head clearfix">
                            <div class="new-header-blue">Communication Skills</div>
                        </div>
                        <div class="blue-box-content ad-bl-content">
                            Can you clarify facts, meet new people and write detailed information? 

                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3">
                    <div class=" blue-box ad-blue-box">
                        <div class="ad-round">
                            <figure class="othr-servic">
                                <span class="ad-red red-one">7</span>
                                <img src="@Url.Content("~/Images/HomePage/prior-experience.png")" alt="" title="">
                            </figure>
                        </div>
                        <div class="blue-box-head clearfix">
                            <div class="new-header-blue">Prior Experience </div>
                        </div>
                        <div class="blue-box-content ad-bl-content">
                            Do you have experience in the construction industry or as an inspector? (helpful but not required)
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3">
                    <div class="blue-box ad-blue-box ">
                        <div class="ad-round">
                            <figure class="othr-servic">
                                <span class="ad-red red-two">8</span>
                                <img src="@Url.Content("~/Images/HomePage/hard-work.png")" alt="" title="">
                            </figure>
                        </div>
                        <div class="blue-box-head clearfix">
                            <div class="new-header-blue">Hard Work</div>
                        </div>
                        <div class="blue-box-content ad-bl-content">
                            If you're willing to work hard, you can make a profitable career in the home inspection industry.

                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 pull-right">

                    <a href="@Url.Action("ApplyInspectorApplication","Home")" class="btn btn-warning col-md-12">Apply Today</a>

                </div>


                <div class="clearfix"></div>
                <hr>
            </div>



            <div class="col-md-12">
                <h2 class="text-center tpbm hwds">Learn More about becoming a professional home inspector.</h2>
            </div>


            <div class="col-md-12">
                <div class="col-md-12 col-sm-12">
                    <div class=" blue-box">
                        <div class="blue-box-head clearfix">
                            <div class="blue-box-head clearfix">
                                <div class="blue-box-head-text">INFORMATIVE ARTICLES</div>
                                <div class="blue-box-head-icon">
                                    <img src="@Url.Content("~/Images/HomePage/wp.png")" alt="" title=""></div>
                            </div>
                            <div class="blue-box-content">
                                <p>Have what it takes to be a home inspector? http://realtormag.realtor.org/news-and-commentary/feature/article/2007/05/have-what-it-takes-be-home-inspector</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <h2 class="text-center tpbm hwds">How much does a home inspector earn?</h2>
                </div>

                <div class="col-md-12">
                    <div class="col-md-12 col-sm-12">
                        <div class=" blue-box">
                            <div class="blue-box-head clearfix">

                                <div class="blue-box-content">

                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>

                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>

                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>

                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>

                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

                                </div>
                            </div>
                        </div>
                    </div>





                </div>
            </div>
</section>