﻿@model IEnumerable<SpectorMax.Entities.Classes.InspectorRatingPoco>
@using SpectorMax.Entities.Classes;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var PreImageUrls = "~/Images/ProfileImgAndCertiticate/";
}


<section id="container">
    <section style="width: 100%" class="payment">

        @if (Model.Count() > 0)
        {
            <h2 style="width: 300px;">INSPECTOR DETAILS</h2>
            <table style="width: 100%; float: left;" cellpadding="0" cellspacing="0" border="0" id="tblManageProfile">
                <tr>
                    <td style="width: 25%">
                        <label>Inspector Name:</label></td>
                    <td style="width: 25%">
                        @Model.FirstOrDefault().Inspector.FirstName  @Model.FirstOrDefault().Inspector.LastName
                    </td>
@*                    <td style="width: 25%">
                        <label>Last Name:</label></td>
                    <td style="width: 25%">
                        
                    </td>*@
                </tr>
                <tr>
                    <td>
                        <label>Photo:</label></td>
                    <td colspan="2">

                        @if (Model.FirstOrDefault().Inspector.PhotoURL != "")
                        {
                            <img id="ImgPhotoURL" class="image" height="100" width="100" src="@Url.Content(@PreImageUrls + @Model.FirstOrDefault().Inspector.PhotoURL)" />
                        }
                        else
                        {
                            <img id="ImgPhotoURL" height="100" width="100" src="@Url.Content(@PreImageUrls + "nophoto.jpg")" />
                        }


                    </td>
                </tr>

                <tr>
                    <td>
                        <label>Area where you perform inspections:</label></td>
                    <td colspan="2">
                        @Model.FirstOrDefault().Inspector.ExperienceTraining1

                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Experience:</label></td>
                    <td colspan="2">
                        @Model.FirstOrDefault().Inspector.ExperienceTraining2

                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Education:</label></td>
                    <td colspan="2">
                        @Model.FirstOrDefault().Inspector.ExperienceTraining3

                    </td>
                </tr>
                
            </table>
        }









        @if (Model.Count() > 0 && Model.FirstOrDefault().ratingID !=null)
        {
            <br />
         <h2 style="width: 300px;">USER REVIEW SUMMARY</h2>
            <table style="width: 100%;">
                <tr>
                    <td class="editor-label" style="width: 50%; text-align: right">REVIEWS SUMMARY</td>
                    <td>
                        @{
            var ActualRatingcount = 0;
            var finalrating = 0;
            for (int i = 0; i < Model.Count(); i++)
            {
                ActualRatingcount += Convert.ToInt32(Model.ElementAt(i).rating);
            }
            finalrating = ActualRatingcount / Model.Count();
            for (int i = 0; i < 5; i++)
            {
                if (finalrating <= i)
                {
                            <div style="width: 4%; float: left">
                                <img src="~/Images/images/Low_rating.png" />
                            </div>
                }
                else
                {
                            <div style="width: 4%; float: left">
                                <img src="~/Images/images/star-icon.png" />
                            </div>
                }
            }

            ;}
                        &nbsp;&nbsp;Average User Rating(Based on
            <label style="width: 4%">@Model.Count()</label>
                        reviews)
                    </td>
                </tr>

                @foreach (var item in Model)
                {
               
                    <tr>
                        <td id="userrating">
                            @{var count = item.rating;}
                            @for (int i = 0; i < 5; i++)
                            {
                                if (count <= i)
                                {
                                <div style="width: 4%; float: left">
                                    <img src="~/Images/images/Low_rating.png" />
                                </div>
                                }
                                else
                                {
                                <div style="width: 4%; float: left">
                                    <img src="~/Images/images/star-icon.png" />
                                </div>
                                }
                            }
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <label style="width: 100%;">@item.ratingBy</label>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div style="width: 8%; float: left">
                                Comments:
                            </div>
                            <div style="width: 90%; float: left">
                                @item.Comment
                            </div>
                        </td>
                    </tr>
                }
            </table>
        }
        else
        {  
            <br />
            <h2 style="width: 300px;">USER REVIEW SUMMARY</h2>
            <table style="width: 100%;">
                <tr>
                    <td class="editor-label" style="width: 100%; text-align: left" colspan="3">REVIEWS SUMMARY</td>
                </tr>
                <tr>

                    <td class="editor-label" style="width: 100%; text-align: left" colspan="3">
                        
                       
                         <div class="error" style="display: block;width:872px">
                <label id="ErrorMsg" style="float: left; margin-left: 20px"> @ViewBag.Message</label></div>

                    </td>
                </tr>
            
            </table>
        }
    </section>
</section>


