﻿@{
    ViewBag.Title = "MemberShip";
    if (SpectorMax.Entities.Classes.Sessions.LoggedInUser != null && SpectorMax.Entities.Classes.Sessions.LoggedInUser.RoleName == "SiteUser")
    {
        Layout = "~/Views/Shared/_NLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/HomeLayout.cshtml";
    }
}

<div class="container theme-showcase" role="main">
    <div class="blog-header">
        <h1 class="blog-title "><font><font class="">Two-Month Membership Agreement</font></font></h1>
        <p class="">
            <font><font>This Agreement contains the terms and conditions that apply to participation in the Spectormax Two-Month Unlimited Subscription service program.
 <br />
<p>GENERAL TERMS</br> 
In this Agreement, "we", "our", "us", and “Spectormax.com” mean CCI, Inc., and its affiliates and "you or your" means you the user. "Product", “Content” “Report”, “Site”, and “Inspection”, means any information that you receive through Spectormax.com. Your participation, use of our site by this Membership Agreement, the instructions and rules and the terms, conditions, policies, guidelines, and other information on the Spectormax website, each of which may be modified from time to time. In the event of any conflicts between any of this information, the terms of this Agreement control your participation. 
</p><br />
<p>CHANGES TO TERMS AND CONDITIONS<br />
Spectormax may at any time, and at its sole discretion, modify these Terms and Conditions of Use, including without limitation the Privacy Policy, with or without notice. Such modifications will be effective immediately upon posting. You agree to review these Terms and Condition of Use periodically and your continued use of this Site following such modifications will indicate your acceptance of these modified Terms and Conditions of Use. If you do not agree to any modification of these Terms and Conditions of Use, you must immediately stop using this Site.
</p><br /> 
<p>RELIANCE ON INFORMATION<br />
This Site may include inaccuracies or typographical errors that may be corrected as they are discovered at Spectormax's sole discretion.
</p><p>CHANGES TO THE SITE<br />
Changes may be made at any time to the information, names, text, software, images, pictures, logos, trademarks, products and services and any other material displayed on, offered through or contained on this Site.
</p><br /> 
<p>USE OF CONTENT<br />
We grant you a limited license to access the Site and view our reports, but not to download, share, distribute, any portion of our reports, except with our express written consent. This license does not include any right to resale or the commercial use of the Site or its Contents; any collection and use of any Content, product listings, descriptions, or prices; any derivative use of the Site or its contents; any downloading or copying of account information for the benefit of any third person; or any use of data mining, robots, or similar data gathering and extraction tools.  The Site or any portion of Contents may not be reproduced, duplicated, copied, sold, resold, or otherwise exploited for any commercial purpose without our express written consent.  You may not frame or utilize framing techniques to enclose any page, trademark, logo, or any other proprietary information (including images, text, page layout, or form) of the Site, Content and/or our affiliates without express written consent.  You may not use any meta tags or any other “hidden text” utilizing our name or trademarks without our express written consent. You agree not to reproduce, duplicate, copy, sell, resell or exploit any part of the Site, or access to the Site for any commercial purposes. You agree not to share your password or allow others (with the exception of your immediate family-husband, wife, daughter, son, mother or father) to view our reports or any portion of the site wherein you are given access by way of this agreement. 
</p><br /> 
<p>ANY COMMERCIAL USE OR SHARING OF SPECTORMAX REPORTS IS STRICTLY PROHIBITED AND ANY SUSPECTED COMMERCIAL USE OR SHARING WILL LEAD TO THE SUSPENSION OF YOUR ACCOUNT, UNTIL YOU PROVIDE SUFFICIENT PROOF THAT YOUR USE IS PURELY PERSONAL. FAILURE TO DO SO PRIOR TO THE EXPIRATION OF YOUR ACCOUNT WILL RESULT IN THE DEACTIVATION OF YOUR ACCOUNT, WITHOUT REFUND, AND MAY RESULT IN LEGAL ACTION. PROOF OF PERSONAL USE MAY INCLUDE: DETAILING HOW YOU ARE USING THE SPECTORMAX ACCOUNT, PROVIDING PROOF OF DEVICE OWNERSHIP FOR THOSE DEVICES THAT HAVE ACCESSED OUR REPORTS AND SPECIFIC EXAMPLES OF WHO IS VIEWING OUR REPORTS. THE DETERMINATION OF PERSONAL USE IS AT THE SOLE DISCRETION OF CCI, INC. WE RESERVE THE RIGHT TO IMPOSE, AND YOU AGREE TO PAY TO CCI, INC., AN ADDITIONAL CHARGE OF $49.95 FOR EACH SPECTORMAX COMPREHENSIVE HOME INSPECTION REPORT THAT CCI, INC. DEEMS WAS ACCESSED FOR COMMERCIAL PURPOSES OR UNAUTHORIZED USE.
</p><br />
<p>YOUR OBLIGATIONS<br />
In providing registration and transactional information to Spectormax, you agree to provide true, accurate, current and correct information about yourself, and to maintain and update registration information to keep it true, accurate, current and complete. If Spectormax has reasonable grounds to suspect that such information is untrue, inaccurate, not current or incomplete, Spectormax has the right to suspend or terminate your account and refuse any and all current or future use of the account. 
</p><br />
<p>INDEMNIFICATION<br />
You agree to indemnify and hold harmless Spectormax, its licensors, its content providers, its affiliates, franchisees and any of their respective directors, officers, employees, agents, licensees or other representatives from and against all claims, liability and expenses, including all legal fees and costs arising from or relating to (a) your breach of these Terms and Conditions of Use; and (b) your use of this Site including transmission or placement of information or material by you on this Site. This provision shall survive the termination of your right to use this Site.
</p><br />
<p>PRIVACY AND PUBLICITY RIGHTS<br />
You represent and warrant to us that any and all information submitted by you (“User Content”) will not violate the privacy and/or publicity rights of any person and that no such violations will occur by anyone using your password. Spectormax's personal information practices on this Site are governed by Spectormax's Privacy Policy Please review this privacy statement and print a copy for your records. This Site does not intend to target or collect personal information from individuals under the age of 18.
</p><br />
<p>PASSWORDS<br />
You are responsible for taking all reasonable steps to ensure that no unauthorized person shall have access to your passwords or accounts.  It is your sole responsibility to: (1) control the dissemination and use of activation codes and passwords; (2) authorize, monitor and control access to and use of your Spectormax account and password; and (3) promptly inform Spectormax of any need to deactivate a password.  You grant Spectormax and all other persons or entities involved in the operation of the Site the right to transmit, monitor, retrieve, store, and use your information in connection with the operation of the Site.  Spectormax cannot and does not assume any responsibility or liability for any information you submit, or your or third parties' use or misuse of information transmitted or received using the Spectormax Site and services.
</p><br />
<p>AVAILABILITY OF INSPECTIONS<br />
Although we do not limit the number of comprehensive inspection reports you access through our site, subject to the terms of this Agreement, we are limited to time and availability of our inspectors to complete new inspection requests as you find additional uninspected properties and request inspections for said properties.  As a fully paid unlimited subscription member our inspectors place your requests as first priority. 
</p><br />
<p>DEVICE USE IS LIMITED  <br />
Because the data on our site is proprietary in nature and has been collected by our inspectors and compiled for the purpose of the economical value therein, our site monitors the use of individual devices used to access your account. 
</p><br />
        </p>
        DISPUTE RESOLUTION<br />
        All disputes between you and Spectormax arising or relating to: (a) these Terms and Conditions of Use; (b) this Site; (c) any advertisement or promotion relating to these Terms and Conditions of Use or this Site; or (d) transactions effectuated through this Site; or (e) the relationship which results from these Terms and Conditions of Use (including relationships with third parties who are not party to these Terms and Conditions of Use) shall be resolved by binding individual arbitration under the American Arbitration Association's rules for consumer-related disputes. Neither you nor Spectormax will participate in a class action or class-wide arbitration for any claims covered by this agreement. If this class action waiver is found to be unenforceable in a particular case, then this entire arbitration agreement shall be null and void in that case. This agreement shall be governed by the Federal Arbitration Act and, where consistent, Utah law. Spectormax reserves the right to change this dispute resolution provision, but any such changes will not apply to disputes filed before the effective date of the amendment. This provision will survive the termination of your right to use this Site.
</p><br />
        <p>
            TERMINATION<br />
            Spectormax may at any time and at its sole discretion terminate your right to use this Site.
        </p>
        <br />
        <p>
            CONSENT TO ELECTRONIC COMMUNICATIONS<br />
            You consent to receive communications from Spectormax about your SPECTORMAX Online membership electronically, either by e-mail or by notices posted on this Site, as determined by Spectormax in its sole discretion. You agree that any requirement that a notice, disclosure, agreement, or other communication be sent to you by Spectormax in writing is satisfied by such electronic communication. You agree that Spectormax may send you e-mails which include notices about your account as well as information pertaining to our service, such as featured products or new offerings. You agree that this information is part of your subscription and your relationship with Spectormax.
        </p>
        <br />
        <p>
            SUBSCRIPTION SERVICE<br />
            (a) If you choose to subscribe to Spectormax’s subscription service ("Subscription Service"), the following additional Terms of Use will apply.
(b) Subscription Term: Your subscription term shall be two months from the date of activation. 
(c) Statements of Account: You are responsible for providing a valid credit card number at the time you register for a Subscription Service. You represent and warrant that you are an authorized user of such credit card, and you agree to pay all charges resulting from your Subscription Service account at the prices then in effect, including any unauthorized charges incurred prior to your notifying Spectormax of such charges. You agree that Spectormax may pass your credit card information and related personally identifiable information to its designated service provider(s) for their use in charging you for appropriate services utilized through your Subscription Service. All Subscription Service charges are exclusive of sales or other taxes and you are responsible for payment of any applicable state, local and city taxes. Your right to use the Service is conditional upon our receipt of payment. If payment cannot be charged to your credit card or if a charge is refunded for any reason, including chargeback, we reserve the right to immediately and without notice, either suspend or terminate your access and account, thereby terminating this agreement and all Spectormax obligations hereunder. You are required to pay any amounts still owed to us at the time your account is suspended or terminated. Spectormax reserves the right to modify or terminate Subscription Service, change prices, or institute new charges for your Subscription Service at any time with at least thirty (30) days' notice.
(d) Disclaimer: You are using the Subscription Service at your own risk and you are personally responsible for verifying its suitability for your needs.
(e) Cancellation: If you cancel your Subscription Service during your initial subscription period, prior to viewing any of our online reports, you will receive a full refund.  However, once a report has been viewed through your account you are liable for the full purchase price of the Subscription Service.
        </p>
        <br />
        <p>
            MINORS<br />
            The Site is intended for use only by persons 18 years of age or older.  If you are under 18, you may not purchase items from Spectormax.
        </p>
        <br />
        <p>
            INDEMNITY<br />
            You agree to defend, indemnify, and hold Spectormax, its officers, directors, employees, agents, licensors, and suppliers, harmless from and against any claims, actions or demands, liabilities and settlements including without limitation, reasonable legal and accounting fees, resulting from, or alleged to result from, your violation of these Terms of Use.
        </p>
        <br />
        <p>
            JURISDICTION AND LAW<br />
            Use of The Spectormax Software and Online Services shall be construed and interpreted pursuant to the laws of the State of Utah and the United States, and the parties hereto submit and consent to the jurisdiction of the courts of the State of Utah including Federal Courts located therein, in any action brought for any dispute with Spectormax, or in any way relating to your use of the Spectormax Software or Online Services. Notwithstanding the preceding sentence, nothing contained in this End User License Agreement shall preclude Spectormax from bringing an action in any appropriate forum to enforce the terms and provisions of this Agreement. You hereby consent to the exclusive jurisdiction of any State or Federal court empowered to enforce this Agreement in the State of Utah, County of Utah, and waive any objection thereto on the basis of personal jurisdiction, venue or choice of law.
        </p>
        <br />
        <p>
            Spectormax makes no representation or warranty that the content and materials on the Sites and/or the Services are appropriate or available for use in locations outside the United States. Those who choose to access the Sites or use the Services from other locations do so on their own initiative and at their own risk, and are responsible for compliance with local laws, if and to the extent applicable. Spectormax reserves the right, at any time in our sole discretion, to limit the availability and accessibility of the Sites and/or the Services to any person, geographic area, or jurisdiction we so desire, and to limit the quantities of any such Service or products that we provide.
        </p>
        <br />
        <p>
            COMPLETE AGREEMENT<br />
            These Terms of Use, Copyright Notice and the Privacy Policy constitute the entire agreement between you and Spectormax with respect to the use of the Spectormax Site, and Content.
transactions will be governed by a separate agreement. </font></font>
        </p>
        </p>
    </div>
</div>
