﻿@{
    ViewBag.Title = "RadOnTesting";

    if (SpectorMax.Entities.Classes.Sessions.LoggedInUser != null && (SpectorMax.Entities.Classes.Sessions.LoggedInUser.RoleName == "SiteUser" || SpectorMax.Entities.Classes.Sessions.LoggedInUser.RoleName == "Property Inspector"))
    
    {
        Layout = "~/Views/Shared/_NLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/HomeLayout.cshtml";
    }
}
@using SpectorMax.Entities.Classes
<script>
    $(document).ready(function () {
        $("#ScheduleNow").click(function () {
           
            $("#Details").modal({ backdrop: 'static', keyboard: true });
            $("#Details").modal("show");
            $("#Zip-errorLogin").css("display", "none")
            $("#lblMessageziperrorLogin").html("");
            $("#username").val() = "";
            $("#pwd").val()=""
        });
    });

</script>

<div class="container theme-showcase" role="main">
<div class="blog-header">
    <h1 class="blog-title "><font><font class="text-center">What is Radon and Why Should You Test?</font></font></h1>
    <p class=""><font><font>@Html.Raw(@ViewBag.Message)</font></font></p>
</div>
</div>


@*<section id="container">
    <!--================left side starts===============-->
    <section class="left_side" style="width: 943px;border: 1px solid #DADADA;">
         <section  style="height: auto!important;width:860px; margin-top: 50px">
          <h2 style="width:500px;margin-left: 4%;padding-bottom:15px">What is Radon and Why Should You Test?</h2>
        <div id="userType" style="margin-left: 4%">
            @Html.Raw(@ViewBag.Message)
        </div>
    </section>
        </section>
    <section class="clr"></section>
    </section>
  <div aria-hidden="true" style="left: 52%; top: 64%; display: none; padding: 14px 15px;width:369px" aria-labelledby="windowTitleLabel" data-backdrop="static" data-keyboard="false" role="dialog" tabindex="-1" class="modal hide fade in" id="Details">
            <div class="modal-header">
                <a data-dismiss="modal" style="margin: -14px -16px" class="close" href="#">×</a>
                <h3>Login</h3>
            </div>
            <div class="modal-body">
                <div class="divDialogElements">
                   @{
                       Html.RenderPartial("_PartialLogin", new LogInModel());
                    }
                </div>
            </div>

        </div>*@