﻿@{
    if (SpectorMax.Entities.Classes.Sessions.LoggedInUser != null && (SpectorMax.Entities.Classes.Sessions.LoggedInUser.RoleName == "SiteUser" || SpectorMax.Entities.Classes.Sessions.LoggedInUser.RoleName == "Property Inspector"))
    
    {
        Layout = "~/Views/Shared/_NLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/HomeLayout.cshtml";
    }
}
<div class="container theme-showcase" role="main">
   @Html.Raw(@ViewBag.Message)
</div>

<!-- Modal 2 -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close custmclose" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title text-center" id="myModalLabel1">Login</h4>
            </div>
            <div class="modal-body">

                <div class="bs-exampleExp" style="display: none">
                    <div class="alert alert-danger alert-error">
                        <strong>Error!</strong>
                        <label id="loginmessage">There might be some problem. Please try after some time.</label>
                    </div>
                </div>
                <form id="formLogin" class="form">
                    <label>Login</label>
                    <input id="username1" type="text" required="" style="width: 260px;" class="form-control" title="Enter your username" data-valid-min="6" pattern="^[a-z,A-Z,0-9,_]{6,15}$" placeholder="Username" name="username">
                    <input id="password1" type="password" required="" style="width: 260px; margin-top: 3px;" class="form-control" title="Enter your password" placeholder="Password" name="password">

                    <br>
                    <button id="btnLogin1" class="rate tpbm has-spinner" type="button">
                        <span class="spinner"><i class="icon-spin icon-spinner icon-large"></i></span>
                        Login</button>

                    @*<img alt="progress bar" style="display:none" id="loginProgress" src="@Url.Content("~/Images/loading_icon.gif")" />*@
                </form>

                <form>
                    <a id="btnNewUser1" data-target="#formRegister" data-toggle="collapse" title="Fast and free sign up!" href="@Url.Action("create", "UserInfoes")">New User? Sign-up..</a>
                </form>
                <form>
                    <a href="@Url.Action("ForgotPassword", "UserInfoes")" role="button" data-toggle="modal">Forgot username or password?</a>
                </form>
                <form>
                    <a href="@Url.Action("Contact", "Home")" role="button" data-toggle="modal">
                        <small>Need help? Contact us</small>
                    </a>
                </form>

            </div>
        </div>
    </div>
</div>

<!-- Modal 2 -->

<script type="text/javascript">
    $(document).ready(function () {

        /*Open Login pop-up*/
        $("#Login").click(function () {
            
                $('#myModal2').modal({ backdrop: 'static', keyboard: true })
                $("#myModal2").modal("show");
           
        });
    });
    $('#username').keypress(function (event) {

        var keycode = (event.keyCode ? event.keyCode : event.which);
        if (keycode == '13') {
            $("#btnLogin1").click();
        }

    });
    $('#password').keypress(function (event) {

        var keycode = (event.keyCode ? event.keyCode : event.which);
        if (keycode == '13') {
            $("#btnLogin1").click();
        }

    });


    $("#btnLogin1").click(function () {

        $("#btnLogin1").addClass('active');

        $.ajax({
            type: "POST",
            url: '@Url.Action("JSONLogOn", "UserInfoes")',
            dataType: "html",
            data: { UserName: $("#username1").val(), Password: $("#password1").val(), rememberme: true },
            success: function (result) {
                $("#btnLogin1").removeClass('active');
                var msg = JSON.parse(result);
                if (msg.UserRoleType == "Property Inspector") {
                    var url = '@Url.Action("InspectorDashboardNew", "UserInfoes")';
                    window.location.href = url;
                }
                else if (msg.UserRoleType == "SiteUser") {
                    var url = '@Url.Action("Dashboard", "UserInfoes")';
                        window.location.href = url;
                    }

                    else {
                        $("#loginmessage").html(msg.Message);
                        $(".bs-exampleExp").css("display", "block")
                    }
            },
            error: function (e) {
                $("#btnLogin1").removeClass('active');
            },
        });

        });
    </script>