﻿@{
    ViewBag.Title = "About Us";
    if (SpectorMax.Entities.Classes.Sessions.LoggedInUser != null && (SpectorMax.Entities.Classes.Sessions.LoggedInUser.RoleName == "SiteUser" || SpectorMax.Entities.Classes.Sessions.LoggedInUser.RoleName == "Property Inspector"))
    
    {
        Layout = "~/Views/Shared/_NLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/HomeLayout.cshtml";
    }
}



<div class="container theme-showcase" role="main">
<div class="blog-header">
    <h1 class="blog-title "><font><font class="">Standards Of Practice</font></font></h1>
    <p><font><font>@Html.Raw(@ViewBag.Message)</font></font></p>
</div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $(".blockquote").css("font-size", "14");
    });
</script>