﻿@model SpectorMax.Entities.Classes.NInspectionOrderDetails
@{
    ViewBag.Title = "CreateNewInspection";
    Layout = "~/Views/Shared/_NLayout.cshtml";
}
<script src="@Url.Content("~/Scripts/NInspectionOrderDetails.js")"></script>
<script src= "@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src= "@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>


     @using (Ajax.BeginForm("CreateNewInspection", "Inspector", FormMethod.Post, new AjaxOptions { OnBegin = "showLoader", OnComplete = "DisplayMsg" }, new { id = "CreateNewInspection", @class = "form-horizontal lleft" }))
            {


     <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">Inspection Request Form</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 defineStep">
                <h3>Step 1 : Request Info</h3>
            </div>
        </div>


        <div class="col-md-7 col-sm-7">
            <div class="whwbr">
              @*  <form class="form-horizontal lleft" role="form">*@

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Request Name</label>
                        <div class="col-sm-9">
                            <div class="row">
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(model => model.RequestedFirstName, new { @class = "form-control", @maxlength = 50, @placeholder = "First Name" })
                                    @Html.ValidationMessageFor(x => x.RequestedFirstName)
                                </div>
                                <div class="col-sm-6">

                                    @Html.TextBoxFor(model => model.RequestedLastName, new { @class = "form-control", @placeholder = "Last Name", @maxlength = 50 })
                                    @Html.ValidationMessageFor(x => x.RequestedLastName)
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Address </label>
                        <div class="col-sm-9">

                            @Html.TextBoxFor(model => model.RequestedByAddress, new { @class = "form-control", @placeholder = "Address", @maxlength = 255 })
                            @Html.ValidationMessageFor(x => x.RequestedByAddress)
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">State</label>
                        <div class="col-sm-4">
                            @Html.DropDownListFor(model => model.RequestedByState, (IEnumerable<SelectListItem>)Model.StatesList, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.RequestedByState)
                        </div>

                        <div class="col-sm-5">
                            <div class="row">
                                <label class="col-sm-4 control-label">Zip :</label>
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(model => model.RequestedByZip, (IEnumerable<SelectListItem>)Model.ZipCodesList, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.RequestedByZip)
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">You Are</label>
                        <div class="col-sm-9">
                            <label class="checkbox-inline">
                                @Html.RadioButtonFor(model => model.RequesterType, 1, new { id = "Seller", @checked = true }) Seller
                                @*<input type="checkbox" id="inlineCheckbox1" value="option1">Buyer*@
                            </label>
                            <label class="checkbox-inline">
                                @Html.RadioButtonFor(model => model.RequesterType, 2, new { id = "Buyer" }) Buyer
                            </label>
                            <label class="checkbox-inline">
                                @Html.RadioButtonFor(model => model.RequesterType, 3, new { id = "Agent" }) Agent
                            </label>

                        </div>
                    </div>


                @*</form>*@
            </div>
        </div>

        <div class="col-md-5 col-sm-5">
            <div class="whwbr">
               @* <form class="form-horizontal lleft" role="form">*@

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Phone Number</label>
                        <div class="col-sm-8">
                            
                            @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control", @maxlength = 50, placeholder = "Phone" })
                            @Html.ValidationMessageFor(x => x.PhoneNumber)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">City</label>
                        <div class="col-sm-8">
                            @Html.DropDownListFor(model => model.RequestedByCity, (IEnumerable<SelectListItem>)Model.CityList, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.RequestedByCity)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Email</label>
                        <div class="col-sm-8">

                            @Html.TextBoxFor(model => model.RequestedByEmailAddress, new { @class = "form-control", @maxlength = 50, @placeholder = "Email" })
                            @Html.ValidationMessageFor(x => x.RequestedByEmailAddress)
                        </div>
                    </div>

                 
              @*  </form>*@
            </div>
        </div>

    </div>

     <hr>

        <div class="container">

            <div class="row">
                <div class="col-md-12 defineStep">
                    <h3>Step 2 : Property Info</h3>
                </div>
            </div>

            @*<form class="form-horizontal lleft" role="form">*@


                <div class="col-md-7 col-sm-7 tpbm">
                    <div class="form-group">

                        <div class="col-sm-9">
                            <label class="checkbox-inline">
                                <input type="checkbox" value="option1" id="propertySameInfo">Same as requester info
                            </label>


                        </div>
                    </div>
                </div>


                <div class="col-md-7 col-sm-7">
                    <div class="whwbr">




                        <div class="form-group">
                            <label class="col-sm-3 control-label">Property Address </label>
                            <div class="col-sm-9">

                                @Html.TextBoxFor(model => model.PropertyAddress, new { @class = "form-control", @placeholder = "Address", @maxlength = 255 })
                                @Html.ValidationMessageFor(x => x.PropertyAddress)
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">State</label>
                            <div class="col-sm-4">
                                
                                @Html.DropDownListFor(model => model.PropertyAddressState, (IEnumerable<SelectListItem>)Model.StatesList, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.PropertyAddressState)
                            </div>

                            <div class="col-sm-5">
                                <div class="row">
                                    <label class="col-sm-4 control-label">Zip :</label>
                                    <div class="col-sm-8">

                                        @Html.DropDownListFor(model => model.PropertyAddressZip, (IEnumerable<SelectListItem>)Model.ZipCodesList, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.PropertyAddressZip)
                                    </div>
                                </div>
                            </div>

                        </div>


                        <div class="form-group">
                            <label class="col-sm-3 control-label">Owner Name </label>
                            <div class="col-sm-9">

                                @Html.TextBoxFor(model => model.OwnerName, new { @class = "form-control", @placeholder = "Optional", @maxlength = 50 })
                                @Html.ValidationMessageFor(x => x.OwnerName)
                            </div>
                        </div>





                    </div>
                </div>

                <div class="col-md-5 col-sm-5">
                    <div class="whwbr">


                        <div class="form-group">
                            <label class="col-sm-4 control-label">Phone Number</label>
                            <div class="col-sm-8">

                                @Html.TextBoxFor(model => model.OwnerPhoneNumber, new { @class = "form-control mask", @maxlength = 50, @placeholder = "Phone" })
                                @Html.ValidationMessageFor(x => x.OwnerPhoneNumber)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">City</label>
                            <div class="col-sm-8">

                                @Html.DropDownListFor(model => model.PropertyAddressCity, (IEnumerable<SelectListItem>)Model.CityList, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.PropertyAddressCity)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Email</label>
                            <div class="col-sm-8">

                                @Html.TextBoxFor(model => model.OwnerEmailAddress, new { @class = "form-control", @placeholder = "Email",  @maxlength = 50 })
                                @Html.ValidationMessageFor(x => x.OwnerEmailAddress)
                            </div>
                        </div>


                    </div>
                </div>


                <div class="clearfix"></div>
                <hr>


                <div class="col-md-8 col-sm-8">
                    <div class="whwbr">

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Property Description</label>
                            <div class="col-sm-4">
                                @Html.DropDownListFor(model => model.PropertyDescription, (IEnumerable<SelectListItem>)Model.PropertyDescriptionList, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.PropertyDescription)
                            </div>

                            <div class="col-sm-5">
                                <div class="row">
                                    <label class="col-sm-6 control-label">Number of Units</label>
                                    <div class="col-sm-6">

                                        @Html.TextBoxFor(model => model.PropertyUnit, new { @class = "form-control", @maxlength = 4 })
                                        @Html.ValidationMessageFor(x => x.PropertyUnit)
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Additions / Alterations</label>
                            <div class="col-sm-4">

                                @Html.TextBoxFor(model => model.PropertyAddition, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.PropertyAddition)
                            </div>

                            <div class="col-sm-5">
                                <div class="row">
                                    <label class="col-sm-6 control-label">Bedrooms</label>
                                    <div class="col-sm-6">

                                        @Html.TextBoxFor(model => model.PropertyBedRoom, new { @class = "form-control", @maxlength = 4 })
                                        @Html.ValidationMessageFor(x => x.PropertyBedRoom)
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Estimated Monthly Utilities</label>
                            <div class="col-sm-4">

                                @Html.TextBoxFor(model => model.PropertyEstimatedMonthlyUtilites, new { @class = "form-control", })
                                @Html.ValidationMessageFor(x => x.PropertyEstimatedMonthlyUtilites)
                            </div>

                            <div class="col-sm-5">
                                <div class="row">
                                    <label class="col-sm-6 control-label">Year Built</label>
                                    <div class="col-sm-6">

                                        @Html.TextBoxFor(model => model.PropertyHomeAge, new { @class = "form-control", @maxlength = 4, })
                                        @Html.ValidationMessageFor(x => x.PropertyHomeAge)
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Directions</label>
                            <div class="col-sm-9">

                                @Html.TextBoxFor(model => model.Direction, new { @class = "form-control", @maxlength = 4, })
                                @Html.ValidationMessageFor(x => x.Direction)
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="whwbr">


                        <div class="form-group">
                            <label class="col-sm-6 control-label">Square Footage</label>
                            <div class="col-sm-6">

                                @Html.TextBoxFor(model => model.PropertySquareFootage, new { @class = "form-control", @maxlength = 4 })
                                @Html.ValidationMessageFor(x => x.PropertySquareFootage)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-6 control-label">Bathrooms</label>
                            <div class="col-sm-6">

                                @Html.TextBoxFor(model => model.PropertyBaths, new { @class = "form-control", @maxlength = 4 })
                                @Html.ValidationMessageFor(x => x.PropertyBaths)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-6 control-label">Roof Age</label>
                            <div class="col-sm-6">
                             
                                @Html.TextBoxFor(model => model.PropertyRoofAge, new { @class = "form-control", @maxlength = 4, })
                                @Html.ValidationMessageFor(x => x.PropertyRoofAge)
                            </div>
                        </div>


                    </div>
                </div>

           @* </form>*@





        </div>

    <hr>

        <div class="container">



            <div class="row">
                <div class="col-md-12 defineStep">
                    <h3>Step 3 : Agent Info</h3>
                </div>
            </div>

      @*      <form class="form-horizontal lleft" role="form">*@

                <div class="col-md-7 col-sm-7">
                    <div class="whwbr">


                        <div class="form-group">
                            <label class="col-sm-3 control-label">Buyer Agent</label>
                            <div class="col-sm-9">
                                <div class="row">
                                    <div class="col-sm-6">

                                        @Html.TextBoxFor(model => model.buyerAgent.BuyerAgentFirstName, new { @class = "form-control", @placeholder = "First Name", @maxlength = 50 })
                                        @Html.ValidationMessageFor(x => x.buyerAgent.BuyerAgentFirstName)
                                    </div>
                                    <div class="col-sm-6">
                                       
                                        @Html.TextBoxFor(model => model.buyerAgent.BuyerAgentLastName, new { @class = "form-control", @placeholder = "Last Name", @maxlength = 50 })
                                        @Html.ValidationMessageFor(x => x.buyerAgent.BuyerAgentLastName)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Email </label>
                            <div class="col-sm-9">

                                @Html.TextBoxFor(model => model.buyerAgent.BuyerAgentEmailAddress, new { @class = "form-control", @placeholder = "Optional", @maxlength = 50 })
                                @Html.ValidationMessageFor(x => x.buyerAgent.BuyerAgentEmailAddress)
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Office Address </label>
                            <div class="col-sm-9">

                                @Html.TextBoxFor(model => model.buyerAgent.BuyerAgentStreetAddress, new { @class = "form-control", @placeholder = "Optional", @maxlength = 255 })
                                @Html.ValidationMessageFor(x => x.buyerAgent.BuyerAgentStreetAddress)
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">State</label>
                            <div class="col-sm-4">

                                @Html.DropDownListFor(model => model.buyerAgent.BuyerAgentState, (IEnumerable<SelectListItem>)Model.StatesList, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.buyerAgent.BuyerAgentState)
                            </div>

                            <div class="col-sm-5">
                                <div class="row">
                                    <label class="col-sm-4 control-label">Zip :</label>
                                    <div class="col-sm-8">

                                        @Html.DropDownListFor(model => model.buyerAgent.BuyerAgentZip, (IEnumerable<SelectListItem>)Model.ZipCodesList, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.buyerAgent.BuyerAgentZip)
                                    </div>
                                </div>
                            </div>

                        </div>




                    </div>
                </div>

                <div class="col-md-5 col-sm-5">
                    <div class="whwbr">


                        <div class="form-group">
                            <label class="col-sm-4 control-label">Office</label>
                            <div class="col-sm-8">
                            
                                @Html.TextBoxFor(model => model.buyerAgent.BuyerAgentOffice, new { @class = "form-control", @maxlength = 255 })
                                @Html.ValidationMessageFor(x => x.buyerAgent.BuyerAgentOffice)
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">Phone Number</label>
                            <div class="col-sm-8">
                             
                                @Html.TextBoxFor(model => model.buyerAgent.BuyerAgentPhoneDay, new { @class = "form-control mask", @placeholder = "Phone", @maxlength = 50 })
                                @Html.ValidationMessageFor(x => x.buyerAgent.BuyerAgentPhoneDay)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">City</label>
                            <div class="col-sm-8">
                               
                                @Html.DropDownListFor(model => model.buyerAgent.BuyerAgentCity, (IEnumerable<SelectListItem>)Model.CityList, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.buyerAgent.BuyerAgentCity)
                            </div>
                        </div>



                    </div>
                </div>

                <div class="clearfix"></div>
                <hr>

                <div class="col-md-7 col-sm-7 tpbm">
                    <div class="form-group">

                        <div class="col-sm-9">
                            <label class="checkbox-inline">
                                <input type="checkbox" value="option1" id="AgentSameInfo">Same as buyer agent
                            </label>


                        </div>
                    </div>
                </div>

                <div class="col-md-7 col-sm-7">
                    <div class="whwbr">


                        <div class="form-group">
                            <label class="col-sm-3 control-label">Buyer Agent</label>
                            <div class="col-sm-9">
                                <div class="row">
                                    <div class="col-sm-6">
                                       
                                        @Html.TextBoxFor(model => model.sellerAgent.SellerAgentFirstName, new { @class = "form-control", @placeholder = "First Name", @maxlength = 50 })
                                        @Html.ValidationMessageFor(x => x.sellerAgent.SellerAgentFirstName)
                                    </div>
                                    <div class="col-sm-6">
                                        @Html.TextBoxFor(model => model.sellerAgent.SellerAgentLastName, new { @class = "form-control", @placeholder = "Last Name", @maxlength = 50 })
                                        @Html.ValidationMessageFor(x => x.sellerAgent.SellerAgentLastName)

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Email </label>
                            <div class="col-sm-9">

                                @Html.TextBoxFor(model => model.sellerAgent.SellerAgentEmailAddress, new { @class = "form-control", @placeholder = "Optional", @maxlength = 50 })
                                @Html.ValidationMessageFor(x => x.sellerAgent.SellerAgentEmailAddress)
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Office Address </label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(model => model.sellerAgent.SellerAgentStreetAddress, new { @class = "form-control", @placeholder = "Optional", @maxlength = 250 })
                                @Html.ValidationMessageFor(x => x.sellerAgent.SellerAgentStreetAddress)

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">State</label>
                            <div class="col-sm-4">
                               
                                @Html.DropDownListFor(model => model.sellerAgent.SellerAgentState, (IEnumerable<SelectListItem>)Model.StatesList, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.sellerAgent.SellerAgentState)
                            </div>

                            <div class="col-sm-5">
                                <div class="row">
                                    <label class="col-sm-4 control-label">Zip :</label>
                                    <div class="col-sm-8">
                                        @Html.DropDownListFor(model => model.sellerAgent.SellerAgentZip, (IEnumerable<SelectListItem>)Model.ZipCodesList, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.sellerAgent.SellerAgentZip)
                                    </div>
                                </div>
                            </div>

                        </div>




                    </div>
                </div>

                <div class="col-md-5 col-sm-5">
                    <div class="whwbr">


                        <div class="form-group">
                            <label class="col-sm-4 control-label">Office</label>
                            <div class="col-sm-8">

                                @Html.TextBoxFor(model => model.sellerAgent.SellerAgentOffice, new { @class = "form-control", @maxlength = 250 })
                                @Html.ValidationMessageFor(x => x.sellerAgent.SellerAgentOffice)
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">Phone Number</label>
                            <div class="col-sm-8">

                                @Html.TextBoxFor(model => model.sellerAgent.SellerAgentPhoneDay, new { @class = "form-control", @maxlength = 50, })
                                @Html.ValidationMessageFor(x => x.sellerAgent.SellerAgentPhoneDay)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">City</label>
                            <div class="col-sm-8">


                                @Html.DropDownListFor(model => model.sellerAgent.SellerAgentCity, (IEnumerable<SelectListItem>)Model.CityList, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.sellerAgent.SellerAgentCity)
                            </div>
                        </div>

                    </div>
                </div>

          @*  </form>*@

        </div>

    
  <hr>
   

        <div class="container">



            <div class="row">
                <div class="col-md-12 defineStep">
                    <h3>Step 4 : Schedule Inspection</h3>
                </div>
            </div>

            <p>
                Please only schedule a day that you are available all day, once inspector has reviewed all scheduled inspections for 
the day hewill notify you via telephone to setup 2 hrs appointment window that works best with your schedule.
            </p>

            <div class="col-md-12 col-sm-12">
                <div class="whwbr">


               @*     <form class="form-horizontal lleft" role="form">*@

                        <div class="form-group">

                            <div class="col-sm-2">
                                <div class="row">
                                   
                                       @Html.TextBoxFor(model => model.ScheduleInspectionDate, new { @class = "form-control datepicker", @placeholder="Click for enter date" })
                                         @Html.ValidationMessageFor(x => x.ScheduleInspectionDate)
                                    <span class="glyphicon glyphicon-calendar set_calnder"></span>
                                </div>
                            </div>

                            <div class="col-sm-9">
                                <div class="row">
                                    <button type="submit" class="nextto">Next</button>
                                </div>
                            </div>
                        </div>


                    @*</form>*@
                </div>
            </div>

        </div>

     }


<script>
    $(document).ready(function () {
        FillRequesterCity();
        FillRequesterZip()
        
    });
    function FillRequesterCity() {
        $.ajax({
            type: "POST",
            url: $URL._NGetCity,
            dataType: "json",
            async: false,
            data: { state: "@Model.RequestedByState" },
              success: function (result) {
                  $('#RequestedByZip').empty();
                  $('#RequestedByCity').empty();
                  //      $('#RequestedByCity').append($('<option></option>').val("--Select--").html("--Select--"));
                  $(result).each(function (index, item) {
                      $('#RequestedByCity').append($('<option></option>').val(this.Value).html(this.Text));
                  });
                  $("#imgCityRequester").hide();
              },
              error: function (e) {
                  $("#imgCityRequester").hide();
              },
          });
      }
      function FillRequesterZip() {
          $.ajax({
              type: "POST",
              url: $URL._NGetCity,
              dataType: "json",
              async: false,
              data: { state: "@Model.RequestedByCity" },
              success: function (result) {
                  $('#RequestedByZip').empty();
                  $('#RequestedByCity').empty();
                  //      $('#RequestedByCity').append($('<option></option>').val("--Select--").html("--Select--"));
                  $(result).each(function (index, item) {
                      $('#RequestedByCity').append($('<option></option>').val(this.Value).html(this.Text));
                  });
                  $("#imgCityRequester").hide();
              },
              error: function (e) {
                  $("#imgCityRequester").hide();

              },
          });
      }
</script>