﻿@model SpectorMax.Entities.Classes.NRequesterDetails

@{
    ViewBag.Title = "NCreateNewInspection";
    Layout = "~/Views/Shared/_NLayout.cshtml";
}
<script src="@Url.Content("~/Scripts/NInspectionOrderDetails.js")"></script>

@using (Html.BeginForm("NCreateNewInspection", "NInspectionOrderDetails", FormMethod.Post, new { id = "frmTest", @class = "form-horizontal lleft" }))
{
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">Inspection Request Form</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 defineStep">
                <h3>Step 1 : Request Info</h3>
            </div>
        </div>


        <div class="col-md-7 col-sm-7">
            <div class="whwbr">


                <div class="form-group">
                    <label class="col-sm-3 control-label">Request Name</label>
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-sm-6">
                                @Html.TextBoxFor(model => model.RequestedFirstName, new { @class = "form-control", @maxlength = 50, @placeholder = "First Name" })
                                <span class="help-inline">@Html.ValidationMessageFor(x => x.RequestedFirstName)</span>
                            </div>
                            <div class="col-sm-6">

                                @Html.TextBoxFor(model => model.RequestedLastName, new { @class = "form-control", @placeholder = "Last Name", @maxlength = 50 })
                                @Html.ValidationMessageFor(x => x.RequestedLastName)
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Address </label>
                    <div class="col-sm-9">

                        @Html.TextBoxFor(model => model.RequestedByAddress, new { @class = "form-control", @placeholder = "Address", @maxlength = 255 })
                        @Html.ValidationMessageFor(x => x.RequestedByAddress)
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">City</label>
                    <div class="col-sm-4">
                        @Html.DropDownListFor(model => model.RequestedByCity, (IEnumerable<SelectListItem>)Model.CityList, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.RequestedByCity)
                    </div>

                    <div class="col-sm-5">
                        <div class="row">
                            <label class="col-sm-4 control-label">Zip :</label>
                            <div class="col-sm-8">
                                @Html.DropDownListFor(model => model.RequestedByZip, (IEnumerable<SelectListItem>)Model.ZipCodesList, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.RequestedByZip)
                            </div>
                        </div>
                    </div>

                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">You Are</label>
                    <div class="col-sm-9">
                        <label class="checkbox-inline">
                            @Html.RadioButtonFor(model => model.RequesterType, "Buyer", new { @checked = "checked" }) Buyer
                        </label>
                        <label class="checkbox-inline">
                            @Html.RadioButtonFor(model => model.RequesterType, "Seller") Seller
                        </label>
                        <label class="checkbox-inline">
                            @Html.RadioButtonFor(model => model.RequesterType, "Agent") Agent
                        </label>
                        <label class="checkbox-inline">
                            @Html.ValidationMessageFor(model => model.RequesterType)
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-5 col-sm-5">
            <div class="whwbr">


                <div class="form-group">
                    <label class="col-sm-4 control-label">Phone Number</label>
                    <div class="col-sm-8">

                        @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control mask", @maxlength = 50, placeholder = "Phone" })
                        @Html.ValidationMessageFor(x => x.PhoneNumber)
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">State</label>
                    <div class="col-sm-8">

                        @Html.DropDownListFor(model => model.RequestedByState, (IEnumerable<SelectListItem>)Model.StatesList, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.RequestedByState)
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Email</label>
                    <div class="col-sm-8">

                        @Html.TextBoxFor(model => model.RequestedByEmailAddress, new { @class = "form-control", @maxlength = 50, @placeholder = "Email" })
                        @Html.ValidationMessageFor(x => x.RequestedByEmailAddress)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        @* <button type="submit" class="nextto" name="BtnNext" value="Next">Next</button>*@
                        <input type="submit" class="nextto" name="BtnNext" value="Next" />
                    </div>
                </div>

            </div>
        </div>

        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>

    </div>
}

<!-- Loader-->
<div id="loadingModel" class="displayNone overlayPage" style="display:none;">
    <div class="loaderPage">
        <div>
            <img src='@Url.Content("~/Content/Images/loading.gif")' />
        </div>
    </div>
</div>
<!-- /Loader -->

<script>
    $(document).ready(function () {
        showLoader();
        FillRequesterCity();
        FillRequesterZip();
        hideLoader();
    })
    function FillRequesterCity() {

        $.ajax({
            type: "POST",
            url: $URL._NGetCity,
            dataType: "json",
            async: false,
            data: { state: "@Model.RequestedByState" },
            success: function (result) {
                $('#RequestedByZip').empty();
                $('#RequestedByCity').empty();
                //      $('#RequestedByCity').append($('<option></option>').val("--Select--").html("--Select--"));
                $(result).each(function (index, item) {
                    $('#RequestedByCity').append($('<option></option>').val(this.Value).html(this.Text));
                });
                $('#RequestedByCity').val("@Model.RequestedByCity");
            },
            error: function (e) {

            },
        });
    }
    function FillRequesterZip() {
        $.ajax({
            type: "POST",
            url: $URL._NGetZipCode,
            dataType: "json",
            async: false,
            data: { city: "@Model.RequestedByCity" },
              success: function (result) {

                  $('#RequestedByZip').empty();
                  //      $('#RequestedByCity').append($('<option></option>').val("--Select--").html("--Select--"));
                  $(result).each(function (index, item) {
                      $('#RequestedByZip').append($('<option></option>').val(this.Value).html(this.Text));
                  });
                  $("#RequestedByZip").val("@Model.RequestedByZip");
                  $("#imgCityRequester").hide();
              },
              error: function (e) {
                  $("#imgCityRequester").hide();

              },
          });
      }
</script>