﻿@model SpectorMax.Entities.Classes.NAgentInfo

@{
    ViewBag.Title = "NCreateNewInspectionStep3";
    Layout = "~/Views/Shared/_NLayout.cshtml";
}
<script src="@Url.Content("~/Scripts/NInspectionOrderDetails.js")"></script>
@using (Html.BeginForm("NCreateNewInspectionStep3", "NInspectionOrderDetails", FormMethod.Post, new { @class = "form-horizontal lleft" }))
{
    <div class="container">
        <div class="row">
            <div class="col-md-12 defineStep">
                <h3>Step 3 : Agent Info</h3>
            </div>
        </div>
        <div class="col-md-7 col-sm-7">
            <div class="whwbr">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Buyer Agent</label>
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-sm-6">

                                @Html.TextBoxFor(model => model.BuyerAgentFirstName, new { @class = "form-control", @placeholder = "First Name", @maxlength = 50 })
                                @Html.ValidationMessageFor(x => x.BuyerAgentFirstName)
                            </div>
                            <div class="col-sm-6">

                                @Html.TextBoxFor(model => model.BuyerAgentLastName, new { @class = "form-control", @placeholder = "Last Name", @maxlength = 50 })
                                @Html.ValidationMessageFor(x => x.BuyerAgentLastName)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Email </label>
                    <div class="col-sm-9">

                        @Html.TextBoxFor(model => model.BuyerAgentEmailAddress, new { @class = "form-control",@maxlength = 50 })
                        @Html.ValidationMessageFor(x => x.BuyerAgentEmailAddress)
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Office Address </label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(model => model.BuyerAgentStreetAddress, new { @class = "form-control", @maxlength = 255 })
                        @Html.ValidationMessageFor(x => x.BuyerAgentStreetAddress)
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">City</label>
                    <div class="col-sm-4">
                        @Html.DropDownListFor(model => model.BuyerAgentCity, (IEnumerable<SelectListItem>)Model.CityList, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.BuyerAgentCity)
                    </div>
                    <div class="col-sm-5">
                        <div class="row">
                            <label class="col-sm-4 control-label">Zip :</label>
                            <div class="col-sm-8">

                                @Html.DropDownListFor(model => model.BuyerAgentZip, (IEnumerable<SelectListItem>)Model.ZipCodesList, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.BuyerAgentZip)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-sm-5">
            <div class="whwbr">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Office</label>
                    <div class="col-sm-8">

                        @Html.TextBoxFor(model => model.BuyerAgentOffice, new { @class = "form-control", @maxlength = 255 })
                        @Html.ValidationMessageFor(x => x.BuyerAgentOffice)
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Phone Number</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.BuyerAgentPhoneDay, new { @class = "form-control mask", @placeholder = "Phone", @maxlength = 50 })
                        @Html.ValidationMessageFor(x => x.BuyerAgentPhoneDay)
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">State</label>
                    <div class="col-sm-8">
                        @Html.DropDownListFor(model => model.BuyerAgentState, (IEnumerable<SelectListItem>)Model.StatesList, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.BuyerAgentState)
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <hr>
        <div class="col-md-7 col-sm-7 tpbm">
            <div class="form-group">
                <div class="col-sm-9">
                    <label class="checkbox-inline">
                        <input type="checkbox" value="option1" id="AgentSameInfo">Same as buyer agent
                    </label>
                </div>
            </div>
        </div>
        <div class="col-md-7 col-sm-7">
            <div class="whwbr">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Seller Agent</label>
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-sm-6">
                                @Html.TextBoxFor(model => model.SellerAgentFirstName, new { @class = "form-control", @placeholder = "First Name", @maxlength = 50 })
                                @Html.ValidationMessageFor(x => x.SellerAgentFirstName)
                            </div>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(model => model.SellerAgentLastName, new { @class = "form-control", @placeholder = "Last Name", @maxlength = 50 })
                                @Html.ValidationMessageFor(x => x.SellerAgentLastName)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Email </label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(model => model.SellerAgentEmailAddress, new { @class = "form-control", @maxlength = 50 })
                        @Html.ValidationMessageFor(x => x.SellerAgentEmailAddress)
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Office Address </label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(model => model.SellerAgentStreetAddress, new { @class = "form-control" ,@maxlength = 250 })
                        @Html.ValidationMessageFor(x => x.SellerAgentStreetAddress)

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">City</label>
                    <div class="col-sm-4">

                        @Html.DropDownListFor(model => model.SellerAgentCity, (IEnumerable<SelectListItem>)Model.CityList, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SellerAgentCity)
                    </div>
                    <div class="col-sm-5">
                        <div class="row">
                            <label class="col-sm-4 control-label">Zip :</label>
                            <div class="col-sm-8">
                                @Html.DropDownListFor(model => model.SellerAgentZip, (IEnumerable<SelectListItem>)Model.ZipCodesList, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.SellerAgentZip)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-sm-5">
            <div class="whwbr">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Office</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.SellerAgentOffice, new { @class = "form-control", @maxlength = 250 })
                        @Html.ValidationMessageFor(x => x.SellerAgentOffice)
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Phone Number</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.SellerAgentPhoneDay, new { @class = "form-control mask", @maxlength = 50, })
                        @Html.ValidationMessageFor(x => x.SellerAgentPhoneDay)
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">State</label>
                    <div class="col-sm-8">

                        @Html.DropDownListFor(model => model.SellerAgentState, (IEnumerable<SelectListItem>)Model.StatesList, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SellerAgentState)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" value="Next" name="BtnNext" class="nextto">Next</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<!-- Loader-->
<div id="loadingModel" class="displayNone overlayPage" style="display: none;">
    <div class="loaderPage">
        <div>
            <img src='@Url.Content("~/Content/Images/loading.gif")' />
        </div>
    </div>
</div>


<!-- /Loader -->
