﻿@model List<SpectorMax.Entities.Classes.ViewPreviousInspection>
@{
    ViewBag.Title = "Index";
                // Layout = "~/Views/Shared/_Layout.cshtml";
}
@using SpectorMax.Entities.Classes
<script src="@Url.Content("~/Scripts/jquery-1.8.2.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.blockUI.js")"></script>
<script src="http://static.scripting.com/github/bootstrap2/js/bootstrap-transition.js"></script>
<script src="http://static.scripting.com/github/bootstrap2/js/bootstrap-modal.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var sessionData =  @Html.Raw(Json.Encode(Sessions.LoggedInUser));

        if(sessionData != null)
        { 
            if(sessionData.RoleName == "Home Buyer")
            {
                $("#anchorLogoImage").attr("href", $URL._BuyerDashBoard);
            }
        }
      
        $("#btnNext").click(function(){
            $(".Page1").css("display","none");
            $(".Page2").css("display","block");
        });
        $("#btnBack").click(function(){
            $(".Page1").css("display","block");
            $(".Page2").css("display","none");
        
        })
        $("#btnSubmitCheckList").click(function () {
            // allocate storage
            var arrOfArr = new Array(77);
            for (var x = 0; x < arrOfArr.length; x++) {
                arrOfArr[x] = new Array(1);
            }

            //var arrOfArr =  [[29], [2]];
            arrOfArr[0][0] = $("input[type='radio'][name='AA']:checked").val();
            if (arrOfArr[0][0].length > 0)
                arrOfArr[0][1] = "AA";
            else
                return false;

            arrOfArr[1][0] = $("input[type='radio'][name='AB']:checked").val();
            if (arrOfArr[1][0].length > 0)
                arrOfArr[1][1] = "AB";
            else
                return false;

            arrOfArr[2][0] = $("input[type='radio'][name='BA']:checked").val();
            if (arrOfArr[2][0].length > 0)
                arrOfArr[2][1] = "BA";
            else
                return false;

            arrOfArr[3][0] = $("input[type='radio'][name='BB']:checked").val();
            if (arrOfArr[3][0].length > 0)
                arrOfArr[3][1] = "BB";
            else
                return false;

            arrOfArr[4][0] = $("input[type='radio'][name='BC']:checked").val();
            if (arrOfArr[4][0].length > 0)
                arrOfArr[4][1] = "BC";
            else
                return false;

            arrOfArr[5][0] = $("input[type='radio'][name='CA']:checked").val();
            if (arrOfArr[5][0].length > 0)
                arrOfArr[5][1] = "CA";
            else
                return false;

            arrOfArr[6][0] = $("input[type='radio'][name='CB']:checked").val();
            if (arrOfArr[6][0].length > 0)
                arrOfArr[6][1] = "CB";
            else
                return false;

            arrOfArr[7][0] = $("input[type='radio'][name='DA']:checked").val();
            if (arrOfArr[7][0].length > 0)
                arrOfArr[7][1] = "DA";
            else
                return false;

            arrOfArr[8][0] = $("input[type='radio'][name='DB']:checked").val();
            if (arrOfArr[8][0].length > 0)
                arrOfArr[8][1] = "DB";
            else
                return false;

            arrOfArr[9][0] = $("input[type='radio'][name='DC']:checked").val();
            if (arrOfArr[9][0].length > 0)
                arrOfArr[9][1] = "DC";
            else
                return false;

            arrOfArr[10][0] = $("input[type='radio'][name='EA']:checked").val();
            if (arrOfArr[10][0].length > 0)
                arrOfArr[10][1] = "EA";
            else
                return false;

            arrOfArr[11][0] = $("input[type='radio'][name='EB']:checked").val();
            if (arrOfArr[11][0].length > 0)
                arrOfArr[11][1] = "EB";
            else
                return false;

            arrOfArr[12][0] = $("input[type='radio'][name='EC']:checked").val();
            if (arrOfArr[12][0].length > 0)
                arrOfArr[12][1] = "EC";
            else
                return false;

            arrOfArr[13][0] = $("input[type='radio'][name='ED']:checked").val();
            if (arrOfArr[13][0].length > 0)
                arrOfArr[13][1] = "ED";
            else
                return false;

            arrOfArr[14][0] = $("input[type='radio'][name='EE']:checked").val();
            if (arrOfArr[14][0].length > 0)
                arrOfArr[14][1] = "EE";
            else
                return false;

            arrOfArr[15][0] = $("input[type='radio'][name='EF']:checked").val();
            if (arrOfArr[15][0].length > 0)
                arrOfArr[15][1] = "EF";
            else
                return false;


            arrOfArr[16][0] = $("input[type='radio'][name='FA']:checked").val();
            if (arrOfArr[16][0].length > 0)
                arrOfArr[16][1] = "FA";
            else
                return false;


            arrOfArr[17][0] = $("input[type='radio'][name='FB']:checked").val();
            if (arrOfArr[17][0].length > 0)
                arrOfArr[17][1] = "FB";
            else
                return false;


            arrOfArr[18][0] = $("input[type='radio'][name='FC']:checked").val();
            if (arrOfArr[18][0].length > 0)
                arrOfArr[18][1] = "FC";
            else
                return false;

            arrOfArr[19][0] = $("input[type='radio'][name='FD']:checked").val();
            if (arrOfArr[19][0].length > 0)
                arrOfArr[19][1] = "FD";
            else
                return false;

            arrOfArr[20][0] = $("input[type='radio'][name='GA']:checked").val();
            if (arrOfArr[20][0].length > 0)
                arrOfArr[20][1] = "GA";
            else
                return false;

            arrOfArr[21][0] = $("input[type='radio'][name='GB']:checked").val();
            if (arrOfArr[21][0].length > 0)
                arrOfArr[21][1] = "GB";
            else
                return false;

            arrOfArr[22][0] = $("input[type='radio'][name='HA']:checked").val();
            if (arrOfArr[22][0].length > 0)
                arrOfArr[22][1] = "HA";
            else
                return false;

            arrOfArr[23][0] = $("input[type='radio'][name='HB']:checked").val();
            if (arrOfArr[23][0].length > 0)
                arrOfArr[23][1] = "HB";
            else
                return false;

            arrOfArr[24][0] = $("input[type='radio'][name='IA']:checked").val();
            if (arrOfArr[24][0].length > 0)
                arrOfArr[24][1] = "IA";
            else
                return false;

            arrOfArr[25][0] = $("input[type='radio'][name='IB']:checked").val();
            if (arrOfArr[25][0].length > 0)
                arrOfArr[25][1] = "IB";
            else
                return false;

            arrOfArr[26][0] = $("input[type='radio'][name='JA']:checked").val();
            if (arrOfArr[26][0].length > 0)
                arrOfArr[26][1] = "JA";
            else
                return false;

            arrOfArr[27][0] = $("input[type='radio'][name='JB']:checked").val();
            if (arrOfArr[27][0].length > 0)
                arrOfArr[27][1] = "JB";
            else
                return false;

            arrOfArr[28][0] = $("input[type='radio'][name='JC']:checked").val();
            if (arrOfArr[28][0].length > 0)
                arrOfArr[28][1] = "JC";
            else
                return false;
            arrOfArr[29][0] = $("input[type='radio'][name='AA1']:checked").val();
            if (arrOfArr[29][0].length > 0)
                arrOfArr[29][1] = "AA1";
            else
                return false;

            arrOfArr[30][0] = $("input[type='radio'][name='AB1']:checked").val();
            if (arrOfArr[30][0].length > 0)
                arrOfArr[30][1] = "AB1";
            else
                return false;
            arrOfArr[31][0] = $("input[type='radio'][name='AC1']:checked").val();
            if (arrOfArr[31][0].length > 0)
                arrOfArr[31][1] = "AC1";
            else
                return false;
            arrOfArr[32][0] = $("input[type='radio'][name='AD1']:checked").val();
            if (arrOfArr[32][0].length > 0)
                arrOfArr[32][1] = "AD1";
            else
                return false;
            arrOfArr[33][0] = $("input[type='radio'][name='AE1']:checked").val();
            if (arrOfArr[33][0].length > 0)
                arrOfArr[33][1] = "AE1";
            else
                return false;
          
            arrOfArr[34][0] = $("input[type='radio'][name='BA1']:checked").val();
            if (arrOfArr[34][0].length > 0)
                arrOfArr[34][1] = "BA1";
            else
                return false;
            arrOfArr[35][0] = $("input[type='radio'][name='BB1']:checked").val();
            if (arrOfArr[35][0].length > 0)
                arrOfArr[35][1] = "BB1";
            else
                return false;
            arrOfArr[36][0] = $("input[type='radio'][name='BA2']:checked").val();
            if (arrOfArr[36][0].length > 0)
                arrOfArr[36][1] = "BA2";
            else
                return false;

            arrOfArr[37][0] = $("input[type='radio'][name='BB2']:checked").val();
            if (arrOfArr[37][0].length > 0)
                arrOfArr[37][1] = "BB2";
            else
                return false;

            arrOfArr[38][0] = $("input[type='radio'][name='BB3']:checked").val();
            if (arrOfArr[38][0].length > 0)
                arrOfArr[38][1] = "BB3";
            else
                return false;
            arrOfArr[39][0] = $("input[type='radio'][name='BB4']:checked").val();
            if (arrOfArr[39][0].length > 0)
                arrOfArr[39][1] = "BB4";
            else
                return false;
            arrOfArr[40][0] = $("input[type='radio'][name='BB5']:checked").val();
            if (arrOfArr[40][0].length > 0)
                arrOfArr[40][1] = "BB5";
            else
                return false;
            arrOfArr[41][0] = $("input[type='radio'][name='BB6']:checked").val();
            if (arrOfArr[41][0].length > 0)
                arrOfArr[41][1] = "BB6";
            else
                return false;
            arrOfArr[42][0] = $("input[type='radio'][name='B51']:checked").val();
            if (arrOfArr[42][0].length > 0)
                arrOfArr[42][1] = "B51";
            else
                return false;

            arrOfArr[43][0] = $("input[type='radio'][name='B52']:checked").val();
            if (arrOfArr[43][0].length > 0)
                arrOfArr[43][1] = "B52";
            else
                return false;

            arrOfArr[44][0] = $("input[type='radio'][name='B53']:checked").val();
            if (arrOfArr[44][0].length > 0)
                arrOfArr[44][1] = "B53";
            else
                return false;

            arrOfArr[45][0] = $("input[type='radio'][name='B54']:checked").val();
            if (arrOfArr[45][0].length > 0)
                arrOfArr[45][1] = "B54";
            else
                return false;


            arrOfArr[46][0] = $("input[type='radio'][name='B54']:checked").val();
            if (arrOfArr[46][0].length > 0)
                arrOfArr[46][1] = "B54";
            else
                return false;
            arrOfArr[47][0] = $("input[type='radio'][name='B55']:checked").val();
            if (arrOfArr[47][0].length > 0)
                arrOfArr[47][1] = "B55";
            else
                return false;

            arrOfArr[48][0] = $("input[type='radio'][name='B56']:checked").val();
            if (arrOfArr[48][0].length > 0)
                arrOfArr[48][1] = "B55";
            else
                return false;


            arrOfArr[49][0] = $("input[type='radio'][name='B57']:checked").val();
            if (arrOfArr[49][0].length > 0)
                arrOfArr[49][1] = "B57";
            else
                return false;


            arrOfArr[50][0] = $("input[type='radio'][name='B31']:checked").val();
            if (arrOfArr[50][0].length > 0)
                arrOfArr[50][1] = "B31";
            else
                return false;

            arrOfArr[51][0] = $("input[type='radio'][name='B32']:checked").val();
            if (arrOfArr[51][0].length > 0)
                arrOfArr[51][1] = "B32";
            else
                return false;

            
            arrOfArr[52][0] = $("input[type='radio'][name='B33']:checked").val();
            if (arrOfArr[52][0].length > 0)
                arrOfArr[52][1] = "B33";
            else
                return false;

            
            arrOfArr[53][0] = $("input[type='radio'][name='B34']:checked").val();
            if (arrOfArr[53][0].length > 0)
                arrOfArr[53][1] = "B34";
            else
                return false;

            arrOfArr[54][0] = $("input[type='radio'][name='B35']:checked").val();
            if (arrOfArr[54][0].length > 0)
                arrOfArr[54][1] = "B35";
            else
                return false;

            arrOfArr[55][0] = $("input[type='radio'][name='B36']:checked").val();
            if (arrOfArr[55][0].length > 0)
                arrOfArr[55][1] = "B36";
            else
                return false;

            arrOfArr[56][0] = $("input[type='radio'][name='B37']:checked").val();
            if (arrOfArr[56][0].length > 0)
                arrOfArr[56][1] = "B37";
            else
                return false;

            
            arrOfArr[57][0] = $("input[type='radio'][name='B38']:checked").val();
            if (arrOfArr[57][0].length > 0)
                arrOfArr[57][1] = "B38";
            else
                return false;

            arrOfArr[58][0] = $("input[type='radio'][name='B39']:checked").val();
            if (arrOfArr[58][0].length > 0)
                arrOfArr[58][1] = "B39";
            else
                return false;
            arrOfArr[59][0] = $("input[type='radio'][name='B30']:checked").val();
            if (arrOfArr[59][0].length > 0)
                arrOfArr[59][1] = "B30";
            else
                return false;

            arrOfArr[60][0] = $("input[type='radio'][name='B311']:checked").val();
            if (arrOfArr[60][0].length > 0)
                arrOfArr[60][1] = "B311";
            else
                return false;

            arrOfArr[61][0] = $("input[type='radio'][name='B312']:checked").val();
            if (arrOfArr[61][0].length > 0)
                arrOfArr[61][1] = "B312";
            else
                return false;


            arrOfArr[62][0] = $("input[type='radio'][name='B4']:checked").val();
            if (arrOfArr[62][0].length > 0)
                arrOfArr[62][1] = "B4";
            else
                return false;
            arrOfArr[63][0] = $("input[type='radio'][name='B41']:checked").val();
            if (arrOfArr[63][0].length > 0)
                arrOfArr[63][1] = "B41";
            else
                return false;
            arrOfArr[64][0] = $("input[type='radio'][name='B43']:checked").val();
            if (arrOfArr[64][0].length > 0)
                arrOfArr[64][1] = "B43";
            else
                return false;


            arrOfArr[65][0] = $("input[type='radio'][name='B44']:checked").val();
            if (arrOfArr[65][0].length > 0)
                arrOfArr[65][1] = "B44";
            else
                return false;

            arrOfArr[66][0] = $("input[type='radio'][name='B45']:checked").val();
            if (arrOfArr[66][0].length > 0)
                arrOfArr[66][1] = "B45";
            else
                return false;
            arrOfArr[67][0] = $("input[type='radio'][name='B6']:checked").val();
            if (arrOfArr[67][0].length > 0)
                arrOfArr[67][1] = "B6";
            else
                return false;

            arrOfArr[68][0] = $("input[type='radio'][name='B61']:checked").val();
            if (arrOfArr[68][0].length > 0)
                arrOfArr[68][1] = "B61";
            else
                return false;
            
            arrOfArr[69][0] = $("input[type='radio'][name='B63']:checked").val();
            if (arrOfArr[69][0].length > 0)
                arrOfArr[69][1] = "B63";
            else
                return false;

            arrOfArr[70][0] = $("input[type='radio'][name='B64']:checked").val();
            if (arrOfArr[70][0].length > 0)
                arrOfArr[70][1] = "B64";
            else
                return false;

            arrOfArr[71][0] = $("input[type='radio'][name='B65']:checked").val();
            if (arrOfArr[71][0].length > 0)
                arrOfArr[71][1] = "B64";
            else
                return false;
            arrOfArr[72][0] = $("input[type='radio'][name='B66']:checked").val();
            if (arrOfArr[72][0].length > 0)
                arrOfArr[72][1] = "B66";
            else
                return false;
            arrOfArr[73][0] = $("input[type='radio'][name='B68']:checked").val();
            if (arrOfArr[73][0].length > 0)
                arrOfArr[73][1] = "B68";
            else
                return false;

            arrOfArr[74][0] = $("input[type='radio'][name='B69']:checked").val();
            if (arrOfArr[74][0].length > 0)
                arrOfArr[74][1] = "B69";
            else
                return false;
            arrOfArr[75][0] = $("input[type='radio'][name='B60']:checked").val();
            if (arrOfArr[75][0].length > 0)
                arrOfArr[75][1] = "B60";
            else
                return false;


            arrOfArr[76][0] = $("#PropertyAddress").val();

            var jsonData = JSON.stringify(arrOfArr);         
            if (arrOfArr.length == 77) {

                $.blockUI({
                    css: {
                        border: 'none',
                        padding: '15px',
                        backgroundColor: '#000',
                        '-webkit-border-radius': '10px',
                        '-moz-border-radius': '10px',
                        opacity: .5,
                        color: '#fff'
                    }
                });
              

                $.ajax({
                    url: "/PreClosingCheckList/SavePreClosingCheckList",
                    type: "Post",
                    contentType: "application/json; charset=utf-8",
                    data: jsonData,//{ checkListValues: jsonData, value: $("#PropertyAddress").val() },
                    dataType: "Json",
                    success: function (result) {
                        if (result.Message == "Success") {
                            
                            setTimeout($.unblockUI, 1000);
                            $("#PopupDiv").width(500);
                            $("#PopupDiv").html("<div style='color:red'>Data Inserted Successfully</div>");
                            $("#PopupDiv").modal("show");
                            $(location).attr("href", "/PreClosingCheckList/Index");                         
                           
                        }
                        else {
                            
                            setTimeout($.unblockUI, 1000);
                            $("#PopupDiv").width(500);
                            $("#PopupDiv").html("<div style='color:red'></div>");
                            $("#PopupDiv").html(result.Message);
                            $("#PopupDiv").modal("show");
                        }
                    },
                    error: function () {
                        
                        setTimeout($.unblockUI, 1000);
                        $("#PopupDiv").width(500);
                        $("#PopupDiv").html("<div style='color:red'>Failure in insertion, Please try again</div>");
                        $("#PopupDiv").modal("show");
                    },
                });
            }
            else {
                alert("Please Select value for all values");
            }

        });
    });
</script>
<h2>Home Inspection CheckList</h2>
<div id="divSuccess"></div>
<table>
    <tr>
        <td>
            @Html.DropDownList(
    "PropertyAddress",
    new SelectList(
        Model.Select(x => new { Value = x.InspectionOrderId, text = x.PropertyAddress + "," + x.PropertyAddressCity + "," + x.PropertyAddressState }),
        "Value",
        "Text"
    )
)
        </td>
    </tr>
    <tr class="Page1" style="display:block">
        <td>
            <div id="A">
                <div style="background-color: #93c47d; border: double">OVERALL: </div>
                <table>
                    <tr>
                        <td>A. Previously agreed to repairs have all been made.</td>
                        <td>@Html.RadioButton("AA", 1)Yes</td>
                        <td>@Html.RadioButton("AA", 0,true)No</td>
                    </tr>
                    <tr>
                        <td>B. Warranties and/or guarantees have been provided for the repairs made.</td>
                        <td>@Html.RadioButton("x", 1)Yes</td>
                        <td>@Html.RadioButton("AB", 0,true)No</td>
                    </tr>
                </table>
            </div>
            <div id="B">
                <div style="background-color: #93c47d; border: double">BUILDING EXTERIOR:</div>
                <table>
                    <tr>
                        <td>A. Window screens, where applicable, are all in place and showing no new damage.</td>
                        <td>@Html.RadioButton("BA", 1)Yes</td>
                        <td>@Html.RadioButton("BA", 0,true)No</td>
                    </tr>
                    <tr>
                        <td>B. Water does not appear to be ponding or puddling near the building.</td>
                        <td>@Html.RadioButton("BB", 1)Yes</td>
                        <td>@Html.RadioButton("BB", 0,true)No</td>
                    </tr>
                    <tr>
                        <td>C. There appears to be no new deterioration or damage to doors, decks, or siding</td>
                        <td>@Html.RadioButton("BC", 1)Yes</td>
                        <td>@Html.RadioButton("BC", 0,true)No</td>
                    </tr>
                </table>
            </div>

            <div id="C">
                <div style="background-color: #93c47d; border: double">ROOF:</div>
                <table>
                    <tr>
                        <td>A. There appears to be no signs of leaks or new roof damage.</td>
                        <td>@Html.RadioButton("CA", 1)Yes</td>
                        <td>@Html.RadioButton("CA", 0,true)No</td>
                    </tr>
                    <tr>
                        <td>B. All gutters and downspouts appear to be properly attached.</td>
                        <td>@Html.RadioButton("CB", 1)Yes</td>
                        <td>@Html.RadioButton("CB", 0,true)No</td>
                    </tr>
                </table>
            </div>
            <div id="D">
                <div style="background-color: #93c47d; border: double">GARAGE:</div>
                <table>
                    <tr>
                        <td>A. Garage door and opener operate properly.</td>
                        <td>@Html.RadioButton("DA", 1)Yes</td>
                        <td>@Html.RadioButton("DA", 0,true)No</td>
                    </tr>
                    <tr>
                        <td>B. Garage door opener remote control(s) are available and functioning.</td>
                        <td>@Html.RadioButton("DB", 1)Yes</td>
                        <td>@Html.RadioButton("DB", 0,true)No</td>
                    </tr>
                    <tr>
                        <td>C. Wall surfaces (possibly concealed at the time of the inspection) do not show damage.</td>
                        <td>@Html.RadioButton("DC", 1)Yes</td>
                        <td>@Html.RadioButton("DC", 0,true)No</td>
                    </tr>
                </table>
            </div>
            <div id="E">
                <div style="background-color: #93c47d; border: double">FLOORS, WALLS AND CEILINGS:</div>
                <table>
                    <tr>
                        <td>A. There appears to be no new water stains.</td>
                        <td>@Html.RadioButton("EA", 1)Yes</td>
                        <td>@Html.RadioButton("EA", 0,true)No</td>
                    </tr>
                    <tr>
                        <td>B. There appears to be no new cracks.</td>
                        <td>@Html.RadioButton("EB", 1)Yes</td>
                        <td>@Html.RadioButton("EB", 0,true)No</td>
                    </tr>
                    <tr>
                        <td>C. No new cracked windows were detected.</td>
                        <td>@Html.RadioButton("EC", 1)Yes</td>
                        <td>@Html.RadioButton("EC", 0,true)No</td>
                    </tr>
                    <tr>
                        <td>D. No new condensation or staining found between the panes of multi-pane windows.</td>
                        <td>@Html.RadioButton("ED", 1)Yes</td>
                        <td>@Html.RadioButton("ED", 0,true)No</td>
                    </tr>
                    <tr>
                        <td>E. All furniture removed from the home, all floors are in good condition, free of stains and damage.</td>
                        <td>@Html.RadioButton("EE", 1)Yes</td>
                        <td>@Html.RadioButton("EE", 0,true)No</td>
                    </tr>
                    <tr>
                        <td>F. All permanent fixtures are in place and do not appear to be damaged.</td>
                        <td>@Html.RadioButton("EF", 1)Yes</td>
                        <td>@Html.RadioButton("EF", 0,true)No</td>
                    </tr>
                </table>
            </div>
        </td>
        <td>
            <div style="margin-top: -150px;">
                <div id="F">
                    <div style="background-color: #93c47d; border: double">PLUMBING1:</div>
                    <table>
                        <tr>
                            <td>A. All fixtures are present and appear to function properly.</td>
                            <td>@Html.RadioButton("FA", 1)Yes</td>
                            <td>@Html.RadioButton("FA", 0,true)No</td>
                        </tr>
                        <tr>
                            <td>B. All tubs, showers and basins drain properly.</td>
                            <td>@Html.RadioButton("FB", 1)Yes</td>
                            <td>@Html.RadioButton("FB", 0,true)No</td>
                        </tr>
                        <tr>
                            <td>C. All toilets flush properly.</td>
                            <td>@Html.RadioButton("FC", 1)Yes</td>
                            <td>@Html.RadioButton("FC", 0,true)No</td>
                        </tr>
                        <tr>
                            <td>D. Faucets provide both hot and cold water.</td>
                            <td>@Html.RadioButton("FD", 1)Yes</td>
                            <td>@Html.RadioButton("FD", 0,true)No</td>
                        </tr>
                    </table>
                </div>

                <div id="G">
                    <div style="background-color: #93c47d; border: double">PLUMBING2:</div>
                    <table>
                        <tr>
                            <td>A. All permanent light fixtures are present and appear to function.</td>
                            <td>@Html.RadioButton("GA", 1)Yes</td>
                            <td>@Html.RadioButton("GA", 0,true)No</td>
                        </tr>
                        <tr>
                            <td>B. All switches and receptacles appear to work properly, with covers in place.</td>
                            <td>@Html.RadioButton("GB", 1)Yes</td>
                            <td>@Html.RadioButton("GB", 0,true)No</td>
                        </tr>
                    </table>
                </div>


                <div id="H">
                    <div style="background-color: #93c47d; border: double">HEATING AND COOLING:</div>
                    <table>
                        <tr>
                            <td>A. Thermostat appears to operate properly.</td>
                            <td>@Html.RadioButton("HA", 1)Yes</td>
                            <td>@Html.RadioButton("HA", 0,true)No</td>
                        </tr>
                        <tr>
                            <td>B. Air flow is detected from tested registers.</td>
                            <td>@Html.RadioButton("HB", 1)Yes</td>
                            <td>@Html.RadioButton("HB", 0,true)No</td>
                        </tr>
                    </table>
                </div>

                <div id="I">
                    <div style="background-color: #93c47d; border: double">ATTIC AND/OR CRAWL SPACE:</div>
                    <table>
                        <tr>
                            <td>A. The attic and/or crawl space are free of abandoned items.</td>
                            <td>@Html.RadioButton("IA", 1)Yes</td>
                            <td>@Html.RadioButton("IA", 0,true)No</td>
                        </tr>
                        <tr>
                            <td>B. The attic and crawl space appear to be free of birds, rodents and/or animals.</td>
                            <td>@Html.RadioButton("IB", 1)Yes</td>
                            <td>@Html.RadioButton("IB", 0,true)No</td>
                        </tr>
                    </table>
                </div>
                <div id="J">
                    <div style="background-color: #93c47d; border: double">KITCHEN:</div>
                    <table>
                        <tr>
                            <td>A. All appliances to be sold with the house are present and appear to be functioning.</td>
                            <td>@Html.RadioButton("JA", 1)Yes</td>
                            <td>@Html.RadioButton("JA", 0,true)No</td>
                        </tr>
                        <tr>
                            <td>B. There are no new signs of water leakage or damage near the refrigerator or dishwasher.</td>
                            <td>@Html.RadioButton("JB", 1)Yes</td>
                            <td>@Html.RadioButton("JB", 0,true)No</td>
                        </tr>
                        <tr>
                            <td>C. The garbage disposal appears to function properly.</td>
                            <td>@Html.RadioButton("JC", 1)Yes</td>
                            <td>@Html.RadioButton("JC", 0,true)No</td>
                        </tr>
                    </table>

                </div>

                <div style="margin-left: auto;">
                    <input type="button" class="btn" id="btnNext" value="Next" />
                    <div id="PopupDiv1" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Add new Emergency Contact"
                        aria-hidden="true" title="Payment">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                </div>
            </div>

        </td>
    </tr>


    <tr class="Page2" style="vertical-align:top;display:none">
         <td>
               
        <div id="A1">
                <div style="background-color: #93c47d; border: double">ATTIC: </div>
                <table>
                    <tr>
                        <td>A. Can you get to the attic easily?.</td>
                        <td>@Html.RadioButton("AA1", 1)Yes</td>
                        <td>@Html.RadioButton("AA1", 0,true)No</td>
                    </tr>
                    <tr>
                        <td>B. Do you see signs of leaks or water damage? </td>
                        <td>@Html.RadioButton("AB1", 1)Yes</td>
                        <td>@Html.RadioButton("AB1", 0,true)No</td>
                    </tr>
                       <tr>
                        <td>C.Is the attic well-ventilated (not damp)? </td>
                        <td>@Html.RadioButton("AC1", 1)Yes</td>
                        <td>@Html.RadioButton("AC1", 0,true)No</td>
                    </tr>
                     <tr>
                        <td>D.Is the attic well-ventilated (not damp)? </td>
                        <td>@Html.RadioButton("AD1", 1)Yes</td>
                        <td>@Html.RadioButton("AD1", 0,true)No</td>
                    </tr>
                     <tr>
                        <td>E.Is the attic insulated? </td>
                        <td>@Html.RadioButton("AE1", 1)Yes</td>
                        <td>@Html.RadioButton("AE1", 0,true)No</td>
                    </tr>
                   
                </table>
            </div>
        <div id="B1">
                <div style="background-color: #93c47d; border: double">BALCONIES: </div>
                <table>
                    <tr>
                        <td>A.Is the balcony pitched away from the house for proper drainage? .</td>
                        <td>@Html.RadioButton("BA1", 1)Yes</td>
                        <td>@Html.RadioButton("BA1", 0,true)No</td>
                    </tr>
                    <tr>
                        <td>B. Are the supporting beams in good condition, with no signs of rot or wear? </td>
                        <td>@Html.RadioButton("BB1", 1)Yes</td>
                        <td>@Html.RadioButton("BB1", 0,true)No</td>
                    </tr>
                </table>
            </div>
        <div id="B2">
                <div style="background-color: #93c47d; border: double">BASEMENT: </div>
                <table>
                    <tr>
                        <td>A.Does the basement smell damp or musty? .</td>
                        <td>@Html.RadioButton("BA2", 1)Yes</td>
                        <td>@Html.RadioButton("BA2", 0,true)No</td>
                    </tr>
                    <tr>
                        <td>B. Do you see signs of water leaks on the ceiling or floor? </td>
                        <td>@Html.RadioButton("BB2", 1)Yes</td>
                        <td>@Html.RadioButton("BB2", 0,true)No</td>
                    </tr>
                       <tr>
                        <td>C. Do you see any signs of water seepage around the foundation?  </td>
                        <td>@Html.RadioButton("BB3", 1)Yes</td>
                        <td>@Html.RadioButton("BB3", 0,true)No</td>
                    </tr>
                         <tr>
                        <td>D. If beams are exposed, do you see any signs of termite damage?  </td>
                        <td>@Html.RadioButton("BB4", 1)Yes</td>
                        <td>@Html.RadioButton("BB4", 0,true)No</td>
                    </tr>
                       
                         <tr>
                        <td>E.If beams are exposed, do you see any rotten wood? </td>
                        <td>@Html.RadioButton("BB5", 1)Yes</td>
                        <td>@Html.RadioButton("BB5", 0,true)No</td>
                    </tr>
                    
                         <tr>
                        <td>F.Do you see any cracks in the basement interior? </td>
                        <td>@Html.RadioButton("BB6", 1)Yes</td>
                        <td>@Html.RadioButton("BB6", 0,true)No</td>
                    </tr>
                </table>
            </div>
        <div id="B5">
                <div style="background-color: #93c47d; border: double">CRAWL SPACE: </div>
                <table>
                    <tr>
                        <td>A.Is crawl space easily accessible? .</td>
                        <td>@Html.RadioButton("B51", 1)Yes</td>
                        <td>@Html.RadioButton("B51", 0,true)No</td>
                    </tr>
                    <tr>
                        <td>B.Is the crawl space damp? </td>
                        <td>@Html.RadioButton("B52", 1)Yes</td>
                        <td>@Html.RadioButton("B52", 0,true)No</td>
                    </tr>
                       <tr>
                        <td>C. Do you see cracks in the foundation? </td>
                        <td>@Html.RadioButton("B53", 1)Yes</td>
                        <td>@Html.RadioButton("B53", 0,true)No</td>
                    </tr>
                         <tr>
                        <td>D. Is the foundation crumbling?  </td>
                        <td>@Html.RadioButton("B54", 1)Yes</td>
                        <td>@Html.RadioButton("B54", 0,true)No</td>
                    </tr>
                       
                         <tr>
                        <td>E.Is there moisture along the foundation? </td>
                        <td>@Html.RadioButton("B55", 1)Yes</td>
                        <td>@Html.RadioButton("B55", 0,true)No</td>
                    </tr>
                    
                         <tr>
                        <td>F.Do you see any termite damage to the wood? </td>
                        <td>@Html.RadioButton("B56", 1)Yes</td>
                        <td>@Html.RadioButton("B56", 0,true)No</td>
                    </tr>
                       
                         <tr>
                        <td>G.Do you see any signs of rotting wood? </td>
                        <td>@Html.RadioButton("B57", 1)Yes</td>
                        <td>@Html.RadioButton("B57", 0,true)No</td>
                    </tr>
                </table>
            </div>
                  
              </td>
        <td>
         
            <div id="B3">
                <div style="background-color: #93c47d; border: double">BATHROOM: </div>
                <table>
                    <tr>
                        <td>A. Put pressure on the floor by the toilet. Does it feel spongy? </td>
                        <td>@Html.RadioButton("B31", 1)Yes</td>
                        <td>@Html.RadioButton("B31", 0,true)No</td>
                    </tr>
                    <tr>
                        <td>B.Are there loose tiles?.</td>
                        <td>@Html.RadioButton("B32", 1)Yes</td>
                        <td>@Html.RadioButton("B32", 0,true)No</td>
                    </tr>
                      <tr>
                        <td>C.Is the caulking around the tub or shower moldy or missing?.</td>
                        <td>@Html.RadioButton("B33", 1)Yes</td>
                        <td>@Html.RadioButton("B33", 0,true)No</td>
                    </tr>
                    <tr>
                        <td>D.Is the floor of the shower (shower pan) cracked or damaged? .</td>
                        <td>@Html.RadioButton("B34", 1)Yes</td>
                        <td>@Html.RadioButton("B34", 0,true)No</td>
                    </tr>
                    <tr>
                        <td>E.Are the electrical outlets in the bathroom GFCI outlets? .</td>
                        <td>@Html.RadioButton("B35", 1)Yes</td>
                        <td>@Html.RadioButton("B35", 0,true)No</td>
                    </tr>
                       <tr>
                        <td>F.Do you see water stains, sagging floors, or signs of mold?  .</td>
                        <td>@Html.RadioButton("B36", 1)Yes</td>
                        <td>@Html.RadioButton("B36", 0,true)No</td>
                    </tr>
                     <tr>
                        <td>G.Run the faucets. Do the drains empty slowly? Do they gurgle? .</td>
                        <td>@Html.RadioButton("B37", 1)Yes</td>
                        <td>@Html.RadioButton("B37", 0,true)No</td>
                    </tr>
                     <tr>
                        <td>H.Run the faucets. Is the water pressure too low? .</td>
                        <td>@Html.RadioButton("B38", 1)Yes</td>
                        <td>@Html.RadioButton("B38", 0,true)No</td>
                    </tr>
                      <tr>
                        <td>I.Do you see water stains, sagging floors, or signs of mold?  .</td>
                        <td>@Html.RadioButton("B39", 1)Yes</td>
                        <td>@Html.RadioButton("B39", 0,true)No</td>
                    </tr>
                    <tr>
                        <td>J.Run the faucets. Do the drains empty slowly? Do they gurgle?  .</td>
                        <td>@Html.RadioButton("B30", 1)Yes</td>
                        <td>@Html.RadioButton("B30", 0,true)No</td>
                    </tr>
                     <tr>
                        <td>K.Run the faucets. Is the water pressure too low? .</td>
                        <td>@Html.RadioButton("B311", 1)Yes</td>
                        <td>@Html.RadioButton("B311", 0,true)No</td>
                    </tr>
                     <tr>
                        <td>L.Does the bathroom have ventilation? (an adequate window or fan) .</td>
                        <td>@Html.RadioButton("B312", 1)Yes</td>
                        <td>@Html.RadioButton("B312", 0,true)No</td>
                    </tr>
                </table>
            </div>
            <div id="B4">
                <div style="background-color: #93c47d; border: double">CELLINGS, FLOORS, WALLS: </div>
                <table>
                    <tr>
                        <td>A. Are there any water spots on ceilings, walls or floors?  </td>
                        <td>@Html.RadioButton("B4", 1)Yes</td>
                        <td>@Html.RadioButton("B4", 0,true)No</td>
                    </tr>
                    <tr>
                        <td>B.Is the drywall pulling away on the walls?.</td>
                        <td>@Html.RadioButton("B41", 1)Yes</td>
                        <td>@Html.RadioButton("B41", 0,true)No</td>
                    </tr>
                      <tr>
                        <td>C.Are the walls cracked?.</td>
                        <td>@Html.RadioButton("B43", 1)Yes</td>
                        <td>@Html.RadioButton("B43", 0,true)No</td>
                    </tr>
                    <tr>
                        <td>D.Do the floors feel spongy or weak? .</td>
                        <td>@Html.RadioButton("B44", 1)Yes</td>
                        <td>@Html.RadioButton("B44", 0,true)No</td>
                    </tr>
                    <tr>
                        <td>E.Do the floors slope in any of the rooms?  .</td>
                        <td>@Html.RadioButton("B45", 1)Yes</td>
                        <td>@Html.RadioButton("B45", 0,true)No</td>
                    </tr>
                     
                </table>
            </div>
            <div id="B6">
                <div style="background-color: #93c47d; border: double">DECKS & PORCHES: </div>
                <table>
                    <tr>
                        <td>A. Check the posts, railings, floor and steps.  </td>
                        <td>@Html.RadioButton("B6", 1)Yes</td>
                        <td>@Html.RadioButton("B6", 0,true)No</td>
                    </tr>
                    <tr>
                        <td>B.Do you see any signs of rot?.</td>
                        <td>@Html.RadioButton("B61", 1)Yes</td>
                        <td>@Html.RadioButton("B61", 0,true)No</td>
                    </tr>
                      <tr>
                        <td>C.Do you see any termite damage? .</td>
                        <td>@Html.RadioButton("B63", 1)Yes</td>
                        <td>@Html.RadioButton("B63", 0,true)No</td>
                    </tr>
                    <tr>
                        <td>D.Are the railings secure?  .</td>
                        <td>@Html.RadioButton("B64", 1)Yes</td>
                        <td>@Html.RadioButton("B64", 0,true)No</td>
                    </tr>
                    <tr>
                        <td>E.Are the steps sturdy?  .</td>
                        <td>@Html.RadioButton("B65", 1)Yes</td>
                        <td>@Html.RadioButton("B65", 0,true)No</td>
                    </tr>
                      <tr>
                        <td>F.Does the porch have its own foundation (not sitting on soil)?  .</td>
                        <td>@Html.RadioButton("B66", 1)Yes</td>
                        <td>@Html.RadioButton("B66", 0,true)No</td>
                    </tr>
                                          <tr>
                        <td>G.Run the faucets. Do the drains empty slowly? Do they gurgle?  .</td>
                        <td>@Html.RadioButton("B68", 1)Yes</td>
                        <td>@Html.RadioButton("B68", 0,true)No</td>
                    </tr>
                                           <tr>
                        <td>H.Run the faucets. Is the water pressure too low?  .</td>
                        <td>@Html.RadioButton("B69", 1)Yes</td>
                        <td>@Html.RadioButton("B69", 0,true)No</td>
                    </tr>
                                              <tr>
                        <td>I.Does the bathroom have ventilation? (an adequate window or fan)  .</td>
                        <td>@Html.RadioButton("B60", 1)Yes</td>
                        <td>@Html.RadioButton("B60", 0,true)No</td>
                    </tr>
                </table>
            </div>

            <div style="margin-left: auto;">
                <input type="button" class="btn" id="btnBack" value="Back" />
                    <input type="button" class="btn" id="btnSubmitCheckList" value="Submit" />
                    <div id="PopupDiv" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Add new Emergency Contact"
                        aria-hidden="true" title="Payment">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                </div>
        </td>
    </tr>

</table>
