@model SpectorMax.Entities.Classes.UserInfoPoco
@{
                        //Layout = @Url.Content("~/Views/Shared/_LayoutOutside.cshtml");
}
@* This partial view defines form fields that will appear when creating and editing entities *@
<!--================container start===============-->

  <div class="bs-exampleExp" style="display: none;text-align: left;">
                    <div class="alert alert-danger alert-error">

                        <strong>Error!</strong>
                        <label id="lblErrorExp">Email ID already exists, please try another email address or login.</label>
                    </div>
                </div>
    <div class="alert alert-success" id="Sucess" style="display:none;margin-top: 22px;">

        <a href="#" class="close" data-dismiss="alert">&times;</a>

        <strong>Success!</strong> Inspection Order Created Successfully. Our inspector will contact you shortly. 

    </div>
    <div class="row">
        @*<div class="col-md-12">
            <h2 class="text-center">Inspection Request Form</h2>
        </div>*@
    </div>
    <div class="row">
        <div class="col-md-12 defineStep text-center">
            <h3 class="text-center">Request Information</h3>
        </div>
    </div>
    <div class="col-md-6 ng-scope">
       
            <div class="form-group">
                <div class="col-sm-4 text-left">
                    <label>First Name</label>
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @maxlength = 50, @placeholder = "First Name" })
                    <span class="help-inline">@Html.ValidationMessageFor(x => x.FirstName)</span>
                    @Html.HiddenFor(model=>model.Role)
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-4 text-left">
                    <label>House Number</label>
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.Address, new { @class = "form-control", @maxlength = 50, @placeholder = "House Number" })
                    <span class="help-inline">@Html.ValidationMessageFor(x => x.Address)</span>
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-4 text-left">
                    <label>Apartment/Suites</label>
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.AddressLine2, new { @class = "form-control", @maxlength = 50, @placeholder = "Apartment/Suites" })
                    <span class="help-inline">@Html.ValidationMessageFor(x => x.AddressLine2)</span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-4 text-left">
                    <label>City</label>
                </div>
                <div class="col-sm-8">

                    @Html.DropDownListFor(model => model.CityId, (IEnumerable<SelectListItem>)Model.CityList, new { @class = "form-control ",@Id="City" })

                    <img id="imgCity" style="display: none" src="~/content/images/ui-anim_basic_16x16.gif" />
                    @Html.ValidationMessageFor(model => model.CityId)
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-4 text-left">
                    <label>Phone No</label>
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.PhoneNo, new { @class = "form-control", id = "phone", @placeHolder = "Phone Number" })
                    @Html.ValidationMessageFor(model => model.PhoneNo)
                </div>
            </div>

           <div class="form-group">
                <div class="col-sm-4 text-left">
                    <label>EmailAddress</label>
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.EmailAddress, new { @class = "form-control",@placeHolder="Email Address" })
                    @Html.ValidationMessageFor(model => model.EmailAddress)
                </div>
            </div>

           <div class="form-group">
                <div class="col-sm-4 text-left">
                    <label>Security Question</label>
                </div>
                <div class="col-sm-8">
                    @Html.DropDownListFor(model => model.SecurityQuestion, (IEnumerable<SelectListItem>)Model.SecurityQuestion1, new { @class = "form-control " })
                    @Html.ValidationMessageFor(model => model.SecurityQuestion)
                </div>
            </div>

              <div class="form-group">
                <div class="col-sm-4 text-left">
                    <label>Password</label>
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.Password, new { @class = "form-control", type = "password", id = "pwd",@placeholder = "Password"  })
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
            </div>
        
    </div>
    <div class="col-md-6">
       
           <div class="form-group">
                <div class="col-sm-4 text-left">
                    <label>Last Name</label>
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", @maxlength = 50, @placeholder = "Last Name" })
                    <span class="help-inline">@Html.ValidationMessageFor(x => x.LastName)</span>
                </div>
            </div>

             <div class="form-group">
                <label class="col-sm-4 text-left">StreetAddress</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.StreetAddress, new { @class = "form-control", @maxlength = 50, @placeholder = "Street Address" })
                    <span class="help-inline">@Html.ValidationMessageFor(x => x.StreetAddress)</span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-4 text-left">
                    <label>State:</label>
                </div>
                <div class="col-sm-8">

                    
                    @Html.DropDownListFor(model => model.StateId, (IEnumerable<SelectListItem>)Model.StatesList, new { @class = "form-control " ,@Id="State"})
                    @Html.ValidationMessageFor(model => model.StateId)

                </div>
            </div>

       <div class="form-group">
                <div class="col-sm-4 text-left">
                    <label>Country</label>
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.Country, new { @class = " form-control",@placeholder = "Country" })
                    @Html.ValidationMessageFor(model => model.Country)
                </div>
            </div>

               <div class="form-group">
                <div class="col-sm-4 text-left">
                    <label>Zip Code</label>
                </div>
                <div class="col-sm-8">

                    @Html.DropDownListFor(model => model.ZipId, (IEnumerable<SelectListItem>)Model.ZipCodesList, new { @class = "form-control ",@Id="ZipCode" })

                    @Html.ValidationMessageFor(model => model.ZipId)
                </div>
            </div>

           @* <div class="form-group">
                <div class="col-sm-4 text-left">
                    <label>Date Of Birth</label>
                </div>
                <div class="col-sm-8">

                    @Html.TextBoxFor(model => model.DOB, new { @class = "datepicker form-control", id = "datepicker", @readonly = "readonly" })

                </div>
            </div>*@
        <div class="form-group">
                <div class="col-sm-4 text-left">
                    <label>DOB</label>
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.DOB, new { @class = "form-control datepicker",@readonly = "readonly"  })
                    @Html.ValidationMessageFor(model => model.DOB)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 text-left">
                    <label>Security Answer</label>
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.SecurityAnswer, new { @class = "form-control", id = "Answer",@placeholder = "Security Answer" })
                    @Html.ValidationMessageFor(model => model.SecurityAnswer)
                </div>
            </div>
               
           <div class="form-group">
                <div class="col-sm-4 text-left">
                    <label>Confirm Password</label>
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "form-control",type="password", id = "Answer",@placeholder = "Confirm Password" })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                </div>
            </div>
            <div class="form-group">

                <div class="col-sm-6 pull-right">
                    <input type="submit" value="Submit" class="nextto pull-right" id="create">
                </div>
            </div>
       
    </div>


  <script>

      $('.datepicker').datepicker({
          format: "mm-yyyy",
          viewMode: "months",
          minViewMode: "months",
          maxDate: new Date()
      });
      $(".datepicker").val('');

      function showLoader() {
          $("#loadingModel").show();
      }
      function hideLoader() {
          $("#loadingModel").hide();
      }
      $(document).ready(function () {
          $("#create").click(function () {
              var IsFormValid = $("#Registration").valid()
              //if (flagemail===true) {
              if (!IsFormValid) {
                  DisplayErroMessage();
              }
              else {
                  //$("#erroremail").html("")
                  //$("#EmailAddress").removeClass("input-validation-error");
                  $("#Registration").submit();
              }
          });

          $("#State").change(function () {
              showLoader();
              $.ajax({
                  type: "POST",
                  url: '@Url.Action("NGetCity", "UserInfoes")',
                    dataType: "json",
                    data: { state: $('#State :selected').val() },
                    success: function (result) {
                        $('#City').empty();
                        //    $('#City').append($('<option></option>').val("--Select--").html("--Select--"));
                        $(result).each(function (index, item) {
                            $('#City').append($('<option></option>').val(this.Value).html(this.Text));
                        });
                        hideLoader();
                    },
                    error: function (e) {
                        hideLoader();
                    },
                });
           });
          $("#City").change(function () {
              showLoader();
              $.ajax({
                  type: "POST",
                  url: '@Url.Action("NGetZipcodes", "UserInfoes")',
                    dataType: "json",
                    data: { City: $('#City :selected').val() },
                    success: function (result) {
                        $('#ZipCode').empty();
                     //   $('#ZipCode').append($('<option></option>').val("--Select--").html("--Select--"));
                        $(result).each(function (index, item) {
                            $('#ZipCode').append($('<option></option>').val(this.Value.toString()).html(this.Text.toString()));
                        });
                        hideLoader();
                    },
                    error: function (e) {
                        hideLoader();
                    },
                });
          });
          function DisplayErroMessage() {
         
              $(".field-validation-error").parents(".form-group").each(function () {
                  
                  $(this).find(".col-sm-8").on("mouseover", function () {
                      
                      $(this).find(".field-validation-error .input-validation-error").attr("style", "display:block !important");
                  });
                  $(this).find(".col-sm-8").on("mouseout", function () {
                         
                      $(this).find(".field-validation-error .input-validation-error").attr("style", "display:none !important");
                  });
              });
          }
      });
  </script>
