﻿@model List<SpectorMax.Entities.Classes.ViewPreviousInspection>
@using SpectorMax.Entities.Classes

<link href="@Url.Content("~/Content/TablesCss/demo_page.css")" rel="stylesheet">
<link href="@Url.Content("~/Content/TablesCss/header.ccss.css")" rel="stylesheet">
<link href="@Url.Content("~/Content/TablesCss/demo_table.css")" rel="stylesheet">

@*<script src="@Url.Content("~/Scripts/jquery.js")" type="text/javascript"></script>*@
<script src="@Url.Content("~/Scripts/jquery.dataTables.js")" type="text/javascript"></script>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        $('#example').dataTable();
        var orderid = "";
        $("#btnyes").click(function () {
            $(location).attr("href", $URL._PaymentsIndex + "?userId=" + "@Sessions.LoggedInUser.UserId" + "&userRoleId=" + "@Sessions.LoggedInUser.RoleId" + "&inspectionOrderId=" + orderid);
        });

        $("#btnNo").click(function () {
            $(location).attr("href", $URL._Payment + "?userId=" + "@Sessions.LoggedInUser.UserId" + "&userRoleId=" + "@Sessions.LoggedInUser.RoleId" + "&amount=5.99&amountDescription=You are purchasing One time payment for purchase detailed report.&paymentType=OneTimePaymentPlan&inspectionOrderId=" + orderid);
        });

        $("#btnBasicReport").click(function () {
            window.location.href = $URL._CheckSampleReport + "?orderid=" + orderid;
        });

        $("#example tr #Detail").live("click", function () {
            orderid = $(this).attr('data-orderid');          
            /*initializing Progress Bar*/
            $.blockUI({
                css: {
                    border: 'none',
                    padding: '15px',
                    backgroundColor: '#000',
                    '-webkit-border-radius': '10px',
                    '-moz-border-radius': '10px',
                    opacity: .5,
                    color: '#fff'
                }
            });

            $.ajax({
                type: "Post",
                url:$URL._CheckBuyerPayment,
               // url: "/Report/CheckUserPayment",
                data: { orderid: orderid },
                success: function (result) {
                    if (result == "Subscribed") {
                        $(location).attr("href", $URL._ViewDetailReport+"?inspectionOrderId="+orderid)
                        setTimeout($.unblockUI, 1000);
                    }
                    else if (result == "Unsubscribed") {
                        setTimeout($.unblockUI, 1000);
                        $("#PopupDiv").width(500);
                        $('#PopupDiv').modal({ backdrop: 'static', keyboard: true })
                        $("#PopupDiv").modal("show");
                    }
                    else if (result == "Subscription Over") {
                        setTimeout($.unblockUI, 1000);
                        $("#PopupDiv").width(500);
                        $('#PopupDiv').modal({ backdrop: 'static', keyboard: true })
                        $("#PopupDiv .divDialogElements p").html("Dear User Your subscrtion is over.You need to subscribe again !<br/> Do you want to subscribe a plan or want to make one time payment?<br/>Click on yes button to subscribe a plan or click no button to make one time payment Or if you want to see Free basic report please click on the free basic report button");
                        $("#PopupDiv").modal("show");
                    }
                },
                error: function () { setTimeout($.unblockUI, 1000); alert("error"); },
            });
        });
    });
</script>
<table style="width: 101%" cellpadding="0" cellspacing="0" border="0" class="table" id="example">
    <thead>
        <tr>
            <th style="width: 101px;" class="tbl_head bod_rgt">Report Number</th>
            <th style="width: 100px;" class="tbl_head bod_rgt">Property</th>
            <th style="width: 77px;" class="tbl_head bod_rgt">Contact No.</th>
            <th style="width: 113px;" class="tbl_head bod_rgt">Inspection Status</th>
            @*<th style="width: 106px;display:none" class="tbl_head bod_rgt">Property Details</th>*@
            <th style="width: 100px;" class="tbl_head bod_rgt">Sample Report</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var items in Model)
        {
            <tr class="even gradeC">
                <td class="bod_rgt">@items.ReportNumber</td>
                <td class="bod_rgt">@items.PropertyAddress, @items.PropertyAddressCity</td>
                <td class="bod_rgt">@items.RequestedbyPhoneDay</td>
                <td class="bod_rgt">@if (items.ReportStatus == "Completed")
                                    { <b>@items.ReportStatus</b>}
                                    else
                                    {@items.ReportStatus}</td>
                @*<td class="bod_rgt" class="center"><a href="#">Click here</a> </td>*@
                <td class="bod_rgt" class="center">@if (items.ReportStatus == "Completed")
                                                   {<a id="Detail" data-orderid="@items.InspectionOrderId"  href="javascript://void(0);">Click here</a>}</td>
            </tr>
        }
    </tbody>
</table>
<div aria-hidden="true" aria-labelledby="windowTitleLabel" role="dialog" tabindex="-1" class="modal hide fade in" id="PopupDiv">
    <div class="modal-header">
        <a data-dismiss="modal" class="close" href="#">×</a>
        <h3>Payment Status</h3>
    </div>
    <div class="modal-body">
        <div class="divDialogElements">
            <p>
                You have not subscribed any plan yet with SpectorMax !<br />
                Do you want to subscribe a plan or want to make one time payment?<br />
                Click on yes button to subscribe a plan or click no button to make one time payment 
                Or if you want to see Free basic report please click on the free basic report button
            </p>
            <br />
            <input type="button" class="btn" id="btnyes" value="Yes" />
            <input type="button" class="btn" id="btnNo" value="No" />
            <input style="float: right" type="button" class="btn" id="btnBasicReport" value="Free Basic Report" />
        </div>
    </div>
   
</div>
