﻿@model SpectorMax.Entities.Classes.InspectorDetails
@{
    var PreImageUrls = "../Images/ProfileImgAndCertiticate/";
}
<div class="modal-dialog ">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close custmclose" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title text-center" id="myModalLabel">Inspector Details</h4>
        </div>

        @if (Model != null)
        {
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-6">
                                <b>First Name:</b>
                            </div>
                            <div class="col-md-6">
                                @Model.FirstName
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-6">
                                <b>Last Name:</b>
                            </div>
                            <div class="col-md-6">
                                @Model.LastName
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-6">
                                <b>Phot:</b>
                            </div>
                            <div class="col-md-6">
                                @if (Model.PhotoURL != null && Model.PhotoURL != "")
                                {
                                    <img id="ImgPhotoURL" class="image" height="100" width="100" src="@Url.Content(@PreImageUrls + @Model.PhotoURL)" />
                                }
                                else
                                {
                                    <img id="ImgPhotoURL1" height="100" width="100" src="@Url.Content(@PreImageUrls + "nophoto.jpg")" />
                                }
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-6">
                                <b>Address:</b>
                            </div>
                            <div class="col-md-6">
                                @Model.Address
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-6">
                                <b>Street Address:</b>
                            </div>
                            <div class="col-md-6">
                                @Model.StreetAddress
                            </div>

                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-6">
                                <b>Address Line 2:</b>
                            </div>
                            <div class="col-md-6">
                                @Model.Address2
                            </div>

                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-6">
                                <b>Country:</b>
                            </div>
                            <div class="col-md-6">
                                @Model.Country
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-6">
                                <b>State:</b>
                            </div>
                            <div class="col-md-6">
                                @Model.State
                            </div>

                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-6">
                                <b>City:</b>
                            </div>
                            <div class="col-md-6">
                                @Model.City
                            </div>

                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-6">
                                <b>Phone No:</b>
                            </div>
                            <div class="col-md-6">
                                @Model.PhoneNo
                            </div>

                        </div>
                    </div>
                </div>



                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-6">
                                <b>Date Of Birth:</b>
                            </div>
                            <div class="col-md-6">
                                @Model.DOB.ToString()
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-6">
                                <b>Email Address:</b>
                            </div>
                            <div class="col-md-6">
                                @Model.EmailAddress
                            </div>

                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-6">
                                <b>Area where you perform inspections:</b>
                            </div>
                            <div class="col-md-6">
                                @Model.ExperienceTraining1
                            </div>

                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-6">
                                <b>Experience:</b>
                            </div>
                            <div class="col-md-6">
                                @Model.ExperienceTraining2
                            </div>

                        </div>
                    </div>
                </div>



                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-6">
                                <b>Education:</b>
                            </div>
                            <div class="col-md-6">
                                @Model.ExperienceTraining3
                            </div>

                        </div>
                    </div>
                </div>





                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-12">
                                <b>Certificates:</b>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-4">
                                @if (!string.IsNullOrEmpty(Model.Certification1))
                                {
                                    <img  id="ImgCertificate1" class="image certificate" height="100" width="100" src="@Url.Content(@PreImageUrls + @Model.Certification1)" />
@*<input type="button" value="Delete" class="Delete" id="ImgCertificate1Delete" />*@
                                }
                                else
                                {
                                    <img id="ImgCertificate1" height="100" width="100" src="@Url.Content(@PreImageUrls + "nophoto.jpg")" />
                                }
                            </div>
                            <div class="col-md-4">
                                @if (!string.IsNullOrEmpty(Model.Certification2))
                                {
                                    <img style="margin-left:50px" id="ImgCertificate2" class="image certificate" height="100" width="100" src="@Url.Content(@PreImageUrls + @Model.Certification2)" />@*
                                    <input type="button" value="Delete" class="Delete" id="ImgCertificate2Delete" />*@
                                }
                                else
                                {
                                    <img style="margin-left:50px" id="ImgCertificate2" height="100" width="100" src="@Url.Content(@PreImageUrls + "nophoto.jpg")" />
                                }
                            </div>
                            <div class="col-md-4">
                                @if (!string.IsNullOrEmpty(Model.Certification3))
                                {
                                    <img style="margin-left:50px" id="ImgCertificate3" class="image certificate" height="100" width="100" src="@Url.Content(@PreImageUrls + @Model.Certification3)" />
@*<input type="button" value="Delete" class="Delete" id="ImgCertificate3Delete" />*@
                                }
                                else
                                {
                                    <img style="margin-left:50px" id="ImgCertificate3" height="100" width="100" src="@Url.Content(@PreImageUrls + "nophoto.jpg")" />
                                }
                            </div>

                        </div>
                    </div>
                </div>




            </div>
        }else
        {
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-12" style="text-align:center;">
                                No Record Found !
                        </div>
                    </div>
                </div>
            </div>
                </div>
        }
</div>
</div>