﻿@model List<SpectorMax.Entities.Classes.BuyerRequestModel>
@using SpectorMax.Entities.Classes;

<table class="table table-striped table-bordered table-hover" id="tblBuyerRequest">
    @*class="newclass"*@
    <thead>
        <tr>
            <th width="10%">House No</th>
            <th width="26%">City</th>
            <th width="18%">State</th>
            <th width="16%">Zip</th>
            <th width="16%">Request Date</th>
            <th width="18%">Inspector</th>
            <th width="18%">Status</th>

        </tr>
    </thead>
    <tbody>
        @* @if (Model != null && Model.Count > 0)*@

        @foreach (var items in Model)
        {
            <tr>
                <td>@items.HouseNo</td>
                <td>@items.City</td>
                <td>@items.State</td>
                <td>@items.Zip</td>
                <td>@items.RequestDate.Value.ToShortDateString()</td>
                @if (@items.InspectorDetails != null && @items.InspectorDetails.Count() > 0)
                {
                    <td><a href="javascript:void(0);" onclick="ViewInspectorDetails('@items.InspectorId.ToString()');">@items.InspectorDetails.FirstOrDefault().FirstName @items.InspectorDetails.FirstOrDefault().LastName</a></td>
                }
                else
                {
                    <td><a href="javascript:void(0);">Not assigned</a></td>
                }
                <td>
                    @if (items.Status != "Completed")
                    {
                        if (items.Schedule != null && items.Schedule.Count() > 0)
                        { 
                            <label>Scheduled</label>@*
@* <button type="button" class="btn btn-default" id="tooltip1" data-toggle="tooltip" data-placement="left" title="Tooltip on left">Tooltip on left</button>
                            <button type="button" class="btn btn-default" id="tooltip1" data-toggle="tooltip" data-placement="right" title="@items.Schedule.FirstOrDefault().ScheduleDate.Value.ToShortDateString()">Scheduled</button>*@
                        }
                        else
                        {
                                    <label>Ordered</label>
                        }
                    }
                    else
                    {
                        if (Sessions.LoggedInUser.PaymentPlan == "PaymentPlan")
                        {
                               <button id="btnCompReport"  type="button" data-orderid="@items.OrderId" class="green-btn_xs btn-xs Comp">Completed</button>
                        }
                        else
                        {
                        <button id="btnBasiReport"  type="button" data-orderid="@items.OrderId" class="green-btn_xs btn-xs basic">Completed</button>
                    }
                                    
                    }
                </td>
            </tr>
        }

    </tbody>
</table>
