﻿@model SpectorMax.Entities.Classes.ForgotPassword
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<script src="@Url.Content("~/Scripts/jquery.blockUI.js")"></script>
<script type="text/javascript">
    $(":submit").mouseout(function () { DisplayErroMessage(); });
    function SubmitSetup() {
        //$("#ForgotPassword").submit();
        DisplayErroMessage();
    }
    function DisplayErroMessage() {
        //alert($('.field-validation-error').html());
        $(".field-validation-error").closest("ul").each(function () {
            $(this).find(".form").live("mouseover", function () { $(this).find(".field-validation-error .input-validation-error").attr("style", "display:block !important"); });
            $(this).find(".form").live("mouseout", function () { $(this).find(".field-validation-error .input-validation-error").attr("style", "display:none !important"); });
        });
    }

    $(document).ready(function () {
        $("#btnForgotPassword").click(function () {
           // if ($("#ForgotPassword").valid())

            {
                //$.blockUI({
                //    css: {
                //        border: 'none',
                //        padding: '15px',
                //        backgroundColor: '#000',
                //        '-webkit-border-radius': '10px',
                //        '-moz-border-radius': '10px',
                //        opacity: .5,
                //        color: '#fff'
                //    }
                //});
                $.ajax({
                    type: "Post",
                    URL: $URL._ForgotPasswordPost,
                    data: { emailTo: $("#txtForgotPassword").val() },
                    datatype: "Json",
                    success: function (result) {
                        //setTimeout($.unblockUI, 1000);
                        if (result.Message == "Success") {
                            $("#txtForgotPassword").val('');
                            $("#SucessExp").show()
                            $(".bs-exampleExp").hide();
                        }
                        else if (result.Message == "Wrong Email") {
                            // setTimeout($.unblockUI, 1000);
                            $("#SucessExp").hide()
                            $("#txtInviteFriend").val('');
                            $(".bs-exampleExp").show();
                            $("#loginmessage").html("You have Entered Invalid Email Address");
                                //css('color', 'red').html("You have Entered Invalid Email Address").show().fadeOut(10000);
                        }
                        else if (result.Message == "Inspector") {
                            // setTimeout($.unblockUI, 1000);
                            $(".bs-exampleExp").show();
                            $("#loginmessage").html("We have blocked your account for temporary period.</br> A Notification has been sent to admin.</br>You will be notified via email on your registered email Id once your password gets reset by Admin.");
                            $("#txtInviteFriend").val('');
                            $("#SucessExp").hide()
                          //  $("#message").css('color', 'green').html("We have blocked your account for temporary period.</br> A Notification has been sent to admin.</br>You will be notified via email on your registered email Id once your password gets reset by Admin.").show().fadeOut(10000);
                        }
                        else {
                            $("#txtInviteFriend").val('');
                            $("#loginmessage").html("There is some problem, please try after sometime");
                            $("#txtInviteFriend").val('');
                            $("#SucessExp").hide()
                           // $("#message").css('color', 'red').html("There is some problem, please try after sometime").show().fadeOut(10000);
                        }
                    },
                    error: function () {
                       // setTimeout($.unblockUI, 1000);
                    },
                });
            }
        });
    });

</script>


<div class="container main-content-area theme-showcase" role="main">
    <div class="blog-header">
        <h1 class="blog-title text-center"><font>Forgot your password?</font></h1>
        <div class="jumbotron clearfix">
            <div class="col-md-12">
                    <div class="bs-exampleExp" style="display: none">
                                                        <div class="alert alert-danger alert-error">

                                                            <strong>Error!</strong>
                                                            <label id="loginmessage">There might be some problem. Please try after some time.</label>
                                                        </div>
                                                    </div>
                 <div class="alert alert-success" id="SucessExp" style="display: none; margin-top: 22px;">



                    <strong>Success!</strong> Dear User, Please check your inbox to reset password. 

                </div>
                <div id="message1 " class="text-center">
                    Enter the email address associated with your account.<br />
                </div>
                
                <div class="no-padng">
                    <ul class="center-content no-padng">
                   <li> @Html.TextBoxFor(model => model.Email, new { id = "txtForgotPassword", placeholder = "Enter Email",@class="forgot-input-txt"})
                    @Html.ValidationMessageFor(model => model.Email)</li><li>
                    <input type="button" id="btnForgotPassword" class="nextto forgot-input" value="Submit" onclick="SubmitSetup();" /></li>
                        </ul>
                </div>
                
                    
            </div>
            
            
            <div id="message" title="Success"></div>
        </div>

    </div>

@* <section id="container">
        <section class="payment">
            <h2>Forgot Password</h2>
            <div></div>
            <form id="ForgotPassword">
                <div style="height: 200px; width: 100%; position: relative; padding-top: 100px; padding-left: 32%; margin: auto;">
                    <ul>
                        <li>
                            <h2 style="width: 300px">Forgot your password?</h2>
                            <div id="message1" style="position: relative; padding: 10px 5px; margin: 0; color: #fff; text-shadow: 0 -1px 0 rgba(0,0,0,0.5); background-color: #6c8393; background-repeat: repeat-x; border: 1px solid #6e8290; border-bottom-color: #586873; border-radius: 4px 4px 0 0; width: 42%" title="Success">Enter your email address associated with your account with us.<br />
                            </div>
                            <section style="margin-top: 2%" class="form">
                                @Html.TextBoxFor(model => model.Email, new { @class = "simple_input big_text_box", id = "txtForgotPassword", placeholder = "Enter Email", style = "width: 300px;" })
                                @Html.ValidationMessageFor(model => model.Email)
                            </section>
                        </li>
                        <br />
                        <li>
                            <input type="button" style="float: left; margin-left: 242px;" class="btn" id="btnForgotPassword" value="Submit" onclick="SubmitSetup();" /></li>
                        <br />
                        <li>
                            <section class="clr"></section>

                            <div id="message" title="Success"></div>
                        </li>
                    </ul>
                </div>
            </form>
            <section class="clr"></section>
        </section>
    </section>*@
    </div>