﻿@{
    ViewBag.Title = "AdminDashboard";
    Layout = "~/Views/Shared/_NLayout.cshtml";
}
@using SpectorMax.Entities.Classes
    <script src="http://code.jquery.com/jquery-migrate-1.1.0.js"></script>
<script src="@Url.Content("~/Scripts/PrintingJs/jquery.printElement.min.js")" type="text/javascript"></script>
<script src="~/Scripts/InspectorDashboard.js"></script>

<style>
    .green-btn-hgt
    {
        height: 45px;
        line-height: 45px;
        font-size: 18px;
        margin: 0 0 50px 0;
    }
       .red-btn-hgt
    {
        height: 45px;
        line-height: 45px;
        font-size: 18px;
        margin: 0 0 50px 0;
    }
    .main-content
    {
        min-height: 300px;
        padding: 50px 0px 0px 0;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        $("#anchorLogoImage").attr("href", "#");
    });
</script>

<div id="container" style="border: none" class="container main-content">
     <div class="row">
        <div class="col-md-12">
            <p class="welcome">&nbsp; &nbsp; &nbsp;
        </div>
    </div>
    <div class="modal-body row">
        <div class="modal-body row col-sm-2"></div>
        <div class="col-md-4">
            @if (ViewBag.RequestCount > 0)
            {
                <input type="button" id="btnInspectionRequests" class="btn btn-danger btn-block green-btn-hgt" onclick="javascript: window.location.href = '../Inspector/ReportData?ReportType=InspectionRequest'" value="Inspection Requests (@ViewBag.RequestCount)" />
            }
            else
            { 
            <input type="button" id="btnInspectionRequests" class="btn btn-success btn-block green-btn-hgt" onclick="javascript: window.location.href = '../Inspector/ReportData?ReportType=InspectionRequest'" value="Inspection Requests (@ViewBag.RequestCount)" />
            }

            
           @if(ViewBag.count>0)
           {
             <input type="button" id="btnInspectionReports" onclick="javascript: window.location.href = '../Inspector/UpdateRepot'" class="btn btn-danger btn-block green-btn-hgt" value="Updatable Reports (@ViewBag.count)" />
           }
            else
            {
             <input type="button" id="btnInspectionReports" onclick="javascript: window.location.href = '../Inspector/UpdateRepot'" class="btn btn-success btn-block green-btn-hgt" value="Updatable Reports (@ViewBag.count)" />
           }
            <input type="button" id="btnInspectionSchedule"  onclick="javascript: window.location.href = '../Inspector/InspectionSchedule'"  class="btn btn-success btn-block green-btn-hgt" value="Inspection Schedule" />
              <button type="button" id="btnGenerateQrCode" class="btn btn-success btn-block green-btn-hgt has-spinner">
                            <span class="spinner"><i class="icon-spin icon-spinner icon-large"></i></span>
                            Generate QR Codes
                        </button>

          <input type="button" id="btnEditProfile" onclick="javascript: window.location.href = '../Inspector/ManageProfile'" class="btn btn-success btn-block green-btn-hgt" value="Edit Profile" />

@*             <button type="button" id="btnGenerateQrCode" class="btn btn-success btn-block green-btn-hgt has-spinner">
                            <span class="spinner"><i class="icon-spin icon-spinner icon-large"></i></span>
                           Edit Profile
                        </button>*@

        </div>
        <div class="modal-body row col-sm-2"></div>
        <div class="col-md-4">
            <input type="button" id="btnViewEditReport" class="btn btn-success btn-block green-btn-hgt" onclick="javascript: window.location.href = '../Inspector/ReportData?ReportType=ViewAndEditReport'" value="View And Edit Reports" />
            <input type="button" id="btnCommentAndRatings" class="btn btn-success btn-block green-btn-hgt" onclick="javascript: window.location.href = '../InspectorRatings/Index'" value="Comments and Ratings" />
            <input type="button" id="btnViewFinances" class="btn btn-success btn-block green-btn-hgt" onclick="javascript: window.location.href = '../Inspector/ReportData?ReportType=PaymentReports'" value="View Finances" />
            <input type="button" id="btnAbuse" class="btn btn-success btn-block green-btn-hgt" value="Abuse" />

        <input type="button" id="btnCommentLibrary" onclick="javascript: window.location.href = '../Inspector/ManageCommentLibrary'" class="btn btn-success btn-block green-btn-hgt" value="Comment Library" />

        </div>
    </div>
</div>
<!-- Modal 1 -->
<div class="modal fade" id="divGenerateQRCode" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close custmclose" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title text-center" id="myModalLabel">Generate QR Code</h4>
            </div>
            <div class="modal-body">
                      <div class="bs-exampleExp" style="display: none">
                    <div class="alert alert-danger alert-error">

                        <strong>Error!</strong>
                        <label id="lblErrorExp">There might be some problem. Please try after some time.</label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Next QR code to print</label>
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-sm-6">
                                <input type="text" value="001"   name="RequestedFirstName" maxlength="6" id="txtFrQr" readonly="readonly" class="form-control">
                                <input type="hidden" id="hdnReportno" />
                                <input type="hidden" id="hdnLastNumPrinted" />
                            </div>

                            <div class="col-sm-6">

                                <input type="text" value="" placeholder="QR Code To Print" name="RequestedLastName" maxlength="6" id="txtToQr" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </p>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" id="btnFrTo" class="green-btn pull-right has-spinner">
                            <span class="spinner"><i class="icon-spin icon-spinner icon-large"></i></span>
                            Print
                        </button>
                    </div>
                </div>
                <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </p>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Choose QR code to print</label>
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-sm-6">
                                <input type="text" value="" placeholder="QR Code From" name="RequestedFirstName" maxlength="6" id="txtCFrQr" class="form-control">
                            </div>

                            <div class="col-sm-6">

                                <input type="text" value="" placeholder="QR Code To" name="RequestedLastName" maxlength="6" id="txtCToQr" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </p>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" id="btnCFrTo" class="green-btn pull-right has-spinner">
                            <span class="spinner"><i class="icon-spin icon-spinner icon-large"></i></span>
                            Print
                        </button>
                    </div>
                </div>
                <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </p>
            </div>
        </div>
    </div>
</div>
<!-- Modal 1 -->
<!-- Modal 2 -->
<div class="modal fade" id="QRCode" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close custmclose" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title text-center" id="myModalLabel">Print QR Code</h4>
            </div>
            <div class="modal-body">
               <div class="divDialogElements">

               </div>
                  <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </p>
                <button type="button" id="btnPrintQRCode" class="green-btn pull-right has-spinner">
                            <span class="spinner"><i class="icon-spin icon-spinner icon-large"></i></span>
                            Print
                        </button>
                  <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </p>
            </div>
        </div>
    </div>
</div>
<!-- Modal 2 -->
<script>
    $(document).ready(function () {
       
        $("#btnPrintQRCode").click(function () {

            if ($("#hdnReportno").val() == "true") {
                $("#btnPrintQRCode").addClass('active');
                $.ajax({
                    type: "POST",
                    url: $URL._SaveLastRepotNo,
                    async: false,
                    data: { ReportNoTo: $("#hdnLastNumPrinted").val() },
                    dataType: "Json",
                    success: function (result) {
                        if (result=="error") {
                            $("#btnPrintQRCode").removeClass("active");
                            $(".bs-exampleExp").css("Display", "none");
                            $("#lblErrorExp").html("There might be some problem. Please try after some time.")
                        }
                        else if (result == "Success") {
                            $('.divDialogElements').printElement();
                            $("#btnFrTo").removeClass("active");
                        }
                        else if (result== "Session Over") {
                            $(location).attr("href", $URL._HomePage);
                        }
                    },
                    error: function (e) {
                        $("#btnFrTo").removeClass("active");
                    },
                });
            }
            else {
                $('.divDialogElements').printElement();
            }
        })
    });

</script>