﻿@{
    ViewBag.Title = "InspectorDashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#anchorLogoImage").attr("href", "#");
    });
</script>
<!--================container start===============-->
<section id="container">
    <section class="payment">
        <table style="height: 400px; width: 100%;">
            <tr>
                <td style="padding-left: 100px;">
                    <input type="button" id="btnTotalSales" onclick="javascript: window.location.href = '../Inspector/ReportData?ReportType=TotalSales'" class="dbtn" value="Total Sales" />
                </td>
                <td></td>
                <td style="padding-left: 100px;">
                    <input type="button" id="btnNotification" onclick="javascript: window.location.href = '../Inspector/ReportData?ReportType=NotificationForInspector'"  class="dbtn" value="Notification(@ViewBag.count)" /></td>
            </tr>
            <tr>
                <td style="padding-left: 100px;">
                    <input type="button" id="btnTotalReportCreated" onclick="javascript: window.location.href = '../Inspector/ReportData?ReportType=TotalReportCreated'" class="dbtn" value="Total Report Created" />
                </td>
                <td></td>
                <td style="padding-left: 100px;">
                    <input type="button" id="btnInspectionCompleted" onclick="javascript: window.location.href = '../Inspector/ReportData?ReportType=InspectionCompleted'" class="dbtn" value="Inspection Completed" /></td>
            </tr>
            <tr>
                <td style="padding-left: 100px;">
                    <input type="button" id="btnReportViewed" onclick="javascript: window.location.href = '../Inspector/ReportData?ReportType=ReportViewed'" class="dbtn" value="Report Viewed" />
                </td>
                <td></td>
                <td style="padding-left: 100px;">
                    <input type="button" id="btnInspectionRequests" onclick="javascript: window.location.href = '../Inspector/ReportData?ReportType=InspectionRequest'" class="dbtn" value="Inspection Requests" /></td>
            </tr>
            <tr>
                <td style="padding-left: 100px;">
                    <input type="button" id="btnInspectionReports" onclick="javascript: window.location.href = '../Inspector/ReportData?ReportType=InspectionReports'" class="dbtn" value="Inspection Reports" />
                </td>
                <td></td>
                <td style="padding-left: 100px;">
                    <input type="button" id="btnArchivedReports" onclick="javascript: window.location.href = '../Inspector/ReportData?ReportType=ArchivedReports'" class="dbtn" value="Archived Reports" /></td>
            </tr>
            <tr>
                <td style="padding-left: 100px;">
                    <input type="button" id="btnPaymentReports" onclick="javascript: window.location.href = '../Inspector/ReportData?ReportType=PaymentReports'" class="dbtn" value="Payment Reports" />
                </td>
                <td></td>
                <td style="padding-left: 100px;">
                    <input type="button" id="btnViewCommentandRating" onclick="javascript: window.location.href ='../InspectorRatings'" class="dbtn" value="View Comment and Rating" /></td>
            </tr>
        </table>
        <section class="clr"></section>
    </section>
    <section class="clr"></section>
</section>
<!--===============container ends================-->
