﻿@{
    ViewBag.Title = "InviteFriend";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using SpectorMax.Entities.Classes


<script>
    $(document).ready(function () {       
        $('#txtInviteFriend').focus();
        var sessionData =  @Html.Raw(Json.Encode(Sessions.LoggedInUser));

        if(sessionData != null)
        { 
            if(sessionData.RoleName == "Home Buyer")
            {
                $("#anchorLogoImage").attr("href", $URL._BuyerDashBoard);
            }
        }
        jQuery("#InviteFriend").validationEngine();
    });
</script>

<script type="text/javascript">



    $('#txtInviteFriend').keypress(function (event) {

        var keycode = (event.keyCode ? event.keyCode : event.which);
        if (keycode == '13') {
           
            InviteFriend() ;
            
        }

    });
    function InviteFriend() {
        if( !isValidEmailAddress( $("#txtInviteFriend").val() ) )
        {
            $("#ErrorMsg").html("Please enter1 valid email address")
            $(".error").css("display","block");
            $(".success").css("display","none");
           // $("#divMessage").html("Please enter valid email address")
        }
        else{
            showLoader();
            $.ajax({
                type: "Post",
                URL: $URL._InviteFriendPost,
                data: { emailTo: $("#txtInviteFriend").val() },
                datatype: "Json",
                success: function (result) {
                    if (result.Message == "Success") {
                        $("#txtInviteFriend").val('');
                        $("#SuccessMsg").html("Email Sent successfully. Your friend is invited to Spectormax")
                        $(".success").css("display","block");
                        $(".error").css("display","none");
                      //  $("#divMessage").html('')
                      //  $("#message").css('color', 'green').html("Email Sent successfully").show().fadeOut(10000);
                        $("html").scrollTop(0);
                        hideLoader();
                    }
                    else {
                        $("#txtInviteFriend").val('');
                        $("#ErrorMsg").html("There is some problem, please try after sometime")
                        $(".error").css("display","block");
                        $(".success").css("display","none");
                        //$("#divMessage").html('')
                        //$("#message").css('color', 'red').html("There is some problem, please try after sometime").show().fadeOut(10000);
                        hideLoader();
                    }
                }
            });}
    }
    function isValidEmailAddress(emailAddress) {
        var pattern = new RegExp(/^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/);
        return pattern.test(emailAddress);
    };
    function Checkemail()
    {
        if( !isValidEmailAddress( $("#txtInviteFriend").val() ) )
        {
            $("#ErrorMsg").html("Please enter valid email address")
            $(".error").css("display","block");
            $(".success").css("display","none");
        }
        else
        {
            $("#divMessage").html(" ")
        }
    }
    function showLoader() {
        $("#loadingModel").show();
    }
    function hideLoader() {
        $("#loadingModel").hide();
    }
</script>
<div id="divSuccess"></div>
<!--================container start===============-->
<section id="container">
    <section class="payment">
        <h2>Invite a Friend</h2>
        <div></div>
            <div class="success"><label id="SuccessMsg" style="float:left;margin-left:20px">Success message</label></div>
          <div class="error"><label id="ErrorMsg" style="float:left;margin-left:20px">Error message</label></div>
        <form id="InviteFriend">
            <!--Change By Shailendra For Horizontal ScrollBar-->
            <div style="height: 200px; position: relative; margin: auto;">
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

                </p>
                <div style="padding-left: 32%;padding-top: 100px;">
                <label title="Email:">Email:</label>
                <input id="txtInviteFriend" style="width: 300px;" onblur="Checkemail()" class="validate[required,maxSize[100]],custom[email] simple_input big_text_box" type="text" name="txtInviteFriend" maxlength="50" placeholder="Enter Email" />
                <br />
                <br />
                <input type="button" style="float: left; margin-left: 300px;" class="btn" id="btnInviteFriend" value="Submit" onclick="InviteFriend()" />
                <br />
                     </div>     
              
                <section class="clr"></section>
                <section class="form">
                            <div style="color:red;text-align: center;" id="divMessage"></div>
                        </section>
                <div id="message" style="text-align: center;" title="Success"></div>
            </div>
        </form>
        <section class="clr"></section>
    </section>
                    
</section>
<!--===============container ends================-->

<!-- Loader-->
<div id="loadingModel" class="displayNone overlayPage">
    <div class=" loaderPage">
        <div>
            <img src='@Url.Content("~/Content/Images/loading_big.gif")' />
        </div>
        <div>
            Loading..
        </div>
    </div>
</div>
<!-- /Loader -->
