﻿@model SpectorMax.Entities.Classes.UserProfilePoco

@{
    ViewBag.Title = "ManageProfile";
    Layout = "~/Views/Shared/_NLayout.cshtml";
}
@using SpectorMax.Entities.Classes
<script>
    $(document).ready(function () {
        $('#phone').mask('(999) 999-9999');
        if ("@Sessions.LoggedInUser.RoleName" == "Home Buyer") {

            $("#anchorLogoImage").attr("href", $URL._BuyerDashBoard);
        }
        else if ("@Sessions.LoggedInUser.RoleName" == "Home Seller") {

            $("#anchorLogoImage").attr("href", $URL._SellerDashBoard);
        }
        $("#PhoneNo").mask('(999) 999-9999');

        $("#create").click(function () {
            $("#ProfileUpdated").val(true);
            $("#create").val("Return to Dashboard");
            $("#create").click(function () {
                var url = '@Url.Action("Dashboard", "UserInfoes")';
                window.location.href = url;
            });

        });
    });
</script>
@using (Ajax.BeginForm("ManageProfile", "UserInfoes", FormMethod.Post, new AjaxOptions { OnBegin = "showLoader", OnComplete = "DisplayMsg" }, new { id = "Form", @class = "form-horizontal lleft" }))
{      
    <div class="container">
        <div class="bs-exampleExp" style="display: none; text-align: left;">
            <div class="alert alert-danger alert-error">

                <strong>Error!</strong>
                <label id="lblErrorExp">Email id is already exist please try other email address.</label>
            </div>
        </div>
        <div class="alert alert-success" id="Sucess" style="display: none; margin-top: 22px;">

            <a href="#" class="close" data-dismiss="alert">&times;</a>

            <strong>Success!</strong> Profile updated successfully. 

        </div>
        <div class="row">
            @*<div class="col-md-12">
            <h2 class="text-center">Inspection Request Form</h2>
        </div>*@
        </div>
        <div class="row">
            <div class="col-md-12 defineStep text-center">
                <h3 class="text-center">Manage Profile</h3>
            </div>
        </div>
        <div class="col-md-6 ng-scope">

            <div class="form-group">
                <div class="col-sm-4 text-left">
                    <label>First Name</label>
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @maxlength = 50, @placeholder = "First Name" })
                    <span class="help-inline">@Html.ValidationMessageFor(x => x.FirstName)</span>

                    @Html.HiddenFor(model => model.ID)
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-4 text-left">
                    <label>House Number</label>
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.Address, new { @class = "form-control", @maxlength = 50, @placeholder = "House Number" })
                    <span class="help-inline">@Html.ValidationMessageFor(x => x.Address)</span>
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-4 text-left">
                    <label>Apartment/Suites</label>
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.StreetAddress, new { @class = "form-control", @maxlength = 50, @placeholder = "Apartment/Suites" })
                    @*<span class="help-inline">@Html.ValidationMessageFor(x => x.StreetAddress)</span>*@
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-4 text-left">
                    <label>City</label>
                </div>
                <div class="col-sm-8">

                    @Html.DropDownListFor(model => model.CityId, (IEnumerable<SelectListItem>)Model.CityList, new { @class = "form-control ", @Id = "City" })

                    <img id="imgCity" style="display: none" src="~/content/images/ui-anim_basic_16x16.gif" />
                    @Html.ValidationMessageFor(model => model.CityId)
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-4 text-left">
                    <label>Phone No</label>
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.PhoneNo, new { @class = "form-control mask", id = "phone", @placeHolder = "Phone Number" })
                    @Html.ValidationMessageFor(model => model.PhoneNo)
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-4 text-left">
                    <label>EmailAddress</label>
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.EmailAddress, new { @class = "form-control", @placeHolder = "Email Address", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.EmailAddress)
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-4 text-left">
                    <label>Security Question</label>
                </div>
                <div class="col-sm-8">
                    @Html.DropDownListFor(model => model.SecurityQuestion, (IEnumerable<SelectListItem>)Model.SecurityQuestion1, new { @class = "form-control " })
                    @Html.ValidationMessageFor(model => model.SecurityQuestion)
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-4 text-left">
                    <label>Password</label>
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.Password, new { @class = "form-control", type = "password", id = "Answer", @placeholder = "Confirm Password" })
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
            </div>
        </div>
        <div class="col-md-6">

            <div class="form-group">
                <div class="col-sm-4 text-left">
                    <label>Last Name</label>
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", @maxlength = 50, @placeholder = "Last Name" })
                    <span class="help-inline">@Html.ValidationMessageFor(x => x.LastName)</span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 text-left">StreetAddress</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.StreetAddress, new { @class = "form-control", @maxlength = 50, @placeholder = "Street Address" })
                    <span class="help-inline">@Html.ValidationMessageFor(x => x.StreetAddress)</span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-4 text-left">
                    <label>State:</label>
                </div>
                <div class="col-sm-8">


                    @Html.DropDownListFor(model => model.StateId, (IEnumerable<SelectListItem>)Model.StatesList, new { @class = "form-control ", @Id = "State" })
                    @Html.ValidationMessageFor(model => model.StateId)

                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-4 text-left">
                    <label>Country</label>
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.Country, new { @class = " form-control", @placeholder = "Country" })
                    @Html.ValidationMessageFor(model => model.Country)
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-4 text-left">
                    <label>Zip Code</label>
                </div>
                <div class="col-sm-8">

                    @Html.DropDownListFor(model => model.ZipCode, (IEnumerable<SelectListItem>)Model.ZipCodesList, new { @class = "form-control ", @Id = "ZipCode" })

                    @Html.ValidationMessageFor(model => model.ZipCode)
                </div>
            </div>

            @* <div class="form-group">
                <div class="col-sm-4 text-left">
                    <label>Date Of Birth</label>
                </div>
                <div class="col-sm-8">

                    @Html.TextBoxFor(model => model.DOB, new { @class = "datepicker form-control", id = "datepicker", @readonly = "readonly" })

                </div>
            </div>*@
            <div class="form-group">
                <div class="col-sm-4 text-left">
                    <label>DOB</label>
                </div>
                <div class="col-sm-8">

                    @Html.TextBoxFor(model => model.DOB, new { @class = "form-control datepicker", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.DOB)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 text-left">
                    <label>Security Answer</label>
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.SecurityAnswer, new { @class = "form-control", id = "Answer", @placeholder = "Security Answer" })
                    @Html.ValidationMessageFor(model => model.SecurityAnswer)
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-4 text-left">
                    <label>Confirm Password</label>
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "form-control", type = "password", id = "Answer", @placeholder = "Confirm Password" })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                </div>
            </div>
            <div class="form-group">

                <div class="col-sm-6 pull-right">
                    <input type="submit" value="Submit" class="nextto pull-right" id="create">
                </div>
            </div>
        </div>
    </div>
    @Html.HiddenFor(model => model.IsProfileUpdated, new { id = "ProfileUpdated" })
    
}
<!-- Loader-->
<div id="loadingModel" class="displayNone overlayPage">
    <div class=" loaderPage">
        <div>
            <img src='@Url.Content("~/Content/Images/loading_big.gif")' />
        </div>
        <div>
            Loading..
        </div>
    </div>
</div>

<!-- /Loader -->

<script type="text/javascript">
    $('.datepicker').datepicker({
        format: "mm-yyyy",
        viewMode: "months",
        minViewMode: "months"
    });


    $(document).ready(function () {




        /*Fetch City based on States*/
        $("#State").change(function () {
            showLoader();
            $.ajax({
                type: "POST",
                url: '@Url.Action("NGetCity", "UserInfoes")',
                dataType: "json",
                data: { state: $('#State :selected').val() },
                success: function (result) {
                    $('#City').empty();
                    //                    $('#City').append($('<option></option>').val("--Select--").html("--Select--"));
                    $(result).each(function (index, item) {

                        $('#City').append($('<option></option>').val(this.Value).html(this.Text));
                        hideLoader();
                    });
                },
                error: function (e) {
                },
            });
        });

        /*Fetch zip based on city*/
        $("#City").change(function () {
            showLoader();
            $.ajax({
                type: "POST",
                url: '@Url.Action("NGetZipcodes", "UserInfoes")',
                dataType: "json",
                data: { City: $('#City :selected').val() },
                success: function (result) {
                    $('#ZipCode').empty();

                    $(result).each(function (index, item) {
                        $('#ZipCode').append($('<option></option>').val(this.Value).html(this.Text));
                        hideLoader();
                    });
                },
                error: function (e) {
                },
            });
        });
    });

    function DisplayErroMessage() {
        $(".field-validation-error").closest("li").each(function () {
            $(this).find(".form").live("mouseover", function () {
                $(this).find(".field-validation-error .input-validation-error").attr("style", "display:block !important");
            });
            $(this).find(".form").live("mouseout", function () {
                $(this).find(".field-validation-error .input-validation-error").attr("style", "display:none !important");
            });
        });
    }

    function showLoader() {
        $("#loadingModel").show();
    }
    function hideLoader() {
        $("#loadingModel").hide();
    }
    function DisplayMsg(result) {
        if (result.responseText == "\"Success\"") {
            $("#Sucess").css("display", "block");
            // $("#SuccessMsg").html("PROFILE IS UPDATED SUCCESSFULLY.");
            $(".bs-exampleExp").css("display", "none");
            hideLoader();
        }
        else {
            hideLoader();
            $("#Sucess").css("display", "none");
            $("#lblErrorExp").html("SOME ERROR IS OCCURED. PLEASE TRY AFTER SOMETIME.");
            $(".bs-exampleExp").css("display", "block");
        }
    }
</script>
