﻿@model List<SpectorMax.Entities.Classes.PropertyAddress>
@{
    ViewBag.Title = "NewNotification";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="@Url.Content("~/Scripts/jquery.blockUI.js")"></script>
<link href="@Url.Content("~/Content/TablesCss/demo_page.css")" rel="stylesheet">
<link href="@Url.Content("~/Content/TablesCss/header.ccss.css")" rel="stylesheet">
<link href="@Url.Content("~/Content/TablesCss/demo_table.css")" rel="stylesheet">
<script src="@Url.Content("~/Scripts/jquery.dataTables.js")" type="text/javascript"></script>
<script>
    $(function () {
        $("#tabs").tabs();
    });
    $(document).ready(function () {
        $("#RejectOrders").click(function () {
            
            var url = $URL._GetRejectedOrders + "/" + 1;
            var targetDiv = "#tabs-" + 2;
            var type = "UpdateOrders"
            showLoader();
            $.get(url, null, function (result) {
                $(targetDiv).html(result);
                hideLoader();
            });
        });

        $("#UpdateOrders").click(function () {
            
            var url=$URL._GetRejectedOrders+"/"+2;
            var targetDiv = "#tabs-" + 3;
            showLoader();
            $.get(url, null, function (result) {
                $(targetDiv).html(result);
                hideLoader();
            });
        });


    });
</script>
<section id="container">
    <section class="payment">
        <section>
            <div id="tabs" style="min-height: 600px">
                <ul>
                    <li><a href="#tabs-1" >New Inspection Orders</a></li>
                    <li><a href="#tabs-2" id="RejectOrders">Rejected Inspection Orders</a></li>
                    <li><a href="#tabs-3" id="UpdateOrders">Updated Inspection Orders</a></li>
                </ul>
                <div id="tabs-1">
                    <table style="width: 100%; float: right" cellpadding="0" cellspacing="0" border="0" class="table" id="tblMaintenanceReq">
                        <thead>
                            <tr>
                                <th width="70%" class="tbl_head bod_rgt">Property Address</th>
                                <th width="30%" class="tbl_head bod_rgt">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="bod_rgt">@item.OwnerFirstName @item.OwnerLastName, @item.StreetAddress,@item.City,@item.State,@item.Zip </td>
                                    <td class="bod_rgt"><a href="javascript://void(0);" data-orderid="@item.OrderID" id="anchorMaintenanceReq1">View Detail</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div id="tabs-2">
                  @* @{Html.RenderPartial("_RejectedNotifications", Model);}*@
                </div>
                 <div id="tabs-3">
                @*   @{Html.RenderPartial("_UpdatedNotifications", Model);}*@
                </div>
            </div>
        </section>
    </section>
    <section class="clr"></section>
</section>
<!-- Loader-->
<div id="loadingModel" class="displayNone overlayPage">
    <div class=" loaderPage">
        <div>
            <img src='@Url.Content("~/Content/Images/loading_big.gif")' />
        </div>
        <div>
            Loading..
        </div>
    </div>
</div>
<!-- /Loader -->
<script type="text/javascript">
    $("#tblMaintenanceReq").dataTable();
   
    $(document).ready(function () {

        var DataJson = ""; 
        $("#RejectOrders").click(function () {
            
            $.getJSON($URL._GetRejectedOrders, {},
              function (classesData) {
                  classesData = $.parseJSON(classesData);
                  //var classesData1=classesData.length;
                  //alert(classesData1);
                  $.each(classesData, function (i, item) {

                      DataJson += "['" + item.OwnerFirstName + "','Internet Explorer 4.0'],"
                      
                      //DataJson += "['" + item.OwnerFirstName + "','test'],"

                  });

              });
            DataJson = DataJson.substr(0, DataJson.length - 1)
            $('#tblReject').dataTable({
                "aaData": [DataJson
                ],
                "aoColumns": [
                    { "sTitle": "Property Address" },
                    { "sTitle": "Action" }
                   
                ]
            });
        });
    });
        function showLoader() {
            $("#loadingModel").show();
        }
        function hideLoader() {
            $("#loadingModel").hide();
        }
    
</script>
