﻿@model SpectorMax.Entities.Classes.ResetPassword
@{
    Layout = @Url.Content("~/Views/Shared/HomeLayout.cshtml");
}
<script>
    $(document).ready(function () {
        $("#reset").click(function () {
            if ($("#Registration").valid()) {
                var email = GetQueryStringParams('email');
                var pwd = $("#password1").val();
                $("#reset").addClass('active')
                $.ajax({
                    type: "Post",
                    url: $URL._ResetPassword,
                    data: {
                        SecurityQuestion: $("#SecurityQuestion").val(), SecurityAnswer: $("#Answer").val(), Password: $("#password1").val(), emailaddress: email,
                    },
                    dataType: "Json",
                    success: function (result) {
                        if (result.Message == "success") {
                            //   $("#message").text("Password changed successfully");
                            $("#SucessRe").css("display", "block");
                            $(".bs-exampleRe").css("display", "none");
                            $("#reset").removeClass('active')
                        }
                        else if (result.Message == "failed") {
                            $("#lblErrorRe").html("Security question and anwser does not match")
                            $(".bs-exampleRe").show();
                            $("#SucessRe").css("display", "none");
                            $("#reset").removeClass('active')
                            //   $("#message").text("Security question and anwser does not match");
                        }
                        else if (result.Message == "Not a valid user") {
                            $("#lblErrorRe").html("Not a valid user")
                            $(".bs-exampleRe").show();
                            $("#SucessRe").css("display", "none");
                            $("#reset").removeClass('active')
                        }
                        //    $("#message").text("Not a valid user");
                    }
                });
            }
            else {
                DisplayErroMessage();
            }
        });
    });

    function GetQueryStringParams(sParam) {
        var sPageURL = window.location.search.substring(1);
        var sURLVariables = sPageURL.split('&');
        for (var i = 0; i < sURLVariables.length; i++) {
            var sParameterName = sURLVariables[i].split('=');
            if (sParameterName[0] == sParam) {
                return sParameterName[1];
            }
        }
    }


    function DisplayErroMessage() {
        $(".field-validation-error").closest("li").each(function () {
            $(this).find(".form").live("mouseover", function () {
                $(this).find(".field-validation-error .input-validation-error").attr("style", "display:block !important");
            });
            $(this).find(".form").live("mouseout", function () {
                $(this).find(".field-validation-error .input-validation-error").attr("style", "display:none !important");
            });
        });
    }
</script>
<form id="Registration">




    <div class="container">
            <div class="bs-exampleRe" style="display: none">
                    <div class="alert alert-danger alert-error">

                        <strong>Error!</strong>
                        <label id="lblErrorRe">There might be some problem. Please try after some time.</label>
                    </div>
                </div>

                <div class="alert alert-success" id="SucessRe" style="display: none; margin-top: 22px;">



                    <strong>Success!</strong> Password changed successfully.. 

                </div>
        <div class="row">
            <div class="col-md-12">
                <p class="welcome"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="report">
                    <div class="row">

                        <div class="col-md-12 space">
                            <h2>Reset Password</h2>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-12">



                            <div class="col-md-12">

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Security Question :</label>
                                    <div class="col-sm-4">
                                        @Html.DropDownListFor(model => model.SecurityQuestion, (IEnumerable<SelectListItem>)Model.SecurityQuestion1, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.SecurityQuestion)

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Security Answer:</label>
                                    <div class="col-sm-4">
                                        @Html.TextBoxFor(model => model.SecurityAnswer, new { @class = "form-control", id = "Answer" })
                                        @Html.ValidationMessageFor(model => model.SecurityAnswer)

                                    </div>
                                </div>

                            </div>

                        </div>


                    </div>
                    <div class="row">

                        <div class="col-md-12">



                            <div class="col-md-12">

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">New Password:</label>
                                    <div class="col-sm-4">
                                        @Html.TextBoxFor(model => model.Password, new { @class = "form-control", type = "password", id = "password1" })
                                        @Html.ValidationMessageFor(model => model.Password)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Confirm New Password:</label>
                                    <div class="col-sm-4">
                                        @Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "form-control", type = "password", id = "confirmPassword" })
                                        @Html.ValidationMessageFor(model => model.ConfirmPassword)

                                    </div>
                                </div>

                            </div>

                        </div>


                    </div>
                    <div class="row">

                        <div class="col-md-12">



                            <div class="col-md-12">

                                <div class="form-group">
                                    
                                    <button type="button" id="reset"  class="green-btn pull-right has-spinner">
                                        <span class="spinner"><i class="icon-spin icon-spinner icon-large"></i></span>
                                        Submit
                                    </button>
                                </div>
                            </div>



                        </div>


                    </div>
                </div>

            </div>
        </div>
    </div>
  
</form>
