﻿@model SpectorMax.Entities.Classes.PaymentPoco
@{
    Layout = null;
}
@using SpectorMax.Entities.Classes

<script type="text/javascript">
    $(document).ready(function () { 
        $("#tblInvoiceDetail tr #anchorprviousPaymentInvoice").click(function () {
            var amount = $(this).parents('tr').find('.amount').html();
            var Date = $(this).parents('tr').find('.date').html();
            var Template=$("#hdnInvoiceTemplate").val();
            $('#divInvoice').modal({ backdrop: 'static', keyboard: true })
            Template=Template.replace("{First Name}","@Sessions.LoggedInUser.FirstName")
            Template=Template.replace("{LastName}","@Sessions.LoggedInUser.LastName")
            $('#divInvoice .modal-body').html(Template);
            $("#Amount").html(amount);
            if($(this).parents('tr').find('.additionalTesting').html() != "")
            {
                $("#Amount").append($(this).parents('tr').find('.additionalTesting').html());
            }
            $("#PaymentDate").html(Date);
            $("#divInvoice").modal("show");
        });
       
        var sessionData =  @Html.Raw(Json.Encode(Sessions.LoggedInUser));

        if(sessionData != null)
        { 
            if(sessionData.RoleName == "Home Buyer")
            {
                $("#anchorLogoImage").attr("href", $URL._BuyerDashBoard);
            }
        }

        $('#tblInvoiceDetail').dataTable();

        //$(".zebra").live('click', function () {
            
                      
        //                //var a = $("#hdn").val();
                       
        //              //  a = a.toString().replace('$100.00','$'+"452");
        //           //     a = a.toString().replace('21/10/2013',d.getDate() + "/"+  parseInt(d.getMonth()+1) + "/" +d.getFullYear());
        //             //   a = a.toString().replace('1000 Coney Island Ave.Brooklyn NY 11230',$("#hdnAdress").val());
        //                // $("#hdn").val(a);

        //                /*Replacing data end here*/
        //    //$("#divprviousPaymentInvoice .divDialogElements p").html(a );

        //    alert($(this).closest('tr').find('.sorting_1').html());
        //    alert($(this).closest('td').prev('td').html());

        //                $("#divprviousPaymentInvoice").modal().width(900);   
        //                $('#divprviousPaymentInvoice').modal({ backdrop: 'static', keyboard: true })
        //                $("#divprviousPaymentInvoice").modal("show");
                    
                
                 
        //    }); 

            $("#Print").click(function(){
                $('#invoice-page').printElement();
            });

        
    });
</script>
<script type="text/javascript">
    function loadPartialView1(PageNumber, PerPageRecord, islast) {
        $.ajax({
            type: "Post",
            url: "PreviousInvoiceDetials",
            data: {
                PageNumber: PageNumber,
                PerPageRecord: PerPageRecord,
                islast: islast
            },
            dataType: "Json",
            success: function (result) {
                $("#container").html(result.Result);
            }
        });
    }

    
</script>

 <table  class="table table-striped table-bordered table-hover" id="tblInvoiceDetail">
                    @*width="100%" cellspacing="0"*@
                    <thead>
                        <tr>
                             <th width="18%">Invoice Number</th>
                            <th width="18%" >Date</th>
                            <th width="16%" >Amount</th>
                            <th width="16%" ></th>
                            <th width="1%" ></th>
                        </tr>
                    </thead>
                    <tbody>
                            @foreach (var items in Model.objPayment)
                            {
                                <tr>
                                    <td>@items.InvoiceNo</td>
                                    <td class="date">@items.PaymentDate.Value.ToShortDateString()</td>
                                    <td class="amount">$ @items.PaymentAmount</td>
                                    <td><a class="smblue-btn pull-right zebra" role="button" data-toggle="modal" id="anchorprviousPaymentInvoice" data-pid="@items.PaymentID" href="#">View Invoice Details</a></td>
                                    <td style="display:none;" class="additionalTesting">@Html.Raw(items.AdditionalTesting)</td>    
                                </tr>
                            }
                    </tbody>
                </table>
              
    <input type="hidden" value="@ViewBag.InvoiceTemplate" id="hdnInvoiceTemplate"/>
    