﻿@{
    Layout = null;   
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>.::Spectormax::.</title>
    <link href= "@Url.Content("~/Content/ValidationCss/datepicker.css")" rel="stylesheet">
    <link href= "@Url.Content("~/content/css/style.css")" type="text/css" rel="stylesheet" />
    <link href= "@Url.Content("~/Content/ValidationCss/bootstrap-combined.min.css")" rel="stylesheet" />
    <link href= "@Url.Content("~/Content/ValidationCss/style.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/TablesCss/demo_page.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/TablesCss/header.ccss.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/TablesCss/demo_table.css")" rel="stylesheet">

    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.1.0.js"></script>
    <script src= "@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")"></script>
    <script src= "@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
    <script src= "@Url.Content("~/Scripts/bootstrap-datepicker.js")"></script>
    <script src= "@Url.Content("~/Scripts/jquery.maskedinput.min.js")"></script>
    <script src="http://static.scripting.com/github/bootstrap2/js/bootstrap-transition.js"></script>
    @*<script src="http://static.scripting.com/github/bootstrap2/js/bootstrap-modal.js"></script>*@
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.blockUI.js")"></script>
    <link href="@Url.Content("~/Content/TablesCss/demo_page.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/TablesCss/header.ccss.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/TablesCss/demo_table.css")" rel="stylesheet">
    <script src="@Url.Content("~/Scripts/jquery.dataTables.js")" type="text/javascript"></script>
    <!--[if lt IE 9]>
<script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
    <script>
        $URL = {
            _FreeBasicReport: '@Url.Action("FreeBasicReport", "Report")',
            _SearchInspector: '@Url.Action("InspectorRating", "Home")',
            _GetCity: '@Url.Action("GetCity", "Userinfoes")',
            _GetZipCode: '@Url.Action("GetZipcodes", "UserInfoes")',
            _PaymentPost: '@Url.Action("Payment", "Payments")',
            _ForgotPasswordPost: '@Url.Action("ForgotPassword", "UserInfoes")',
            _UserRegisteration: '@Url.Action("Create", "UserInfoes")',
            @*_SampleReport: '@Url.Action("SampleReport", "Report")',*@
            _FreeReport: '@Url.Action("SampleBasicReport", "Report")',
            _SampleReport: '@Url.Action("SampleReport", "Report")',
            _Details: '@Url.Action("Details", "Home")',
            _RadonTesing: '@Url.Action("RadOnTesting", "Home")',
        };
        $(document).ready(function () {
            $(":submit").mouseout(function () { DisplayErroMessage(); });
            function SubmitSetup() {
                $("#Login").submit();
                DisplayErroMessage();
            }
            $(".detail_btn").click(function () {
                $(location).attr("href", $URL._Details);
            });
            $("#txtZipCode").keydown(function (event) {
                // Allow: backspace, delete, tab, escape, enter and .
                if ($.inArray(event.keyCode, [46, 8, 9, 27, 13, 190]) !== -1 ||
                    // Allow: Ctrl+A
                    (event.keyCode == 65 && event.ctrlKey === true) ||
                    // Allow: home, end, left, right
                    (event.keyCode >= 35 && event.keyCode <= 39)) {
                    // let it happen, don't do anything
                    return;
                }
                else {
                    // Ensure that it is a number and stop the keypress
                    if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105)) {
                        event.preventDefault();
                    }
                }
            });
            $('#txtZipCode').keypress(function (event) {

                var keycode = (event.keyCode ? event.keyCode : event.which);
                if (keycode == '13') {
                    if ($("#txtZipCode").val().length > 0) {
                        $(location).attr("href", $URL._SearchInspector + "?ZipCode=" + $("#txtZipCode").val());
                    }
                }

            });

            $(".CReport").click(function () {
                window.open($URL._SampleReport, '_blank');

            });
            $(".FReport").click(function () {
                window.open($URL._FreeReport, '_blank');

            });
            $("#btnSearchInspector").click(function () {
                if ($("#txtZipCode").val().length > 0) {
                    $(location).attr("href", $URL._SearchInspector + "?ZipCode=" + $("#txtZipCode").val());
                }

            });
            $("#btnFreeReport").click(function () {
                $(location).attr("href", $URL._FreeBasicReport + "?UniqueId=" + $("#txtUniqueId").val());
            });

            function DisplayErroMessage() {
                $(".field-validation-error").closest("ul").each(function () {
                    $(this).find(".form").live("mouseover", function () { $(this).find(".field-validation-error .input-validation-error").attr("style", "display:block !important"); });
                    $(this).find(".form").live("mouseout", function () { $(this).find(".field-validation-error .input-validation-error").attr("style", "display:none !important"); });
                });
            }

        });
    </script>
    <style>
        .field-validation-error .input-validation-error {
            display: none !important;
            border: 0 none !important;
            /*float: left;*/
            margin-left: 125px !important;
            margin-top: -22px !important;
            max-width: 318px !important;
            height: 22px !important;
        }
    </style>
</head>
<body>
    @{
        var action = ViewContext.RouteData.GetRequiredString("action");
        var controller = ViewContext.RouteData.GetRequiredString("controller");
    
    }
    <section class="top_headerbar">
    </section>
    <!--====================wrapper starts==============-->
    <section id="wrapper">
        <!--================header starts=================-->
        <header>
            <ul>
                <li>
                    <label style="color: red; float: right; display: none" id="Invalid">Invalid Credentials</label>
                </li>
            </ul>
            <h1 class="logo">
                <a href="@Url.Action("Index", "Home")">
                    <img src="@Url.Content("~/Images/images/logo.png")" alt="Logo" title="Logo"></a>
            </h1>
            <section class="right_header">
                <div id="PopupDivDetails" style="left: 40%; top: 80%; display: none" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Add new Emergency Contact"
                    aria-hidden="true" title="Payment">
                    <p>@ViewBag.Message.</p>
                </div>

                @{
                    Html.RenderPartial("_PartialLoginMaster", new SpectorMax.Entities.Classes.LogInModel());
                }

                <!--==================nav starts=================-->
                <nav>
                    <ul>

                        @if (action == "FreeBasicReport" && controller == "Report")
                        {
                            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                            <li><a href="@Url.Action("HomeBuyer", "Home")">Home Buyers</a></li>
                        }
                        else
                        {
                            if (action == "Index" && controller == "Home")
                            {                                
                            <li><a href="@Url.Action("Index", "Home")" class="active">Home</a></li>
                            }
                            else
                            {
                            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                            }
                            if (action == "HomeBuyer" && controller == "Home")
                            {                                
                            <li><a href="@Url.Action("HomeBuyer", "Home")" class="active">Home Buyers</a></li>
                            }
                            else
                            {
                            <li><a href="@Url.Action("HomeBuyer", "Home")">Home Buyers</a></li>
                            }

                        }
                        @if (action == "HomeSeller" && controller == "Home")
                        {
                            <li><a href="@Url.Action("HomeSeller", "Home")" class="active">Home Sellers</a></li>
                        }
                        else
                        {
                            <li><a href="@Url.Action("HomeSeller", "Home")">Home Sellers</a></li>
                        }
                        
                        <li><a href="#">Real Estate Agents</a></li>
                        <li><a href="#">Join Our Team</a></li>
                        @if (action == "About" && controller == "Home")
                        {                                
                            <li><a href="@Url.Action("About", "Home")" class="bod_non active">About Us</a></li>
                        }
                        else
                        {
                            <li><a href="@Url.Action("About", "Home")" class="bod_non">About Us</a></li>
                        }

                    </ul>
                </nav>
                <!--==================nav ends===================-->
            </section>
        </header>
        <!--================header ends===================-->
        <!--================container start===============-->
        <section id="container">
            <!--================left side starts===============-->
            <section class="left_side" style="width: 662px">

                <div id="divContainer" style="border: 1px solid #dadada; margin-top: 22px; height: 100%; overflow-x: hidden; overflow-y: auto">

                    @RenderBody()
                </div>
                @*  <section class="search">
                    <span class="search_text">Enter # for Basic Report here</span>
                    <section class="search_box">
                        <input type="text" class="big_input" id="txtUniqueId">
                        <input type="button" class="gray_btn" id="btnFreeReport" value="Go">
                    </section>
                </section>

                <section style="margin-bottom: 25px; margin-left: -8px" class="video">
                    <video class="video" controls muted="muted">
                        <a href="~/SpectorMaxMovies/Spectormax.mov"></a>
                    </video>
                </section>

                <section class="spectro">
                    <section class="spectro_text">
                        <h1>Spectormax we will inspect any home for FREE</h1>
                        <p>Spectormax lets you view a Basic Report on any home absolutly Free</p>
                    </section>
                    <section class="detail_btn">
                        <span>CLICK HERE</span>
                        <span class="big_txt">FOR DETAIL</span>
                    </section>
                </section>*@
            </section>
            <!--===============left side ends=================-->
            <!--===============aside starts=================-->
            <aside>
                <section class="small_box">
                    <figure class="small_box_icon">
                        <img src="@Url.Content("~/Images/images/find_icon.png")"   alt="Find" title="Find">
                    </figure>
                    <h2>Find an Inspector</h2>
                    <span>Enter your Zip code below</span>
                    <section class="search_box">
                        <input type="text" class="big_input" id="txtZipCode" maxlength="6" placeholder="Enter Zip Code">
                        <input type="button" class="gray_btn" value="Go" id="btnSearchInspector">
                    </section>
                </section>

                <section class="small_box">
                    <figure class="small_box_icon">
                        <img src="@Url.Content("~/Images/images/time_icon.png")" alt="Schedule" title="Schedule">
                    </figure>
                    <h2>Schedule Online</h2>
                    <span>Lorem ipsum dolor sit amet, consecTetuer adipiscing elit, sed diam Nonummy </span>
                </section>

                @* <section class="small_box">
                    <figure class="small_box_icon">
                        <img src="@Url.Content("~/Images/images/join_icon.png")" alt="Join" title="Join">
                    </figure>
                    <h2>Join Our Team</h2>
                    <span>Lorem ipsum dolor sit amet, consecTetuer adipiscing elit, sed diam Nonummy </span>
                </section>*@
                <section class="big_box mrgn_non"></section>
                <section id="sectionRightBottom" class="big_upper">
                    <figure class="big_icon">
                        <a href="#">
                            <img src="@Url.Content("~/Images/images/services.png")" alt="Other Services" title="Other Services"></a>
                    </figure>
                    <h1>Other Services</h1>
                    <ul>
                       <li><a id="btnDetail_9" href="@Url.Content("~/Home/RadOnTesting")"  >Random Testing</a></li>
                            <li><a id="btnDetail_10" href="@Url.Content("~/Home/MethTesting")">Meth Testing</a></li>
                            <li><a id="btnDetail_11" href="@Url.Content("~/Home/Mold")" >Mold Inspection</a></li>
                            <li><a id="btnDetail_x1" href="@Url.Content("~/Home/GasLeak")" >Gas Leak</a></li>
                            <li><a id="btnDetail_12" href="@Url.Content("~/Home/Foundation")">Foundation Analysis</a></li>
                    </ul>

                    @* <div style='width:80%;margin-top:10px; margin-left:10%; margin-right:10%; border: 1px solid #dadada; '>
                                <p style='margin:5px 5px 5px 5px'>How dose our owner updatable report work?</p>
                            </div>
                            <div>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
                                     took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                                     but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
                                     with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
                                     like Aldus PageMaker including versions of Lorem Ipsum.
                                </p>
                            </div>*@


                </section>
                <section>
                    <input type="button"  style="margin-bottom: 15px; margin-top: 15px;" class="btn CReport" value="Sample Comprehensive Report" />
                    <input type="button" class="btn FReport" value="Sample Basic Report" />
                </section>
            </aside>
            <!--===============aside ends==================-->
            <!--===============bottom starts==============-->
            @*   <section id="bottom">
                <section class="big_box">
                    <section class="big_upper">
                        <figure class="big_icon">
                            <a href="#">
                                <img src="@Url.Content("~/Images/images/basic.png")" alt="Basic Report" title="Basic Report"></a>
                        </figure>
                        <h1>Minature a Basic Report Sample</h1>
                        <ul>
                            <li><a href="#">Lorem ipsum dolor sit amet, conse.</a></li>
                            <li><a href="#">Tetuer adipiscing elit, sed diam.</a></li>
                            <li><a href="#">Nonummy nibh euismod tincidunt ut.</a></li>
                            <li><a href="#">Aoreet dolore magna aliquam erat.</a></li>
                            <li><a href="#">Volutpat.</a></li>
                            <li><a href="#">Dolore magna aliquam.</a></li>
                        </ul>
                    </section>
                    <section class="big_bottom"></section>
                </section>
                <section class="big_box">
                    <section class="big_upper">
                        <figure class="big_icon">
                            <a href="#">
                                <img src="@Url.Content("~/Images/images/comprehensive.png")" alt="Comprehensive Report" title="Comprehensive Report"></a>
                        </figure>
                        <h1>Minature Comprehensive Report Sample</h1>
                        <ul>
                            <li><a href="#">Lorem ipsum dolor sit amet, conse.</a></li>
                            <li><a href="#">Tetuer adipiscing elit, sed diam.</a></li>
                            <li><a href="#">Nonummy nibh euismod tincidunt ut.</a></li>
                            <li><a href="#">Aoreet dolore magna aliquam erat.</a></li>
                            <li><a href="#">Volutpat.</a></li>
                            <li><a href="#">Dolore magna aliquam.</a></li>
                        </ul>
                    </section>
                    <section class="big_bottom"></section>
                </section>

                <section class="big_box mrgn_non">
                    <section class="big_upper">
                        <figure class="big_icon">
                            <a href="#">
                                <img src="@Url.Content("~/Images/images/services.png")" alt="Other Services" title="Other Services"></a>
                        </figure>
                        <h1>Other Services</h1>
                        <ul>
                            <li><a href="#">Random Testing</a></li>
                            <li><a href="#">Meth Testing</a></li>
                            <li><a href="#">Energy Analysis</a></li>
                            <li><a href="#">Mold Inspection</a></li>
                            <li><a href="#">Gas Leak</a></li>
                            <li><a href="#">Moisture Analysis</a></li>
                        </ul>
                    </section>
                    <section class="big_bottom"></section>
                </section>
            </section>*@
            <!--==============bottom ends=================-->
            <section class="clr"></section>
        </section>
        <!--===============container ends================-->
        <!--===============footer starts================-->
        <footer>
            <ul>
                @if (action == "Index" && controller == "Home")
                {
                    <li><a href="@Url.Action("Index", "Home")" class="active">Home </a>|</li>
                }
                else
                {
                    <li><a href="@Url.Action("Index", "Home")">Home </a>|</li>
                }
                @*  @if (action == "About" && controller == "Home")
                {
                    <li><a class="active" href="@Url.Action("About", "Home")">About Us </a>|</li>
                }
                else
                {
                    <li><a  href="@Url.Action("About", "Home")">About Us </a>|</li>
                }*@
                @if (action == "Contact" && controller == "Home")
                {
                    <li><a class="active" href="@Url.Action("Contact", "Home")">Contact Us </a>|</li>
                }
                else
                { 
                    <li><a href="@Url.Action("Contact", "Home")">Contact Us </a>|</li>
                }
                @if (action == "TermsAndConditions" && controller == "Home")
                {
                    <li><a class="active" href="@Url.Action("TermsAndConditions", "Home")">Terms &amp; Condition </a>|</li>
                }
                else
                { 
                    <li><a href="@Url.Action("TermsAndConditions", "Home")">Terms &amp; Condition </a>|</li>
                }
                @if (action == "PrivacyPolicy" && controller == "Home")
                {
                    <li><a class="active" href="@Url.Action("PrivacyPolicy", "Home")">Privacy Policy </a>|</li>
                }
                else
                { 
                    <li><a href="@Url.Action("PrivacyPolicy", "Home")">Privacy Policy</a>|</li>
                }
                @if (action == "Philosophy" && controller == "Home")
                {
                    <li><a class="active" href="@Url.Action("Philosophy", "Home")">Our Philosophy </a>|</li>
                }
                else
                { 
                    <li><a href="@Url.Action("Philosophy", "Home")">Our Philosophy </a>|</li>
                }
                @if (action == "CodeofEthics" && controller == "Home")
                {
                    <li><a class="active" href="@Url.Action("CodeofEthics", "Home")">Code of Ethics </a>|</li>
                }
                else
                { 
                    <li><a href="@Url.Action("CodeofEthics", "Home")">Code of Ethics </a>|</li>
                }
                @if (action == "StandardofPractice" && controller == "Home")
                {
                    <li><a class="active" href="@Url.Action("StandardofPractice", "Home")">Standard of Practice </a>|</li>
                }
                else
                { 
                    <li><a href="@Url.Action("StandardofPractice", "Home")">Standard of Practice </a>|</li>
                }
            </ul>
            <p>&copy; 2013 SpectorMax. All rights are reserved.</p>
        </footer>
        <!--===============footer ends================-->
        <div id="PopupDiv" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Add new Emergency Contact"
            aria-hidden="true" title="Payment">
            <h2 style="width: 85%; margin: auto">Error in Processing request</h2>
            <h3 style="width: 50%; margin: auto; color: red"></h3>
        </div>
    </section>
</body>
</html>
<script type="text/javascript">
    var msg = "@ViewBag.Message";
    if (msg == "Invalid email or password") {
        $("#Invalid").show();
    }
</script>


