﻿<!DOCTYPE html>
<html>
<head>

    <title>.::Spectormax::.</title>
    @using SpectorMax.Entities.Classes
    <meta charset="utf-8">
    <link href="@Url.Content("~/Content/ValidationCss/datepicker.css")" rel="stylesheet">
    <link href= "@Url.Content("~/content/css/style.css")" type="text/css" rel="stylesheet" />
    <link href= "@Url.Content("~/Content/ValidationCss/bootstrap-combined.min.css")" rel="stylesheet" />
    <link href= "@Url.Content("~/Content/ValidationCss/style.css")" rel="stylesheet" />
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
    <script src="~/Scripts/CropImage/jquery.1.10.2.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.1.0.js"></script>
    <script src= "@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")"></script>
    <script src= "@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
    <script src="@Url.Content("~/Scripts/Common.js")"></script>
    <script src= "@Url.Content("~/Scripts/bootstrap-datepicker.js")"></script>
    <script src= "@Url.Content("~/Scripts/jquery.maskedinput.min.js")"></script>
    <script src="http://static.scripting.com/github/bootstrap2/js/bootstrap-transition.js"></script>
    @*  <script src="http://static.scripting.com/github/bootstrap2/js/bootstrap-modal.js"></script>*@
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.blockUI.js")"></script>
    <link href="@Url.Content("~/Content/TablesCss/demo_page.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/TablesCss/header.ccss.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/TablesCss/demo_table.css")" rel="stylesheet">
    <script src="@Url.Content("~/Scripts/jquery.dataTables.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnLogout").click(function () {
                $(location).attr("href", $URL._LogOut);
            });
        });
        function showLoader() {
            $("#loadingModel").show();
        }
        function hideLoader() {
            $("#loadingModel").hide();
        }
    </script>

    @*<style>
        #LinkManageProfile a:hover {
            color:#231975;
            font-size:15px;
        }
    </style>
    *@

    <script type="text/javascript">
        $URL = {
            _HomePage: '@Url.Action("Index", "Home")',
            _InviteFriend: '@Url.Action("InviteFriend", "UserInfoes")',
            _PreClosingCheckListIndex: '@Url.Action("Index", "PreClosingCheckList")',
            _InsectionOrderDetailsCreate: '@Url.Action("Create", "InsectionOrderDetails")',
            _InsectionOrderDetails: '@Url.Action("Details", "InsectionOrderDetails")',
            _PaymentsDetails: '@Url.Action("Details", "Payments")',
            _PaymentsIndex: '@Url.Action("Index", "Payments")',
            _ReferaFriend: '@Url.Action("ReferaFriend", "UserInfoes")',
            _NotificationIndex: '@Url.Action("Index", "Notification")',
            _LogOut: '@Url.Action("LogOff", "UserInfoes")',
            _LogOutAdmin: '@Url.Action("LogOff", "Admin")',
            _PaymentsPaymentPopup: '@Url.Action("PaymentPopup", "Payments")',
            _FilterInspectionOrderDetials: '@Url.Action("FilterInspectionOrderDetials", "InsectionOrderDetails")',
            _InviteFriendPost: '@Url.Action("InviteFriend", "UserInfoes")',
            _ReferaFriendPost: '@Url.Action("ReferaFriend", "UserInfoes")',
            _Payment: '@Url.Action("Payment", "Payments")',
            _PaymentPost: '@Url.Action("Payment", "Payments")',
            _Inspectorrating: '@Url.Action("Create", "InsectionOrderDetails")',
            _SellerDashBoard: '@Url.Action("SellerDashboard", "UserInfoes")',
            _BuyerDashBoard: '@Url.Action("BuyerDashboard", "UserInfoes")',
            _InspectorDashBoard: '@Url.Action("InspectorDashboard", "UserInfoes")',
            _BuyerSearchProperties: '@Url.Action("SearchProperties", "UserInfoes")',
            _UpgradeAccount: '@Url.Action("UpgradeAccount", "UserInfoes")',
            _loadmoredata: '@Url.Action("DetailReportLoadMore", "Report")',
            _ShowReport: '@Url.Action("ShowDetailReport", "Report")',
            _ViewDetailReport: '@Url.Action("ViewDetailReport", "Report")',
            _CheckUserPayment: '@Url.Action("CheckUserPayment", "Report")',
            _CheckSellerPayment: '@Url.Action("CheckSellerUserPayment", "Report")',
            _CheckBuyerPayment: '@Url.Action("CheckBuyerUserPayment", "Report")',
            _PostInspectionSurvey: '@Url.Action("PostInspectionSurvey", "InspectorRatings")',
            _ReviewsAndRating: '@Url.Action("Create", "InspectorRatings")',
            @*_UpdateSubSectionInfo: '@Url.Action("UpdateSubSectionInfo", "Notification")',*@
            _PartialUpdateSubSectionInfor: '@Url.Action("PartialUpdateSubSectionInfor", "Notification")',
            _UploadBatchDataFile: '@Url.Action("UploadBatchDataFile", "Notification")',
            _UpdateSubSectionInfoPost: '@Url.Action("UpdateSubSectionInfoPost", "Notification")',
            _ViewAllComments: '@Url.Action("ViewAllComments", "Inspector")',
            _ViewAllCommentsPost: '@Url.Action("ViewAllCommentsPost", "Inspector")',
            _RequestToRemoveComment: '@Url.Action("RequestAdmintoRemoveComment", "InspectorRatings")',
            _SaveCommentsByInspector: '@Url.Action("SaveCommentsByInspector", "Inspector")',
            _FilterInsReportData: '@Url.Action("FilterByDate", "Inspector")',
            _UploadInspectorImgAndCertificate: '@Url.Action("UploadBatchDataFile", "Inspector")',
            _AcceptedOrRejected: '@Url.Action("AcceptedOrRejected", "InsectionOrderDetails")',
            _ThankYou: '@Url.Action("ThankYou", "Payments")',
            _InnerThankYou: '@Url.Action("InnerThankYou", "Payments")',
            _NotificationDashboard: '@Url.Action("NewNotification", "Notification")',
            _GetRejectedOrders: '@Url.Action("GetRejectedOrders", "Notification")',
            _GetNotificationDetails: '@Url.Action("GetDetails", "Notification")',
            _AssignInspectoinRequest: '@Url.Action("AssignInspector", "Admin")',
            _GetCity: '@Url.Action("GetCity", "Userinfoes")',
            _GetZipCode: '@Url.Action("GetZipcodes", "UserInfoes")',
            _NGetCity: '@Url.Action("NGetCity", "Userinfoes")',
            _NGetZipCode: '@Url.Action("NGetZipcodes", "UserInfoes")',
            _AdminDashBoard: '@Url.Action("AdminDashboard", "Admin")',
            _GetResentReportsViewed: '@Url.Action("GetResentReportsViewed", "UserInfoes")',
            _AdditionalTesting: '@Url.Action("GetAddtionalTestingDetails", "InsectionOrderDetails")',
            _CheckBuyerPayment: '@Url.Action("CheckUserPayment", "Report")',
            _CheckSampleReport: '@Url.Action("SampleInspectionReport", "Report")',
            _SearchInspector: '@Url.Action("Index", "InspectorRatings")',
            _AcceptDecline: '@Url.Action("AcceptDecline", "Notification")',
            _SearchReportByReportNo: '@Url.Action("SearchReportByReportNo", "UserInfoes")',
            _SearchReportByAdderss: '@Url.Action("SearchReportByAdderss", "UserInfoes")',
            _NFreeBasiReport: '@Url.Action("SampleInspectionReportSeller", "Report")',
            _YourInvoices: '@Url.Action("YourInvoices", "UserInfoes")',
            _YourUpdatableReport: '@Url.Action("YourUpdatableReport", "UserInfoes")',
            _GetInspector_Notifications: '@Url.Action("GetDetails_Inspector", "Notification")',
            _SavePreClosing: '@Url.Action("index", "PreClosingCheckList")',
        }
    </script>
    @* <script type="text/javascript">
        $("#CreateInspection").click(function()

    </script>*@
    <!--[if lt IE 9]>
<script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
@{
    var action = ViewContext.RouteData.GetRequiredString("action");
    var controller = ViewContext.RouteData.GetRequiredString("controller");
    
}


<body>
    <section class="top_headerbar"></section>
    <!--====================wrapper starts==============-->
    <section id="wrapper">
        <!--================header starts=================-->
        <header>
            <h1 class="logo">

                <a id="anchorLogoImage" href="@Url.Content("~/UserInfoes/SellerDashboard")">
                    <img src="@Url.Content("~/Images/images/logo.png")" alt="Logo" title="Logo"></a>
            </h1>
            <section class="right_header">
                <section class="right_top_head">
                    <div style="float: right">
                        @if (Sessions.LoggedInUser != null)
                        {
                            <b>
                                <label>Welcome&nbsp;@SpectorMax.Entities.Classes.Sessions.LoggedInUser.FirstName @SpectorMax.Entities.Classes.Sessions.LoggedInUser.LastName</label></b>
                            <label>
                                <input type="button" style="margin: 8px 7px 0px 0px" id="btnLogout" class="logout" value="Log Out" /></label>
                            if (Sessions.LoggedInUser.RoleName == "Home Buyer" || Sessions.LoggedInUser.RoleName == "Home Seller")
                            {
                            <p id="LinkManageProfile"><a href="@Url.Action("ManageProfile", "UserInfoes")" class="btn" style="text-align:right;  float: right;margin-right: 5px;margin-top: 15px;">Manage Profile1</a></p>
                            }

                        }
                    </div>
                </section>
                <!--==================nav starts=================-->
                <nav class="nav1">
                    @if (Sessions.LoggedInUser != null)
                    {
                        <ul>
                            @if (Sessions.LoggedInUser.RoleName == "Home Seller")
                            {
                                if (action == "Create" && controller == "InsectionOrderDetails")
                                {
                                <li style="font-size: 14px"><a href="@Url.Content("~/InsectionOrderDetails/Create?userId=" + @Sessions.LoggedInUser.UserId)" id="CreateInspection" class="active">Create Inspection</a></li>
                                }
                                else
                                {
                                <li style="font-size: 14px"><a href="@Url.Content("~/InsectionOrderDetails/Create?userId=" + @Sessions.LoggedInUser.UserId)" id="CreateInspection" >Create Inspection</a></li>
                                }
                                if (action == "Details" && controller == "InsectionOrderDetails")
                                {
                                <li style="font-size: 14px"><a href="@Url.Content("~/InsectionOrderDetails/Details?userId=" + @Sessions.LoggedInUser.UserId)"  class="active" id="ViewPreviousInspection"  >View Previous Inspection</a></li>
                                }
                                else
                                {
                                <li style="font-size: 14px"><a href="@Url.Content("~/InsectionOrderDetails/Details?userId=" + @Sessions.LoggedInUser.UserId)" id="ViewPreviousInspection"  >View Previous Inspection</a></li>
                                }
                                if (action == "Details" && controller == "Payments")
                                {
                                <li style="font-size: 14px"><a href="@Url.Content("~/Payments/Details?userId=" + @Sessions.LoggedInUser.UserId)" id="ViewPreviousInvoices" class="active">View Previous Invoices</a></li>
                                }
                                else
                                {
                                <li style="font-size: 14px"><a href="@Url.Content("~/Payments/Details?userId=" + @Sessions.LoggedInUser.UserId)" id="ViewPreviousInvoices">View Previous Invoices</a></li>
                                }
                                if (action == "SellerDashboard" && controller == "UserInfoes")
                                {
                                <li style="font-size: 14px"><a href="@Url.Content("~/UserInfoes/SellerDashboard")" id="Dashboard" class="active">Go Back to Dashboard</a></li>
                                }
                                else
                                {
                                <li style="font-size: 14px"><a href="@Url.Content("~/UserInfoes/SellerDashboard")" id="Dashboard">Go Back to Dashboard</a></li>
                                }
                            }
                        </ul>
                    }
                    @if (Sessions.LoggedInUser != null)
                    {
                        <ul>
                            @if (Sessions.LoggedInUser.RoleName == "Home Buyer")
                            {
                                if (action == "HomeBuyerPlan" && controller == "UserInfoes")
                                {
                                <li style="font-size: 14px"><a href="@Url.Content("~/UserInfoes/HomeBuyerPlan")"  id="PurchasePlan" class="active">Purchase Plan</a></li>
                                }
                                else
                                {
                                <li style="font-size: 14px"><a href="@Url.Content("~/UserInfoes/HomeBuyerPlan")"  id="PurchasePlan">Purchase Plan</a></li>
                                }
                                if (action == "CreateInspectionRequest" && controller == "UserInfoes")
                                {
                                <li style="font-size: 14px"><a href="@Url.Content("~/UserInfoes/CreateInspectionRequest")" class="active"  id="InspectionRequest">Create Inspection Request</a></li>
                                }
                                else
                                {
                                <li style="font-size: 14px"><a href="@Url.Content("~/UserInfoes/CreateInspectionRequest")"  id="InspectionRequest">Create Inspection Request</a></li>
                                }
                                if (action == "PrevoiusInspections" && controller == "UserInfoes")
                                {
                                <li style="font-size: 14px"><a href="@Url.Content("~/UserInfoes/PrevoiusInspections")" class="active" id="ViewPrevInspection" >View Previous Inspections</a></li>
                                }
                                else
                                {
                                <li style="font-size: 14px"><a href="@Url.Content("~/UserInfoes/PrevoiusInspections")" id="ViewPrevInspection" >View Previous Inspections</a></li>
                                }

                                if (action == "BuyerDashboard" && controller == "UserInfoes")
                                {
                                <li style="font-size: 14px"><a href="@Url.Content("~/UserInfoes/BuyerDashboard")" class="active" id="BuyerDashboard" >Go Back to Dashboard</a></li>
                                }
                                else
                                {
                                <li style="font-size: 14px"><a href="@Url.Content("~/UserInfoes/BuyerDashboard")" id="BuyerDashboard" >Go Back to Dashboard</a></li>
                                }

                            }
                        </ul>
                    }
                    @if (Sessions.LoggedInUser != null)
                    {
                        <ul style="float: right; margin-right: 20px;">
                            @if (Sessions.LoggedInUser.RoleName == "Property Inspector")
                            {
                                <li><a href="@Url.Action("ManageProfile", "Inspector")" id="ManageProfile">Manage Profile</a></li>
                                <li><a href="@Url.Action("InspectorDashboard", "UserInfoes")" class="active" id="DashBoardLink">Go Back to Dashboard</a></li>
                            }
                        </ul>
                    }

                </nav>
                <!--==================nav ends===================-->
                <section class="clr"></section>
            </section>
        </header>
        <!--================header ends===================-->
        <div id="body1">
            <section>
                @RenderBody()
            </section>
        </div>
        <footer>
            @* <ul>
                <li><a href="#">Home </a>|</li>
                <li><a href="#">About Us </a>|</li>
                <li><a href="#">Contact Us </a>|</li>
                <li><a href="#">Terms &amp; Condition </a>|</li>
                <li><a href="#">Privacy Policy </a>|</li>
                <li><a href="#">Our Philosophy </a>|</li>
                <li><a href="#">Code of Ethics </a>|</li>
                <li><a href="#">Standard of Practice</a></li>
            </ul>*@
            <p>&copy; 2013 SpectorMax. All rights are reserved.</p>
        </footer>
        <!--===============footer ends================-->
    </section>
    <!--====================wrapper ends=============-->
    <!-- /Custome Alert -->
    <div aria-hidden="true" style="background-color: #FAE0E1; margin: -30% 0 0 -40%; top: 100%; left: 76%" aria-labelledby="windowtitlelabel" data-backdrop="static" data-keyboard="false" role="dialog" tabindex="-1" class="modal hide fade in" id="popupalert">
        <div class="modal-header">
            <a data-dismiss="modal" class="close" href="#">×</a>
            <h3 id="HAlertmessage"></h3>
        </div>
        <div class="modal-body">
            <div class="divdialogelements">
                <p id="palertmessage"></p>
            </div>
        </div>

    </div>
    <!-- /Custome Alert -->
    <!-- Loader-->
    <div id="loadingModel" class="displayNone overlayPage">
        <div class=" loaderPage">
            <div>
                <img src='@Url.Content("~/Content/Images/loading_big.gif")' />
            </div>
            <div>
                Loading..
            </div>
        </div>
    </div>
    <!-- /Loader -->
</body>
</html>
<script type="text/javascript">
    function ShowAlertMessage(title, message) {
        $("#popupalert").width(400);
        $('#popupalert').modal({ backdrop: 'static', keyboard: true })
        $("#popupalert").modal("show");

        $("#palertmessage").html(message);
        if (title == "title" || title == "")
            $("#HAlertmessage").html("Alert Message");
        else
            $("#HAlertmessage").html(title);
    }
</script>
