﻿@model SpectorMax.Entities.Classes.Paging

@Html.HiddenFor(x => x.PerPageRecord, new { @id = "hdnPerPageRecord" })
@Html.HiddenFor(x => x.TotalRecord, new { @id = "hdnTotalRecord" })
@Html.HiddenFor(x => x.TotalPage, new { @id = "hdnTotalPage" })
@Html.HiddenFor(x => x.PageNumber, new { @id = "hdnPageNumber" })

@if (Model.TotalPage > 1)
{
    <div id="pager" style="float: right">
        <table class="infrmtn_info" style="border-collapse: inherit">
            <tr>
                <td>
                    <table style="width: auto">
                        <tr>
                            <td>
                                <img alt="" onclick="Pagging(0);" src="@Url.Content("~/Content/images/pagging/first.png")" class="first" />
                            </td>
                            <td>
                                <img alt="" onclick="Pagging(-1);" src="@Url.Content("~/Content/images/pagging/prev.png")" class="prev" />
                            </td>
                            <td>
                                <span>Current Page:-</span><span> @*  @Html.TextBoxFor(x => x.PageNumber, new { @class = "detai_input", @onchange = "Pagging2(this.value);", @id = "currentPage", @style = "width:30px" })*@
                                    <input type="text" name="PageNumber" class ="bod_rgt" id="currentPage" value="@Model.PageNumber" style = "width:30px" onchange = "Pagging2(this.value);"/>
                                    @*@Model.PageNumber*@
                                </span>
                            </td>
                            <td>
                                <span>Total Page:-</span><span id="spnTotalPage">@Model.TotalPage</span> @*@Model.TotalPage*@
                            </td>
                            <td>
                                <img alt="" onclick="Pagging(+1);" src="@Url.Content("~/Content/images/pagging/next.png")" class="next" />
                            </td>
                            <td>
                                <img alt="" onclick="Pagging(2);" src="@Url.Content("~/Content/images/pagging/last.png")" class="last" />
                            </td>
                            <td>
                                @Html.DropDownListFor(model => model.PerPageRecord, new SelectList(Model.PerPageRecordlist, "Key", "Value"), new { @class = "select_box", @style = "width:50px", Id = "hdnPerPageRecord", @onchange = "Pagging1(this.value);" })
                            </td>
                        </tr>
                    </table>
                </td>
                <td style="text-align: right"></td>
            </tr>
        </table>
    </div>
}