﻿@{
    Layout = null;
    var action = ViewContext.RouteData.GetRequiredString("action");
    var controller = ViewContext.RouteData.GetRequiredString("controller");
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>:: SPECTOR MAX ::</title>

    <!-- Bootstrap -->
    <link href="@Url.Content("~/Content/css/Home/bootstrap.css")" type="text/css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/Home/style.css")" type="text/css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/NLayout/FontAwasom.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/ValidationCss/datepicker.css")" type="text/css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/ekko-lightbox.css")" type="text/css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/jquery.bxslider.css")" type="text/css" rel="stylesheet" />
    <link href= "@Url.Content("~/Content/ValidationCss/style.css")" rel="stylesheet" />



    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="@Url.Content("~/Scripts/ekko-lightbox.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.bxslider.js")"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.maskedinput.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-datepicker.js")"></script>
    <script src= "@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src= "@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <header class="no-padng">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-3 ">
                    <a href="@Url.Action("HomePartial", "Home")">
                        <img src="@Url.Content("~/Images/HomePage/logo.png")"  alt=""></a>
                </div>
                <div class="col-md-9 col-sm-9 ">
                    <div class="row">
                        <div class="col-md-12">
                            <nav class="navbar navbar-default setnavhead" role="navigation ">
                                <div class="container-fluid">
                                    <!-- Brand and toggle get grouped for better mobile display -->
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                                        <a class="navbar-brand" href="#"></a>
                                    </div>

                                    <!-- Collect the nav links, forms, and other content for toggling -->
                                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                        <ul class="nav nav-pills pull-right">
                                            <li><a href="@Url.Action("create", "UserInfoes")">CREATE AN ACCOUNT</a></li>
                                            <li id="menuLogin" class="dropdown">
                                                <a id="navLogin" class="dropdown-toggle" data-toggle="dropdown" href="#">Login</a>
                                                <div class="dropdown-menu login" style="padding: 17px;">
                                                    <div class="bs-exampleExp" style="display: none">
                                                        <div class="alert alert-danger alert-error">

                                                            <strong>Error!</strong>
                                                            <label id="loginmessage">There might be some problem. Please try after some time.</label>
                                                        </div>
                                                    </div>
                                                    <form id="formLogin" class="form">
                                                        <label>Login</label>
                                                        <input id="username" type="text" required="" style="width: 260px;" class="form-control" title="Enter your username" data-valid-min="6" pattern="^[a-z,A-Z,0-9,_]{6,15}$" placeholder="Username" name="username">
                                                        <input id="password" type="password" required="" style="width: 260px; margin-top: 3px;" class="form-control" title="Enter your password" placeholder="Password" name="password">

                                                        <br>
                                                        <button id="btnLogin" class="rate tpbm has-spinner" type="button">
                                                            <span class="spinner"><i class="icon-spin icon-spinner icon-large"></i></span>
                                                            Login</button>

                                                        @*<img alt="progress bar" style="display:none" id="loginProgress" src="@Url.Content("~/Images/loading_icon.gif")" />*@
                                                    </form>

                                                    <form>
                                                        <a id="btnNewUser" data-target="#formRegister" data-toggle="collapse" title="Fast and free sign up!" href="@Url.Action("create", "UserInfoes")">New User? Sign-up..</a>
                                                    </form>
                                                    <form>
                                                        <a href="@Url.Action("ForgotPassword", "UserInfoes")" role="button" data-toggle="modal">Forgot username or password?</a>
                                                    </form>
                                                    <form>
                                                        <a href="@Url.Action("Contact", "Home")" role="button" data-toggle="modal">
                                                            <small>Need help? Contact us</small>
                                                        </a>
                                                    </form>
                                                </div>
                                            </li>
                                        </ul>
                                        <div style="clear: both;"></div>
                                        <div class="clearfix">
                                            <ul class="nav navbar-nav setnav">
                                                <li><a href="@Url.Action("HomePartial", "Home")" class="tp-menu @Html.ActivePage("Home", "HomePartial")">Home</a></li>
                                                <li><a href="@Url.Action("HomeBuyerPartial", "Home")" class="tp-menu  @Html.ActivePage("Home", "HomeBuyerPartial")">Buyers</a></li>
                                                <li><a href="@Url.Action("HomeSellerPartial", "Home")" class="tp-menu @Html.ActivePage("Home", "HomeSellerPartial")">Sellers</a></li>
                                                <li><a href="@Url.Action("HomeAgentsPartial", "Home")" class="tp-menu @Html.ActivePage("Home", "HomeAgentsPartial")">Agents</a></li>
                                                <li><a href="@Url.Action("HomeJoinusPartial", "Home")" class="tp-menu @Html.ActivePage("Home", "HomeJoinusPartial")">Join Our Team</a></li>
                                                <li><a href="@Url.Action("HomeAboutUsPartial", "Home")" class="tp-menu @Html.ActivePage("Home", "HomeAboutUsPartial")">About</a></li>
                                            </ul>
                                        </div>
                                        <!-- /.navbar-collapse -->
                                    </div>
                                    <!-- /.container-fluid -->
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section>

        @RenderBody()
    </section>
    <footer>
        <div class="container">
            <ul>
                <li><a href="@Url.Action("Contact", "Home")">Contact Us</a></li>
                <li><a href="@Url.Action("TermsAndConditions", "Home")">Terms & Conditions </a></li>
                <li><a href="@Url.Action("PrivacyPolicy", "Home")">Privacy Policy </a></li>
                <li><a href="@Url.Action("Philosophy", "Home")">Our Philosophy</a></li>
                <li><a href="@Url.Action("CodeofEthics", "Home")">Code Of Ethics</a></li>
                <li><a href="@Url.Action("StandardofPractice", "Home")">Standards of Practice</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>


<script>

    $URL = {
        _FreeBasicReport: '@Url.Action("FreeBasicReport", "Report")',
        _SearchInspector: '@Url.Action("InspectorRating", "Home")',
        _GetCity: '@Url.Action("GetCity", "Userinfoes")',
        _GetZipCode: '@Url.Action("GetZipcodes", "UserInfoes")',
        _PaymentPost: '@Url.Action("Payment", "Payments")',
        _ForgotPasswordPost: '@Url.Action("ForgotPassword", "UserInfoes")',
        _UserRegisteration: '@Url.Action("Create", "UserInfoes")',
            @*_SampleReport: '@Url.Action("SampleReport", "Report")',*@
        _FreeReport: '@Url.Action("SampleBasicReport", "Report")',
        _SampleReport: '@Url.Action("SampleReport", "Report")',
        _Details: '@Url.Action("Details", "Home")',
        _NGetCity: '@Url.Action("NGetCity", "UserInfoes")',
        _NGetZipCode: '@Url.Action("NGetZipcodes", "UserInfoes")',
        _ThankYou: '@Url.Action("ThankYou", "Payments")',
        _ViewComprehensiveReport: '@Url.Action("ViewComprehensiveReport", "Report")',
        _CreateInspectionOrder: '@Url.Action("NCreateNewInspection", "NInspectionOrderDetailsController")',
        _ScheduleNow: '@Url.Action("AdditionalTesting", "Home")',
        _ViewInspectorProfile: '@Url.Action("ViewInspectorProfile", "UserInfoes")',
    };

    $(document).ready(function ($) {

        $('#txtUniqueId').keypress(function (event) {

            var keycode = (event.keyCode ? event.keyCode : event.which);
            if (keycode == '13') {
                $(location).attr("href", '@Url.Action("FreeBasicReport", "Report")' + "?UniqueId=" + $("#txtUniqueId").val());
            }
        });
    });
    $("#btnFreeReport").click(function () {
        $(location).attr("href", '@Url.Action("FreeBasicReport", "Report")' + "?UniqueId=" + $("#txtUniqueId").val());
    });
    $('.carousel').carousel({
        interval: 10000
    })
    $("#PopupDiv").hide();

    $('.collapse').on('show.bs.collapse hide.bs.collapse', function () {
        $(this).parent('li').toggleClass('selected');
    });
    $('#nav-searchform-a').click(function () {
        if ($('#nav-searchform').hasClass('in'))
            console.log($('#nav-searchform').hasClass('in'))
        $('#nav-searchform').collapse('hide');
    });


    $("#Video").click(function () {
        $("#PopupDiv").modal("show");
    });
    $('#username').keypress(function (event) {

        var keycode = (event.keyCode ? event.keyCode : event.which);
        if (keycode == '13') {
            $("#btnLogin").click();
        }

    });
    $('#password').keypress(function (event) {

        var keycode = (event.keyCode ? event.keyCode : event.which);
        if (keycode == '13') {
            $("#btnLogin").click();
        }

    });


    $("#btnLogin").click(function () {
        var isValid = true;
        $('div.login input').each(function () {
            if ($.trim($(this).val()) == '') {
                isValid = false;

                $(this).addClass("input-validation-error")
            }
            else {
                $(this).removeClass("input-validation-error")

            }
            if (isValid) {
                $("#btnLogin").addClass('active');

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("JSONLogOn", "UserInfoes")',
                    dataType: "html",
                    data: { UserName: $("#username").val(), Password: $("#password").val(), rememberme: true },
                    success: function (result) {
                        $("#btnLogin").removeClass('active');
                        $(".bs-exampleExp").css("display", "none")
                        var msg = JSON.parse(result);
                        if (msg.UserRoleType == "Property Inspector") {
                            var url = '@Url.Action("InspectorDashboardNew", "UserInfoes")';
                            window.location.href = url;
                        }
                        else if (msg.UserRoleType == "SiteUser") {
                            var url = '@Url.Action("Dashboard", "UserInfoes")';
                            window.location.href = url;
                        }

                        else {
                        //$("#loginmessage").html("Forgot user name or password, please click below");
                            $("#loginmessage").html(msg.Message);
                            $(".bs-exampleExp").css("display", "block")
                        }
                    },
                    error: function (e) {
                        $("#btnLogin").removeClass('active');
                    },
                });

        }


        });
        $("#countinue").click(function () {
            if ($(':radio[name=RegistrationType]').val() == "" || $(':radio[name=RegistrationType]').val() == null) {
                return false;
                alert("Please Select User Type");
            }
            $("#userInfo .simple_input").val('');
            $('#phone').mask('(999) 999-9999');
            $("#userInfo").css('display', 'block'); //.fadeIn('slow');
            $("#userType").css('display', 'none');
            $("#ZipCode").val('');
            $("#password").val('');
        });

    });

</script>

<script type="text/javascript">

    $URL = {
        _SampleReport: '@Url.Action("SampleReport", "Report")',
    }

    $(document).ready(function ($) {
        // delegate calls to data-toggle="lightbox"
        $(document).delegate('*[data-toggle="lightbox"]', 'click', function (event) {
            event.preventDefault();
            return $(this).ekkoLightbox({
                onShown: function () {
                    if (window.console) {
                        return console.log('Checking our the events huh?');
                    }
                }
            });
        });

        //Programatically call
        $('#open-image').click(function (e) {
            e.preventDefault();
            $(this).ekkoLightbox();
        });
        $('#open-youtube').click(function (e) {
            e.preventDefault();
            $(this).ekkoLightbox();
        });

        $("#ScheduleNow").attr("href", "@Url.Action("AdditionalTesting", "Home")");
    });
</script>
