﻿@model SpectorMax.Entities.Classes.PagingPoco
@using SpectorMax.Entities.Classes;
<script src="@Url.Content("~/Scripts/Paging/Paging.js")"></script>

<link href="@Url.Content("~/Content/TablesCss/demo_page.css")" rel="stylesheet">
<link href="@Url.Content("~/Content/TablesCss/header.ccss.css")" rel="stylesheet">
<link href="@Url.Content("~/Content/TablesCss/demo_table.css")" rel="stylesheet">
<script src="@Url.Content("~/Scripts/jquery.dataTables.js")" type="text/javascript"></script>
<section id="container">
    <section class="payment">
        <h2>Inspection Details</h2>
        <section class="tbl_content">
            <form id="InspectionList">
                <table width="60%" style="margin-bottom:10px" cellspacing="0">
                    <tr>
                        <td>
                            <label>From:</label></td>
                        <td>
                            @Html.TextBoxFor(model => model.fromandtodate.fromdate, new { @id = "txtFromDate", @class = "datepicker", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.fromandtodate.fromdate)
                        </td>
                        <td></td>
                        <td>
                            <label>To:</label></td>
                        <td>
                        @Html.TextBoxFor(model => model.fromandtodate.todate, new { @id = "txtTodate", @class = "datepicker", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.fromandtodate.todate)
                        <td>
                            <input type="button" class="btn" id="btnSearch" value="Search" />
                        </td>
                       @* <td>
                              <input type="button" class="btn" id="btnShowAll" value="ShowAll" />
                        </td>*@
                    </tr>
                </table>
            </form>
            <table style="width: 100%;float:left" cellpadding="0" cellspacing="0" border="0" class="table" id="tblPreinspectionDetail">
                @*class="newclass"*@
                <thead>
                    <tr>
                        <th width="25%" class="tbl_head bod_rgt">Property Address</th>
                        <th width="15%" class="tbl_head bod_rgt">Owner Name</th>
                        <th width="20%" class="tbl_head bod_rgt">Inspector Name</th>
                        <th width="15%" class="tbl_head bod_rgt">Report Status</th>
                        <th width="15%" class="tbl_head">Inspection Date</th>
                        <th width="20%" class="tbl_head bod_rgt">Action</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var items in Model.ObjInspectionOrderDetailsPaging)
                {
                    <tr>
                        <td class="bod_rgt">@items.PropertyAddress,@items.PropertyAddressCity,@items.PropertyAddressState</td> @*data-orderid="@items.InspectionOrderId"*@
                        <td class="bod_rgt">@items.OwnerFirstName @items.OwnerLastName</td>
                        <td class="bod_rgt">@foreach (var item in items.InspectorDetails)
                                            {
                                                @item.FirstName <label>&nbsp;</label> @item.LastName
                                            }</td>
                        <td class="bod_rgt">@if (items.ReportStatus == "Completed")
                                            { <b>@items.ReportStatus</b>}
                                            else
                                            {@items.ReportStatus}
                        </td>
                        <td class="bod_rgt">@items.ScheduleInspectionDate.Value.ToShortDateString()</td>
                        <td  style="width:70px" class="bod_rgt">@if (items.ReportStatus == "Completed")
                                                                {
                                                                    if (@items.IsUpdatable == true)
                                                                    { 
                                                                         <a id="Detail" data-orderid="@items.InspectionOrderId"  href="javascript://void(0);">Click here</a>
                                                                    }
                                                                    else
                                                                    {
                                                                    <a id="Detail" data-orderid="@items.InspectionOrderId"  href="javascript://void(0);">Click here</a>
                                                                    }
                                                                }
                            else
                            {
                                                                    <a id="Pending" aria-disabled="true" style="color:gray" data-orderid="@items.InspectionOrderId"  href="javascript://void(0);">Click here</a>
                                                                }
                                                               </td>
                    </tr>
                }
              <tbody>
            </table>
        </section>
       @* @Html.Partial("_PagingControl", Model.objPaging)*@
        <section class="clr"></section>
    </section>
    <section class="clr"></section>
</section>
<div aria-hidden="true" aria-labelledby="windowTitleLabel" role="dialog" tabindex="-1" class="modal hide fade in" id="PopupDiv">
    <div class="modal-header">
        <a data-dismiss="modal" class="close" href="#">×</a>
        <h3>Payment Status</h3>
    </div>
    <div class="modal-body">
        <div class="divDialogElements">
            <p>
                You have not subscribed any plan yet with SpectorMax !<br/>
                Do you want to subscribe a plan or want to make one time payment?<br/>
                Click on yes button to subscribe a plan or click no button to make one time payment 
                Or if you want to see Free basic report please click on the free basic report button
            </p><br/>
            <input type="button" class="btn" id="btnyes" value="Yes" />
            <input type="button" class="btn" id="btnNo" value="No" />
            <input style="float:right" type="button" class="btn" id="btnBasicReport" value="Free Basic Report" />
        </div>
    </div>

</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#tblPreinspectionDetail').dataTable();
        var sessionData =  @Html.Raw(Json.Encode(Sessions.LoggedInUser));

        if(sessionData != null)
        { 
            if(sessionData.RoleName == "Home Buyer")
            {
                $("#anchorLogoImage").attr("href", $URL._BuyerDashBoard);
            }
        }

        var orderid = "";
        $("#btnyes").click(function () {
            if(sessionData.RoleName == "Home Buyer")
                $(location).attr("href",$URL._PaymentsIndex + "?userId=" + "@Sessions.LoggedInUser.UserId" + "&userRoleId=" + "@Sessions.LoggedInUser.RoleId" + "&inspectionOrderId="+ orderid);
            else
                $(location).attr("href",$URL._Payment + "?paymentType=PaymentPlan"); 
        });

        $("#btnNo").click(function () {
            $(location).attr("href", $URL._Payment   + "?userId=" + "@Sessions.LoggedInUser.UserId" + "&userRoleId=" + "@Sessions.LoggedInUser.RoleId"+ "&amount=5.99&amountDescription=You are purchasing One time payment for purchase detailed report.&paymentType=OneTimePaymentPlan&inspectionOrderId=" + orderid);
        });
       
        $("#btnBasicReport").click(function () {
            window.location.href = "../Report/SampleInspectionReport?orderid=" + orderid;   
        });

        $("#btnShowAll").click(function () {
        });

        $("#tblPreinspectionDetail tr #Detail").live('click', function () {
          
            orderid = $(this).attr('data-orderid');    
            /*initializing Progress Bar*/
            $.blockUI({
                css: {
                    border: 'none',
                    padding: '15px',
                    backgroundColor: '#000',
                    '-webkit-border-radius': '10px',
                    '-moz-border-radius': '10px',
                    opacity: .5,
                    color: '#fff'
                }
            });

            $.ajax({
                type: "Post",
                url: $URL._CheckSellerPayment,
                data: { orderid: orderid },
                success: function (result) {

                    if(result.Message == null && result.Result == null)
                    {
                       
                        setTimeout($.unblockUI, 1000);
                        //$(location).attr("href",$URL._Payment); 
                        $("#PopupDiv").width(500);
                        $('#PopupDiv').modal({ backdrop: 'static', keyboard: true })
                        $("#PopupDiv .divDialogElements p").html("Dear user you have not purchased this report with SpectorMax.<br> Do you want to purchase this report?<br/> Click on yes button to purchase this report if you want to see Free basic report please click on the free basic report button ");
                        $("#btnNo").hide();
                        $("#PopupDiv").modal("show");
                    }
                    else if(result.Result == "True")
                    {
                       
                        setTimeout($.unblockUI, 1000);
                        //$(location).attr("href",$URL._Payment); 
                        $("#PopupDiv").width(500);
                        $('#PopupDiv').modal({ backdrop: 'static', keyboard: true })
                        $("#PopupDiv .divDialogElements p").html("Dear user you have not purchased this report with SpectorMax.<br> Do you want to purchase this report?<br/> Click on yes button to purchase this report if you want to see Free basic report please click on the free basic report button ");
                        $("#btnNo").hide();
                        $("#PopupDiv").modal("show");
                    }
                    else if(result.Result == "False" && result.Successfull==true)
                    {
                       
                        setTimeout($.unblockUI, 1000);
                        window.location.href = "../Report/ViewDetailReport?inspectionOrderId=" + orderid+"&PaymentType="+"PaymentPlan";
                    }
                    else if(result.Result == "False" && result.Successfull==false)
                    {
                        setTimeout($.unblockUI, 1000);
                        //$(location).attr("href",$URL._Payment); 
                        $("#PopupDiv").width(500);
                        $('#PopupDiv').modal({ backdrop: 'static', keyboard: true })
                        $("#PopupDiv .divDialogElements p").html("Dear user you have seen this report on more than five computers.<br>You need to buy the report againg.<br> Do you want to purchase this report?<br/> Click on yes button to purchase this report if you want to see Free basic report please click on the free basic report button ");
                        $("#btnNo").hide();
                        $("#PopupDiv").modal("show");
                    
                    }

                       
                    else
                    {
                        setTimeout($.unblockUI, 1000);
                    }
                },
                error: function () { setTimeout($.unblockUI, 1000); alert("error"); },
            });
        });
        $('.datepicker').datepicker();
        $("#tblPreinspectionDetail tr #Report").live('click', function () {
            orderid = $(this).attr('data-orderid');    
            /*initializing Progress Bar*/
            
            setTimeout($.unblockUI, 1000);
            window.location.href = "../Report/ViewDetailReport?inspectionOrderId=" + orderid+"&PaymentType="+"PaymentPlan";
        });
    });
</script>