@model IEnumerable<SpectorMaxDAL.InsectionOrderDetail>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            OwnerFirstName
        </th>
        <th>
            OwnerLastName
        </th>
        <th>
            StreetAddess
        </th>
        <th>
            City
        </th>
        <th>
            State
        </th>
        <th>
            Zip
        </th>
        <th>
            EmailAddress
        </th>
        <th>
            PhoneDay
        </th>
        <th>
            PhoneEve
        </th>
        <th>
            Other
        </th>
        <th>
            ContractClient
        </th>
        <th>
            SendCopy
        </th>
        <th>
            PropertyAddress
        </th>
        <th>
            PropertyAddressCity
        </th>
        <th>
            PropertyAddressState
        </th>
        <th>
            PropertyAddressZip
        </th>
        <th>
            PropertyAddressTenantName
        </th>
        <th>
            PropertyAddressCrossStreet
        </th>
        <th>
            PropertyAddressDirections
        </th>
        <th>
            PropertyAddressMapCoord
        </th>
        <th>
            PropertyAddressSubDivison
        </th>
        <th>
            PropertyAddressPhoneDay
        </th>
        <th>
            PropertyAddressPhoneEve
        </th>
        <th>
            PropertyDescription
        </th>
        <th>
            PropertyUnit
        </th>
        <th>
            PropertySquareFootage
        </th>
        <th>
            PropertyAddition
        </th>
        <th>
            PropertyBedRoom
        </th>
        <th>
            PropertyBaths
        </th>
        <th>
            PropertyEstimatedMonthlyUtilites
        </th>
        <th>
            PropertyHomeAge
        </th>
        <th>
            PropertyRoofAge
        </th>
        <th>
            SpecialInstructions
        </th>
        <th>
            ConfirmationPriorWithBuyer
        </th>
        <th>
            ConfirmationPriorWithSellersAgent
        </th>
        <th>
            ConfirmationPriorWithBuyersAgent
        </th>
        <th>
            RequestedBy
        </th>
        <th>
            RequestedFirstName
        </th>
        <th>
            RequestedLastName
        </th>
        <th>
            RequestedByStreetAddress
        </th>
        <th>
            RequestedByCity
        </th>
        <th>
            RequestedByState
        </th>
        <th>
            RequestedByZip
        </th>
        <th>
            RequestedByEmailAddress1
        </th>
        <th>
            RequestedByEmailPhoneDay
        </th>
        <th>
            RequestedByEmailPhoneEve
        </th>
        <th>
            RequestedByEmailOther
        </th>
        <th>
            RequestedByEmailContractClient
        </th>
        <th>
            RequestedByEmailSend
        </th>
        <th>
            RequestedByEmailOwner
        </th>
        <th>
            RequestedByEmailOwnersAgent
        </th>
        <th>
            MainClient1
        </th>
        <th>
            MainDate1
        </th>
        <th>
            MainClient2
        </th>
        <th>
            MainDate2
        </th>
        <th>
            ScheduleInspectionDate
        </th>
        <th>
            CreatedDate
        </th>
        <th>
            ModifiedDate
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.InspectionOrderId }) |
            @Html.ActionLink("Details", "Details", new { id=item.InspectionOrderId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.InspectionOrderId })
        </td>
        <td>
			@item.OwnerFirstName
        </td>
        <td>
			@item.OwnerLastName
        </td>
        <td>
			@item.StreetAddess
        </td>
        <td>
			@item.City
        </td>
        <td>
			@item.State
        </td>
        <td>
			@item.Zip
        </td>
        <td>
			@item.EmailAddress
        </td>
        <td>
			@item.PhoneDay
        </td>
        <td>
			@item.PhoneEve
        </td>
        <td>
			@item.Other
        </td>
        <td>
			@item.ContractClient
        </td>
        <td>
			@item.SendCopy
        </td>
        <td>
			@item.PropertyAddress
        </td>
        <td>
			@item.PropertyAddressCity
        </td>
        <td>
			@item.PropertyAddressState
        </td>
        <td>
			@item.PropertyAddressZip
        </td>
        <td>
			@item.PropertyAddressTenantName
        </td>
        <td>
			@item.PropertyAddressCrossStreet
        </td>
        <td>
			@item.PropertyAddressDirections
        </td>
        <td>
			@item.PropertyAddressMapCoord
        </td>
        <td>
			@item.PropertyAddressSubDivison
        </td>
        <td>
			@item.PropertyAddressPhoneDay
        </td>
        <td>
			@item.PropertyAddressPhoneEve
        </td>
        <td>
			@item.PropertyDescription
        </td>
        <td>
			@item.PropertyUnit
        </td>
        <td>
			@item.PropertySquareFootage
        </td>
        <td>
			@item.PropertyAddition
        </td>
        <td>
			@item.PropertyBedRoom
        </td>
        <td>
			@item.PropertyBaths
        </td>
        <td>
			@item.PropertyEstimatedMonthlyUtilites
        </td>
        <td>
			@item.PropertyHomeAge
        </td>
        <td>
			@item.PropertyRoofAge
        </td>
        <td>
			@item.SpecialInstructions
        </td>
        <td>
			@item.ConfirmationPriorWithBuyer
        </td>
        <td>
			@item.ConfirmationPriorWithSellersAgent
        </td>
        <td>
			@item.ConfirmationPriorWithBuyersAgent
        </td>
        <td>
			@item.RequestedBy
        </td>
        <td>
			@item.RequestedFirstName
        </td>
        <td>
			@item.RequestedLastName
        </td>
        <td>
			@item.RequestedByStreetAddress
        </td>
        <td>
			@item.RequestedByCity
        </td>
        <td>
			@item.RequestedByState
        </td>
        <td>
			@item.RequestedByZip
        </td>
        <td>
			@item.RequestedByEmailAddress1
        </td>
        <td>
			@item.RequestedByEmailPhoneDay
        </td>
        <td>
			@item.RequestedByEmailPhoneEve
        </td>
        <td>
			@item.RequestedByEmailOther
        </td>
        <td>
			@item.RequestedByEmailContractClient
        </td>
        <td>
			@item.RequestedByEmailSend
        </td>
        <td>
			@item.RequestedByEmailOwner
        </td>
        <td>
			@item.RequestedByEmailOwnersAgent
        </td>
        <td>
			@item.MainClient1
        </td>
        <td>
			@String.Format("{0:g}", item.MainDate1)
        </td>
        <td>
			@item.MainClient2
        </td>
        <td>
			@String.Format("{0:g}", item.MainDate2)
        </td>
        <td>
			@String.Format("{0:g}", item.ScheduleInspectionDate)
        </td>
        <td>
			@String.Format("{0:g}", item.CreatedDate)
        </td>
        <td>
			@String.Format("{0:g}", item.ModifiedDate)
        </td>
    </tr>
}

</table>


