@model SpectorMaxDAL.InspectorRating

@* This partial view defines form fields that will appear when creating and editing entities *@

<script type="text/javascript">
    function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
            results = regex.exec(location.search);
        return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }
    var InspectionId=getParameterByName("InspectionId")
    $(document).ready(function () {
        function showLoader() {
            $("#loadingModel").show();
        }
        function hideLoader() {
            $("#loadingModel").hide();
        }
        var valueRating1 = $('input:radio[name=Rating1]:checked').attr('Rating1');
        var valueRating2 = $('input:radio[name=Rating2]:checked').attr('Rating2');
        var valueRating3 = $('input:radio[name=Rating3]:checked').attr('Rating3');
        var valueRating4 = $('input:radio[name=Rating4]:checked').attr('Rating4');
        var valueRating5 = $('input:radio[name=Rating5]:checked').attr('Rating5');
        var valueRating6 = $('input:radio[name=Rating6]:checked').attr('Rating6');
       
        $("input:radio[name=Rating1]").click(function () {
            valueRating1 = $(this).attr('Rating1');            
        });
        $("input:radio[name=Rating2]").click(function () {
            valueRating2 = $(this).attr('Rating2');
        });
        $("input:radio[name=Rating3]").click(function () {
            valueRating3 = $(this).attr('Rating3');
        });
        $("input:radio[name=Rating4]").click(function () {
            valueRating4 = $(this).attr('Rating4');
        });
        $("input:radio[name=Rating5]").click(function () {
            valueRating5 = $(this).attr('Rating5');
        });
        $("input:radio[name=Rating6]").click(function () {
            valueRating6 = $(this).attr('Rating6');
        });

        $("#postRating").click(function () {
            showLoader();
            $.ajax({
                type: "Post",
                url: $URL._PostInspectionSurvey,
                data: { rating1: valueRating1, rating2: valueRating2, rating3: valueRating3, rating4: valueRating4, rating5: valueRating5, rating6: valueRating6, comments: $("#txtRatingComments").val(), InspectionId: InspectionId },
                dataType: "Json",
                success: function (result) {
                    if (result.Message == "Success") {
                       // $("#messages").css('display', 'block');
                        //  $("#messages").html("<p style='color:green'><i>Survey is submitted successfully. Thank you !.</i></p>")
                        $("#SuccessMsg").html("Survey is submitted successfully. Thank you !.")
                        $(".success").css("display", "block");
                        $(".error").css("display", "none");
                        hideLoader();
                    }
                    else {
                        $("#ErrorMsg").html(result.Message)
                        $(".error").css("display", "block");
                        $(".success").css("display", "none");
                      //  $("#messages").css('display', 'block');
                      //  $("#messages").html("<p style='color:red'><i> " + result.Message + "</i></p>")
                        hideLoader();
                    }
                },
                error: function () {
                    $("#messages").html("<p style='color:red'><i> End of the report:</i></p>")
                },

            });
        });

    });
</script>

<div>
    <hr style="border: solid;" />
     <div class="success"><label id="SuccessMsg" style="float:left;margin-left:20px">Success message</label></div>
          <div class="error"><label id="ErrorMsg" style="float:left;margin-left:20px">Error message</label></div>



    <p style="margin-top: 3%;"><b>Please take a minute and tell us how we did. Your input will help us make our inspection service a more positive experiance for all our future customers.</b> </p>
    <div style="width: 100%">
        <div style="margin-top: 3%;">1. How would you rate your Spectormax's Preparedness and Professionalism ?.</div>

        <ul style="width: 100%; margin-bottom: 2%; margin-top: 1%;">
            <li style="width: 4%"><b>Poor</b></li>
            <li style="width: 4%">
                <input type="radio" name="Rating1" Rating1="1" checked="checked" style="margin-right: 15%;" />1</li>
            <li style="width: 4%">
                <input type="radio" name="Rating1" Rating1="2" style="margin-right: 15%;" />2</li>
            <li style="width: 4%">
                <input type="radio" name="Rating1" Rating1="3" style="margin-right: 15%;" />3</li>
            <li style="width: 4%">
                <input type="radio" name="Rating1" Rating1="4" style="margin-right: 15%;" />4</li>
            <li style="width: 4%">
                <input type="radio" name="Rating1" Rating1="5" style="margin-right: 15%;" />5</li>
            <li style="width: 4%"><b>Exellent</b></li>
        </ul>
    </div>
    <div style="width: 100%">
        <div>2. How  well did your Spectormax Inspector handle the entire inspection process ?.</div>
        <ul style="width: 100%; margin-bottom: 2%; margin-top: 1%;">
            <li style="width: 4%"><b>Poor</b></li>
            <li style="width: 4%">
                <input type="radio" name="Rating2" Rating2="1" checked="checked" style="margin-right: 15%;" />1</li>
            <li style="width: 4%">
                <input type="radio" name="Rating2" Rating2="2" style="margin-right: 15%;" />2</li>
            <li style="width: 4%">
                <input type="radio" name="Rating2" Rating2="3" style="margin-right: 15%;" />3</li>
            <li style="width: 4%">
                <input type="radio" name="Rating2" Rating2="4" style="margin-right: 15%;" />4</li>
            <li style="width: 4%">
                <input type="radio" name="Rating2" Rating2="5" style="margin-right: 15%;" />5</li>
            <li style="width: 4%"><b>Exellent</b></li>
        </ul>
    </div>

    <div style="width: 100%">
        <div>3. How  well did your Spectormax Inspector explain the inspection process ?.</div>
        <ul style="width: 100%; margin-bottom: 2%; margin-top: 1%;">
            <li style="width: 4%"><b>Poor</b></li>
            <li style="width: 4%">
                <input type="radio" name="Rating3" Rating3="1" checked="checked" style="margin-right: 15%;" />1</li>
            <li style="width: 4%">
                <input type="radio" name="Rating3" Rating3="2"  style="margin-right: 15%;" />2</li>
            <li style="width: 4%">
                <input type="radio" name="Rating3" Rating3="3"  style="margin-right: 15%;" />3</li>
            <li style="width: 4%">
                <input type="radio" name="Rating3" Rating3="4"  style="margin-right: 15%;" />4</li>
            <li style="width: 4%">
                <input type="radio" name="Rating3" Rating3="5"  style="margin-right: 15%;" />5</li>
            <li style="width: 4%"><b>Exellent</b></li>
        </ul>
    </div>

    <div style="width: 100%">
        <div>4. How  well did your Inspector respond to your needs and questions ?.</div>
        <ul style="width: 100%; margin-bottom: 2%; margin-top: 1%;">
            <li style="width: 4%"><b>Poor</b></li>
            <li style="width: 4%">
                <input type="radio" name="Rating4" Rating4="1" checked="checked" style="margin-right: 15%;" />1</li>
            <li style="width: 4%">
                <input type="radio" name="Rating4" Rating4="2" style="margin-right: 15%;" />2</li>
            <li style="width: 4%">
                <input type="radio" name="Rating4" Rating4="3" style="margin-right: 15%;" />3</li>
            <li style="width: 4%">
                <input type="radio" name="Rating4" Rating4="4" style="margin-right: 15%;" />4</li>
            <li style="width: 4%">
                <input type="radio" name="Rating4" Rating4="5" style="margin-right: 15%;" />5</li>
            <li style="width: 4%"><b>Exellent</b></li>
        </ul>
    </div>
    <div style="width: 100%">
        <div>5.Did your Inspector clearly explain items that deficient during the inspection ?.</div>
        <ul style="width: 100%; margin-bottom: 2%; margin-top: 1%;">
            <li style="width: 4%"><b>Poor</b></li>
            <li style="width: 4%">
                <input type="radio" name="Rating5" Rating5="1" checked="checked" style="margin-right: 15%;" />1</li>
            <li style="width: 4%">
                <input type="radio" name="Rating5" Rating5="2" style="margin-right: 15%;" />2</li>
            <li style="width: 4%">
                <input type="radio" name="Rating5" Rating5="3" style="margin-right: 15%;" />3</li>
            <li style="width: 4%">
                <input type="radio" name="Rating5" Rating5="4" style="margin-right: 15%;" />4</li>
            <li style="width: 4%">
                <input type="radio" name="Rating5" Rating5="5" style="margin-right: 15%;" />5</li>
            <li style="width: 4%"><b>Exellent</b></li>
        </ul>
    </div>

    <div style="width: 100%">
        <div>6.How likely will you be to recommend Spectormax to your friends and family ?.</div>
        <ul style="width: 100%; margin-bottom: 2%; margin-top: 1%;">
            <li style="width: 4%"><b>Poor</b></li>
            <li style="width: 4%">
                <input type="radio" name="Rating6" Rating6="1" checked="checked" style="margin-right: 15%;" />1</li>
            <li style="width: 4%">
                <input type="radio" name="Rating6" Rating6="2"  style="margin-right: 15%;" />2</li>
            <li style="width: 4%">
                <input type="radio" name="Rating6" Rating6="3" style="margin-right: 15%;" />3</li>
            <li style="width: 4%">
                <input type="radio" name="Rating6" Rating6="4" style="margin-right: 15%;" />4</li>
            <li style="width: 4%">
                <input type="radio" name="Rating6" Rating6="5" style="margin-right: 15%;" />5</li>
            <li style="width: 4%"><b>Exellent</b></li>
        </ul>
    </div>

    <div style="width: 100%">
        <div></div>
        <ul style="width: 100%; margin-bottom: 10%; margin-top: 5%;">
            <li style="width: 17%"><b>Additional Comments:</b></li>
            <li style="width: 63%">
                <textarea id="txtRatingComments" style="height: 156px; width: 342px;" class="simple_input big_text_box"></textarea>
            </li>
            <li style="width: 20%; margin-top:5%;">
                <input type="button" id="postRating" class="btn" value="Submit Rating" style="margin-left: 158%;" /></li>

        </ul>
    </div>
    <div id="messages" style="color:red; display:none"></div>
</div>
 <!-- Loader-->
    <div id="loadingModel" class="displayNone overlayPage">
        <div class=" loaderPage">
            <div>
                <img src='@Url.Content("~/Content/Images/loading_big.gif")' />
            </div>
            <div>
                Loading..
            </div>
        </div>
    </div>
    <!-- /Loader -->