@model SpectorMaxDAL.InspectorRating

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>InspectorRating</legend>

    <div class="display-label">InspectorID</div>
    <div class="display-field">@Model.InspectorID</div>

    @*<div class="display-label">Rating</div>
    <div class="display-field">@Model.Rating</div>*@

    <div class="display-label">Comment</div>
    <div class="display-field">@Model.Comment</div>

    <div class="display-label">RatingByID</div>
    <div class="display-field">@Model.RatingByID</div>

    <div class="display-label">RequestedtoRemove</div>
    <div class="display-field">@Model.RequestedtoRemove</div>

    <div class="display-label">CreatedDate</div>
    <div class="display-field">@String.Format("{0:g}", Model.CreatedDate)</div>

    <div class="display-label">ModifiedDate</div>
    <div class="display-field">@String.Format("{0:g}", Model.ModifiedDate)</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


