@model SpectorMaxDAL.InspectorRating

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>InspectorRating</legend>

    <div class="display-label">InspectorID</div>
    <div class="display-field">@Model.InspectorID</div>

    <div class="display-label">Rating</div>
@*    <div class="display-field">@Model.Rating</div>*@

    <div class="display-label">Comment</div>
    <div class="display-field">@Model.Comment</div>

    <div class="display-label">RatingByID</div>
    <div class="display-field">@Model.RatingByID</div>

    <div class="display-label">RequestedtoRemove</div>
    <div class="display-field">@Model.RequestedtoRemove</div>

    <div class="display-label">CreatedDate</div>
    <div class="display-field">@String.Format("{0:g}", Model.CreatedDate)</div>

    <div class="display-label">ModifiedDate</div>
    <div class="display-field">@String.Format("{0:g}", Model.ModifiedDate)</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.RatingID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


