@model IEnumerable<SpectorMax.Entities.Classes.InspectorRatingPoco>
@using SpectorMax.Entities.Classes;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_NLayout.cshtml";
}

@{
    var PreImageUrls = "~/Images/ProfileImgAndCertiticate/";
}

<div class="container">
    @if (Sessions.LoggedInUser.RoleName == "Home Seller")
    {
        if (Model.Count() > 0)
        {
        <div class="row">
            <div class="col-md-12 defineStep">
                <h3>INSPECTOR DETAILS</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive" id="tblManageProfile">
                    <table class="table table-striped table-bordered table-hover" id="tblInvoiceDetail">
                        <tbody>
                            <tr>
                                <td style="width: 25%">
                                    <label>First Name:</label></td>
                                <td style="width: 25%">
                                    @Model.FirstOrDefault().Inspector.FirstName

                                </td>
                                <td style="width: 25%">
                                    <label>Last Name:</label></td>
                                <td style="width: 25%">
                                    @Model.FirstOrDefault().Inspector.LastName

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Your Photo:</label></td>
                                <td colspan="2">

                                    @if (Model.FirstOrDefault().Inspector.PhotoURL != "")
                                    {
                                        <img id="ImgPhotoURL" class="image" height="100" width="100" src="@Url.Content(@PreImageUrls + @Model.FirstOrDefault().Inspector.PhotoURL)" />
                                    }
                                    else
                                    {
                                        <img id="ImgPhotoURL" height="100" width="100" src="@Url.Content(@PreImageUrls + "nophoto.jpg")" />
                                    }


                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <label>Area where you perform inspections:</label></td>
                                <td colspan="2">
                                    @Model.FirstOrDefault().Inspector.ExperienceTraining1

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Education:</label></td>
                                <td colspan="2">
                                    @Model.FirstOrDefault().Inspector.ExperienceTraining2

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Experience:</label></td>
                                <td colspan="2">
                                    @Model.FirstOrDefault().Inspector.ExperienceTraining3

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        }
    }


    @if (Model.Count() > 0 && Model.FirstOrDefault().ratingID != null)
    {
        <div class="row">
            <div class="col-md-12 defineStep">
                <h3>USER REVIEWS SUMMARY</h3>
            </div>
        </div>
         
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive" id="rating">
                    <table class="table table-striped table-bordered table-hover" id="rating">
                        <tbody>
                            <tr>
                                <td colspan="2" style="width: 100%; text-align: right">
                                    @if (Sessions.LoggedInUser.RoleName != "Property Inspector")
                                    {
                                        <input type="button" id="btnCreateInspectorOrder" class="btn" value="Create Inspection Order" />
                                    }</td>
                            </tr>

                            <tr>
                                <td  class="editor-label" style="width: 50%; text-align: right; border-right: none;">REVIEWS SUMMARY</td>
                                <td  style="border-left: none;">
                                    @{
                                        var ActualRatingcount = 0;
                                        var finalrating = 0;
                                        for (int i = 0; i < Model.Count(); i++)
                                        {
                                            ActualRatingcount += Convert.ToInt32(Model.ElementAt(i).rating);
                                        }
                                        finalrating = ActualRatingcount / Model.Count();
                                        for (int i = 0; i < 5; i++)
                                        {
                                            if (finalrating <= i)
                                            {
                                            <div style="padding-left:3px;float: left">
                                                <img src="~/Images/images/Low_rating.png" />
                                            </div>
                                            }
                                            else
                                            {
                                            <div style="padding-left:3px;float: left">
                                                <img src="~/Images/images/star-icon.png" />
                                            </div>
                                            }
                                        }
                                    }
                                    &nbsp;&nbsp;Average User Rating(Based on <label>@Model.Count()</label> reviews)
                                </td>
                            </tr>

                            @foreach (var item in Model)
                            {
               
                                <tr>
                                    <td id="userrating">
                                        @{var count = item.rating;}
                                        @for (int i = 0; i < 5; i++)
                                        {
                                            if (count <= i)
                                            {
                                            <div style="float: left;padding-left:3px;">
                                                <img src="~/Images/images/Low_rating.png" />
                                            </div>
                                            }
                                            else
                                            {
                                            <div style="float: left;padding-left:3px;">
                                                <img src="~/Images/images/star-icon.png" />
                                            </div>
                                            }
                                        }
                                    </td>
                                    <td style="text-align:right;">
                                        @if (Sessions.LoggedInUser.RoleName == "Property Inspector")
                                        {
                                            if (@item.IsRequestedtoRemove == true)
                                            {
                                                
                                                 <button onclick="javascript: RequestToRemove(this)" type="button" id="btnShareExperience" class="blu-btn has-spinner">
                                                                                     <span class="spinner"><i class="icon-spin icon-spinner icon-large"></i></span>
                                                                                         Requested To Remove
                                                 </button>
                                           
                                            }
                                            else
                                            {
                                             <button data-RatingID="@item.ratingID" onclick="javascript: RequestToRemove(this)" type="button" id="btnShareExperience" class="blu-btn has-spinner">
                                                                                     <span class="spinner"><i class="icon-spin icon-spinner icon-large"></i></span>
                                                                                         Request To Remove
                                                 </button>
                                           
                                            }

                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <label style="width: 100%;">@item.ratingBy</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div style="float: left">
                                            Comments :&nbsp;&nbsp;
                                        </div>
                                        <div style="width: 80%; float: left">
                                            @item.Comment
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive" id="renderUpdatableReport">
                    <table class="table table-striped table-bordered table-hover" id="rating">
                        <tbody>
                            <tr>
                                <td class="editor-label" style="width: 100%; text-align: left" colspan="3">REVIEWS SUMMARY</td>
                            </tr>
                            <tr>

                                <td class="editor-label" style="width: 100%; text-align: left" colspan="3">
                                    <div class="error" style="display: block; width: 872px">
                                        <label id="ErrorMsg" style="float: left; margin-left: 20px">@ViewBag.Message</label>
                                    </div>

                                </td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }


</div>




<!-- Modal 3 -->
<div class="modal fade" id="PopupDiv" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close custmclose" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title text-center" id="myModalLabel">Comment Remove Request.</h4>
      </div>
      <div class="modal-body">
          <p>
                Request is sent to administrator to remove this comment. Once Removed, Comment will not be available.
            </p>
      </div>
      
    </div>
  </div>
</div>
<!-- Modal 3 -->


<script type="text/javascript">

    $(document).ready(function () {
        if ("@Sessions.LoggedInUser.RoleName" == "Home Buyer") {
            $("#anchorLogoImage").attr("href", $URL._BuyerDashBoard + "?InspectionId=" + inspectionOrderId);
        }
        else if ("@Sessions.LoggedInUser.RoleName" == "Home Seller") {
            $("#anchorLogoImage").attr("href", $URL._SellerDashBoard);
        }
        else if ("@Sessions.LoggedInUser.RoleName" == "Property Inspector") {
            $("#anchorLogoImage").attr("href", $URL._InspectorDashBoard);
        }
        else {
            $("#anchorLogoImage").attr("href", $URL._AdminDashBoard);
        }
    });

$("#btnCreateInspectorOrder").click(function () {
    $(location).attr("href", $URL._InsectionOrderDetailsCreate + "?userId=@Sessions.LoggedInUser.UserId");
});
function RequestToRemove(obj) {

    $("#btnShareExperience").addClass('active')
    $.ajax({
        type: "Post",
        url: $URL._RequestToRemoveComment,
        data: { ratingID: $(obj).attr('data-RatingID') },
        success: function (result) {
            if (result == "Subscribed") {
            }
            else if (result == "Success") {
              
                
                $('#PopupDiv').modal({ backdrop: 'static', keyboard: true })
                $("#PopupDiv").modal("show");
            }
        },
        error: function () {  alert("error"); },
    });
    $("#btnShareExperience").removeClass('active')
}
</script>
