﻿@model SpectorMaxDAL.inspectorrating
@{
    ViewBag.Title = "POST INSPECTION SURVEY";
    Layout = "~/Views/Shared/_NLayout.cshtml";
}


<div class="container">

    <div class="Wizard-Step">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">POST INSPECTION SURVEY</h2>
            </div>
        </div>
         @Html.Partial("_NCreateOrEdit", Model)
    </div>
</div>
