/*#container
{
    line-height: 1.4;
    width: 300px;
    margin: 0 auto;
    padding: 35px 0 40px;
    position: relative;
    z-index: 5;
}*/

.Clear
{
    clear: both;
}

.field-validation-error1
{
    right: -27px;
    top: 10px;
}

.field-validation-error2
{
    right: 174px;
    top: 486px;
    width: 20px;
}

.field-validation-error3
{
    right: -28px;
    top: 10px;
}

.field-validation-error4
{
    right: -28px;
    margin-top: -25px;
}

.field-validation-error5
{
    right: -28px;
    margin-top: 9px;
}

.field-validation-error6
{
    right: -26px;
}

.field-validation-error7
{
    right: 325px;
}

.field-validation-error8
{
    right: 325px;
    margin-top: -29px;
}

.field-validation-error9
{
    margin-top: 6px;
    right: 482px;
}


.field-validation-valid
{
    display: none;
}

.field-validation-error
{
    content: "";
    background: url('../../Images/images-1.png') no-repeat 0 -134px;
    width: 20px;
    height: 21px;
    /*position: absolute;*/
    right: -27px;
    top: 0px;
}
    /*input:invalid, textarea:invalid,*/
    .field-validation-error .input-validation-error
{
    display: none !important;
    border: 0 none !important;
    float: left;
     /*margin-left: 125px;
    margin-top: -39px;*/
    width: 200px;
    background: transparent url('../../Images/tooltipbg.png') repeat scroll 0 0;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
    max-width: 318px;
    /*padding: 15px 10px;*/
    position: absolute;
    /*right: 0;*/
    /*top: 20px;*/
    z-index: 100;
    /*left: 50px;*/
    text-align:center;
}

.field-validation-error .input-validation-errorForgotPassword
{
    display: none !important;
    border: 0 none !important;
    /*float: left;*/
     margin-left: 317px;
    margin-top: -23px;
    width: 200px;
    background: transparent url('../../Images/tooltipbg.png') repeat scroll 0 0;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
    max-width: 318px;
    /*padding: 15px 10px;*/
    position: absolute;
    height: 21px;
    /*top: 20px;*/
    z-index: 100;
    /*left: 50px;*/
    text-align:center;
}

    .field-validation-error:before
    {
        border: 1px solid red !important;
    }

.input-validation-error
{
    border: solid 1px #ec313a !important;
    background: white url('../Images/Error.png') no-repeat right;
}

.field-validation-error : hover .input-validation-error
{
    display: block !important;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

fieldset ul li p
{
    position: relative;
}

span.tooltip
{
    position: absolute;
    bottom: -75px;
    right: 0;
    padding: 15px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: url('../../Images/tooltipbg.png') repeat;
    z-index: 100;
    color: #fff;
    font-weight: normal;
    max-width: 318px;
    width: 318px;
    font-size: 13px;
}

    span.tooltip span.ptr
    {
        background: url(../Images/ptr.png) no-repeat;
        width: 29px;
        height: 69px;
        position: absolute;
        top: -16px;
        display: block;
    }

.tooltipctrl1
{
    display: block;
    float: right;
    height: 32px;
    position: absolute;
    right: -32px;
    top: 0px;
    width: 32px; /*width:32px; height:32px; display:block; float:right; right:10px; position:relative;*/
}

    .tooltipctrl1 a span.tooltip1
    {
        display: none;
        position: absolute;
        left: 55px;
        top: -10px;
        padding: 15px 10px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background: url(../Images/tooltipbg.png) repeat;
        z-index: 100;
        color: #fff;
        font-weight: normal;
        max-width: 230px;
        width: 230px;
        font-size: 13px;
    }

        .tooltipctrl1 a span.tooltip1 span.ptr1
        {
            background: url(../Images/icon/ptr.png) no-repeat;
            width: 29px;
            height: 69px;
            position: absolute;
            left: -15px;
            top: 9px;
            display: block;
        }

    .tooltipctrl1 a:hover .tooltip1
    {
        display: block !important;
    }

   /*input:invalid, textarea:invalid,*/
 